[2020-11-26 11:18] jennmueng commented on #1215
@indapublic Can I have the link to the issue on Sentry Dashboard?

[2020-11-26 11:30] indapublic commented on #1215
@jennmueng https://sentry.io/organizations/macroactiveio/issues/2056813181/

[2020-11-26 11:35] indapublic commented on #1215
Created new project, still "Source code was not found"
https://sentry.io/organizations/macroactiveio/issues/2056893452/

[2020-11-26 16:24] Almouro commented on #1171
Thanks @jennmueng ! Works well now 👍

[2020-11-26 19:59] Almouro commented on #1105
Hi @MathieuUrstein,

I don't think this is a Sentry issue, I had a similar issue because of [this line](https://github.com/facebook/react-native/blob/master/react.gradle#L180). Basically in the react-native gradle task, if your variant doesn't include `release` in the name, it won't output the sourcemaps.

3 solutions:
- rename your build type to include "release" in the name
- add a patch to reac

[2020-11-30 14:19] crisecheverria commented on #1139
Agree!

[2020-11-30 15:21] Kowaio opened #1225 "Unable to find a specification for `React-Core` depended upon by `RNSentry`"
**OS:**
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

**Platform:**
- [X]  iOS
- [ ]  Android

**SDK:**
- [X]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 1.9.0 and up

**`react-native` version:** 0.59.9

**Are you using Expo?**
- [ ]  Yes
- [X]  No

**Are you using sentry.io or on-premise?**
- [X]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using

[2020-11-30 15:34] jennmueng commented on #1225
Looks like you need React Native `>=0.60` for `React-Core`. You can either stay on `1.8.2` or upgrade React Native to `>=0.60`. Closing this for now.

[2020-11-30 15:34] #1225 closed

[2020-11-30 20:43] Giosevid opened #1226 "Cannot add task 'bundleReleaseJsAndAssets_SentryUpload_7497576' as a task with that name already exists."
**OS:**
- [ ]  Windows
- [ * ]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [ * ]  Android

**SDK:**
- [ * ]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 1.0.9

**`react-native` version:** 0.61.5

**Are you using Expo?**
- [ ]  Yes
- [ * ]  No

**Are you using sentry.io or on-premise?**
- [ * ]  sentry.io (SaaS)
- [ ]  on-premise

**I have follow

[2020-12-01 16:28] muratozgul commented on #32
Upgrading to 2.0.2 seems to fix it.
(I deleted node_modules and Podfile.lock and installed everything again, just to be safe)

[2020-12-02 00:10] williamgurzoni commented on #913
Hello @ZachMayry how did you manage to make it working on Android? I'm having the same problem. Thank you.

[2020-12-02 00:28] ZachMayry commented on #913
@williamgurzoni
I believe the messages are stored locally on the device like breadcrumbs. Then when an exception or crash happens, everything is sent to the server. So when you open the exception, you’ll see all the messages.

[2020-12-02 03:44] williamgurzoni commented on #1201
Same problem here.

[2020-12-03 14:39] hnrchrdl commented on #391
i found [this answer](https://github.com/getsentry/sentry-javascript/issues/2546#issuecomment-703331367) helpful from a related issue.

[2020-12-03 17:47] andru1989 commented on #948
I was using nvm and non of solutions worked for me

So looking in docs I found this solution: https://docs.sentry.io/clients/react-native/manual-setup/#using-node-with-nvm-or-notion

Basically I set the scripts like this

**Bundle React Native code and images**

[code]

**Upload Debug Symbols to Sentry**

[code]

[2020-12-03 19:19] zibs commented on #1116
Thanks @jennmueng and @cruzach for digging into this and solving it!

Can you try to get this package released with the `@sentry/browser` dependency pointing to to the release with the fix (`5.28.0`)?

Or is there another way we can integrate it?

[2020-12-04 07:49] karlludwigweise commented on #948
@andru1989 thank you. I prefer this one over the solutions above, because it does not mess with local development.

[2020-12-04 07:51] karlludwigweise commented on #1173
I am closing this issue, because it is resolved for me now. I did nothing to fix it.

[2020-12-04 07:51] #1173 closed

[2020-12-04 08:16] bradherman commented on #829
Also experiencing this issue now out of nowhere when trying to build my app:

using:

OS:
 MacOS

Platform:
 Android

SDK:
 @sentry/react-native

SDK version: 1.3.3
react-native version: 0.63.3

Are you using Expo?
 Yes (bare workflow)

Are you using sentry.io or on-premise?
 sentry.io (SaaS)

[2020-12-04 10:08] jennmueng commented on #1215
@indapublic Sorry for the late reply, I just got the chance to give this a look again.

Your stack frames seem to not have the `app:///` prefix that the SDK should be appending on, for example in one of the issues you sent, the frames start with `/private/var/containers/Bundle/Application/`. The filename should be truncated to just the last part, along with `app:///` being prefixed by this default

[2020-12-04 13:12] indapublic commented on #1215
Hi @jennmueng Thanks for your investigation

Absolutely not 🤔

[2020-12-04 15:00] Francesco-Voto opened #1229 "Allow custom release for source map upload scripts"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.0.2

**`react-native` version:** 0.62.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**I have following issue:**

Hello,
should it be possibile to create a different (custom) naming convention for

[2020-12-04 15:04] jennmueng commented on #1214
Hmm it looks like it could possibly be related/the same as this https://github.com/getsentry/sentry-cocoa/issues/827?

[2020-12-04 15:06] jennmueng commented on #1215
@indapublic Can you show the code block for `Sentry.init`, along with passing `debug: true` to it, and paste the JS logs when the app initializes?

[2020-12-04 15:24] jennmueng commented on #1229
We have this feature on our backlog to be able to customize the release on the source map upload script, I'll label this issue as a Feature Request and will post any updates when we implement this.

But for now, you can manually upload source maps with a custom `release` name and `dist` with the cli command here: https://docs.sentry.io/platforms/react-native/sourcemaps/. Note that the `release` an

[2020-12-04 15:32] jennmueng commented on #1116
Fix included in https://github.com/getsentry/sentry-react-native/releases/tag/2.1.0 @zibs @cruzach

[2020-12-04 15:36] jennmueng commented on #971
Manual tracing instrumentation is out in [2.1.0](https://github.com/getsentry/sentry-react-native/releases/tag/2.1.0). You can now call `Sentry.startTransaction` in React Native.

You can use the guide we have for JS here: https://docs.sentry.io/platforms/javascript/performance/

You will need to define either `tracesSampleRate` or `tracesSampler` but don't use any `BrowserTracing` just yet, we wi

[2020-12-04 17:48] bradherman commented on #829
Followup:  After updating Android studio to the newest beta, cleaning the project, and rebuilding it finally worked.

[2020-12-05 01:42] indapublic commented on #1215
[code]

[code]

[2020-12-07 14:20] jennmueng commented on #971
Good news, we've gotten auto performance tracing working! You can keep up through this PR: https://github.com/getsentry/sentry-react-native/pull/1230

[2020-12-07 20:18] mouhsnimohamed commented on #395
here is what I did to fix this issue:

1. cd ios && xcodebuild clean
2. pod init (if you don’t have podFile already)
3. pod install

[2020-12-11 14:02] vtoupet opened #1234 "Missing symbolication for hermesFatalErrorHandler"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.0.2

**`react-native` version:** 0.63.4

I am using 'io.sentry:sentry-android-gradle-plugin:1.7.36' plugin with this configuration:
 * uploadNativeSymbols true
 * includeNativeSources true

**Are yo

[2020-12-12 12:29] jennmueng commented on #1234
Hmm you can add breadcrumbs natively from the java code, although the method in [this guide](https://blog.waldo.io/integrating-sentry-for-android/)(under Attaching logs) is legacy, you can do something like it by using the `addEventProcessor ` on the scope. So instead of using `addBuilderHelper` you would do:
[code]

[2020-12-12 14:40] vtoupet commented on #1234
@jennmueng I came up with the following
[code]
and I place this snippet in the onCreate method of my MainActivity.java. this call is not called when triggering a native crash. I am wondering whether I copied the snippet at the right location (react-native-sentry is probably not initialized at react-native side when the configureScope is called.

[2020-12-13 07:20] jennmueng commented on #1234
@vtoupet That code snippet looks correct, and yes it would need to be called after the Android SDK is initialized, as this is done asynchronously and we don't return a promise for SDK initialization, you would have to find a way to make sure its called after it's initialized. I will put it forward to the rest of the team about returning a promise when calling `init` or some other way to determine

[2020-12-14 11:17] BoKKeR commented on #634
Worked for me also on android, just dont forget to change the versionCode to 1

now to fix iOS as it seems to reference the old ID still

[2020-12-14 16:25] XPgan opened #1244 "was resolved to 2.1.0, which depends on Sentry (= 6.0.9)"
[!] CocoaPods could not find compatible versions for pod "Sentry":
  In Podfile:
    RNSentry (from `../node_modules/@sentry/react-native`) was resolved to 2.1.0, which depends on
      Sentry (= 6.0.9)

None of your spec sources contain a spec satisfying the dependency: `Sentry (= 6.0.9)`.

    "@sentry/react-native": "^2.1.0",
    "react-native": "0.63.4"

[2020-12-15 08:42] hieuhlc commented on #1214
Thank you @jennmueng I will try

[2020-12-15 13:47] KevinColemanInc opened #1245 "Can't build react native with sentry xcode 12. syntax error."
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [x]  `react-native-sentry` (<= 0.43.2)

**SDK version:** "@sentry/react-native@^1.9.0"

**`react-native` version:**  0.63.4

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

[2020-12-15 23:38] varungupta85 opened #1246 "Errors are not captured from react-native app set up using yarn workspaces"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.64.0-rc.1

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using s

[2020-12-16 11:01] shubhamkes commented on #886
Did this issue solved? I am still facing it @^2.1.0

[2020-12-16 11:23] marandaneto commented on #886
can you double-check that the flag `enableNativeCrashHandling` is still `true`?

@jennmueng could you have a look at this?

[2020-12-17 09:12] MakChan commented on #1244
You probably need to do `pod install --repo-update`.

[2020-12-17 11:28] shubhamkes commented on #886
thought its enabled by default. Though added now but still cant see logs in dashboard

[2020-12-17 11:38] jennmueng commented on #886
@shubhamkes Just to confirm, does the app actually crash for you and nothing is reported, or does the native crash method do nothing? We have tested this out on our end to confirm that it should be working and if it’s not working for you I believe the issue is most likely with the installation or some configuration.

It would greatly help us if you can provide a producible example in a repo for us

[2020-12-17 11:39] jennmueng commented on #1244
Exactly what @MakChan said, closing this for now, please reopen if issue persists.

[2020-12-17 11:39] #1244 closed

[2020-12-17 23:39] pioneer32 opened #1248 "Disable Native SDK initialization from React Native and use an existing instance"
**Platform:**
- [X]  iOS
- [ ]  Android

**SDK:**
- [X]  `@sentry/react-native` (>= 1.0.0)
- [X]  `sentry-cocoa` (6.0.9)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:**
- `@sentry/react-native` 2.1.0
- `sentry-cocoa` 6.0.9

**`react-native` version:** 0.60.5 (also tried to upgrade to 0.62.2 - the same outcome as with 0.60.5)

**Are you using Expo?**
- [ ]  Yes
- [X]  No

**Are you using

[2020-12-18 10:24] Yangfan2016 commented on #521
me too

[2020-12-20 23:27] chocky335 opened #1249 "Memory leaks"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.4

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [x]  on-premise

**If you are using sentry

[2020-12-21 00:43] ajp8164 commented on #785
I have the same problem - took an hour to track this down to Sentry as I've been adding okta. Glad I found this issue. Adding
`global.document = { addEventListener: () => {}, }`
worked to avoid the error.

I cross posted to okta [https://github.com/okta/okta-react-native/issues/40](https://github.com/okta/okta-react-native/issues/40)

Really would like to have a fix for this.

[2020-12-21 12:18] ghasemikasra39 opened #1258 "Redux Integration: normalizeDepth cannot see 100% of redux state"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.0.2

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using sentry

[2020-12-21 14:46] himajaM commented on #391
@romelgomez  where to place this solution code in angular 8

@Injectable()
export class SentryErrorHandler implements ErrorHandler {

  constructor() { }

  handleError(error: any) {

    if (environment.production) {
      Sentry.captureException(error.originalError || error);
    } else {
      console.error(error);
    }

  }

}

and one more question is :::

I think it is not necessary to cons

[2020-12-21 16:09] jennmueng commented on #1258
Are some keys just completely missing, missing pass a certain depth, or do they show up redacted as sensitive information? Other than sensitive information, does the event json (you can find that at the top left of the event screen, under the event's ID) contain the full state?

Regarding sensitive information, there's no way to completely show that as it's hardwired into our backend to redact sen

[2020-12-21 16:17] jennmueng commented on #1248
You actually don't need to call `SentrySDK.start` a second time to capture native crashes, the React Native SDK already initializes the native SDK for you. This should work for most cases.

Otherwise, if you need to specify your own options on the native layer or need to use `SentrySDK.start`, you can pass `enableNative: false` to the options on the JS React Native side. This might be some side ef

[2020-12-21 16:19] jennmueng commented on #1245
This shouldn't be related to Xcode 12, looks like your bundling step is using an older version of node that doesn't support ES6 syntax. Try updating your node version, I recommend trying out [nvm](https://github.com/nvm-sh/nvm).

[2020-12-21 16:20] jennmueng commented on #1214
I will be closing this for now if the issue still persists please let me know.

[2020-12-21 16:20] #1214 closed

[2020-12-21 16:21] jennmueng commented on #1213
I will be closing this for now as there seems to be no updates. Please let me know if the issue still persists.

[2020-12-21 16:21] #1213 closed

[2020-12-21 16:25] romelgomez commented on #391
Hi @himajaM ,  I think, what i can remember is:

e.g: https://sentry.io/for/angular/

Instead of using `ErrorHandler` class, I passed a new class `SentryErrorHandler`

[code]

`environment.production` will be `true` in production and then the error will be registed in Sentry, other side  (develoment )will be log in the console of developer and not in Sentry, this is for avoid send develoment error

[2020-12-21 16:33] jennmueng commented on #1204
Closing this for now as it looks like it should be solved, let me know if the issue still persists.

[2020-12-21 16:33] #1204 closed

[2020-12-21 16:34] jennmueng commented on #1203
Looks like there haven't been any updates for a while, closing this for now. Let me know if the issue persists.

[2020-12-21 16:34] #1203 closed

[2020-12-21 16:36] jennmueng commented on #1093
Looks like there have been no updates. Closing this for now. Let me know if the issue persists.

[2020-12-21 16:36] #1093 closed

[2020-12-21 19:06] ghasemikasra39 commented on #1258
Some keys are completely missing. I checked the `json event`. It misses exactly the same keys as the ones missing in the actually **event screen**.

[2020-12-21 21:36] pioneer32 commented on #1248
@jennmueng Thank you very much for your response.

Our app is primarily a native app, in which some functionality is implemented with react-native. So, a lot happens before before JS (react-native) starts. I know, under the hood, `@sentry/react-native` calls `SentrySDK.start`, which we could've used if that hadn't been too late for us. Therefore, we need to keep calling `SentrySDK.start` in `AppDe

[2020-12-22 05:02] himajaM commented on #391
Thanks for your response...

Is this the only way (i.e console.log(error)) to avoid logs in sentry?

Best regards,
Himaja Marada
Sails Software Solutions
(+91) 9640693045
himaja@sails.solutions

On Mon, Dec 21, 2020 at 9:55 PM Romel Gomez <notifications@github.com>
wrote:

[2020-12-22 05:54] jennmueng commented on #1248
Hmm there's currently no way to have the React Native SDK not initialize the native SDK and use an existing one. I'm adding this to our TODO.

[2020-12-22 12:40] ItsNoHax commented on #1132
Can confirm it's fixed. Thanks a lot @jennmueng

[2020-12-22 15:27] lorenzoangelini commented on #649
Hi @HazAT , Into the next release of react-native also in ios hermes will avaiable, react-native-sentry is ready for this?

[2020-12-22 17:12] Swatinem commented on #649
If the sourcemaps use a compatible format, its just a matter of tooling to make sure we use it for symbolication. Maybe file a new issue for this?

[2020-12-23 10:36] tommynordli opened #1260 ""unknown error (http status: 413)" when uploading sourcemaps"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.4

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [x]  on-premise

**Configuration:**

(`@se

[2020-12-25 12:14] ghasemikasra39 opened #1261 "Testing with Jest: Jest encountered an unexpected token"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.0.2

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using sentry

[2020-12-25 12:20] ghasemikasra39 commented on #920
Not working for me:
[code]

[2020-12-26 11:06] jennmueng commented on #1261
Have you tried passing `enableNative: false` to `Sentry.init` after you get the second error message about not being able to start on native? Also, the first error message about unsupported syntax looks like your Jest isn’t setup to handle ES6 syntax while React Native does.

[2020-12-26 11:12] jennmueng opened #1262 "Investigate and officially support hermes engine on iOS"
Support for hermes on iOS was just added in [React Native 0.64-rc2](https://github.com/facebook/react-native/releases/tag/v0.64.0-rc.2) as an opt-in feature, we should investigate this and ensure our SDK fully supports it. We’ve had issues with hermes source maps in the past with Android, now that hermes is being extended to iOS we should ensure that there won’t be any issues.

[2020-12-26 11:13] jennmueng commented on #649
Created an Issue to investigate and ensure we support this: https://github.com/getsentry/sentry-react-native/issues/1262

[2020-12-26 14:43] janicduplessis commented on #1262
I’m currently using it and it just worked without any changes needed

[2020-12-29 01:23] KevinColemanInc commented on #1245
I have no idea what fixed it. I was using nvm.

[2020-12-29 01:23] #1245 closed

[2020-12-29 12:59] walterholohan commented on #1260
I am getting the same error when uploading sourcemaps. However, I am not on a self-hosted version.

[2020-12-29 14:23] walterholohan commented on #1260
I fixed the issue by creating a new auth token. The previous auth token was invalid as the guy in our team who initially created the token left the organisation just before Christmas. So his token was invalidated.

[2020-12-29 15:41] jennmueng commented on #1260
Hmm a 413 error means that the file is too large, how large are your source maps? Otherwise you may not have `client_max_body_size` currently set, but maybe try setting it to a higher value in your `nginx.conf`.

[2020-12-29 16:22] walterholohan commented on #1260
Sorry ignore my comments. I was getting a 403 error

[2021-01-02 15:26] jennmueng commented on #1258
Ok confirmed that this is reproducible, trying to see if I can find what's causing it.

[2021-01-03 10:35] ghasemikasra39 commented on #1258
Dear @jennmueng
Thank you. This feature is extremely important for us.

[2021-01-03 20:40] serhiipalash opened #1263 "Allow native SDK options to be specified by user without needing to re-initialize native SDK."
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.4

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using sentry

[2021-01-03 21:34] serhiipalash commented on #1263
The issue is presented only on Native errors, on JS errors everything works as expected

https://sentry.io/organizations/stroller-ab/issues/2118676054/?environment=development&project=246038&query=is%3Aunresolved

[2021-01-04 09:02] hieuhlc commented on #1214
@jennmueng the issue is resolved. We no longer see errors. Thank you!

[2021-01-04 10:52] serhiipalash commented on #1263
Should I do this manually in Native code?

[code]

https://docs.sentry.io/platforms/apple/usage/#integrations

[2021-01-04 13:50] jennmueng commented on #1263
No you shouldn't do this as it will initialize the SDK twice and cause both to not be synced. Currently you're not able to disable just Native breadcrumbs, but there is a way to do it with `patch-package`.

1. Follow the setup instructions for `patch-package` here:  https://github.com/ds300/patch-package

2. Add these lines below to `node_modules/@sentry/react-native/ios/RNSentry.m` inside `startW

[2021-01-04 15:21] tommynordli commented on #1260
I have also tried setting `client_max_body_size` to 500m, but still getting the same error. The source maps are 3.6mb

[2021-01-04 15:39] jennmueng commented on #1262
So far it doesn't work for me, sending an event gets:
[code]

[2021-01-04 15:50] jennmueng commented on #1263
Actually, now that we just merged https://github.com/getsentry/sentry-react-native/pull/1259, when we release that you can just re-initialize the SDK in Swift/Objective-C and that won't break the SDK.

[2021-01-04 15:50] #1263 closed

[2021-01-04 19:22] serhiipalash commented on #1263
Thanks! It works. It took me some time to test it in all environments.

Now all native breadcrumbs are disabled. Still, I have one issue with breadcrumbs.

JS-exceptions attach breadcrumbs from previous session

<img width="1132" alt="Screenshot 2021-01-04 at 9 12 17 PM" src="https://user-images.githubusercontent.com/14208343/103570689-36895280-4ed2-11eb-81ce-efc94f15946d.png">

https://sentry.io/

[2021-01-04 19:47] serhiipalash commented on #1263
It seems like it only happens on Android

[2021-01-04 19:47] LMestre14 commented on #1244
I had this issue today and that was the solution, thank you @MakChan !

[2021-01-04 19:51] jennmueng opened #1270 "Better docs for Hermes sourcemaps"
We've seen a lot of issues along with customers contacting our support team regarding issues with sourcemaps from Hermes. A lot of the issues end up being fixed with this bundle step: https://github.com/getsentry/sentry-react-native/issues/761#issuecomment-587498344 We [mention this in the docs](https://docs.sentry.io/platforms/react-native/hermes/) but it's not clear whatsoever about how to achie

[2021-01-04 19:55] jennmueng commented on #1248
Closing as the PR introducing feature has been merged.

[2021-01-04 19:55] #1248 closed

[2021-01-04 20:01] jennmueng commented on #1174
@marandaneto Have you had a chance to look into this yet?

[2021-01-04 20:07] jennmueng commented on #1229
Marked this `up-for-grabs`, if anyone is interested I would start here:

https://github.com/getsentry/sentry-cli/blob/10dada5914eac25c2c233af6028524c7813057a2/src/commands/react_native_xcode.rs#L271-L281

and maybe add an argument `--release`

[2021-01-04 20:10] bruno-garcia commented on #500
We added User Feedback to Android and iOS. To add here now we just need to write an envelope item of type User Feedback. I marked it as up-for-grabs if someone wants to try to add it. The TypeScript API can be done directly here for now. To go on the [JavaScript SDK](http://github.com/getsentry/sentry-javascript) it will require sending it via the JS transport, which we don't use here. Once the AP

[2021-01-05 08:43] marandaneto commented on #1174
@jennmueng not really, it's probably because there's a field coming from RN that is not mapped on the Android bits (protocol data classes), we'd need to find out which one and add to the protocol.
It could be even that it exists but it's named differently.

[2021-01-05 16:11] bruno-garcia opened #1272 "Release 2.2 (GA Performance with auto instrumentation)"
This issue will track the release of v2.2 with auto instrumentation of React Navigation v4, v5, fetch/xhr and react profiler.

- [x] Merged the JS blocking PR: https://github.com/getsentry/sentry-javascript/pull/3144
- [x] Update master with the latest JavaScript SDK.
- [x] Investigate a way to handle blank navigation transactions
- [x] Get a Docs Draft PR ready for auto instrumentation, early so

[2021-01-05 16:19] MathieuUrstein commented on #1105
Thanks for clarifying this up. It's correct. I close the issue.

[2021-01-05 16:19] #1105 closed

[2021-01-05 16:43] serhiipalash commented on #1263
@jennmueng is there a way to do the same in Android native code?

[2021-01-05 16:47] jennmueng commented on #1263
Yes you can do something similar in `node_modules/@sentry/react-native/android/src/main/java/io/sentry/RNSentryModule.java`.

[2021-01-05 17:05] cruzach commented on #1077
I think that this is due to the same issue as this- https://github.com/facebook/fbjs/pull/413 (mismatch of `promise` versions)

[2021-01-05 19:16] serhiipalash commented on #1263
Final patch

[code]

[2021-01-05 19:19] jennmueng commented on #1263
That looks about right, yep.

[2021-01-06 09:21] crushy26 commented on #832
+1

[2021-01-06 09:30] jennmueng commented on #832
See: https://github.com/getsentry/sentry-react-native/issues/1270, closing this and consolidating into the mentioned issue.

[2021-01-06 09:30] #832 closed

[2021-01-06 17:01] jennmueng commented on #542
With this PR https://github.com/getsentry/sentry-react-native/pull/1259 merged, it's possible now to catch native errors before the JS code runs. You would have to manually initialize the SDK on the native layer yourself, and pass `shouldInitializeNativeSdk: false` to the options in JS.

[2021-01-06 17:06] jennmueng opened #1273 "Write documentation for autoInitializeNativeSdk"
With https://github.com/getsentry/sentry-react-native/pull/1259 merged, you can now disable the React Native SDK on the JS layer from initializing the SDK on the native layer while still allowing the native SDK to be used.

This allows you to manually initialize the native SDK yourself. This opens up the door for catching native errors before the JS engine runs: https://github.com/getsentry/sentry

[2021-01-06 22:56] bruno-garcia commented on #1273
@jennmueng should we rename this options before documenting it?

to `autoInitializeNativeSdk` instead of `should`?

[2021-01-07 07:06] jennmueng commented on #1262
The error I mentioned in my previous comment that caused Sentry to not send events at all in 0.64 will be fixed by #1274. Next step is to investigate source maps from iOS Hermes

[2021-01-07 08:53] jennmueng commented on #1273
Hmm yes I agree that name makes more sense

[2021-01-07 10:01] marandaneto commented on #542
@jennmueng do you know how the RN engine gets started on Android? is it thru ContentProvider?

wondering if https://github.com/getsentry/sentry-dart/issues/265#issuecomment-755937692 is also an issue for RN

[2021-01-07 12:09] jennmueng commented on #542
I'm not fully sure myself as I've not really worked with it, but I think it should started from the Application class.

[2021-01-07 13:21] marandaneto commented on #542
yeah just looked up inside of an old demo, RN creates an `Application` class that hosts a `ReactNativeHost`.
Also, `MainActivity` gets created extending a `ReactActivity`, so all the magic is happening there + native libs being loaded by `SoLoader` which is also a Facebook lib.

so yeah a few things could be caught by the SDK, but RN also has ContentProvider, See this https://github.com/facebook/r

[2021-01-10 17:47] gilador commented on #578
One thing made it to work on Android - THE `matchingFallbacks` property in the variant `buildTypes`. That is due to the fact that  sentry build configuration is available only for two build variant types: `debug` and  `release`.

code:
`otherVariant {
            .....
            matchingFallbacks = ['debug','release']
            ....
        }`

[2021-01-11 13:31] pierrebluelobster opened #1278 "Source code was not found"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** "@sentry/react-native": "1.8.2"

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

[2021-01-11 16:20] farodrig opened #1279 "Sentry close and flush is not a function"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**Configuration:**

(`@se

[2021-01-12 11:35] jeseter45 opened #1280 "User is always defined with static ID and cannot be reset according to documentation"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.2

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**Configuration:**

(`@se

[2021-01-12 12:18] jeseter45 commented on #1280
More info about reseting the user:

[code]

[2021-01-12 14:02] jeseter45 commented on #1280
Now, when I am testing release version of Android app on real device I see user to be set, but instead of ID is used IP address of the internet connection (still using `new Error('Test 1')` example from previous commit).

Is it because I am setting user by `scope.setUser({})` instead of `scope.setUser(null)` (which currently does not work)?

[2021-01-13 08:52] jeseter45 commented on #1280
To my previous comment about IP address:
My assumption about `scope.setUser({})` is probably correct, because after I enabled IP address storage prevention in Sentry UI (project-level), error reports in UI shows `Unknown User` as expected.

![Screenshot` 2021-01-13 at 09 49 36](https://user-images.githubusercontent.com/70572245/104428404-bc696580-5584-11eb-9013-2e6d5da32835.png)

So `Sentry.setUse

[2021-01-13 09:26] #1174 closed

[2021-01-13 14:55] bruno-garcia commented on #1273
It's worth making a note about Android and the use of `ContentProvider`. @marandaneto has more details about this.

[2021-01-14 00:01] softatac opened #1281 "Build hangs in CI env at `Upload Debug Symbols to Sentry`"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 0.0.0

**`react-native` version:** 0.63.4

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

---
**I have following is

[2021-01-14 13:07] jennmueng commented on #1279
Oh `Sentry.close()` actually is not supported on React Native. This is a mistake and should not be on the documentation.

[2021-01-14 16:51] mohity777 commented on #323
Any update ??? i am facing this issue

[2021-01-14 21:40] bfricka commented on #1281
Sorry if this is a silly reply (not too familiar w/ RN yet), but the docs do mention that if you have bitcode enabled you'll need to upload the symbols differently: https://docs.sentry.io/platforms/react-native/#ios-specifics

If it works locally, it might be that bitcode is disabled for Debug builds but not for Internal / Release?

[2021-01-15 13:33] jennmueng commented on #1279
We fixed the docs, closing this now.

[2021-01-15 13:33] #1279 closed

[2021-01-15 17:20] mayckondf commented on #641
I was with this bug and I don't was remembering but I was changed the org on the Sentry and on my sentry.properties it was outdated and when I update it fixed the bug

[2021-01-18 09:09] softatac commented on #1281
@bfricka I doubt that's the culpit, as releasing works perfectly on a local machine (release, not debug).

I think that the sentry upload times-out somewhere, but it hangs, not displaying any error (maybe retrying connection?)

[2021-01-18 14:28] jennmueng commented on #1281
Hmm It does look to me like some timeout or connection issue from the CI environment, I would look into that. The upgrade from 2.0.0 to 2.1.0 should not be a problem as this issue is coming from `sentry-cli` and not the React Native SDK. Otherwise, let me transfer this issue to my colleagues over at sentry/cli as they would have more insight.

[2021-01-18 16:00] bruno-garcia opened #1291 "Get device context on Performance on Android"
This requires a change on Android to `prepareEvent` where an event is taken as an argument and is returned fully enriched.

[2021-01-18 16:47] philipphofmann opened #1292 "SDK doesn't start session on first app launch on iOS"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:**
https://github.com/getsentry/sentry-react-native/blob/ccf1fe10d608a4497bf6a5974ac6131e787f6cd3/sample/package.json#L20-L24

**Configuration:**

https://github.com/ge

[2021-01-18 18:09] AlejandroGutierrezB opened #1294 "Native crashes are not reported"
**OS:**
- []  Windows
- [X]  MacOS
- [ ]  Linux

**Platform:**
- [X]  iOS
- [X]  Android

**SDK:**
- [X]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.1.0

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [X]  No

**Are you using sentry.io or on-premise?**
- [X]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using sentry.

[2021-01-19 02:26] tamago3keran commented on #1201
Same problem.

[2021-01-19 16:20] jennmueng commented on #1294
To clarify, what I understand is at `Sentry.nativeCrash()` actually crashes the app but no report is sent, correct? Can you pass `debug: true` to `Sentry.init` on React Native and paste the logs? Thanks.

[2021-01-19 18:08] xcarpentier commented on #1245
I have this same issue can't find a way to fix it.

[2021-01-19 19:55] AlejandroGutierrezB commented on #1294
@jennmueng i tried that and no logs shown for a native crash, however logs are shown when exceptions are captured or when i just throw an error to test.
Sentry.nativeCrash() makes the app crash, yes you understood correct.

[2021-01-20 00:48] indapublic commented on #1215
Hi @jennmueng Do you have any updates for me?

[2021-01-20 12:33] jennmueng commented on #1294
Yes but please paste the logs that the SDK outputs to the React Native console when the SDK opens as that contains valuable debug information I need to look at.

[2021-01-20 12:39] AlejandroGutierrezB commented on #1294
[Wed Jan 20 2021 12:38:00.975]  LOG      Sentry Logger [Log]: Integration installed: ReactNativeErrorHandlers
[Wed Jan 20 2021 12:38:00.976]  LOG      Sentry Logger [Log]: Integration installed: Release
[Wed Jan 20 2021 12:38:00.976]  LOG      Sentry Logger [Log]: Integration installed: InboundFilters
[Wed Jan 20 2021 12:38:00.976]  LOG      Sentry Logger [Log]: Integration installed: FunctionToSt

[2021-01-20 14:55] bruno-garcia opened #1295 "Add RN specific options to the docs"
i.e: https://github.com/getsentry/sentry-react-native/blob/c1a01ec67a2f10db16c3c67a866fc5839702063b/src/js/backend.ts#L16-L36

[2021-01-20 15:07] jennmueng commented on #1294
Hmm this is unusual then, did you verify that the packages `sentry-android` and `sentry-cocoa` are installed on Android and iOS respectively? As the native crashes happens they should be, the fact that they're not logged is highly unusual and would suggest either something wrong with the installation or with those native-level SDKs themselves, however as we haven't heard about any issues from them

[2021-01-21 10:17] AlejandroGutierrezB commented on #1294
I tried a fresh install and when npx running the wizard i get the following error:

Running Sentry Wizard...
version: 1.1.4 | sentry-cli version: 1.61.0
Sentry Wizard will help you to configure your project
Thank you for using Sentry :)

Please open
https://sentry.io/account/settings/wizard/rfurfxm3pf45cqfela6gmt3s41j337yk52v69h45aavqffjlklxhptuvrbv6zkcg/
in your browser (if it's not open already)

[2021-01-21 18:05] jennmueng commented on #1294
Hmm, in your `ios` folder do you have a `sentry.properties`? that looks like what went wrong. If it's not there you can copy It over from your `android` folder to your `ios` folder.

Also I updated your comment because that URL hash could contain private information.

[2021-01-22 05:41] jennmueng commented on #1280
Hmm, seeing this part
[code]
tells me that it's not just the user that's the issue it's the fact that on Android the global scope (which is synced down from the JS layer to the Android layer) overwrites the scope on the event every time it's sent. I will raise this issue with the team and investigate it further.

[2021-01-22 09:49] danish-blueeast opened #1297 "On release it's show native stack which is hard to find crash and screen tracing."

[2021-01-22 16:04] draperunner commented on #1246
We are also meeting these issues, using Yarn Workspaces and setting up `@sentry/react-native`. But I think I'm on the right track to finding a workaround. The issues are usually because of `node_modules` not being in the same directory as the react native project, but two directories higher in the tree (`../../node_modules`). 

The automatic gradle setup and linking did not work. We have issues wi

[2021-01-23 10:11] marandaneto commented on #1292
we've fixed it on Flutter and it worked pretty well, I'd just replicate the same solution.

See: https://github.com/getsentry/sentry-dart/pull/274/files

@bruno-garcia we need to prioritize this.

[2021-01-23 18:54] hainguyentien commented on #1294
@jennmueng How can I check if `sentry-cocoa` not installed after the wizard?
I met the same issues but my log show a warnings about Require cycle after I add Sentry.init to my Splash screen. And I don't see any exceptions or crash on my Sentry dashboard. How can I fix this, please?
![image](https://user-images.githubusercontent.com/36818841/105611315-13720480-5de7-11eb-9e33-7ef0f4dd7dc4.png)

[2021-01-24 14:38] vtoupet commented on #1234
@jennmueng @HazAT any news about returning a promise on initialization. That would help with Native customization such as detailed in comment https://github.com/getsentry/sentry-react-native/issues/1234#issuecomment-743765622

[2021-01-25 11:11] jennmueng commented on #1294
@hainguyentien Check in `ios/Pods` and check if the pod `Sentry` is present there.

[2021-01-25 11:24] canssamet opened #1306 "[ANDROID ONLY] :app:bundleReleaseJsAndAssets_SentryUpload"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 1.3.2

**`react-native` version:** 0.60.5

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [x]  on-premise
---
I have following issue

[2021-01-26 00:45] bruno-garcia commented on #1292
@marandaneto right! thanks

[2021-01-26 17:20] jennmueng commented on #1297
Please use the issue template, as right now it's very difficult for us to understand the issue.

[2021-01-26 17:20] #1297 closed

[2021-01-27 07:44] sdeff opened #1307 "Unusual increase in reports of React Native crashes"
**Platform:**
- [ ]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**Sentry native version:** 0.4.4

**`react-native` version:** 2.1.0

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise
---
**I have following issue:**

Since updating from Sentry RN vers

[2021-01-27 08:53] sdeff commented on #1307
Duplicate issue: https://github.com/getsentry/sentry-native/issues/468

[2021-01-27 08:53] #1307 closed

[2021-01-28 12:27] meznaric commented on #814
We are wondering the same thing:

[2021-01-28 20:04] rineesh-pp commented on #1261
I had the similar kind of issue and I resolved that by mocking sentry init function.
jest.mock('@sentry/react-native', () => ({ init: () => jest.fn() }));

[2021-01-28 22:35] thomas-blitzm commented on #1306
Any updates on this issue @marandaneto?  It is currently affecting deployment to google play store.

[2021-01-29 08:22] marandaneto commented on #1306
@jennmueng

[2021-01-29 08:55] #1292 closed

[2021-01-29 09:27] jennmueng commented on #1306
@thomas-blitzm @canssamet As this is Sentry on-premise, this usually means the connection is unstable. Please give this a look: https://github.com/getsentry/sentry-cli/issues/40

[2021-01-29 10:10] marandaneto commented on #1272
I'd say we could go ahead without https://github.com/getsentry/sentry-react-native/issues/1291 and iterate later

[2021-01-29 10:10] marandaneto commented on #1272
@jennmueng mind explaining what's the issue with the `beforeNavigate`? not sure what this is about

[2021-01-29 10:18] jennmueng commented on #1272
@marandaneto `beforeNavigate` (to be passed to the `ReactNativeTracing` integration)  currently wasn't used in RN due to the limitation with the V5 instrumentation but I found a workaround that allows it to be used. This way we match the API on JS and get rid of the redundant `shouldSendTransaction` option passed to the instrumentation.

[2021-01-29 10:40] marandaneto commented on #1272
@jennmueng cool thanks, should we create its own issue for that. so we could track it down and link to the PR? this also would require docs?

[2021-01-29 12:27] canssamet commented on #1306
Thanks guys 👍

I changed upload size and timeout value. it is working now

[2021-01-29 12:27] #1306 closed

[2021-01-29 17:39] PeloWriter commented on #1272
Yes, please, on the Docs. Here's the WIP for Performance Docs - https://github.com/getsentry/sentry-docs/pull/2970

[2021-01-29 17:44] yungkittty commented on #1261
@jennmueng I've tried to use `enableNative: false` but it doesn't change anything which is weird :

[code]

This is the full output :

[code]

[2021-01-29 22:06] bfricka commented on #1140
Dude, you just closed this without saying the issue? Come on man.

[2021-01-31 17:45] jennmueng opened #1312 "Routing instrumentation should use `beforeNavigate` like on JS."
Currently in `2.2.0-beta.0` the React Navigation routing instrumentations take in a `shouldSendTransaction` instead of using `beforeNavigate` like on `@sentry/tracing`. This API is inconsistent and potentially confusing to Users, so we need to find a way to make this consistent.

[2021-01-31 19:02] jennmueng opened #1314 "Initial transaction from React Navigation routing instrumentation starts after app component mount"
The initial transaction started by both React Navigation V4/V5 instrumentations starts **_after_** the app component mounts.
This means any child spans created by code occurring before the navigator ref is present and registered to the routing instrumentation is present is not accounted for.

[code]

For example, if any Fetch/XHR requests occur within the first `useEffect` block they will be instr

[2021-02-01 05:38] thomas-blitzm commented on #1306
@jennmueng we are not using sentry on-premise.

 [04:30:26]: ▸ > Task :app:bundleProductionReleaseJsAndAssets FAILED
 [04:30:26]: ▸ > Task :app:bundleProductionReleaseJsAndAssets_SentryUpload_1220 FAILED
 [04:30:26]: ▸ error: No such file or directory (os error 2)
 [04:30:26]: ▸ Processing react-native sourcemaps for Sentry upload.
 [04:30:26]: ▸ Add --log-level=[info|debug] or export SENTRY_LOG_L

[2021-02-01 08:00] marandaneto commented on #1306
@thomas-blitzm please enable logging as the stack trace suggested and try it again, open a new issue if it's not the same problem (unstable connection)

[2021-02-01 13:26] #1312 closed

[2021-02-01 14:07] #1314 closed

[2021-02-02 04:17] thomas-blitzm commented on #1306
@marandaneto thank you for all the help. The reason why my assembleRelease failed was because a lack of memory provided. That have now been fixed. The error was 137. So only relevancy to Sentry was that it needed a lot of memory.

[2021-02-02 12:19] marandaneto commented on #1272
@jennmueng I guess this issue is ready to be closed, do we need to update docs?

[2021-02-02 12:28] jennmueng commented on #1272
@marandaneto Yes we need docs

[2021-02-02 14:30] jer-sen commented on #1077
@cruzach you are right but its a big issue since it makes sentry nearly useless!
With Expo you can add this to your `package.json` as a workaround until fbjs dependencies are upgraded:

[code]

@cruzach maybe sentry should hook itself directly on `Promise` global object as `promise/setimmediate/rejection-tracking` does and instead of using it. It would avoid the issue to reappear. Or add to the do

[2021-02-02 14:34] marandaneto commented on #1272
ok now we have its own issue for docs https://github.com/getsentry/sentry-docs/issues/2995

[2021-02-02 14:34] #1272 closed

[2021-02-02 16:47] ChrisEelmaa opened #1326 "Error message trimmed?"
Is there any logic in sentry-react-native that deals with error message trimming? It looks like only 7 lines of information is captured at max.

code:

[code]

actual sentry log *raw* data:

[code]

Looks like it captures only 7 lines at max. How can I change this behaviour and make it so that there is no line limit? I use the latest react-native-sentry package 2.2.0

[2021-02-02 17:13] jennmueng commented on #1326
@ChrisEelmaa You would pass `maxValueLength` to `Sentry.init`. By default it is 250. See: https://getsentry.github.io/sentry-javascript/interfaces/types.options.html#maxvaluelength

[2021-02-02 17:14] #1326 closed

[2021-02-02 18:32] bruno-garcia opened #1327 "Add Attachment support"
The native SDKs (sentry-android, sentry-cocoa) added support to Attachments.

The [spec is in the develop docs](https://develop.sentry.dev/sdk/features/#attachments).

Thumbs up if this is the feature you've been waiting for.

[2021-02-03 11:55] jenipharachel opened #1328 "Unable to install sentry sdk"
### Environment

How do you use Sentry?
@sentry/react-native@2.2.0 for  tracking mobile app errors

Which SDK and version?
@sentry/react-native@2.2.0

### Steps to Reproduce

I followed the installation steps from this site [https://docs.sentry.io/platforms/react-native/](https://docs.sentry.io/platforms/react-native/)

npm install --save @sentry/react-native -----> command stated that there were

[2021-02-03 23:19] bruno-garcia opened #1329 "Ability to disable completely the SDK"
Pass the call to Android and iOS to ensure all layers get closed.

Similar to https://github.com/getsentry/sentry-dart/issues/291

Depends on:
https://github.com/getsentry/sentry-java/issues/1225
https://github.com/getsentry/sentry-cocoa/issues/934

[2021-02-04 10:29] ghadeeraqraa1992 opened #1330 "Some vulnerabilities require your attention to resolve"
Overview
Affected versions of yargs-parser are vulnerable to prototype pollution. Arguments are not properly sanitized, allowing an attacker to modify the prototype of Object, causing the addition or modification of an existing property that will exist on all objects.
Parsing the argument --foo.__proto__.bar baz' adds a bar property with value baz to all objects. This is only exploitable if attack

[2021-02-04 13:40] pierrebluelobster commented on #1278
Was missing the following :
[code]

[2021-02-04 13:40] #1278 closed

[2021-02-04 13:45] jennmueng commented on #1328
@jenipharachel Try bumping your react up to at least version `17.0.1`.

[2021-02-04 22:30] sammysium opened #1331 "setContext sometimes shows [Filtered]"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
sentry react-native 2.0.1

### Steps to Reproduce

Sentry.setContext("details", {
message: '"DB ERROR: Could not fetch User RIghts from DB - abc@abc.net: User has no valid authorizations in the database.",
kind: "MISSING_DATA",
api: 'http://www.abc.net'
});

### Expected Result

in Sentry dashboard in details section i shoul

[2021-02-05 08:04] jenipharachel commented on #1328
@jennmueng Would that disrupt other dependencies like the other libraries I have used for my application?

[2021-02-05 08:09] jennmueng commented on #1328
@jenipharachel Never mind this is my mistake, `16.13.1` is the correct version corresponding to your React Native version. Does it work if you pass `--legacy-peer-deps` when doing the npm install? We will need to solve this issue upstream as it's coming from `@sentry/react`.

[2021-02-05 11:13] jenipharachel commented on #1328
@jennmueng Thanks! `npm install --save @sentry/react-native --legacy-peer-deps worked`

[2021-02-05 18:25] alew97 commented on #713
I saw @lobsterkatie 's response on https://github.com/getsentry/sentry-java/issues/543 about RN sentry no longer relying on the Java SDK which defines the max nesting level of 3. However I still don't know how to increase this limit beyond 3. As @lisabaut pointed out in the original post, the `ExtraErrorData` integration does not work in React Native.

any tips from anyone?

[2021-02-07 09:50] zazagag opened #1332 "Sample app error /sample.app/main.jsbundle does not exist."
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
@sentry/react-native:2.2.0

xcode: 12.4
MacOS Catalina: 10.15.4
node: 12.20.1

### Steps to Reproduce

1. Sample app run Archive

### Actual Result

[code]

[2021-02-07 13:41] marandaneto opened #1333 "Fix android plugin package"
Package is `io.sentry.react`

https://github.com/getsentry/sentry-react-native/blob/master/android/src/main/java/io/sentry/RNSentryModule.java#L1

but classes are within io/sentry folder, https://github.com/getsentry/sentry-react-native/tree/master/android/src/main/java/io/sentry

it'd be nice to create an inner package(folder) called `react`

[2021-02-07 15:18] jennmueng commented on #1331
@sammysium You can go on to your Sentry Dashboard -> Project Settings -> Security & Privacy, and you will be able to adjust your data scrubbing settings to not filter this.

<img width="1423" alt="Screen Shot 2021-02-07 at 10 17 44 PM" src="https://user-images.githubusercontent.com/30991498/107150818-4f35ce00-6992-11eb-8805-5c83e5bc5ffa.png">

[2021-02-07 15:18] #1331 closed

[2021-02-07 17:23] jennmueng commented on #1332
Are you trying to build/archive the sample app on this repo? Make sure you run `yarn build` in the root folder before you try to build or run the sample app.

[2021-02-08 07:46] zazagag commented on #1332
Yes, I have installed all npm dependencies in both directories (`sample`, root) and Pods in `sample/ios` as well.
I am only changed `sentry.properties` (copied from own working project) and set `Signing...` for xcode and tap Product > Archive.
PS. Despite sample app not working for me, another project with @sentry/react-native:2.2.0 working well (I mean without any related issues).

xcode: 12.4
Ma

[2021-02-08 07:53] jennmueng commented on #1332
Hmm, as long as you have built the SDK correctly and the `dist/js` directory exists, then this is certainly something regarding your setup as we haven't had any issues. I will be closing this for now.

[2021-02-08 07:53] #1332 closed

[2021-02-08 12:09] kesha-antonov opened #1345 "Doesn't catch rendering errors"
Hi!

### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Simulator, iOS 14.3
"@sentry/react-native": "^2.2.0"

### Steps to Reproduce

In your app with react-navigation to Tabs stack scene add this code:

[code]

You will not see error in Sentry dashboard.

Replace code above with this one (basically add setTimeout):

[code]

You will see error in dashboard.

##

[2021-02-09 12:11] hannojg opened #1346 "Unable to resolve module ./http://localhost:8081/index"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
This happens on version `2.2.0`

### Steps to Reproduce

1. Sentry `2.1.0` was installed
2. We then installed `2.2.0`
3. In the metro bundler output we suddenly saw package requests, which failed with the error below.

We use react-native `0.64 rc3`.

### Expected Result

We didn't expect any bundle/package req

[2021-02-09 17:52] anmlkh commented on #276
In our case it was company rebranding/renaming

[2021-02-09 19:22] jennmueng commented on #1346
Hmm I can't seem to reproduce this just yet, however looks like this error is coming from this:
https://github.com/getsentry/sentry-react-native/blob/211ec081b6bf8d7d29541afe9d800040f61e3c4e/src/js/integrations/debugsymbolicator.ts#L216-L221
where we use an internal method from RN `getDevServer` to get the source code to symbolicate stack traces when you're in development mode. I would assume the

[2021-02-10 20:02] bramski commented on #1328
👍 Experiencing this issue with `2.2.0` as well and this did allow me to install. The dependency from `sentry-react-native` for `react-dom` needs to be loosened please.

[2021-02-11 08:05] jennmueng commented on #1328
Closing this to consolidate with #1065

[2021-02-11 08:05] #1328 closed

[2021-02-11 13:42] jennmueng commented on #1345
The SDK should catch all unhandled exceptions, and I've tried to reproduce this. Maybe you have something that's capturing the error and not letting it get thrown like an `ErrorBoundary`?

Otherwise, if you can provide a repo with a reproduction it would be great help for us to debug this 😁

[2021-02-11 14:17] kesha-antonov commented on #1345
Hey
Thanks
I'll try to make repro

[2021-02-16 10:23] massanen7 opened #1349 "Linking library in separate folder doesn't load correctly with Android: "SentryError: Native Client is not available, can't start on native." error."
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native": "^2.2.0"

### Steps to Reproduce
- We work on a monorepo and we store the sentry library in separate folder, called workspaces.
- We've linked the library from the new location:
**android/app/build.gradle**
`apply from: "../../../workspaces/node_modules/@sentry/react-native/sentry.gradle"

[2021-02-16 18:02] NathanNovak commented on #1294
@jennmueng I am having the same issue.

[2021-02-16 18:29] lobsterkatie commented on #713
@jennmueng You're the most up on the current RN SDK. Do you know which of the wrapped SDKs sets the max depth? If not I can dig into it.

[2021-02-16 18:34] jennmueng commented on #713
@lobsterkatie @alew97 It's set on JS, now Android and Cocoa shouldn't touch the nesting depth anymore if I recall correctly. So if you just set `normalizeDepth` it should be good.

[2021-02-17 13:18] darrylyoung opened #1350 "Issue with source maps and missing artifacts"
### Environment

How do you use Sentry?
* Sentry SaaS (sentry.io)

Which SDK and version?

* `sentry-expo`: `3.0.4`
* `@sentry/react-native`: `2.2.0`

### Steps to Reproduce

1. Run my app (either via `yarn ios` or from within Xcode) – let's say version `0.0.35`, build `76`
2. See a new release called `0.0.35 (76)` in the Sentry project
3. Check the release and see that there are **0 artifacts**

[2021-02-17 20:56] AlexAtkinson-Myant commented on #927
With React Native, I'm attempting to set 'sessionTrackingIntervalMillis' to 172800000 (2days) with the expectation that the user will open the app at least once every 2 days... At best this is a dirty hack and I'll next attempt to use 604800000 (7d). At worst, it exposes some previously unknown memory leak.

I've reached out to Sentry via their support form. We'll see what they have to say about t

[2021-02-18 12:24] marandaneto commented on #927
@AlexAtkinson-Myant it probably would work but I'm afraid that the devices may starve in memory and the OS will kill the App before the session is able to be finished, looks like the best solution for this use case is disabling the automatic session handling and doing it manually, but if you have a React-native app, we'd need to expose `startSession` and `endSession` as described in the issue.

th

[2021-02-19 09:07] jennmueng commented on #1350
What pops out to me as unusual is `0.0.35 (76)` should not be automatically generated by us as this does not match our release name scheme of `{app_identifier}@{version}+{dist}`: [as you can see here](https://github.com/getsentry/sentry-cli/blob/0e28981524241e707451b198f9cc8b68528dd748/src/commands/react_native_xcode.rs#L274-L279). So I'm not sure where this is coming from.

Also, given that it's

[2021-02-19 09:34] jennmueng commented on #1349
This looks like the library is not correctly linked in gradle. `RNSentry` being missing in https://github.com/getsentry/sentry-react-native/blob/master/src/js/wrapper.ts#L8 means that React Native is not loading the Android native bridge code. The SDK has no issue being included from an external folder outside `node_modules` as we do so in our sample app: https://github.com/getsentry/sentry-react-

[2021-02-19 10:36] massanen7 commented on #1349
Hi Jen, thanks much for answering.

The thing is that It is correctly linked. Without changing how it is linked:
`apply from: "../../../workspaces/node_modules/@sentry/react-native/sentry.gradle"`

just installing the library in the regular node modules, the `RNSentry` from workspaces library it isn't then missing.

[2021-02-19 10:38] jennmueng commented on #1349
@massanen7 Hmm if it's not your configuration and you believe something is broken, maybe I would bring this up with React Native then, as the RNSentry module is just a React Native module and the issue is with the native module being loaded.

[2021-02-19 11:31] #1065 closed

[2021-02-19 13:22] Matchdev120 commented on #746
@SamiChab It works! Thanks.

[2021-02-19 15:23] ph98 commented on #1104
no update on this? still I can't send anything with v 2.2.1
no logs in console, just nothing happens.

[2021-02-19 15:27] jennmueng commented on #1104
Can you pass `debug: true` to `Sentry.init` and show me the logs? Also if this is on Android please also paste the logcat ones

[2021-02-19 15:29] #1333 closed

[2021-02-19 15:47] jennmueng commented on #892
Closing this due to inactivity, let us know if the issue still persists and we will re-open.

[2021-02-19 15:47] #892 closed

[2021-02-19 16:07] cruzach commented on #1350
In sentry-expo, we default to Sentry's default (because we want all the errors for build-time sourcemaps to be mapped correctly 😄 ), as you can see [here](https://github.com/expo/sentry-expo/blob/master/src/sentry.ts#L64):
[code]

So maybe you are passing in a `release` somewhere to your sentry initialization? Or is there an environment variable that is maybe overwriting the default (this is proba

[2021-02-19 16:10] jennmueng commented on #1350
Now that I looked at this a second time with fresh eyes, I'm reminded that Sentry dashboard creates a new release for events with release names that don't match any existing ones. So that's probably what you're seeing with the empty releases, so I would look at whatever is setting that value during runtime.

[2021-02-19 17:20] darrylyoung commented on #1350
Hi, guys. Thanks for looking into this for me – it's very much appreciated!

I'm not explicitly passing `release` anywhere as far as I can see, nor do I remember ever doing so. My Sentry config is shown above.

As with the previous point, I haven't explicitly set anything like that so unless a version of `sentry-expo` or `@sentry/react-native` did that, I can't see this being the issue.

Does my o

[2021-02-20 08:57] darrylyoung commented on #1350
Could it maybe be related to how I'm updating builds? Right now, let's say I'm on version `0.0.35` with build number `81` and I want to increment my build number but keep the same version, I'd do the following:

1. Increment `buildNumber` in `app.json`
2. Open the project in Xcode and bump `Build` in my project target
3. Run the app locally and/or create an Archive and upload to App Store Connect

[2021-02-20 12:55] ph98 commented on #1104
Hi and Thanks for your fast reply!
`sentry-debug-meta.properties file was not found.`
the only logcat that is related to sentry was this line.
and there is no log in js console.

[2021-02-20 18:53] jennmueng commented on #1104
@ph98  Hmm are you correctly initializing the Sentry SDK if no logs show? They should always show if the SDK is being correctly initialized. Make sure everything is correct following [our documentation](https://docs.sentry.io/platforms/react-native/#configure).

[2021-02-20 21:14] cruzach commented on #1350
Just reproduced this on a blank-ish bare workflow app @darrylyoung - but only on iOS (Android sourcemaps were uploaded perfectly fine during `./gradlew assembleRelease`)

Will update here if I figure out what's going on here

[2021-02-20 21:17] cruzach commented on #1350
Actually, looks like the issue I'm running into is https://github.com/getsentry/sentry-react-native/issues/888

[2021-02-20 21:36] cruzach commented on #888
@jennmueng here's a screenshot (I'm running into the same issue on v2.1.0). You can see that the Android artifacts were uploaded, but no iOS ones:

<img width="1410" alt="Screen Shot 2021-02-20 at 4 31 59 PM" src="https://user-images.githubusercontent.com/35579283/108609069-6cf33200-7399-11eb-9545-002be8d13249.png">

My iOS build's `release` and `distribution` match that release, as well:
<img wid

[2021-02-22 16:17] erikmueller commented on #1155
Hey @jennmueng , thanks for the answer and sorry for the delay.
We have now updated to version 2.1.0 but are not too clear on how we could re-implement our old behaviour:

Once the app crashed we hooked into the `Sentry.setEventSentSuccessfully` to get the `eventId` and attach feedback to it. As this is gone now we tried to make use of `beforeSend` to grab the eventId and call the feedback API wit

[2021-02-22 16:28] jennmueng commented on #1155
@erikmueller A crashed app would cache the event and then send it when the app opens and wouldn't pass through `beforeSend` a second time. Hmm currently there isn't a way to do so, as we just send the cached event right away and don't pass it through anything. If you would like that as a feature, you can make a separate issue and write the needed use cases.

Also, I'll be closing the issue as the

[2021-02-22 16:29] #1155 closed

[2021-02-22 18:17] erikmueller commented on #1155
What do you mean by "a second time"? As far as I understood when the crash happens there's no event sent. So is there a reason why beforeSend is not invoked when a cached event is sent. It feels inconsistent. It should not matter if it's cached or not as long as it is sent.

[2021-02-23 04:57] jennmueng commented on #1155
@erikmueller Let me clarify that beforeSend is invoked the first time when the event happens, when we cache it it's considered "sent" in the SDK's perspective, so it's not passed through `beforeSend` when the cached event is being picked up.

[2021-02-23 07:11] erikmueller commented on #1155
@jennmueng I agree the naming is a bit misleading so thank you for clarifying.
Indeed a user feedback feature would be solving all of that :)
However a callback for sending (to get the actual event id for further use with the API) would also help very much.

Again thank you for explaining. I know there's an issue somewhere around the native feedback feature and depending on how we proceed further

[2021-02-23 23:07] chrisfinch opened #1361 "React-Native performance traces not being uploaded to Sentry"
### Environment

Using Sentry.io on React-Native.

Running React-Native on Android device only (ios not used).

[code]

### Steps to Reproduce

Instructions from documentation were followed;

Setup:
[code]
Attempt to send a performance trace.
[code]
Metro bundler logs from React-Native on App startup:
[code]

### Expected Result

Performance traces should be uploaded and visible on Sengry.io dashb

[2021-02-24 10:07] marandaneto opened #1362 "Support `enableNativeCrashHandling` for iOS"
Right now `enableNativeCrashHandling` only works for Android.

[2021-02-24 10:07] marandaneto commented on #1362
related to https://github.com/getsentry/sentry-dart/issues/317

[2021-02-24 11:39] jennmueng commented on #1361
Hmm the discarded transaction seems to be from the route transaction and not the one you created. Can you provide a reproduction sample in a repo that we can check out? We've tried what you have and can't reproduce it. Also, are you looking in the right place on the dashboard—the discover tab > all events, and transactions should appear there not in the issues list.

[2021-02-24 12:36] jennmueng commented on #1350
Ok I've successfully reproduced it as well, if you add the flag `--force-foreground` to the build script in Xcode it seems to work.

So try replacing the "Bundle React Native code and images" build script with this, and see if it works? @darrylyoung @cruzach

[code]

I'll be raising this issue to others internally I don't know why it does this.

[2021-02-24 14:27] chrisfinch commented on #1361
My organisation is currently on the free developer plan and as such does not have access to the discover tab. Our aim is to try out the error capture and performance tracing features and upgrade plans if they meet our needs. I am looking in the "Performance" tab and the only thing in there for our React-Native project is the option to take a tour or start setup.

Perhaps there is something I'm mis

[2021-02-24 15:38] darrylyoung commented on #1350
Hi, @jennmueng. Thanks for the suggestion. I just tried that and I can see 2 artifacts in the new release. There have been 0 artifacts in previous releases so this clearly helped.

For context, I used the following and the only change was the addition of `--force-foreground`.

[code]

<img width="590" alt="Screenshot 2021-02-24 at 16 35 06" src="https://user-images.githubusercontent.com/1460800/10

[2021-02-24 18:12] jennmueng commented on #1361
@chrisfinch Yes a reproduction would be great. What's also unusual is that the route transaction should also be sampled.

I checked with the team and you should be able to use performance if the option to take a tour or start setup is being shown—so this points towards possibly being a bug.

[2021-02-24 18:45] Asleepace commented on #323
We were facing the same issue with our mono-repo, in the end it was also the `--ignore-scripts` issue, since we also use a mono-repo the solution became something like this:

[code]
and also clearing the packager might have helped
[code]

[2021-02-24 19:12] jennmueng commented on #1350
@darrylyoung That error at the top looks like the source map filename was not mapped correctly, it should be replaced to `app:///main.jsbundle` by sentry-expo: https://github.com/expo/sentry-expo/blob/86b93c845fa66f0fc20e16b175793058e6a861e1/src/sentry.ts#L52

[2021-02-24 19:43] stevefai commented on #1077
Is this _working_ for anybody right now with the latest versions? Just created a brand new react native project and running into the same issue.

[2021-02-25 09:15] darrylyoung commented on #1350
Hi again, @jennmueng. Thanks for the suggestion. I've just made that change and I still have that same issue.

[code]

For context, here's my setup after your suggestion:

**sentry.config**
[code]

**App.tsx**
[code]

**package.json**
[code]

I'm also seeing the following in the issue, in case that helps:

<img width="553" alt="Screenshot 2021-02-25 at 10 07 50" src="https://user-images.githubuser

[2021-02-25 12:30] Baloche commented on #1077
Same issue here with the latest versions. I am currently using @jer-sen's workaround and it works !

[2021-02-26 12:38] yasirtrimulabs commented on #886
Hi @marandaneto I am facing the same thing on Android and it shows the error in red box. But on iOS it's working
![Screenshot_20210226-173731_PatientApp](https://user-images.githubusercontent.com/62023757/109301185-68c38a80-7859-11eb-98cd-4d97fd0c7b3e.png)

[2021-02-26 14:36] ghasemikasra39 commented on #829
I experienced this today for the first time:

[code]

[2021-02-26 15:37] alpha0010 opened #1364 "iOS build from react native cli fails on network error"
### Environment

How do you use Sentry?
Self-hosted 21.3.0.

Which SDK and version?
sentry.javascript.react-native 2.2.1

### Steps to Reproduce

1. Create a disruption between the dev computer and Sentry server (no internet, firewall, server error, etc.)
2. Build from command line (`npm run ios` -> `react-native run-ios`)

### Expected Result

App builds an runs.

### Actual Result

Build fails.

[2021-02-26 15:43] jennmueng commented on #1364
The app builds but I assume the "Upload Debug Symbols to Sentry" build script still fails right—it just does not fail the whole build. This is because on Xcode the command is run in the background instead of the foreground like when calling `run-ios`.

I'm not sure if this is possible, but I can forward it to our CLI team.

[2021-02-27 09:46] marandaneto commented on #886
@yasirtrimulabs well as stated before, and also in the red dialog, it works only on release mode.

[2021-02-27 09:47] marandaneto commented on #886
@jennmueng could you run a hard crash on the latest RN on Android, please? just to be sure it works.

[2021-02-27 14:53] UnderscoreShift commented on #794
Be sure to add **both** `instrument.ts` and `/@sentry/` to Blackboxing.

[2021-03-01 08:51] jennmueng commented on #1077
I have reproduced the issue and confirmed that unhandled promise rejections are not being caught on my end as well. Adding this to our immediate TODO.

[2021-03-02 19:28] chrisfinch commented on #1361
Feeding back - I updated and things seem to be working for the time being - will keep an eye on it and open a support case if needed.

Thanks for the help

[2021-03-02 19:28] #1361 closed

[2021-03-02 23:51] chrisfinch opened #1369 "ReactNavigationV5Instrumentation un-usable due to unconfigurable timeout"
cc @jennmueng

Further to my now closed issue: https://github.com/getsentry/sentry-react-native/issues/1361 I've figured out why the route transition traces are not working.

[This non-configurable timeout](https://github.com/getsentry/sentry-react-native/blob/master/src/js/tracing/reactnavigationv5.ts#L27) `STATE_CHANGE_TIMEOUT_DURATION ` means that I can't get traces on my route transitions.

Mo

[2021-03-03 04:40] MatteoGioioso commented on #826
Same bug here, is this still not fixed?

[2021-03-03 07:02] jennmueng commented on #1369
This makes perfect sense, my mistake for missing out on this—will add this ASAP.

[2021-03-04 08:47] yasirtrimulabs commented on #886
@marandaneto I fixed this was following [this](https://github.com/facebook/react-native/issues/17522#issuecomment-357410014)

[2021-03-04 12:34] jennmueng commented on #886
@yasirtrimulabs That was what I assumed, as the dev menu should never show on release mode.

[2021-03-04 13:05] marandaneto commented on #886
@jennmueng should we close this issue then?

[2021-03-04 13:48] jeffreyroshan commented on #1361
Hey, I am facing similar issue. The performance traces are not being uploaded.
I am trying a custom transaction. I can see the tracing started log but nothing more.

`Sentry Logger [Log]: [Tracing] starting undefined transaction - SampleTrace
`

I am using:
[code]

@chrisfinch what was the fix that worked for you?

Thanks

[2021-03-04 20:08] chrisfinch commented on #1361
@jeffreyroshan This is one issue I have: https://github.com/getsentry/sentry-react-native/issues/1369 - hopefully a fix comes soon.

The non-uploading issue was fixed by updating to the latest version - not sure what the issue was there....

[2021-03-05 08:41] #886 closed

[2021-03-08 05:49] abdullahizzuddiin opened #1371 "Sentry `sampelRate` caused "Discarding event because...""
### Environment

How do you use Sentry?
sentry io

Which SDK and version?
- RN 0.61.5
- "@sentry/react-native": "^2.2.2",

### Steps to Reproduce
1. Add Sentry installation
[code]
2. run debug app
3. trigger false-error with `let a = {}; a.hehe();` on random button
3. red dev menu displaying what error happened

### Expected Result
I expect our dev menu will display what code that triggered error

[2021-03-08 07:26] jennmueng commented on #1371
@abdullahizzuddiin You are passing `debug: true` to the init options. This enables debug mode for the SDK which is why it's showing this as the purpose of this mode is to debug the Sentry SDK. If you disable debug mode for the SDK it will not log this.

Closing as this would resolve the issue.

[2021-03-08 07:26] #1371 closed

[2021-03-08 13:32] #1369 closed

[2021-03-09 11:16] abdullahizzuddiin opened #1385 "Source code was not found `app:///index.android.bundle`even I've uploaded sourcemap"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
- react native 0.61.5
- @sentry/react-native: ^2.2.2

### Steps to Reproduce
**Initial Configuration**

[code]

- upload sourcemap
[code]
- trigger random bug.
- Look at sentry UI and find the issue

### Expected Result
I won't see any error as on [Actual Result section](#actual-result).

I want to see my stack trace (withou

[2021-03-09 11:19] jennmueng commented on #1385
@abdullahizzuddiin As it says in your screenshot, you cannot have the `@` character in the `dist` field. I would just set `dist` to `155+codepush:1` in your case.

[2021-03-09 11:56] abdullahizzuddiin commented on #1385
Thanks for pointing out @jennmueng.

Actually, I've fixed `dist` issue. Unfortunately, my app was building when I posted this issue.

My main concern is the second error message. How to fix this `app:///index.android.bundle` issue

[2021-03-10 09:34] alexstoyanov commented on #733
I am getting the same on android. Any solutions there?

[2021-03-10 09:39] alexstoyanov opened #1386 "Getting "No platform selected" from sentry-wizard"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
@sentry/react-native: 2.2.2
react-native: 0.63.3

### Steps to Reproduce

1. Follow the installation guide and running
npx @sentry/wizard -i reactNative -p android
2. Getting this:
`✅ Patched build.gradle file.
Error: No platform selected
    at ReactNative.MobileProject.getPlatforms (/Applications/MAMP/htdocs/shkolo/shkol

[2021-03-10 12:51] jennmueng commented on #1385
@abdullahizzuddiin Your new error is happening because your sourcemaps are named `index.android.bundle` and the error occurs in `index.js`. The filenames have to match for the sourcemaps to work. Are you running in dev mode or something that's causing the JS code not to be loaded from `index.android.bundle`?

[2021-03-10 12:52] jennmueng commented on #733
@alexstoyanov You will have to correctly set the location of `sentry.properties`

[2021-03-10 13:06] abdullahizzuddiin commented on #1385
Actually, both of error that I uploaded (on thread starter and on previous post) is happened on react-native android debug mode.

And I just realized, my app's sourcemap that usually generated and located on `android/app/build/generated/sourcemaps/` is not exist. As I read `@sentry/react-native/sentry.gradle`, that gradle will delete sourcemap after uploaded to sentry server. Unfortunately, source

[2021-03-10 13:09] jennmueng commented on #1385
@abdullahizzuddiin If you use custom release names, you will have to manually upload sourcemaps: https://docs.sentry.io/platforms/react-native/manual-setup/sourcemaps/

[2021-03-10 13:11] abdullahizzuddiin commented on #1385
Ah, I don't know that. Thanks for pointing it out.

So, how can I disable autoupload then?

Should I omit this command on `app/build.gradle` `apply from: "../../node_modules/@sentry/react-native/sentry.gradle"` ? is it safe?

[2021-03-10 13:39] HazAT commented on #1386
Thanks for reporting, we are taking a look

[2021-03-11 15:00] beshur commented on #610
Happens again for me with @sentry/react-native `2.1.1` and React Native `0.63.3`

[2021-03-11 17:37] beshur commented on #707
Solved for me running `build` in Arduino Studio, and only then running 'run' command.

[2021-03-12 16:06] ajp8164 opened #1389 "Question about install from git+https"
**OS:**
- [ ]  Windows
- [x ]  MacOS
- [ ]  Linux

**Platform:**
- [ x]  iOS
- [ x]  Android

**SDK:**
- [ x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 6a4bd7e2fe025cea3bf14554139926e392ee1e31

**`react-native` version:** 0.6.4

**Are you using Expo?**
- [ ]  Yes
- [ x]  No

**Are you using sentry.io or on-premise?**
- [ x]  sentry.io (SaaS)
- [

[2021-03-12 16:58] ajp8164 commented on #1389
I suppose we can go on this recommendation until a new version is pushed to npm.

[2021-03-14 13:29] lorenzoangelini opened #1390 "Error bundle release android"
### Environment

I'm using the last version of react native,"react-native": "0.64.0",  and last version of sentry "@sentry/react-native": "^2.3.0"

### Steps to Reproduce

I run bundleStagingRelease or assembleStagingRelease

### Expected Result
The bundle is created correctly
### Actual Result

error: Found argument '-1' which wasn't expected, or isn't valid in this context
USAGE:
 sentry-cli rea

[2021-03-15 13:25] ghadeeraqraa1992 commented on #350
The same error !

[2021-03-15 13:29] ghadeeraqraa1992 opened #1401 "[ci/cd Android generate release aPK] Execution failed for task ':app:bundleReleaseJsAndAssets_SentryUpload_15'. 731> Process 'command 'node_modules/@sentry/cli/bin/sentry-cli'' finished with non-zero exit value 236"
### Environment

sentry.io

Which SDK and version?
@sentry/react-native": "^2.2.1
"react-native": "0.63.4"
### Steps to Reproduce

1. run ci/cd

### Expected Result

no issues with sentry

### Actual Result

726error: sentry-cli was not installed by @sentry/cli install script
727> Task :app:bundleReleaseJsAndAssets_SentryUploadCleanUp SKIPPED
728FAILURE: Build failed with an exception.
729* What w

[2021-03-15 15:40] bruno-garcia commented on #1291
Related to: https://github.com/getsentry/sentry-java/issues/1234

[2021-03-15 18:25] jennmueng opened #1402 "Merge SDK Packages Info like on Flutter"
See: https://github.com/getsentry/sentry-dart/blob/7ca0d10ca4985dbf928958e715bc695bfe1d3045/flutter/android/src/main/kotlin/io/sentry/flutter/SentryFlutterPlugin.kt#L186-L197

[2021-03-15 18:27] jennmueng opened #1403 "Remove Threads list on the event if not an Android event"
In line with Flutter: https://github.com/getsentry/sentry-dart/blob/main/flutter/android/src/main/kotlin/io/sentry/flutter/SentryFlutterPlugin.kt#L199-L207

[2021-03-15 22:16] lorenzoangelini commented on #1401
i have the same error with react native 0.64

[2021-03-16 07:19] jennmueng commented on #1401
Investigating.

[2021-03-16 20:13] AlexAtkinson commented on #829
Same issue. Please fix this.

OS: MacOS 11.2
Platform: Android
@sentry/react-native: 2.2.1
react-native: 0.61.4
expo: false
sentry host: sentry.io
dig & curl resolve sentry.io

During build my open connections don't exceed ~350.

$ export SENTRY_LOG_LEVEL=debug
# result:

  DEBUG   2021-03-16 14:01:03.080549 -04:00 sentry-cli version: 1.63.1, platform: "darwin", architecture: "x86_64"
  INFO    20

[2021-03-17 13:17] Babazon opened #1404 "(Self hosted) React-Native app can not send errors , Request status 403"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
React native 2.3.0 (We are on RN 0.63. We have recently ejected from expo into bare React Native project)

### Steps to Reproduce

1. Installed @sentry/react-native
2. Ran sentry-wizard such as `yarn sentry-wizard -i reactNative -p ios android -u <our sentry backend>` Double checked that sentry.properties files are created

[2021-03-17 13:33] jennmueng commented on #1404
Are you sure that's the correct DSN? That looks like an on-premise url and not the SaaS product.

[2021-03-17 13:36] jennmueng commented on #1404
For self hosted, I recommend you ask the question over here: https://forum.sentry.io/c/on-premise/7 As a 403 should be an issue service-side and not on the React Native SDK side.

[2021-03-17 15:26] straandr commented on #1245
I'm also experiencing this issue, using Node 12.6.0, Yarn 1.22.10, "@sentry/react-native" 2.1.0, sentry-cli 1.63.1.

I had previously installed "@sentry/cli" globally, in case that matters.

The shell script in the project file is as follows:

[code]

[2021-03-17 16:42] Babazon commented on #1404
Self answer:

@sentry/react-native@2.3.0 is not compatible with Sentry 9.1.2 server.
@sentry/react-native@1.9.0 works with that version (latest server available as SaaS)

[2021-03-17 16:42] #1404 closed

[2021-03-17 18:07] thatguyyoulove commented on #1386
I am seeing the exact same issue. Project previously had v2.0.0 setup in November and everything worked well. After updating via yarn to 2.3.0 I started getting compile issues in Android. Wizard --uninstall would fail with ENAMETOOLONG when trying to revert the iOS project, so I just reverted my initial sentry install commit, cleaned build folders, ran yarn, etc. Then when trying to re-add sentry

[2021-03-17 18:50] jennmueng commented on #1389
@ajp8164 You just need to run `yarn build` to get the dist directory.

[2021-03-17 18:51] #1389 closed

[2021-03-17 18:52] jennmueng commented on #1385
Sorry for the late reply, I thought I had already replied! Yes, you can omit the `sentry.gradle` build step to stop sourcemaps if you wish to do so.

[2021-03-17 18:52] #1385 closed

[2021-03-18 04:49] iyansr opened #1405 "Fail to Launch on Android after upgrading RN from 0.63.3 to 0.64.0"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)
Which SDK and version?
 "@sentry/react-native": "^2.3.0"
 React Native 0.64.0
 Windows 10
 Android 10.0

### Steps to Reproduce

1. yarn android

### Expected Result

Running Normally

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[code]

-------

Edit:

Solved by modify `distributionUrl` o

[2021-03-18 05:13] #1405 closed

[2021-03-18 08:06] vtoupet commented on #1234
@jennmueng @HazAT Could you please tell me whether you've planned returning a promise on initialization.

[2021-03-18 11:47] jennmueng commented on #1234
@vtoupet Would a callback such as `onReady` work? Discussed this internally and having only the React Native SDK return a promise would make the API inconsistent between the other SDKs.

[2021-03-18 11:51] vtoupet commented on #1234
`onReady` callback attribute would be perfect. I can then call a method of my Android NativeModule to set the preprocessor.

[2021-03-18 17:35] bruno-garcia opened #1407 "Support React Native for Windows"
This issue is here to track demand for React Native for Windows.
Please 👍  this issue if it's something you're looking forward to.

https://microsoft.github.io/react-native-windows/

[2021-03-18 17:40] AlexAtkinson commented on #829
Intermittent issues are the worst. Today I'm able to build.
The next time this happens, I'll try the fix found here, in a cargo issue: https://github.com/rust-lang/cargo/issues/7515#issuecomment-762106260

[2021-03-18 17:53] jennmueng commented on #1262
So far none of the issues that I have run into have been related to Hermes but rather unrelated things such as #1274. So I will close this issue for now.

Please reopen/let us know if you run into any issues with Hermes on iOS.

[2021-03-18 17:53] #1262 closed

[2021-03-19 02:59] thainx opened #1408 "TouchEventBoundary doesn't work in react-native 0.59"
### Environment

react-native 0.59.10 (for private reasons I cannot update), RN Sentry SDK 2.3.0, SaaS

### Steps to Reproduce

1. Wrap the App with TouchEventBoundary
2. Press on any Touchable which triggers Sentry to send events

### Expected Result

A message is sent to Sentry with the press event being recorded as breadcrumb

### Actual Result

A message is indeed sent, but no press event reco

[2021-03-19 09:36] abdullahizzuddiin opened #1409 "Duplicate Breadcrumbs"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
- react native 0.61.5
- @sentry/react-native: ^2.3.0

### Steps to Reproduce
[code]

Set those initialization and surfing on my app normally until I get some errors.

### Expected Result

breadcrumb data is not logged twice.

### Actual Result
Looking at Breadcrumb section, I found that each breadcrumb data logged twice. `xh

[2021-03-19 10:53] nwpnkmngm opened #1410 "Cannot connect performance monitoring with react native"
Try to connect Performance monitoring by following Sentry document but still not working.

App.js 👇🏻

Sentry.init({
    dsn: "//.....",
    environment: __DEV__ ? "development" : "production",
    ignoreErrors: ['NSInvalidArgumentException: Application tried to present modally a view controller'],
    integrations: [
        new Sentry.ReactNativeTracing({
            routingInstrumentation: new S

[2021-03-19 11:15] jennmueng commented on #1410
Those code snippets look incorrect, you would have to initialize the instrumentation outside, assign it to a variable, and use that variable in the `onReady`. You would also pass the whole ref `navigation` not `navigation.current`.

[code]

https://docs.sentry.io/platforms/react-native/performance/included-instrumentation/#react-navigation-v5

[2021-03-19 11:17] jennmueng commented on #1409
Hmmm this is unusual, are you running with fast refresh enabled? I found that sometimes code could be initialized twice causing two instances when you fast-refresh.

[2021-03-19 11:17] jennmueng commented on #1408
Thanks for notifying us, will investigate.

[2021-03-19 13:05] abdullahizzuddiin commented on #1409
Strangely, this issue also happened on release app.

If the code initialized twice, the log printed on console/terminal should be also twice right?

I put a`console.log()` inside my `recordBreadcrumb()`, the log printed on console only once.

[2021-03-19 13:10] jennmueng commented on #1409
No, the log would actually show up once, but as Sentry is a series of class instances, an instance from an "older" version of the app could still be present in the runtime while the `recordBreadcrumb ` you have already became dead. Not sure if this makes sense but it's something I've run into once before with fast-refreshing (not breadcrumbs like your issue but with something else). So I'm not ent

[2021-03-19 13:39] abdullahizzuddiin commented on #1409
According to your hypothesis, if I do fast-refresh four times, the breadcrumbs will be logged four times too, right?

[2021-03-19 13:49] jennmueng commented on #1409
Yes, however, if we use my example again, you would also need to make sure that the troublesome code (wherever the listener is registered) is what gets refreshed. If you refresh some other code and the troublesome code is not refreshed it would not add another listener.

[2021-03-19 14:01] jennmueng commented on #1407
Oh and as a note to everyone who sees this issue, you can run this Sentry RN SDK on React Native Windows to only capture JS layer errors right now. You would just need to pass `enableNative: false` when calling `Sentry.init`

[2021-03-19 15:15] benoitvallon commented on #1405
This is still happening to me even after trying your fix

[2021-03-19 15:41] abdullahizzuddiin commented on #1409
I found something interesting, actually I don't know if this information is valuable or not.

I configure `beforeSend` attribute,
[code]

on `event` in `beforeSend()`, I found the breadcrumb is not logged twice.

![image](https://user-images.githubusercontent.com/6801853/111805997-1b8c8300-8904-11eb-8c9d-72a08793b6d6.png)

But on Sentry UI, it displayed twice
![image](https://user-images.githubuse

[2021-03-19 17:55] bruno-garcia commented on #1409
Could you please link the issue in Sentry? I assume the JSON event in there has the duplicated breadcrumb too, correct?

[2021-03-19 23:03] abdullahizzuddiin commented on #1409
Here the issue [link](https://sentry.io/organizations/flipid/issues/2284097415/?project=5663353&query=is%3Aunresolved)

Nope. `event` (inside `beforeEvent`) I printed to console doesn't have duplicated breadcrumbs.

[2021-03-22 10:07] osamaarefm opened #1422 "ReactNativeTracing integration breaking"
How do you use Sentry? **sentry.io, using expo (sentry-expo module)**
Which SDK and version? **sentry-expo: 3.1.3. It uses sentry.javascript.react-native, version 2.3.0**
Environment: Android Emulator (Expo managed workflow)

I'm initializing Sentry like this:
[code]
If I remove "integrations" key, sentry works fine and events are received on the dashboard. Once I add "integrations" key then I rec

[2021-03-22 13:25] jennmueng opened #1423 "Add option for iOS SentryOutOfMemoryTrackingIntegration"
Related PR: getsentry/sentry-cocoa#1001

Add an option to toggle this feature.

[2021-03-22 14:13] jennmueng commented on #1422
@osamaarefm Try deleting your `node_modules` and run a fresh install. Looks like a dependency is missing on your end.

[2021-03-22 20:45] RishabhKarnad commented on #1350
I'm facing this issue too with SDK 1.9.0 as well as 2.1.0. My setup is more similar to the one in #888 though.

Unfortunately, using `--force-foreground` didn't help.

In my case, after looking through the Xcode build logs, I found this warning in the `Bundle React Native code and images` step:

[code]

It seems to be coming from [this line in Sentry CLI](https://github.com/getsentry/sentry-cli/bl

[2021-03-23 05:56] osamaarefm commented on #1422
Still facing the same issue. Is there any other dependency I should manually include? I'm not sure how to move forward with this.

[2021-03-23 08:51] ghadeeraqraa1992 commented on #1401
any update on this?

[2021-03-23 12:33] jennmueng commented on #1422
@osamaarefm Can I see the lock file entry for `@sentry/tracing`?

[2021-03-23 12:45] osamaarefm commented on #1422
Actually I had to install @sentry/tracing manually. Once I did that the above error was gone. However I'm facing another issue when I do API requests:
[code]
So it does seem like sentry-expo is missing some dependencies.

The lock entry for:
[code]
Now I can't guess what dependency is missing.

[2021-03-23 18:45] nicomontanari opened #1424 "Auto Sourcemap upload script on Xcode fails unless --force_foreground is present"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
React Native 2.3.0

### Description

At the end of the compilation procedure on Android the source maps are uploaded correctly, but with iOS the files are not uploaded on sentry and no errors are shown

### Build Phases

#### Bundle React Native code and images code
export SENTRY_PROPERTIES=sentry.properties
ex

[2021-03-23 19:38] Chrischuck opened #1425 "Compatibility with React Native 0.64.0"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
React Native 2.3.0

### Steps to Reproduce

1. Upgraded from 1.0.9 to 2.30
2. Re-linked sentry module

### Expected Result

Sentry would not error out

### Actual Result

Sentry errors out (two different issues for android and ios)

Initialization for both ios and android:
[code]
Android errors out with:
[code]

Ios errors

[2021-03-24 12:17] TheRagnar commented on #1386
+1

[2021-03-25 02:33] bruno-garcia commented on #1407
We should add it to the docs, and a sample to: https://github.com/getsentry/examples

[2021-03-25 06:25] jennmueng commented on #1422
@osamaarefm It's now missing `@sentry/types`. I don't see how it could be missing as it works fine for everyone else, and you should have `@sentry/types` right there.

[2021-03-25 06:29] jennmueng commented on #1424
What does `yarn buildTsCode` do, I assume it builds ts code into js? Can you pass `--verbose` to the `sentry-cli` command, and see what it logs?

[code]

[2021-03-25 06:44] #1234 closed

[2021-03-25 06:59] vtoupet commented on #1234
@jennmueng thanks for your dedication on this issue.

[2021-03-25 08:44] jennmueng commented on #1425
Your Android code is exactly what you have it set up to do. You're returning `null` from `beforeSend` which will not send the event. And on iOS looks like you did not re-install cocoa pods because it's trying to call an old method that no longer exists in the newer version. You can do this by doing

[code]

None of this is related to 0.64 by the way, so let's close this for now. Please let me know

[2021-03-25 08:44] #1425 closed

[2021-03-25 08:45] jennmueng commented on #1410
Closing this for now, please let me know if issues pop up.

[2021-03-25 08:45] #1410 closed

[2021-03-25 09:11] jennmueng commented on #1390
Closing this in favor of #1401

[2021-03-25 09:12] jennmueng commented on #1401
I cannot reproduce this, I will bring up this issue with the team working on the cli

[2021-03-25 10:49] nicomontanari commented on #1424
Hi @jennmueng, `buildTsCode` is a custom script that i made to build the typescript code and do other actions.

I tried to put `--verbose` in the "Bundle React Native code and images code" script and these are the logs:
<img width="889" alt="Schermata 2021-03-25 alle 10 24 46" src="https://user-images.githubusercontent.com/15747776/112461127-ed71cd80-8d5f-11eb-9644-d45b91fcfe79.png">

[2021-03-25 13:28] bruno-garcia opened #1427 "Release Health without native layer support"
Currently RN release health is powered by the native layers. That is: `sentry-android` for Android and `sentry-cocoa` for iOS and macOS. For Windows, we have no native layer, so only features available in the JS-layer are available.

One big feature that users lose is release health. This task is to add RH support directly at the JS layer to unblock React Native JavaScript-only use cases (at this

[2021-03-25 14:07] jennmueng commented on #1427
This would also add release health/session tracking for [expo](https://github.com/expo/sentry-expo)

[2021-03-25 19:33] RenatoSerra22 commented on #1386
Facing the same issue,

"@sentry/react-native": "^2.4.0"
"react-native": "~0.63.4"

This would likely be a reason source maps are not being uploaded right?

[2021-03-26 09:21] bestshenggao opened #1428 "Can't upload error when enable the enabaleNative property?"
### Environment

 mac os

 android

How do you use Sentry?

self-hosted

Which SDK and version?

  "@sentry/react-native": "^2.3.0",

### Steps to Reproduce
1. app.js
[code]
2. android/sentry.properties
[code]

### Expected Result

The crash error can properly upload, and i can see it in the sentry dashboard.

### Actual Result

the error unable to upload successfully and nothing in the sentry das

[2021-03-26 12:44] emirsavran commented on #1424
Hi, probably same issue. I created an issue in sentry-cli repository. https://github.com/getsentry/sentry-cli/issues/932

[2021-03-26 16:22] renaudmathieu commented on #1201
You need to add a `sentry.properties` file. This file is used by Sentry to upload the `mapping.txt` into the correct Sentry project.

[2021-03-26 17:02] jennmueng commented on #1424
Actually, that log looks familiar to something I've seen before. @nicomontanari

Can you try passing `--force_foreground` to the cli command?

Also @emirsavran too.

[2021-03-26 17:55] emirsavran commented on #1424
Hi, actually `--force-foreground` flag worked well. Thanks for your help.

[2021-03-26 18:31] Chrischuck commented on #1425
@jennmueng Hmm, I guess I was missing `pod repo update` and the android error magically went away. Thanks for the help!

[2021-03-27 09:55] abdullahizzuddiin commented on #1409
Hi folks, any update for this issue?

@bruno-garcia @jennmueng

[2021-03-27 23:01] serhiipalash commented on #1263
Hi @jennmueng ! Can you please help me? We have upgraded our `@sentry/react-native` from v2.1.0 to v2.4.0 and now I am trying to apply patch for disabling activity breadcrumbs on native side. I see that new config option `isEnableActivityLifecycleBreadcrumbs` was added on Android.

1. Is it already exposed to React Native?
2. Can I use it?
3. Will it work for iOS or should I keep the iOS patch as

[2021-03-28 19:35] jennmueng commented on #1263
@serhiipalash
1. No it is not
2. Yes you can by supplying it as an option to the `init` call on Android with `setEnableActivityLifecycleBreadcrumbs`.
3. It's not an option on iOS

[2021-03-29 06:54] it-hienvv commented on #1386
The same issue

[2021-03-29 07:46] jennmueng commented on #1428
This looks like an issue with your on-premise setup and unrelated to the `enableNative` property. I will rename your issue and move it over to the on premise repo. Otherwise I suggest you can search for "Sentry CSRF Verification failed" or something along those lines and see if that fixes your issue.

[2021-03-29 11:30] hanselsen commented on #1386
Same here

[2021-03-29 13:56] somebody32 commented on #1077
@jennmueng I'm still having this problem even with the latest version of the SDK. Anything I can do to help pin it down?

[2021-03-29 18:16] jennmueng commented on #1077
@somebody32 Can you provide a reproduction for us where this occurs?

[2021-03-29 18:54] davinctor opened #1435 "Source code was not found. The maximum number of remote source requests was made."
### Environment

How do you use Sentry?
**Sentry SaaS**

Which SDK and version?
`@sentry/react-native: ^2.4.0`

### Steps to Reproduce
1. My `Sentry.init`:

    <img width="492" alt="Screenshot 2021-03-29 at 21 33 11" src="https://user-images.githubusercontent.com/6543359/112883007-5ea1df80-90d6-11eb-97d0-79153fbf859f.png">

2. `react-native bundle  --dev false  --platform android  --entry-file in

[2021-03-29 19:01] somebody32 commented on #1077
@jennmueng happily

here is my test code

[code]

and both are not sent to sentry, nothing in logs either

[2021-03-30 03:58] NhanTranThanh commented on #1386
Same here

[2021-03-30 08:44] lorenzoangelini commented on #1401
@jennmueng any news? we cannot use the last react native's version with this issue

[2021-03-31 14:22] Duduzera1997 commented on #948
`sudo ln -s "$(which node)" /usr/local/bin/node`

This is made my xcode see the node.

[2021-03-31 14:29] ControlAndC opened #1436 "import sentry NOT FOUND"
### Environment
I am using react-native version     "react-native": "^0.59.10" and version of sentry.

Which SDK and version?
Version i am using is  "react-native-sentry": "0.43.2".

I tried linking the library using manual linking and every time it says "MODULE 'sentry' not found.

@import Sentry;

![image](https://user-images.githubusercontent.com/5564601/113160941-8f5f5180-925b-11eb-9907-02a283

[2021-04-02 09:17] jennmueng commented on #1436
@ControlAndC Please update to the latest version as I see you're on the very old `0.43.2` version. And following the [installation guide over on our docs.](https://docs.sentry.io/platforms/react-native/)

[2021-04-02 09:21] jennmueng commented on #1435
Are you using hermes? Have you tried https://github.com/getsentry/sentry-react-native/issues/761#issuecomment-587498344?

[2021-04-02 19:52] mohity777 opened #1437 "sentry-cli was not installed by @sentry/cli install script"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

1. What
2. you
3. did.

### Expected Result

What you thought would happen.

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[2021-04-02 22:56] ejain opened #1438 "Document backend (in)compatibility"
Should document somewhere (`CHANGELOG.md`?) when the minimum supported version of the Sentry backend changes...

[2021-04-03 07:40] somebody32 commented on #1077
@jennmueng can open another issue if you think it would be more useful, but just confirmed that it happens in "release" mode too: the app sometimes shows just a white screen because of unhandled rejection but nothing goes into sentry

[2021-04-03 22:28] davinctor commented on #1435
@jennmueng Thank you for your reply, it is working for me with that solution in the comment. But I still have a lot of issues on the sentry issue page around 300. Right now it's not critical because I still can see the crash origin place but anyway it's weird.

[2021-04-05 16:35] ptdien commented on #948
xcode 12
react-native@0.6.32
sentry/react-native@2.4.0

Took a few hours to debug, finally got it working with the following scripts:

#### Bundle React Native code and images

[code]

#### Upload Debug Symbols to Sentry

[code]

Hope these help guys!

[2021-04-05 16:59] lukebrandonfarrell commented on #1410
I am having same issue, were you able to solve it @nwpnkmngm ?

[2021-04-05 20:17] CesarLanderos opened #1445 "Passing the NavigationContainerRef to registerNavigationContainer raises a TS error"
### Environment

How do you use Sentry?
using Sentry SaaS (sentry.io)

Which SDK and version?
`"@sentry/react-native": "^2.4.0"`
`"typescript": "^4.2.3"`

### Steps to Reproduce

Following the steps for instrumenting react navigation (https://docs.sentry.io/platforms/react-native/performance/included-instrumentation/#enable-routing-instrumentation)

setup:

![image](https://user-images.githubuserc

[2021-04-05 20:28] ghoshabhi commented on #234
@HazAT I have been struggling to find a clear documentation on how to disable source maps all together. Can you pls point me to the correct place in the docs that has instructions to disable/opt out of source maps ?

The error we're seeing is:

[2021-04-06 05:30] jennmueng commented on #1437
Can you try manually adding `@sentry/cli` as a dependency and see if that fixes your issue? `yarn add @sentry/cli`

[2021-04-06 07:57] ghadeeraqraa1992 commented on #1401
any update on this ?

[2021-04-06 12:59] SarvaDev-123 commented on #733
@alexstoyanov  Hi  I am also do for android have any solution for there,
@jennmueng  sentery.properties is required for android project in react-native also?

[2021-04-06 14:42] radko93 opened #1446 "sentry.gradle script not compatible with Gradle > 6.5"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "^2.4.0"

### Steps to Reproduce
1. `sentry.properties` file is not specified or missing config
2. Use Gradle newer than 6.5 in `gradle-wrapper.properties`

### Expected Result

Process is successful.

### Actual Result

1. Sentry crashes with `java.lang.IllegalArgumentException: Illegal

[2021-04-06 22:28] jer-sen commented on #1077
@jennmueng your fix does not work. You expect `Promise._Y` to store the `_onHandle`  but during `promise` module's build a random name is chosen depending on a hash of the source code (cf https://github.com/then/promise/blob/91b7b4cb6ad0cacc1c70560677458fe0aac2fa67/build.js#L16). So you can not access directly to the `_onHandle` of the global `Promise` nor to the `_onHandle` of module `promise`. A

[2021-04-08 12:00] Zakyyy commented on #1386
same here

[2021-04-08 23:17] FaggioniHQ commented on #1226
Any news on this?. We are updating to RN 0.64, and we are getting this issue.

[2021-04-09 07:32] jeremybarbet opened #1447 "Bundle file and sourcemap don't get to be uploaded on Sentry through gradle"
### Environment

How do you use Sentry?
- sentry.io

Which SDK and version?
- react-native 0.63.4
- @sentry/react-native 2.4.0
- sentry-cli 1.63.2
- fastlane-plugin-sentry 1.8.1

### Steps to Reproduce

I set up sentry for react-native following the instructions from the website. In short I have the following:

settings.gradle
[code]

build.gradle
[code]

android/sentry.properties
[code]

I'm usin

[2021-04-09 09:06] marandaneto commented on #1447
@jennmueng transferring from `sentry-cli` by @kamilogorek to `sentry-android-gradle-plugin` and from `sentry-android-gradle-plugin` to `sentry-react-native` :D

[2021-04-09 10:52] leonskim commented on #1350
Hi @darrylyoung, Have you found out what causes the URL pointing to the device path instead of the uploaded artifact? I'm not using Expo but having the same issue.

[2021-04-09 12:52] nicomontanari commented on #1424
Hi, i'm sorry for my absence. Everything works with `--force-foreground`. Thank you

[2021-04-09 17:58] bimusiek commented on #157
For future generations finding this issue, proper naming is:

`sentry-prod-release.properties` for `prod` flavor
`sentry-rc-release.properties` for `rc` flavor
etc.

[2021-04-10 20:58] mohity777 commented on #1437
uninstalling and then reinstalling @sentry/react-native lib resolved my issue.

[2021-04-10 20:58] #1437 closed

[2021-04-11 07:49] darrylyoung commented on #1350
Hi, @leonskim. No, unfortunately not. Have you tried the `--force-foreground` suggestion mentioned above?

[2021-04-12 00:39] victoriaSh commented on #1386
Had the same issue.
Ran `npm i --save-dev @sentry/wizard@1.1.4` as @hanselsen said.
But after that I got:
[code]
And "An organization slug is required" error on building project.

Then I just copied sentry.properties from android to ios directory and everything works fine.

[2021-04-12 08:38] 345ml opened #1448 "Sentry.ReactNativeTracing with Firestore"
This may be more of a question than a feature request.
I apologize.

The app I'm developing relies heavily on Firebase and uses Firestore for the DB.

I am setting up Sentry tracing with the following code.

[code]

This seems to be working well.

<img width="1013" alt="Screen Shot 2021-04-12 at 17 32 21" src="https://user-images.githubusercontent.com/8254811/114365113-fb309c80-9b2e-11eb-948d-27af

[2021-04-12 11:51] N3TC4T commented on #828
it's because `blackList` option is renamed to `blockList`

check this commit

https://github.com/facebook/metro/commit/b25fe89261732bd0befe965e4cf0bd38ff55b2b6

[2021-04-12 12:59] hanselsen commented on #1386
Indeed as @victoriaSh said, I too am stuck on this new TypeError.
As both version 1.2.3 and 1.1.4 are crashing, we should use 1.2.3 and try to fix the "No platform selected" issue.
Is there anyone from Sentry that can confirm that this is under investigation?

[2021-04-12 14:44] hanselsen commented on #1386
I decided not to be lazy and used [the manual configuration](https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/). It is now working for me. Hopefully other people will get to enjoy the wizard.

[2021-04-12 15:20] FaggioniHQ commented on #1401
Any update?... Or at least a workaround?... Thanks in advanced

[2021-04-12 22:38] leonskim commented on #1350
@darrylyoung Still the same. Didn't work with `--force-foreground` option unfortunately.

[2021-04-12 23:15] leonskim commented on #1447
@jeremybarbet I'm wondering if you enabled `org.gradle.configureondemand` in `gradle.properties`. It should be `false` or commented out.

[2021-04-13 08:33] aliwaqar981 commented on #708
Hi @darekg11, I'm still facing this issue. I tried running react-native link but sentry.properties not created. Can you please help?

[2021-04-13 08:41] marandaneto opened #1451 "Clear Android thread list if not an Android/Native event"
Similar to https://github.com/getsentry/sentry-dart/blob/main/flutter/android/src/main/kotlin/io/sentry/flutter/SentryFlutterPlugin.kt#L207-L216

If there's a captured message from the JS layer, the Android SDK sets the current thread if there's not an exception, but because of the file transport, the thread is always the file observer and this is just noisy/not useful.

[2021-04-13 10:48] stevefai commented on #1077
The fix is unfortunately not working for me either. I feel like this should get a lot more attention if it's indeed a general problem and I'm not misconfiguring something.

@jennmueng I assume you have tested the fix and it's working on your side, could you maybe provide your setup information?

[2021-04-13 17:38] zoontek commented on #1390
@jennmueng I don't think this is the same issue. This one happen because a `-` is prepend here: `SentryUpload_-1898184413` (`Found argument '-1'`)

In my case, it fails with:

[2021-04-13 17:48] zoontek commented on #1390
I got it, this is related to this change in RN 0.64:

[code]

[2021-04-14 09:45] jennmueng commented on #1390
@zoontek Hmm, as we just wrap the original build task: https://github.com/getsentry/sentry-react-native/blob/5fbd5ba6265431b3fc9a6d859aa36e6f1c1c406e/sentry.gradle#L69

 and take the original version code as is, then that means the original version code override is invalid in the first place right? I'm not too familiar with gradle myself.

[2021-04-14 09:50] jennmueng commented on #1447
@jeremybarbet I'm assuming you are certain that `SENTRY_ORG` is defined and `project.env.get("SENTRY_ORG") != ""` is returning as true and the gradle script is getting applied right?

[2021-04-14 15:38] jeremybarbet commented on #1447
@kamilogorek @marandaneto Thanks for the wild ride through Sentry repositories, it was fun!

@leonskim That was it! Do you remember why I did add this option? :D Probably some copy/paste from StackOverflow to change JVM configurations

[2021-04-14 15:38] #1447 closed

[2021-04-14 16:09] marandaneto commented on #1447
@jeremybarbet its in our docs btw :) https://docs.sentry.io/platforms/react-native/#android-specifics

[2021-04-14 18:43] jennmueng opened #1452 "Support setting `maxCacheItems` on Android"
Supported on iOS as it just takes the JSON object

[2021-04-15 04:19] jennmueng commented on #708
@aliwaqar981 Did you run the sentry wizard and pod install step?
https://docs.sentry.io/platforms/react-native/#linking

[2021-04-15 04:21] jennmueng commented on #1401
This error looks unrelated to the issue at hand, which is regarding the Sentry CLI, this seems to be related to the task names? https://github.com/getsentry/sentry-react-native/issues/1390#issuecomment-818926761

[2021-04-15 04:22] jennmueng commented on #1401
For the issue at hand, can everyone try installing sentry cli as a direct dependency?

[code]

And let me know if this solves the issue?

[2021-04-15 04:26] jennmueng commented on #1448
@345ml This would not work as the Firebase SDK performs all of its api calls on the native layer, and not the JS layer. I had this issue too when working on my React Native app that uses Firebase, so I made this blogpost that would give you an idea of how to implement performance tracing for Firestore: https://blog.sentry.io/2021/03/11/performance-monitoring-support-for-react-native

Let's close t

[2021-04-15 04:26] #1448 closed

[2021-04-15 04:58] 345ml commented on #1448
Thanks, @jennmueng !!!

[2021-04-15 05:39] JustinRohweller commented on #1401
I get the same error even after installing @sentry/cli

[2021-04-15 05:45] JustinRohweller commented on #1401
`error: sentry-cli was not installed by @sentry/cli install script

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':app:bundleReleaseJsAndAssets_SentryUpload_4'.

[2021-04-15 05:53] aliwaqar981 commented on #708
@jennmueng Yes I've done that and realized that sentry.properties is already created in android and ios folder but somehow crashes are not getting reported in release build.

[2021-04-15 07:51] marandaneto commented on #1452
on Android we have 2 config though.
`cacheDirSize` defaults to 30 and `maxQueueSize` defaults to 30 too

[2021-04-15 08:12] jeremybarbet commented on #1447
@marandaneto I went over this page a couple of times but didn't pay attention to this, unfortunately. Maybe a warning hint kind-of-style would be more visible. Thanks all for the help :)

[2021-04-15 18:24] jennmueng commented on #1452
@marandaneto Oh yes I was referring to `cacheDirSize`, mistakingly assumed they had the same keys on Cocoa and Android.

I see that Flutter uses `cacheDirSize` but it's only for Android?

Should we unite them into just a single key on the JS side, have it be passed to iOS as `maxCacheItems` and have it set `cacheDirSize` on Android?

[2021-04-15 21:20] ehynds commented on #1226
Also seeing this issue on RN 0.64

[2021-04-16 08:12] somebody32 commented on #1077
It looks like I've managed to make it work by forcing the particular version of `promise` in my package.json:

[code]

[2021-04-16 09:07] marandaneto commented on #1452
keep using the old one, we've to rename it on Android, see https://github.com/getsentry/sentry-java/issues/1162

[2021-04-16 09:18] 345ml opened #1454 "Crash app, TypeError: null is not an object (evaluating 'state.routes'), ReactNavigationV4Instrumentation"
Thanks, committers!

### Environment
[code]

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
`"@sentry/react-native": "^2.4.0",`

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0
`"@sentry/react-native": "^2.4.0",`

### Steps to Reproduce
I am using it with `react-navigation` version4.

I noticed that when I run the `navigate` function, the app cr

[2021-04-16 09:58] geniuscva opened #1455 "environment option not working"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

### Steps to Reproduce

1.  Config App.js with environment option

`Sentry.init({
  environment: 'staging',
  dsn: 'https://xxx,
});`

2. Build android release

### Expected Result

staging option in Releases build

### Actual Result

no staging option in Releases, only production

![image](https://user-images.githubusercontent.com/4

[2021-04-16 22:34] JustinRohweller commented on #1401
Hey guys, for anyone still trying to solve it, having @sentry/cli may or may not have helped but I had that and I deleted android/build folder and android/app/build folder as per this comment: https://github.com/getsentry/sentry-react-native/issues/671#issuecomment-536959427

[2021-04-16 22:43] FaggioniHQ commented on #1401
I got the issue when trying to upgrade react-native to the latest version. I solved the issue by changing accordingly the variant code generation part.

`applicationVariants.all { variant ->
        variant.outputs.each { output ->
            // For each separate APK per architecture, set a unique version code as described here:
            // https://developer.android.com/studio/build/configure-

[2021-04-17 07:33] jennmueng commented on #1455
@geniuscva Did you send an event from the SDK under the new environment? If yes, is the environment tag set on the event correct?
<img width="247" alt="Screen Shot 2021-04-17 at 2 32 59 PM" src="https://user-images.githubusercontent.com/30991498/115105537-d18dd000-9f89-11eb-83c3-9f738badd63e.png">

[2021-04-17 07:34] jennmueng commented on #1077
@somebody32 That sounds like the most viable workaround I have so far until Facebook fixes this.

[2021-04-17 08:22] jennmueng commented on #1436
Closing this as it is an old version and as there has not been a reply.

[2021-04-17 08:22] #1436 closed

[2021-04-17 08:52] jer-sen commented on #1077
@jennmueng you should really remove your dependency on `promise` and replace it with a peerDependency so that you will use the already available version. Or you can downgrade dependency to a more compatible one such as `8.x` to match `react-native` dependency `^8.0.3`

[2021-04-17 08:55] jennmueng commented on #1077
@jer-sen We do not have a dependency on `promise`. The source of this issue is that we are using the already available version which is the incorrect one provided by `fbjs`.

[2021-04-17 10:40] androidlsl commented on #1447
i have same problem  on this issue ?is this cloed?

[2021-04-17 19:38] jer-sen commented on #1077
@jennmueng you are right :(

Then maybe you can improve your fix with some reverse engineering to find the right properties names:

[code]

Not perfect but it will work for small code change of `promise` module.

[2021-04-17 22:23] #1445 closed

[2021-04-18 13:12] geniuscva commented on #1455
I tried to send an error event and now it's works. My 'staging' tag shown.
Is there any way to tag a release on the first build without sending an event

[2021-04-19 07:28] jennmueng commented on #1455
@geniuscva By "tag a release" I'm not quite sure what you mean, can you please clarify? Nevertheless, environments can only get created when an event comes in with the new environment set: https://docs.sentry.io/product/sentry-basics/environments/.

Closing this as the original issue is solved.

[2021-04-19 07:28] #1455 closed

[2021-04-19 08:00] jennmueng commented on #1077
I will consider your solution @jer-sen. What's really interesting if we have an unhandled promise rejection test in our end-to-end tests on CI, and they've been passing no problem on the latest React Native versions 0.63.x-0.64.x. In theory if the versions are the same, `promise` version `7.1.1` should the minified names be the same?

Maybe the best solution is for people to bump this PR that has

[2021-04-19 08:22] jennmueng commented on #1454
Can you pass `--debug` to `Sentry.init` and paste the logs?

[2021-04-19 09:11] jer-sen commented on #1077
Maybe something wrong with your tests...
But I'm quite sure that your fix can not work.

[code]

And by the way, I don't think you can take `_onHandle` and `_onReject` from a version and apply them to another version because the `_onReject` generated by the rejection tracking uses property `_deferredState` of the `Promise` object which is minified (`_V` for current RN version but will be different

[2021-04-19 14:16] ospfranco commented on #1294
I checked the feedback given by @jennmueng, Sentry is in the pods and the logs do show the SDK intializes, but native crashes are not captured and sent to sentry SaaS.

Any other idea what could be happening?

[2021-04-19 14:54] ospfranco commented on #1294
I just tested a crash with the app built on release mode and there I actually got a native crash working... so I guess that is the missing part of the puzzle... it's just reaaaaally confusing though, should definitely be mentioned on the documentation

[2021-04-19 15:44] bruno-garcia commented on #1407
Removed from the docs for now since this is still a backlog item. Once we get this moving we can plan the docs work.

[2021-04-19 15:46] bruscantini commented on #1386
I also get this even though it ssaid "Successfully set up Sentry for your project":
[code]
I can't even "pod install" now. Throws this:

[code]

### Error

[code]

[2021-04-19 20:12] valeriashpiner opened #1456 "Sentry trace header not propagated to requests made from the native layer."
### Environment

How do you use Sentry?
**Sentry SaaS (sentry.io)**

Which SDK and version?
**"@sentry/react-native": "^2.4.0",**

### Steps to Reproduce
0. I tried to set up `Performance monitoring` through `Included Instrumentation`.

1. I set up Sentry.
<img width="250" alt="Screen Shot 2021-04-19 at 4 03 28 PM" src="https://user-images.githubusercontent.com/18754922/115296360-dd63c880-a128-11e

[2021-04-19 20:27] the-kenneth commented on #578
When running on CI i get this:

[code]

[2021-04-20 02:57] 345ml commented on #1454
@jennmueng
Thanks!
I think this is it....

[code]

[2021-04-20 02:58] 345ml commented on #1454
In other words, this may be happening when you try to navigate to the same screen as the current one.

This problem is reproduced, for example, when I quickly tap the button twice to navigate to a particular screen.

[2021-04-20 14:43] dsandmark commented on #1405
Hade the same problem when upgrading from React Native 0.63.3 to 0.64.0.

The same solution worked for me, changing from using (as per https://react-native-community.github.io/upgrade-helper/?from=0.63.4&to=0.64.0):

to

[2021-04-20 22:05] sinn1 commented on #141
This is still a problem. Another fix is here: https://stackoverflow.com/a/50419734/8676545

Create symlink:

```ln -s $(which node) /usr/local/bin/node```

[2021-04-21 17:40] siddhisuthar opened #1458 "Sentry.setTag() doesn't report tags for events all the time"
I tried:
[code]
after I get the userID
`Sentry.setTag("loggedInUser", userID)`

I see loggedInUser reported only for a few events, not all. Same is the case when I try to overwrite the automatically set user:
`Sentry.setUser({ id: userID });`

What am I doing wrong?

[2021-04-22 21:54] cruzach opened #1461 "Native SDK still trying to initialize after passing `enableNative: false`"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "^2.4.1"

### Steps to Reproduce

1. init new react-native project
2. call
[code]

(there's a lot of native options so i just disabled them all)

### Expected Result

no error

### Actual Result

`SentryError: Native Client is not available, can't start on native.`

[2021-04-23 11:27] jennmueng commented on #1461
If you pass `autoInitializeNativeSdk: false` it currently assumes that you will initialize a native SDK on your own and it won't disable the native bridge calls: https://github.com/getsentry/sentry-react-native/blob/c179178485ca7ea2ffce184a2bc6cba334f97c85/src/js/wrapper.ts#L88-L92

Hmm but regardless I think it should prioritize `enableNative: false`. Will fix this.

[2021-04-23 12:18] jensneuber opened #1463 ""sentry-<flavor>.properties" for all flavors have to present if only one flavor is set to be build"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
the one from @sentry/react-native@2.4.1

### Steps to Reproduce

1. Setup a react native project with multiple android flavors (flavor1 & flavor2)
2. Build the android app `/gradlew assembleFlavor2Release` with `sentry-flavor2.properties` in the `android` folder, but not the `sentry-flavor1.properties`

### Exp

[2021-04-23 12:34] jennmueng commented on #1458
That is not the correct way to set the user, `Sentry.setUser("id", userID);`. Please use the correct methods as stated on the docs: https://docs.sentry.io/platforms/react-native/enriching-events/identify-user/

Please try using the correct methods and also provide the version of the SDK you are using.

[2021-04-23 12:35] jennmueng commented on #1454
I will try to reproduce this

[2021-04-23 15:51] siddhisuthar commented on #1458
I'm on @sentry/react-native@2.3.0
Sorry, that was a typo in my question. I've updated it.
But I've tried both:
[code]
 I noticed that only some of the crash events come with a loggedInUser tag or a User (with ID).

[2021-04-24 18:49] pynner commented on #141
For me, I renamed my Sentry project and ran into this error... after wasting my life on hunting node issues all it took was setting the `defaults.project` in `sentry.properties` to the new project name for it to work!

[2021-04-25 13:14] rogerkerse commented on #948
Very good and clean solution. Worked

[2021-04-25 13:53] ted-nz commented on #1409
I am also observing this issue of breadcrumbs appearing twice, latest sdk, RN 0.64.

The appearance of breadcrumbs with data in the sentry web UI are also inconsistent at times.

i.e. one of my breadcrumb have data that could look like `{ lastScreen: null }`, sometimes, **lastScreen** would be omitted in the sentry UI, other times it would literally render **lastScreen**: null. In the case of thes

[2021-04-26 09:02] ospfranco opened #1464 "Reducing library size (specially on Android)"
Hey! I've convinced my team/company to use Sentry to track our errors. However there is one small problem, we are very conservative when it comes to increasing the size of our app (specially on Android), after adding Sentry our .apk size increased from 43.90mb to 45.40mb. This makes it a hard pill to swallow for us, so I have a couple of questions.

- Is there any possible way to reduce the bundle

[2021-04-26 09:29] ospfranco commented on #1464
Just a quick update, after checking the documentation on the android sentry library, a suggestion is to change from the sentry-android dependency to sentry-android-core which drops support for the NDK (means collecting C/C++ stack traces is no longer possible), this seems like it reduces the final apk size (waiting for the final build from my CI to confirm this).

I used patch-package to change th

[2021-04-26 11:24] jennmueng commented on #1464
@ospfranco  Yes you should be able to disable the NDK just fine by using the `sentry-android-core` package. We have also discussed monitoring the package size and considering ways to reduce it, cc @bruno-garcia will have better insight on this.

[2021-04-26 11:27] #1461 closed

[2021-04-26 13:10] cruzach commented on #1461
@jennmueng , sorry but I think there's still a bug here-
[code]

Results in a redbox error : `SentryError: Native Client is not available, can't start on native.`

[2021-04-26 13:14] jennmueng commented on #1461
@cruzach Hmmm that should work with no issue..let me try to reproduce and will get back to you in a minute.

[2021-04-26 13:36] jennmueng commented on #1461
@cruzach I just tried it with the latest version on the master branch and disabling the native SDK via
[code]
works fine. Are you sure you have the latest build? Note that we haven't made the release (2.4.2) for this yet as we have an issue with CI.

[2021-04-26 13:47] cruzach commented on #1461
Installing the `master` branch still results in the `Native Client is not available, can't start on native.` error for me (testing on iOS)

[2021-04-26 14:20] jennmueng commented on #1461
@cruzach The error occurs for you right on init right? Or does it occur afterwards (sending an event, setting a scope property etc)?

I'm testing on iOS simulator from the `master` as well, tried resetting the React Native packager cache with `--reset-cache`, rebuilt the SDK, set `RNSentry` to `undefined` to simulate the Native Client not existing, and I could not reproduce that error. Also tried

[2021-04-26 14:27] cruzach commented on #1461
Oh I figured it out- after it wasn't working before with `autoInitializeNativeSdk`, I was just trying again **without the DSN key in init**. It looks like, for whatever reason, that causes the problem.

i.e. this works:
[code]

this fails with `Native Client is not available, can't start on native.`
[code]

Sorry about the goose chase!

[2021-04-27 02:42] bruno-garcia commented on #1464
Going with `sentry-android-core` only is a good options. It's pure Java 1.8 so no Kotlin std overhead or native code.

Right now that's what we can offer to trim down an Android app. We want to explore more things in the future though.

[2021-04-27 03:02] bruno-garcia commented on #1409
@jennmueng could this be related to scope sync? Where the JS layer has a crumb in the event, then we pass the envelope to Android which merges it? @marandaneto might now more

[2021-04-27 07:44] marandaneto commented on #1409
could be, breadcrumbs are merged so it's likely this

[2021-04-27 08:13] jennmueng commented on #1409
@bruno-garcia @marandaneto I agree with this hypothesis but for some reason I cannot reproduce it. In theory you would assume all events sent from the React Native layer, with scope sync enabled, through the Android layer would merge the breadcrumbs and cause duplicates...but this is not what happens when I send test events with the sample app.

[2021-04-27 10:50] ted-nz commented on #1409
In terms of reproducing, not sure if this helps, but I'm in middle of active development, so would have been going through many builds & releases, bumping the build version/number each time.
Each build would create new release in sentry, I'd install over the top of the previous build number on the same device, re-test, rinse, repeat.

[2021-04-27 11:17] abdelhedydev commented on #395
This solution was solved my problem
https://github.com/joltup/rn-fetch-blob/issues/461#issuecomment-553355501

[2021-04-29 07:59] #1329 closed

[2021-05-03 09:02] Krisztiaan opened #1477 "react-navigation non-serializable state recursive call to `dropUndefinedKeys`"
### Environment

`sentry.io`
`"@sentry/react-native": "^2.4.0"`
`react-navigation`

### Steps to Reproduce

1. Pass a circular object as a `param` to a navigation call

### Expected Result

Navigation successful, something's logged in Sentry

### Actual Result

RangeError, call stack size exceeded in `dropUndefinedKeys`

[2021-05-03 13:21] osamaarefm opened #1488 "Android source maps not being uploaded with gradle"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-expo: 3.1.0
@sentry/react-native: 2.4.2

### Steps to Reproduce
Setup: expo bare workflow, build using EAS which uses gradle command.

1. Use sentry wizard to config iOS & Android projects
2. Build Android project (using gradle command **assembleRelease**)
3. Checking Gradle logs. They do not mention any

[2021-05-03 15:29] bruno-garcia opened #1489 "Add option for Android device ID generation"
See https://github.com/getsentry/sentry-java/pull/1455#issuecomment-831257971

[2021-05-03 15:40] marandaneto commented on #1489
let's align how we do it, flag's name etc with other SDKs as https://github.com/getsentry/sentry-dart/issues/449

[2021-05-03 15:56] fragilehm opened #1490 "captureMessage, captureException not working on Android"
### Environment

On Android, only the native crashes are appearing in the sentry dashboard.
`captureMessage`, `captureException` are not being registered,

How do you use Sentry?

```"react-native": "0.63.4"```

Which SDK and version?
```"@sentry/react-native": "^2.4.1"```

### Steps to Reproduce

Capture the exception on Android -> `Sentry.captureException(error, {})`

### Expected Result

Appear

[2021-05-03 16:28] jennmueng commented on #1490
@fragilehm Can you pass `debug: true` to your Sentry.init call while on Android and paste the logs?

[2021-05-04 06:12] fragilehm commented on #1490
@jennmueng  These logs appear after initialization,  but nothing after sending the error message.

[code]

[2021-05-04 08:14] jennmueng commented on #1490
@fragilehm If it works on iOS and not on Android, I'm surprised no error messages show up. This means the native bridge should be initialized correctly especially if native crashes are captured. Can you check the logcat logs: `adb logcat -s Sentry` and `adb logcat -s react-native-sentry` and see if anything is logged when trying to send an event? I would try clearing the Android build cache: `./gr

[2021-05-04 09:26] fdalmard commented on #1456
Same issue here 😐

[2021-05-04 10:46] jrunkel commented on #1456
Here too.

[2021-05-04 11:54] fragilehm commented on #1490
@jennmueng don't see anything logged after sending the error, but this might be helpful
![image](https://user-images.githubusercontent.com/20160573/116999648-32364000-ace0-11eb-998a-59a489b51e0a.png)

[2021-05-04 12:15] marandaneto commented on #1291
cc @denrase

[2021-05-04 15:17] LouisJS opened #1491 "TypeError: Sentry.ReactNavigationV5Instrumentation is not a constructor"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?

"@sentry/react-native": "^2.4.2",
"@sentry/types": "^6.1.0",

### Steps to Reproduce

Here is my implementation of the Sentry Performance Tool in React Native.

[code]

Then it is used in my NavigationContainer

[code]

### Actual Result

yarn run lint ends up with an error caused by `Sentry.ReactNavigationV5I

[2021-05-04 23:11] astout opened #1492 "403 Forbidden @ dl.bintray.com"
### Environment

How do you use Sentry?

- Sentry SaaS (sentry.io)

Which SDK and version?

`@sentry/react-native 1.3.3` (upgraded to `1.9.0` while troubleshooting)

### Steps to Reproduce

1. CI (Bitrise) builds of React Native app worked up until today
  * Even re-running old builds that were successful previously are now failing

### Expected Result

Android App is able to build with RNSentry

[2021-05-05 05:56] pentolbakso commented on #1139
On IOS, also need to check on the Build Phases> "Bundle React Native code and images" script.
Rollback to before adding sentry.
On my case, IOS build  (production) will crash because it can not find the react native bundle file.

[2021-05-05 13:42] valeriashpiner commented on #1454
It's happening for us also.
For us steps to reproduce:
Click `twice` on header icon to navigate to another screen, for example.

[2021-05-05 13:51] valeriashpiner commented on #1488
@osamaarefm in your `gradle.properties` did you set `org.gradle.configureondemand=false`?

[2021-05-05 13:57] osamaarefm commented on #1488
@valeriashpiner Yeah I've already done that, it didnt make a difference.

[2021-05-05 13:59] osamaarefm commented on #1488
Here are the gradle logs, just in case:
[code]
For some reason, the task `bundleReleaseJsAndAssets_SentryUpload` is not running after `bundleReleaseJsAndAssets`, that's what I don't get.

[2021-05-05 16:10] fragilehm commented on #1490
@jennmueng any updates ?

[2021-05-05 16:15] jennmueng commented on #1490
@fragilehm  Can you get the event by passing `beforeSend: (event) => {console.log(event)}` to `Sentry.init` and get me the event? Maybe there's a bad field getting attached to the event. I assume a reinstall does not fix the issue?

[2021-05-05 17:41] latobibor opened #1493 "[Question] How to set up sourcemaps and accurate version with Codepush without deprecated setDist and setRelease functions?"
This is basically a bug report on the insufficiency of the  [Manual Codepush setup](https://docs.sentry.io/platforms/react-native/manual-setup/codepush/) setup doc.

I tried to fill in the gaps from this comment: https://github.com/getsentry/sentry-react-native/issues/79#issuecomment-573288459

The solution proposed in the comment uses `Sentry.setRelease` function which is deprecated (along with `

[2021-05-05 17:47] astout commented on #1492
It looks like it may have been some kind of outage, I don't fully understand how the maven resource fetching works, I'm still unable to manually fetch the resource mentioned above, but my CI (Bitrise) seems to be able to create the Android bundle now. My iOS build is currently not working, but this particular issue seems to have remedied itself for now.

[2021-05-05 17:47] #1492 closed

[2021-05-05 20:38] fragilehm commented on #1490
@jennmueng

![image](https://user-images.githubusercontent.com/20160573/117206026-a19c5480-adf2-11eb-94a5-4cf0a981e0a0.png)

[2021-05-06 06:42] jennmueng commented on #1490
@fragilehm `tags.deviceInfo` is an object, did you set that tag? Tags can only be strings.

[2021-05-06 07:09] jennmueng commented on #1493
Yes, the issue surrounding this is as long as `getUpdateMetadata` is async, it wouldn't be a good idea to hold off the `Sentry.init` call otherwise you could miss out on potential early crashes. Most of the solutions have disadvantages, and in the most ideal world we should be able to just use `getUpdateMetadata` like CodePush suggests, but as long as it's async it won't work.

To answer your ques

[2021-05-06 09:28] osamaarefm commented on #1488
Actually @valeriashpiner you were right. I'm using EAS build service, and I found out that it uses its own `gradle.properties`, and it has `configureondemand` as true. I need to check with EAS team instead. Apologies for that.

Thanks for your help!

[2021-05-06 09:28] #1488 closed

[2021-05-06 20:49] valeriashpiner opened #1496 "Scrubbing Data on different enviroments"
We currently have few environments and it would be nice if Senty allows to do server-side data scrubbing depending on environment.
For example one environment could scrub data without sensitivity filters, but another one can use filters or scrub all data.
Thank you!

[2021-05-07 06:55] latobibor commented on #1493
@jennmueng , we have checked the `package.json` solution and it really is getting updated, so we have known an old issue, thanks for that.

We are currently ironing out this solution, that `package.json` is the source of truth and we ignore the Codepush `versionLabel` entirely. I am on sick leave though, so probably I will update this issue on Monday, Tuesday most likely. Thanks for your patience.

[2021-05-07 12:33] fragilehm commented on #1490
@jennmueng not sure if that is related, here you can see the native crash (probably the object is auto stringified)

![image](https://user-images.githubusercontent.com/20160573/117450072-0c5ba600-af41-11eb-81bf-d459cbf626cd.png)

[2021-05-07 12:40] jennmueng commented on #1490
@fragilehm The object is auto-stringified when passed to the native layer for native crashes, but it is not when JS events are passed down. Please remove the object. We will most likely add a warning or error instead of auto-stringifying it as that code should only auto-stringify primitives.

[2021-05-08 08:55] ShivamJoker commented on #1401
@jennmueng even after installing cli directly still it's not working.
Can anyone tell me any temporary fix for this ?

[2021-05-08 09:12] ShivamJoker commented on #1401
Getting project not found
[code]

[2021-05-08 09:32] ShivamJoker commented on #1401
Okay so the issue was with `-` in my project name I removed it and linked again now it seems to work

[2021-05-08 19:47] retyui opened #1499 "[SouceMaps] No ability to specify custom release value for sentry.gradle script & xcode build phase"
### Problem

I init Sentry with the next params in our app :

[code]

But when I bundle release a task `bundleReleaseJsAndAssets_SentryUpload` invoke next  command:

[code]

I check the source code of `sentry.gradle` + `react_native_xcode.rs` and find that `releaseName` value hardcoded and no way to change it :

https://github.com/getsentry/sentry-react-native/blob/2612b4dafc08c034a12dd6bc38f7148a

[2021-05-08 19:47] retyui commented on #1499
https://github.com/getsentry/sentry-cli/blob/d63a0b2ce9c033f5bc1c35bc1405d7719e29e969/src/commands/react_native_xcode.rs#L277-L289

[2021-05-10 05:46] KinanKazmi commented on #1386
Same issue here.

[2021-05-10 06:03] hanselsen commented on #1386
I can confirm that the PR 105 fixes the issue. Thanks!

[2021-05-10 06:11] KinanKazmi commented on #1386
@hanselsen how can i get the version with that PR merged ?

[2021-05-10 06:31] KinanKazmi commented on #1386
It says last update was 6 days ago. I just tried it last hour.

On Mon, May 10, 2021, 11:16 AM Jenn Mueng ***@***.***> wrote:

[2021-05-10 06:33] jennmueng commented on #1386
@KinanKazmi Did you actually update? This issue does not exist anymore.

[2021-05-10 06:33] #1386 closed

[2021-05-10 06:36] KinanKazmi commented on #1386
@jennmueng i just installed it an hour ago and got that error.

[2021-05-10 06:38] jennmueng commented on #1386
If it still occurs please provide a reproduction

[2021-05-10 06:41] KinanKazmi commented on #1386
<img width="1141" alt="Screenshot 2021-05-10 at 11 40 01 AM" src="https://user-images.githubusercontent.com/20215123/117616426-8f207300-b184-11eb-863c-185f8854e415.png">

[2021-05-10 06:44] KinanKazmi commented on #1386
@hanselsen some of my packages dont exist on yarn so that doesn't work at all.

[2021-05-10 07:31] KinanKazmi commented on #1386
@jennmueng can you confirm if i need to provide more info for this ?

[2021-05-10 07:46] hanselsen commented on #1386
@KinanKazmi
`npm remove --save @sentry/wizard`
`npm install --save @sentry/wizard@1.2.7`

[2021-05-10 08:03] jennmueng commented on #1386
@KinanKazmi if it says that it patched the files successfully, you should be good. I will check why the error still throws if I can reproduce your issue.

[2021-05-10 08:15] KinanKazmi commented on #1386
@jennmueng it actually broke my xcode project. The xCode cant even open the project. Luckily i had Git backup so i restored it. Then pod install caused more issues. Updated cocapods and still no difference.
Note: I'm using the latest Mac OS and Xcode.

[2021-05-10 08:43] jennmueng commented on #1386
@KinanKazmi Can you provide a reproduction repo? Looks like some edge case as it’s solved for others.

[2021-05-10 18:08] latobibor commented on #1493
@jennmueng
I have pulled latest master and created a test release using `Codepush`. The version number is `4.0.2`. The issue appearing in `Sentry` however shows it as `4.0.0 (1)`.

To make sure there is nothing cashed I have thrown a brand new error right after `Sentry.init` using the _exact same_ release string I pass onto `Sentry.init`:

[code]

**Link to the issue**:
https://sentry.io/organizat

[2021-05-10 20:35] Chinocy commented on #1345
@kesha-antonov the same happens to me, works with setTimeout

[2021-05-11 13:00] pvegh opened #1512 "Android: increase compileSdkVersion to 30"
We want to move to java 11  in our project updating these lines:
sourceCompatibility JavaVersion.VERSION_1_8

We have a build error because some libs like sentry-react-native are still compiling with < 30 like:
compileSdkVersion safeExtGet('compileSdkVersion', 28)

Error:
In order to compile Java 9+ source, please set compileSdkVersion to 30 or above

So please compile with 30 so that we can do ou

[2021-05-12 13:21] #1489 closed

[2021-05-12 13:38] pvegh opened #1515 "Android: Upgrade buildToolsVersion to 30.0.2"
Currently an old version is used:
buildToolsVersion safeExtGet('buildToolsVersion', '28.0.3')

Which causes a warning, spamming the build output:
The specified Android SDK Build Tools version (28.0.3) is ignored, as it is below the minimum supported version (30.0.2) for Android Gradle Plugin 4.2.0.
Android SDK Build Tools 30.0.2 will be used.
To suppress this warning, remove "buildToolsVersion '28

[2021-05-12 14:55] svenlombaert commented on #1458
I am encountering the same problem on @sentry/react-native 2.4.2

The tags are always set on iOS, but never for events on Android. I set them like below:

[code]

Also tried setting them inside `Sentry.configureScope()`, but that didn't resolve the problem.

[2021-05-13 13:35] hermanho commented on #1493
The version can be modified in beforeSend:
[code]

[2021-05-13 15:01] jennmueng commented on #1493
@hermanho Do not do that. The release health sessions and the native layer errors will not be versioned correctly.

[2021-05-13 15:17] jennmueng commented on #1493
I will have to look into this further, I haven't seen this issue with the package version not being updated before.

[2021-05-13 15:18] latobibor commented on #1493
@jennmueng
After some testing and considerations this is our current solution:
[code]

[2021-05-13 15:21] jennmueng commented on #1493
@latobibor Oh yes you will have to set the `dist` to for custom releases to work as well. I did not mention that because I assumed it was being set already. Hmm do you have any suggestions for how we can make the docs more clear?

[2021-05-13 15:45] latobibor commented on #1493
@jennmueng
Yes, after all this I would recommend the following:

### Docs that I would change

### My version would be
Releases are tracked by matching both the `release` label and the `dist` label. These two must be set together. Here you can have several strategies:

#### 1. Use `version` from `package.json`
In this case we ignore the version label from CodePush and solely use the `version` prop

[2021-05-13 20:49] jyprksh001 commented on #1226
Did you solve it ??

[2021-05-14 02:53] KingAmo commented on #1401
any help please?

[2021-05-14 07:39] vovkasm opened #1516 "autoInitializeNativeSdk is broken on Android"
### Environment

How do you use Sentry?

Sentry SaaS (sentry.io)

Which SDK and version?

@sentry/react-native@2.4.2

### Steps to Reproduce

We initialize Android sentry SDK in MainApplication to properly catch early native errors, because of this we set `autoInitializeNativeSdk` to `false` on JS side.

### Expected Result

Events properly sent to sentry server.

### Actual Result

No event sent

[2021-05-14 11:34] listenzz commented on #1409
Found the same problem on Android Platform.

The next line fix it.

[code]

Maybe the reason is:

[code]

The sortedBreadcrumbs come from:

[code]

And the breadcrumbs come from:

[code]

[2021-05-16 11:59] osamaarefm commented on #1456
Same here.

[2021-05-17 03:46] KinanKazmi commented on #1386
@jennmueng sorry i forgot to respond here, yes that worked. Thanks a bunch!

[2021-05-17 05:37] ghadeeraqraa1992 commented on #1401
any update on this ?

[2021-05-17 07:01] KingAmo commented on #1401
run

npx @sentry/wizard -i reactNative -p ios android

solved my problem

[2021-05-17 07:03] ghadeeraqraa1992 commented on #1401
could you please explain more
where you run it ?
should I add it to yml file ?

[2021-05-17 07:04] KingAmo commented on #1401
run it in your terminal

[2021-05-17 08:39] jennmueng commented on #1493
@latobibor Thank you so much for the suggestion! I will take exactly this and work it into our docs.

[2021-05-17 08:55] latobibor commented on #1493
Thank you for the amazing support @jennmueng ! We appreciated it!

[2021-05-17 08:55] #1493 closed

[2021-05-17 09:17] TuurDutoit commented on #1346
I'm seeing the same problem on `react-native@0.63.4` and `@sentry/react-native@2.2.1`

[2021-05-17 12:02] ghadeeraqraa1992 commented on #1401
it is working with me after adding
  - npm install  @sentry/cli #Install sentry CLI
inside .yml file

[2021-05-17 12:12] #1516 closed

[2021-05-17 14:59] freemile2ru commented on #951
I still have this issue I have tried everything I can find on the internet but no luck

[2021-05-17 15:43] jennmueng commented on #1516
Fixed in release [2.4.3](https://github.com/getsentry/sentry-react-native/releases/tag/2.4.3) by using the latest outbox path from the sdk instead of a cached options instance.

[2021-05-17 21:29] siddhisuthar commented on #1458
I'm seeing this issue even for iOS platform. In most cases, the tag/user is set to device's ip instead of userID

[2021-05-18 09:26] marandaneto commented on #1291
@jennmueng fix is merged, it'll be published in the next beta version of the Android SDK
we're still not offering the `prepareEvent` method because it'd require a big change so for now we enrich the transactions in the same way as events, it was an easy fix and it'd bring more value right away, so no changes on the RN SDK other than bumping the Android SDK

[2021-05-18 11:09] marandaneto commented on #1291
https://github.com/getsentry/sentry-java/releases/tag/5.0.0-beta.4
cc @denrase

[2021-05-18 12:08] mljlynch opened #1530 "App Crashing with SIGABRT: Unhandled JS Exception: TypeError: undefined is not an object (evaluating 'n.default.init') Open Open"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io

Which SDK and version?
@sentry/react-native: 2.3.0

### Steps to Reproduce

- Add an environment variable to configure when to init sentry
- App builds locally and runs on simulator
- App crashes when deployed via app center with the following issues:

[code]

[2021-05-18 16:48] jennmueng commented on #1530
@mljlynch You are initializing the SDK wrong it looks like. You are using a default import, but you need to use `import * as Sentry from "@sentry/react-native"`.

[2021-05-18 16:53] jennmueng commented on #1499
Closing this in order to consolidate to https://github.com/getsentry/sentry-react-native/issues/1229, and also pinning it to make this higher priority.

[2021-05-18 16:54] #1499 closed

[2021-05-18 16:58] jennmueng commented on #1491
I'm not sure about this, if you look at the source code it's exported correctly. This looks like an invalid configuration somewhere on your end.

[2021-05-18 23:22] retyui commented on #1229
Have the same problem

I check the source code of `sentry.gradle` + `react_native_xcode.rs` and find that `releaseName` value hardcoded and no way to change it :

**Android:**
https://github.com/getsentry/sentry-react-native/blob/2612b4dafc08c034a12dd6bc38f7148a3004cbf5/sentry.gradle#L168

**iOS:**
https://github.com/getsentry/sentry-cli/blob/d63a0b2ce9c033f5bc1c35bc1405d7719e29e969/src/commands/r

[2021-05-19 01:47] IAmKio commented on #631
This was exactly our issue on CircleCI with Sentry sourcemap uploading with React Native.
Solved for me too. Thanks so much!

[2021-05-19 19:29] NavinSeth commented on #1261
https://github.com/getsentry/sentry-react-native/issues/1261#issuecomment-769345583 - This worked for me.

[2021-05-20 06:33] jennmueng commented on #1261
Closing this as mocking Sentry like https://github.com/getsentry/sentry-react-native/issues/1261#issuecomment-769345583 suggested will work fine in Jest testing as you most likely will not need to unit test Sentry. Will add this to the troubleshooting section we're working on for the docs.

[2021-05-20 06:33] #1261 closed

[2021-05-20 15:16] abouzeyd commented on #610
same issue

[2021-05-21 18:23] mljlynch commented on #1530
Thanks!

[2021-05-21 18:23] #1530 closed

[2021-05-21 19:59] freemile2ru commented on #1401
I have tried everything listed here and its still not working. RN 0.60

[2021-05-25 16:07] millro04 opened #1543 "Sentry Logger [Log]: [ReactNavigationV5Instrumentation] Navigation container registered, but integration has not been setup yet."
### Environment
Running locally
`npx react-native run-ios`

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
React Native npm SDK version 6.2.1

### Steps to Reproduce
Inside App.js:
[code]

My main navigation component:
[code]

### Expected Result

Navigation would be properly tracked.

### Actual Result

**Sentry Logger [Log]: [ReactNavigationV5Instrumentation] Navigation c

[2021-05-26 06:27] ghadeeraqraa1992 opened #1544 "iOS SIGPIPE issue"
### Environment

How do you use Sentry?
sentry.io
1. error tracking
2. performance monitoring

please note that the crash start appearing after apply point 2 above using the below code :

[code]
and the below code inside the interceptor.js class (axios)
[code]
Which SDK and version?
@sentry/react-native": "^2.2.1"
react-native : "0.63.4"

### Steps to Reproduce

the issue happened on iOS productio

[2021-05-26 12:41] jennmueng commented on #1543
Hmm, where is the `routingInstrumentation` in `App.js` coming from, are you exporting the one from the main navigation component?

[2021-05-26 13:53] #1291 closed

[2021-05-26 15:08] millro04 commented on #1543
@jennmueng the `routingInstrumentation` in `App.js` was defined about the Sentry init call, sorry I didn't include that. It was defined like so:
[code]
Does the routingInstrumentation in App.js and the navigationContainer need to point to the same reference?

[2021-05-27 05:56] jennmueng commented on #1543
@millro04 Yes it needs to point to the same reference.

[2021-05-27 05:56] #1543 closed

[2021-05-29 09:51] retyui commented on #1229
Any update?

[2021-05-29 10:31] retyui commented on #1229
I create PRs to fix this issue ^^^

[2021-05-30 06:15] ghadeeraqraa1992 commented on #1544
any updates on this ?

[2021-05-31 11:22] jennmueng commented on #1544
Updated the original post for formatting so it's able to be read.

cc @philipphofmann, I'm not experienced in reading this stack trace, not sure it is related to our SDK?

[2021-05-31 18:43] maxkomarychev opened #1557 "Can not use navigation tracing for react-navigation v4: integration.setupOnce is not a function"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native@2.4.3

### Steps to Reproduce

I wanted to setup tracing for react-navigation according to the official documentation:

[code]

### Expected Result

Instrumentation works

### Actual Result

1. typescript error:
2.
[code]

2. runtime crash error:

[code]

[2021-05-31 18:47] #1557 closed

[2021-06-01 06:39] marandaneto commented on #1403
https://github.com/getsentry/sentry-java/releases/tag/5.0.0-beta.7 does it, need to bump the SDK

[2021-06-01 14:43] philipphofmann commented on #1544
I don't understand why you get a `SIGPIPE` when you initialize the SDK and send a transaction. If this were the case, multiple users would have that problem. @jennmueng, can you reproduce this? If not, can you @ghadeeraqraa1992 please give us more context so we can reproduce this?

[2021-06-01 14:52] bruno-garcia opened #1558 "Add React native as Runtime (name and version)"
The SDK should include runtime and version.

For example, Unity:

![image](https://user-images.githubusercontent.com/1633368/120344147-52e5bb80-c2c7-11eb-8a84-88babbc538db.png)

Related to: https://github.com/getsentry/sentry-capacitor/issues/38

[2021-06-02 05:16] ghadeeraqraa1992 commented on #1544
More details from sentry :
https://sentry.io/share/issue/190bc5b117fb4679951091d815a60ab4/

[2021-06-02 05:20] mtimofiiv opened #1559 "Errors reported to Sentry, but stack trace is all "Unknown""
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
`sentry.javascript.react-native` v. `2.4.2`

### Steps to Reproduce

I have no idea.

 * React-Native app, ejected from Expo SDK 41
 * I am running `expo publish --release-channel release` to create a release

### Expected Result

I would look at the log entry and happily continue debugging.

### Actual Result

[2021-06-02 07:58] ghadeeraqraa1992 commented on #1544
@philipphofmann
to be sincere, I'm not sure if the issue related to Sentry SDK or not , but I notice the below :
1. the issue start appearing after adding performance monitoring custom transitions.
I can't provide you with a sample project , but if you need more details please let me know.

Thank you

[2021-06-02 12:43] jennmueng commented on #1544
@philipphofmann I have not been able to reproduce this, plus the e2e tests also sends transactions as it has the react navigation integration set up, and it does not crash.

@ghadeeraqraa1992 It might not be due to our SDK but maybe some other issue when trying to integrate our SDK, or an incorrect installation?

[2021-06-02 17:03] shubhamdeol commented on #558
Hey. does using const tracking = require('promise/setimmediate/rejection-tracking');

This has any side negative impact on performance of app?

[2021-06-03 01:47] tudatn opened #1562 "Build failed on cli but successful on Xcode"
### Environment

How do you use Sentry?
self-hosted

Which SDK and version?
"@sentry/react-native": "^2.4.3"
"react": "17.0.1"
"react-native": "0.64.1"

Xcode 12.5
### Steps to Reproduce

npm run react-native run-ios

### Expected Result

Build successfully and install/run the app on iOS simulators (iPhone 12 14.5)

### Actual Result
...

error: API request failed
  caused by: sentry reported an e

[2021-06-04 10:34] jennmueng commented on #1562
@tudatn Can I see the equivalent log for the build script when run from Xcode? Does it also detect 2 debug information files?

[2021-06-04 13:56] bruno-garcia opened #1563 "Map crumb level.log to sentrylevel"
Breadcrumbs coming from JS still use `level.log` which doesn't exist in `SentryLevel` and hence fails to parse in the native SDKs.

Map `log` to `info` in crumbs before passing it to the native layers.

[2021-06-04 14:09] retyui commented on #844
Any news?

[2021-06-04 16:26] tudatn commented on #1562
@jennmueng The log for sentry part on Xcode:

[code]

I could not see any error with API calls or debug information files.

[2021-06-08 06:52] ghadeeraqraa1992 commented on #1544
@jennmueng
could you please provide me with a react native monitoring performance example , then I will double check my code.

[2021-06-08 11:00] moonjava2005 opened #1589 "Cannot use Performance tracking because NOT be the latest SentrySDK"
Sentry is introducing Performance tracking which requires use to upgrade SentrySDK to the latest
Could you support that? I tried to force upgrade SentrySDK to 7.xx but it is not compatible with this module requirement

![Screen Shot 2021-06-08 at 18 16 42](https://user-images.githubusercontent.com/16474293/121175809-b2266b80-c885-11eb-9a3b-16a48064d0af.png)

[2021-06-09 04:33] jennmueng commented on #1589
@moonjava2005 We're now using `7.0.0` in the version that is in master branch. We will be releasing `2.5.0` shortly.

[2021-06-09 04:33] #1589 closed

[2021-06-09 12:50] jennmueng commented on #1544
@ghadeeraqraa1992 You can look here in the sample app on this repo:

https://github.com/getsentry/sentry-react-native/blob/2769626a438e86e18159049082219343ba7c9b80/sample/src/App.tsx#L42-L56

and an example of manual intstrumentation:

https://github.com/getsentry/sentry-react-native/blob/master/sample/src/screens/ManualTrackerScreen.tsx

[2021-06-09 14:14] stefan-chelaru-auka commented on #1226
Any updates?

[2021-06-09 14:25] bruno-garcia commented on #1409
We should add a work around until we change the bridge approach for Android.
A quick work around can be to clear the crumbs in the JS layer before calling the Android bridge (not the iOS):

https://github.com/getsentry/sentry-react-native/blob/7ed3d39074172bb902ee55c09b814b5604b6fd3d/src/js/wrapper.ts#L53

Make sure to check if `syncScope` is enabled and mechanism.handled is true, because in that

[2021-06-10 01:04] elliottkember opened #1593 "Uploading source maps fails when DERIVED_FILE_DIR has a space in it"
### Environment

Sentry SaaS, latest React Native version

### Steps to Reproduce

[code]

### Expected Result

When `DERIVED_FILE_DIR` has a space in it, I'm trying to escape it with quotes above. That doesn't seem to work.

I've tried this:

`export EXTRA_PACKAGER_ARGS="--sourcemap-output \"$DERIVED_FILE_DIR/main.jsbundle.map\""`

and

`export EXTRA_PACKAGER_ARGS="--sourcemap-output \\\"$DERIVED

[2021-06-10 06:30] elliottkember commented on #1593
Turns out the best answer is [here](https://github.com/philipshurpik/react-native-source-maps/issues/4#issuecomment-524201077) - you can't pass this as a parameter if it has a space in it. I'm going to have to figure out a workaround, or patch this script.

[2021-06-10 08:21] Systerr opened #1596 "Error: Unable to resolve module ./web-vitals/getTTFB"
After update to last version 2.5.0 i start receive errors

Error: Unable to resolve module ./web-vitals/getTTFB from node_modules/@sentry/tracing/dist/browser/metrics.js:
None of these files exist:
  * node_modules/@sentry/tracing/dist/browser/web-vitals/getTTFB(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx)
  * node_mo

[2021-06-10 08:23] jennmueng commented on #1596
@Systerr Can you try completely deleting your `node_modules` and reinstalling? Does the issue persist?

[2021-06-10 08:24] Systerr commented on #1596
Yes exists.
I pinned version 2.4.3 on my package.json and all works good

[2021-06-10 08:31] jennmueng commented on #1596
@Systerr Do you have `@sentry/tracing` installed or anything else other than `@sentry/react-native` in your dependencies? `getTTFB` was removed in `6.4.0` https://github.com/getsentry/sentry-javascript/commit/e5c7ef9769cff9700010ef400e406951a7acfd44#diff-f2c3c293e30c7b48baeca96631f69f8cae69bc72d3c5f03f7b3ee490dcb0a3ea

[2021-06-10 08:43] Systerr commented on #1596
Deps contains only @sentry/react-native no any sentry related stuff exists

[2021-06-10 08:45] philipphofmann commented on #1544
@ghadeeraqraa1992, do you have any updates on this issue? Is your problem solved?

[2021-06-10 08:52] jennmueng commented on #1596
@Systerr Can you check the file`node_modules/@sentry/tracing/dist/browser/metrics.js` and make sure it does not have an import for `./web-vitals/getTTFB`. As we removed it from the file: https://github.com/getsentry/sentry-javascript/blob/master/packages/tracing/src/browser/metrics.ts, it shouldn't exist. If that error occurs it means for some reason you have an older version of the tracing librar

[2021-06-10 20:20] amravazzi commented on #610
same issue

[2021-06-11 08:26] yahuio commented on #1456
Same here

[2021-06-11 15:13] kamui545 commented on #1596
Same issue, deleting `node_modules` did not work.
I checked `node_modules/@sentry/tracing/dist/browser/metrics.js` and `getTTFB` seems to be removed:

[code]

[code]

[2021-06-11 18:26] maxkomarychev opened #1599 "Inconsistent tags between OS, can't filter by Android"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native: 2.4.3.

### Steps to Reproduce

[code]

### Expected Result

I can filter my transactions using tag `os.name`

### Actual Result

Available tags are inconsistent between platforms, more specifically:
`os.name` is only available with value `iOS` but not on android (screenshots attached)

<i

[2021-06-12 07:43] jennmueng commented on #1599
@maxkomarychev Device context on transactions was added in the latest Sentry Android SDK, you can update to the React Native SDK version [2.5.0](https://github.com/getsentry/sentry-react-native/releases/tag/2.5.0) to get device context. I'll add this to the changelog to be more clear.

[2021-06-12 07:43] #1599 closed

[2021-06-12 17:57] ghadeeraqraa1992 commented on #1544
no updates , still I have the issue.
Will update ...

[2021-06-13 12:30] Systerr commented on #1596
@kamui545  yes helped me. Thank you!

[2021-06-13 12:30] #1596 closed

[2021-06-14 05:35] jennmueng commented on #1563
Forgot to link to this issue in https://github.com/getsentry/sentry-react-native/pull/1565

[2021-06-14 05:35] #1563 closed

[2021-06-14 08:49] maxkomarychev opened #1610 "stopped receiving transactions on android after migration from 2.4.3 to 2.5.0"
This is a follow up issue after https://github.com/getsentry/sentry-react-native/issues/1599

### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native@2.5.0

### Steps to Reproduce

1. upgrade `@sentry/react-native` from `2.4.3` to `2.5.0`
2.

[code]

### Expected Result

being able to see transactions from android

### Actual Result

I stopped r

[2021-06-14 09:53] jennmueng commented on #1610
@maxkomarychev Can you pass `debug` to `Sentry.init` on the JS code, and paste the logs from the react native console along with the logcat logs from Android?
[code]

[2021-06-14 09:55] jennmueng commented on #1559
Hmm, @cruzach who maintains Sentry on expo would have a better idea than I would regarding this.

[2021-06-14 11:44] maxkomarychev commented on #1610
hi @jennmueng , thanks for a quick response - please find the logs attached:

<details>
<summay>logs</summary>

[code]

</details>

[2021-06-14 13:56] cruzach commented on #1559
I haven't seen that before, but my first recommendation is to make sure you've followed the setup properly for a bare workflow project- https://github.com/expo/sentry-expo#sentry-expo

You should also check that the `release` and `dist` values for the error match the `release` and `dist` values associated with the sourcemap artifacts

[2021-06-14 14:19] KochMario commented on #1350
The same happens for me as well. I'm not using expo, but a raw RN project. Android works perfectly fine and source maps are uploaded automatically. On iOS I do see the info "Sentry: React Native symbol handling started" when archiving with XCode, but they never show up as artifacts in an iOS Release on Sentry.

![image](https://user-images.githubusercontent.com/12862194/121906892-d83b8800-cd2b-11e

[2021-06-14 16:17] jennmueng commented on #1610
Hmm, transactions are said to be sent just fine in those logs. Maybe check the filtering on your Sentry dashboard if they're set correctly?

Also, you can safely ignore
[code]
as this is just a log that is unrelated and we will fix the logging spam soon.

[2021-06-14 19:23] maxkomarychev commented on #1610
I did check several times that my filters are not specific to a platform.

Also I tried tracking very simple transaction:

[code]

still - no sign of a transaction anywhere

[2021-06-14 19:25] maxkomarychev commented on #1610
also I did make sure to recompile native app as well as restart packager with `--reset-cache`

[2021-06-14 19:33] maxkomarychev commented on #1610
if this is relevant - I am able to receive crash reports but not transactions

[2021-06-14 19:51] maxkomarychev commented on #1610
strangely enough: I managed to find this "ad hoc" transaction mentioned above (the one with timeouts) using "Discover" => "Transactions by volume" but I still do not see it in "Performance" tab.

Also this transaction has an error:

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/7002833/121950985-01c3d600-cd63-11eb-9993-f15cfa757a17.png">

[2021-06-14 20:29] retyui commented on #844
Any updates

[2021-06-15 01:31] bruno-garcia commented on #844
The release set via JS should flow to the iOS SDK. Are you initializing the iOS SDK separately?
Could you please provide a repro?

[2021-06-15 01:55] mtimofiiv commented on #1559
@cruzach we have both `sentry-expo` and `@sentry/react-native` installed at the moment. The reason is that we need to support both managed and ejected – we use the managed to rapidly test stuff internally and ejected to do actual builds. This I suspect is what might be part of the problem.

But as for the rest, we followed the instructions to install to the letter. Perhaps that's the problem? In `

[2021-06-15 07:11] roycehe commented on #948
delete this line `cd $PROJECT_DIR/..`

[2021-06-15 07:24] retyui commented on #844
Just tested on :
- sentry.javascript.react-native@1.9.0
- sentry.cocoa@5.2.2

It works fine, issue can be closed )

[2021-06-15 13:14] cruzach commented on #1559
Your app.json looks good to me. Like I said above, you should also check that the `release` and `dist` values for the error match the `release` and `dist` values associated with the sourcemap artifacts

[2021-06-15 15:10] svenlombaert opened #1611 "Sentry.Init: 'Cannot read property 'bind' of undefined' when running jest"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
`"@sentry/react-native": "^2.5.0",`

### Steps to Reproduce

1. Run tests with jest

### Expected Result

Tests should run fine

### Actual Result

 Get this error:
[code]

This error started happening after I upgraded from 2.4.2 to 2.5.0. I setup sentry like this:
[code]

[2021-06-15 16:37] jennmueng commented on #1611
@svenlombaert When running jest tests, you would now have to pass `NoopTransport` to `Sentry.init` under `transport. You should be able to import it from `@sentry/react`.

[2021-06-16 05:55] jennmueng commented on #844
Yeah this issue should've been closed a while ago as we sync the value up as well.

[2021-06-16 05:55] #844 closed

[2021-06-16 05:56] jennmueng commented on #1610
Looks like the clock drift issue could be back, this could possibly be related. We will need some time to look into this.

[2021-06-16 08:20] jer-sen commented on #1077
@jennmueng any update?

[2021-06-16 11:14] jennmueng commented on #1077
@jer-sen The best solution we have now is to just wait for the PR to be merged over there. Any stopgap solution would be just prone to more issues.

[2021-06-16 12:17] svenlombaert commented on #1611
This seems to work and is exactly what I need, thanks! Had to import `NoopTransport` from `@sentry/core` though. What's the default value of the transport param actually?

[2021-06-17 12:14] jennmueng commented on #1611
@svenlombaert So if `enableNative` is true, then it's `NativeTransport` by default, otherwise `FetchTransport`.

[2021-06-17 23:34] siddhisuthar commented on #1294
I'm seeing the same issue on my end. Native crashes are not getting reported. Tried using Sentry.nativeCrash() to generate those crashes. I do see those for release type builds though, but in that case all tags are not reported correctly.
I also verified ios/Pods, Sentry exists in there

[2021-06-18 07:52] ku8ar opened #1612 "[2.5.1] Require cycle warn"
### Environment

Which SDK and version?
"@sentry/react-native": "^2.5.1",

### Steps to Reproduce

install 2.5.1 and watch console:

[code]

### Expected Result

no warn

### Actual Result

warn

[2021-06-18 10:15] Leleka14 commented on #1612
same here

[2021-06-18 13:05] nikesh8 opened #1613 "Getting error while sentry integration"
I am trying to installing the latest version of sentry and I am getting this error while executing following command:
**Command:**
**npx sentry-wizard -i reactNative -p ios android**

**Error:**
[code]

[2021-06-18 16:12] chico opened #1614 "Sentry internal isNativeFetch function found to be undefined and crashes iOS app on RN 0.64.2"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native: 2.5.1
@sentry/browser: 6.7.1
@sentry/hub: 6.7.1
@sentry/tracing: 6.7.1

### Steps to Reproduce
1. Use latest sentry react-native library with react-native 0.64.2.

2. Once the app is built using fastlane and pushed to Testflight, opening the app crashes on any iOS device with `Terminating

[2021-06-18 19:37] olindv opened #1615 "Incorrect Redux state in issues"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 2.5.1

**`react-native` version:** 0.63.3

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**Configuration:**

(`@sentry/react-native`)
[code]

**I have following

[2021-06-18 21:02] mmerickel opened #1616 "RNSentry.close() api does not resolve promise"
When invoking the new `RNSentry.close()` api via `await RNSentry.close()` it never resolves/continues. The reason is that the `RNSentry.closeNativeSDK()` bridge method does not resolve the promise callback and the javascript api is waiting for it via `await NATIVE.closeNativeSDK()`.

The fix is to modify the native method to invoke the resolver thus releases the javascript client api to return as

[2021-06-19 05:23] mikeRChambers610 commented on #652
what is the fix....?

[2021-06-19 15:52] chico commented on #1614
We were able to fix this issue by adding **`@sentry/utils` 6.7.1** to our package.json 🎉

[2021-06-19 15:52] #1614 closed

[2021-06-20 05:47] jennmueng commented on #1614
@chico This is due to `@sentry/react-native:  2.5.1` depending on `@sentry/*: 6.5.1` and not `6.7.1`. You shouldn't need to have a direct dependency to any of the other packages otherwise there could be conflicts caused due to version mismatch like this one in the future.

[2021-06-20 05:48] jennmueng commented on #1615
@olindv You would pass `normalizeDepth` to `Sentry.init` not `Sentry.ReactNativeTracing`, this is caused by the normalizeDepth being set by default to 3.

[2021-06-20 05:48] #1615 closed

[2021-06-20 05:50] jennmueng commented on #1613
@nikesh8 You do have both iOS and Android project files correct? Not just Android?

[2021-06-20 20:34] chico commented on #1614
@jennmueng we wouldn't normally include the other sentry dependencies but we're using react-native-web so that the same codebase works both on the mobile app & web app and for the web we have to include `@sentry/browser` and other necessary dependencies. But good point regarding using the correct version (thanks!), even though it seems to be working fine we will downgrade to `6.5.1` and see if it

[2021-06-21 04:17] nikesh8 commented on #1613
Yes, I have both project's files correct. Still Can you please tell me what should I need to check?

[2021-06-21 04:46] jennmueng commented on #1613
@nikesh8 You will need to look into your Xcode build scripts and see if something is not in order, especially the one that is creating the React Native bundle. This error is most likely due to something being amiss there.

[2021-06-21 05:02] jennmueng commented on #1614
Hmm, in that case would it make sense for us to include direct web support in this React Native SDK?

[2021-06-21 05:09] nikesh8 commented on #1613
Okay, Let me check with it what's missing?

[2021-06-21 05:32] jennmueng commented on #1294
Can everyone try a fresh re-install? We recently fixed something in the `sentry-wizard` that might've caused the issues mentioned here.

@ospfranco, to clarify, native crashing _should_ work on both debug and release builds.

[2021-06-21 06:34] jennmueng commented on #1611
Closing this as it's been resolved, the docs issue will be tracked over at getsentry/sentry-docs#3740

[2021-06-21 06:34] #1611 closed

[2021-06-21 06:37] jennmueng commented on #1610
We found issues that could cause the transaction not to be sent/received correctly and we're looking into how we should go about fixing it. Related issues listed below:

getsentry/sentry-java#1541
getsentry/sentry-java#1540
getsentry/sentry-java#1539
getsentry/sentry-java#1538

[2021-06-21 06:39] jennmueng commented on #1562
@tudatn Seems very unusual, does the issue still persist?

[2021-06-21 09:05] jennmueng opened #1629 "Send a back-navigation transaction if an error occurred inside of it"
We currently discard "back navigation" transactions if there are no child spans, but in the chance that an error occurs during the transaction, the trace id is attached to the event but the transaction is not sent, causing a trace not found on the dashboard.

We should consider sending back-navigation transactions when there is an event that occurred inside of it.

[2021-06-21 09:19] jennmueng opened #1630 "Drop debug_meta field on transactions"
See https://github.com/getsentry/sentry-java/issues/1539#issuecomment-864873751

[2021-06-21 09:33] #1612 closed

[2021-06-21 11:50] #1616 closed

[2021-06-21 17:10] bruno-garcia opened #1631 "Document how to initialize the native SDKs first"
From: https://twitter.com/grifotv/status/1407022107997970437

Users often want to be able to init the native SDKs programatically, before the JS layer even starts. This allows Sentry to capture errors in React Native itself or anything that happens after the Sentry native SDK is initialized (the first thing that happens in the app).

All the features required for this exist but there are not docum

[2021-06-21 17:16] grifotv commented on #1631
@bruno-garcia thanks for this! I would be greatly appreciated some docs for sure. Even a couple of links to Github issues might be good enough.

We currently use Sentry in our RN app but were considering switching to a different service due to this. Great to hear it's doable with Sentry and that the team is promptly trying to help.

[2021-06-21 19:12] bruno-garcia commented on #1631
The option that controls this is `autoInitializeNativeSdk` but I'll defer to @jennmueng who knows best how it works to give us a quick pointer here before we land the complete docs.

[2021-06-22 05:18] jennmueng commented on #1631
@grifotv Yes, you would pass `autoInitializeNativeSdk: false` to the `Sentry.init` call on JS, this disables the SDK from handling the initialization of the native layer. You would then initialize the native layer SDK manually, following the guides here for [Android](https://docs.sentry.io/platforms/android/configuration/manual-init/) and [iOS](https://docs.sentry.io/platforms/apple/guides/ios/#co

[2021-06-22 07:51] marandaneto commented on #1631
not entirely true, JS engine also starts via ContentProvider on Android, if you start the Sentry Android SDK manually, disabling the auto-init mode, the JS engine starts before the Sentry Android SDK.
If you keep the auto-init mode enabled, the JS engine might start before or after the Sentry Android SDK, since the init. order is computed at runtime by the OS iirc.

maybe @philipphofmann knows the

[2021-06-22 09:25] chico commented on #1614
@jennmueng https://github.com/necolas/react-native-web is quite popular (e.g. expo web uses it) so it might be worth considering but to be honest we've not needed direct web support as it's easy to have sentry setup for both native and web, i.e. we have a `/app/platform/sentry/index.js` that proxies `@sentry/react-native` and `/app/platform/sentry/index.web.js`  that proxies `@sentry/browser` and

[2021-06-22 09:37] grifotv commented on #1631
@jennmueng Thanks for this.

------------

If you keep the auto-init mode enabled, the JS engine might start before or after the Sentry Android SDK, since the init. order is computed at runtime by the OS iirc.

@marandaneto @philipphofmann Does it mean there will be different instructions for Android and iOS with regards to the `autoInitializeNativeSdk` value? Or should we always set `autoInitiali

[2021-06-22 09:44] nikesh8 opened #1632 "Not getting Error Events while trying with Custom domains Urls"
I am using the latest version of Sentry but I am not able to get all the events and error logs on my dashboard for my react native application. Here I am attaching How I am initializing sentry in the application and also followed all the steps from documents. I have tried on release and debug mode on both platforms. Also tried `Sentry.nativeCrash();` and some JavaScript's undefined error as well.

[2021-06-22 09:46] nikesh8 commented on #1613
@jennmueng Thank you for helping and providing feedback. I am closing this as I understand what I missed!!

[2021-06-22 09:46] #1613 closed

[2021-06-22 10:41] jennmueng commented on #1632
For clarification, do you mean you're getting some events but not all events? Or no events at all? Looks like you already have `debug: true`, so can you paste the Javascript logs for that?

[2021-06-22 14:43] grifotv commented on #1631
Looks like if I use v[2.4.3](https://github.com/getsentry/sentry-react-native/releases/tag/2.4.3)+ which includes #1529 #1516, it should be safe to use `autoInitNativeSdk: false` in Android too. Is that correct?

[2021-06-22 17:40] marandaneto commented on #1631
yes if the Sentry Android SDK inits first.
No if the JS engine inits before and try to capture something but the Sentry Android SDK is not inited yet.

[2021-06-22 22:34] grifotv commented on #1631
@marandaneto In that case I'm not sure what the recommended setup is for Android.

[2021-06-23 07:40] marandaneto commented on #1631
@grifotv that's why we have this open issue, to figure it out, find corner cases, and document it, stay tuned.

[2021-06-24 04:56] nikesh8 commented on #1632
@jennmueng
No events at all. I will share Javascripts logs for that.

**_Thanks in advance_**

[2021-06-24 16:57] RenatoSerra22 opened #1633 "[iOS] OutOfMemory errors dont seem reliable on 2.5.2"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Sentry: 2.5.2
React native: 0.63.4
React: 16.13.1

### Steps to Reproduce

I've upgraded to 2.5.2 and on iOS i keep seeing OutOfMemory exceptions on sentry, even from simulator sessions that i ran and know the app didn't crash and memory looked good. Also no crashes reported on appstore connect on firebase.

[2021-06-24 20:18] tudatn commented on #1562
@jennmueng still have the same issue after upgrading to 2.5.2

[2021-06-25 02:14] jennmueng commented on #1562
@tudatn Can you try running the Sentry Wizard and see if it fixes you issue?

[code]

[2021-06-25 02:17] jennmueng commented on #1633
Routing this to @philipphofmann, for reference here's this occurring from our sample app on a simulator that didn't crash: https://sentry.io/organizations/sentry-sdks/issues/2355695161/

[2021-06-25 05:32] RenatoSerra22 commented on #1633
Probably related to the cocoa bug https://github.com/getsentry/sentry-cocoa/issues/1185 , my heart almost exploded when i saw most of my users were "crashing" on a new release 😢

[2021-06-25 07:23] philipphofmann commented on #1633
I'm deeply sorry about that, @RenatoSerra22. We are going to fix this. To stop your heart from exploding, maybe it's best to disable out-of-memory tracking for now.

[2021-06-25 15:46] elsurudo commented on #141
Guys, there is still no clear solution as far I as I can see.

I see that the above is now the "sanctioned" solution as per the docs, but it is not a good solution _because I don't want to override node system-wide!_

Any other ideas?

[2021-06-25 16:03] elsurudo commented on #141
FWIW what I ended up doing is modifying the last 2 lines of the build steps "Bundle react native node and images" AND "Upload debug symbols to Sentry" to:

[code]

This forces the sentry CLI script to use the same version of node as my project.

IMO your docs would be updated with a better solution

[2021-06-25 16:38] ku8ar commented on #1633
@philipphofmann how to do that?
In our app, right now OutOfMemory error counts codepush upgrades on Sentry :D

[2021-06-25 20:40] bruno-garcia commented on #1631
If RN also uses ContentProvider, one strategy would be to opt-out of the ContentProvider initialization of React Native:, i.e:

[code]

** Btw they only have this `BlobProvider` is this initializing?

I only see this one here: https://github.com/facebook/react-native/search?q=ContentProvider

Then you're on your own to init React Native from the Java/Kotlin code. You can either rely on Sentry auto

[2021-06-27 12:33] RenatoSerra22 commented on #1633
i think `enableOutOfMemoryTracking` is not available on the initializer in react react native

[2021-06-27 12:52] jennmueng commented on #1633
@RenatoSerra22 You can pass `enableOutOfMemoryTracking: false` to `Sentry.init` and it'll go through to iOS. Typescript will complain but it will go through nonetheless.

[2021-06-28 07:48] marandaneto commented on #1631
yep, that does not block us from documenting it, but before doing so, figuring out how it really works.
also need to check if the RN engine itself does have transitive dependencies that may register more `ContentProvider` etc

[2021-06-28 10:25] nikesh8 commented on #1632
@jennmueng Here's the logs of Sentry:

[2021-06-28 12:09] MateuszHeluszka commented on #1632
Same here, there are no events in dashboard, but in network inspect i can see the requests have been sent to Sentry.

[2021-06-28 14:51] philipphofmann commented on #1633
You find the answer here: https://docs.sentry.io/platforms/apple/configuration/out-of-memory/ @ku8ar

[2021-06-28 18:52] siddhisuthar commented on #1294
updated it, now on @sentry/react-native version 2.5.2. Still not seeing iOS native crashes

[2021-06-29 05:52] jennmueng commented on #1632
@MateuszHeluszka @nikesh8 If the network requests are sending without fail, I would have to redirect this issue to the ingestion team.

[2021-06-29 05:57] jennmueng commented on #1294
@siddhisuthar Can I see the `Sentry.init` call that you have on JS? Also when you call `Sentry.crash` does it crash the app?

[2021-06-29 10:03] #1610 closed

[2021-06-29 11:31] bjornegil commented on #711
Got sourcemap working with appcenter codepush after some trial and failure, as documented on [SO](https://stackoverflow.com/a/68177362/455225)

[2021-06-29 19:16] maxkomarychev commented on #1610
I confirm this works now at least I saw couple of my transactions from one debug sessions.
thanks!

[2021-06-30 06:11] #711 closed

[2021-06-30 16:47] siddhisuthar commented on #1294
This is the call I make:
[code]
And yes, app does crash on Sentry.nativeCrash() but it doesn't show up on Sentry.

[2021-06-30 22:19] brkastner commented on #1559
I'm seeing this issue as well but can't seem to figure out the cause. My stack traces were working fine for months but after upgrading to the latest sdk, I see random file paths as well.

Issues are assigned to the appropriate release and the regular bundle files are uploaded to sentry after the build finishes so not sure what changed.

[2021-07-01 07:44] jennmueng commented on #1294
@siddhisuthar Can you show the console logs from an iOS device? Not the JS logs but the logs from the device in Xcode when building in debug.

[2021-07-01 14:08] stvdrsch commented on #1562
I just wanted to add that I have the same error

    "react-native": "0.63.4",
    "@sentry/react-native": "^2.6.0",
    "react": "16.13.1",

Only 'special' thing I can add is that I'm working on a Apple M1 (which has caused me some problemsin the past)

[2021-07-01 15:44] tunaSandwich commented on #805
I have the exact same issue. Both `Sentry.init({ release: ... })` and `Sentry.setRelease()` don't seem to work for me. Is there any progress on this?

[2021-07-01 16:01] tunaSandwich commented on #805
I finally got this to work by setting a value for `dist`.

[code]

[2021-07-01 16:46] siddhisuthar commented on #1294
Update: I tried a fresh re-install again, this time with version 2.6.0 and I see those native iOS crashes in Sentry! :tada:
The only issue I noticed is that values set on the scope don't come through for native crashes. I set the user id on the javascript side like this:
`Sentry.setUser({ id: userID })`
But there is a difference between native errors / js errors:
`Sentry.nativeCrash()` - Missing e

[2021-07-02 02:08] yahuio commented on #1456
Any update?

[2021-07-02 08:01] jennmueng commented on #1294
@siddhisuthar I would need the iOS device logs to debug this, and also maybe your `Podfile.lock`

[2021-07-02 08:02] #805 closed

[2021-07-02 17:04] MateusAndrade opened #1648 "Initiating sentry with custom release doesn't set the release, unless if I pass a dist id"
### Environment

How do you use Sentry?
- Sentry SaaS (sentry.io)

Which SDK and version?
- Sentry-RN: 2.5.1~2.6.0

### Steps to Reproduce

Instantiate Sentry with:

[code]

### Expected Result

When I init my sentry instance passing the `release` flag only, I would be able to create/associate issues with releases accessing my Sentry dashboard.

### Actual Result

What happens is that the issues t

[2021-07-02 20:19] k90armstrong commented on #1294
I just updated from version 2.4.0 to 2.6.0 and am not able to see any native crashes as well.  I then reverted and am not able to see them anymore either.

[2021-07-04 04:16] jennmueng commented on #1648
@MateusAndrade You will need both the release and dist set for the event to correctly be associated with the sourcemaps and a release on the dashboard...although if you pass only a release without a dist it should be set correctly and not use the native values, just that it won't be correctly linked source-map wise.

Looks like we'll need to make it more clear on the documentation + look into why

[2021-07-04 04:32] MateusAndrade commented on #1648
Maybe the parts related to both creating "rn" releases what is the difference between `dist` and `releases` and how they are related(it took me sometime to figure that out).

Also, can I link a release to N sourcemaps? For example, I got a release `1.2.0` and I would like to link both source-maps(js) for Android and iOS with this releases. Is this possible, by simply uploading both sourcemaps?

[2021-07-04 04:55] jennmueng commented on #1648
@MateusAndrade You could solve this by having something like a single release `1.2.0` and some dist (any string) and you have the choice of either just uploading both the sourcemaps as you said, or you could have two dists, `android` and `ios`.

[2021-07-05 10:55] jennmueng commented on #1294
@k90armstrong Dumb question but I assumed you `pod install`ed when you changed versions correct?

[2021-07-05 12:32] jennmueng opened #1660 "Add flavor awareness in sentry.gradle source map script"
Came up in slack where a customer wants to prevent auto release creation in specific flavors.

[2021-07-06 05:15] fragilehm commented on #1490
@jennmueng thanks this fixed the issue indeed, tho we had the same for ios and it showed:
![image](https://user-images.githubusercontent.com/20160573/124545791-edd33780-de29-11eb-912a-de2128428fb3.png)

Closing the issue.

[2021-07-06 05:15] #1490 closed

[2021-07-06 08:27] jennmueng commented on #1562
Can everyone try adding `--force_foreground` to the build script on Xcode and see if this solves the issue?

[2021-07-06 11:46] gekitz commented on #1104
I don't get any issues reported on Android too. Looks like a problem on Android 10 only, as on Android 8 it works for me.

On Android 10 I get a SSL error using 2.6.0.

[code]

[2021-07-06 21:56] brkastner commented on #1559
I added my expo-updates manifest as context to a test exception and it looks like the stack traces are using `Updates.manifest.bundleKey`. Do we need to manually set the release/dist if it's an OTA update and if so what should they be?

[2021-07-06 22:59] cruzach commented on #1559
If you do not set your `release` and `dist`, **and** your app is running on an OTA:
- `release` defaults to `${Updates.manifest.revisionId}`
- `dist` defaults to `${Updates.manifest.version}`

If you're running on the embedded JS bundle from `eas build`, then
- Your release will automatically be set to Sentry's expected value- `${bundleIdentifier}@${version}+${buildNumber}` (iOS) or `${androidPack

[2021-07-06 23:25] brkastner commented on #1559
@cruzach that's what I thought but it doesn't seem to be attaching errors to the correct release. I also tried using the deprecated `Sentry.setRelease` but that didn't work either. When I go to the releases section, I do see a new session for the OTA release but the error itself still uses the embedded bundle's release.

Oddly enough though, the Additional Data context section shows the OTA versio

[2021-07-07 00:26] brkastner commented on #1559
I finally got it to assign to the correct release on OTA bundles by overriding both dist and release like so:
[code]
which means the default settings are not being applied correctly. Is this because I'm importing from `@sentry/react-native` instead of `sentry-expo` since I'm using the bare workflow? If tried using `sentry-expo` but the app fails to start.

Regardless, the stack traces are still us

[2021-07-07 09:36] jennmueng commented on #1491
Closing this due to no response, please reopen if the issue continues.

[2021-07-07 09:36] #1491 closed

[2021-07-07 09:36] #1631 closed

[2021-07-07 20:46] k90armstrong commented on #1294
@jennmueng definitely not a dumb question.  After lots of fresh installs and toying around with it, I was able to get 2.6.0 working...not sure what exactly got it to work and don't have time to try to recreate it.  Thanks!

[2021-07-09 15:04] jennmueng opened #1661 "options.initialScope is not supported"
Passing `initialScope` in the options does not work on RN or any of the JS-Hybrid SDKs as the scope's `update` method sets each value individually and does not call the extended methods that send the scope down to the native layer.

[2021-07-11 11:26] chaimPaneth commented on #1401
Hi @KingAmo

I got the `project not found` error and in my case the issue was that we self host sentry on our own servers and the @sentry/wizard command exported our domain without the `s` for secure protocol http in the `sentry.properties` file for `defaults.url=http://...` param and thats why the cli didn't find our project as the cli query to get info about the project got denied by our servers

[2021-07-11 21:04] hossamelbery opened #1662 "CodePush + Hermes Source maps not reflecting"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
"@sentry/react-native": "^2.6.0"
Reactnative v 64.2

### Steps to Reproduce

1. Generate a new codepush update with source maps with hermes enabled
2. upload source maps to sentry with a custom release, dist names using this command

      ``` sentry-cli react-native appcenter \```
         ``` ${projectName} ${PLATFORM} "./

[2021-07-11 22:31] aryo commented on #1633
After disabling OOMTracking, we went from thousands of errors to under ten, but we're still getting them nonetheless.

Not sure of the reporting mechanism, but is it possible for the following sequence of events to happen?
1. OOM error captured
2. User upgrades to version with OOMTracking disabled
3. On app start, error gets shipped
4. The error on the Sentry dashboard says the user was on the lat

[2021-07-12 19:24] jChris85 commented on #914
@iBotPeaches Did you found a solution for this? I am facing the same issue.

[2021-07-12 19:26] iBotPeaches commented on #914
Nothing pretty. I hack out the job that runs

[code]

and build/upload my own sourcemaps with sentry-cli.

[2021-07-12 19:27] alex-a-pereira commented on #778
@agorf would you mind explaining what changes needed to be made to `sentry.properties`? I'm hitting the same issue currently

[2021-07-12 19:48] agorf commented on #778
@alex-a-pereira IIRC the real culprit was lack of proper support for meaningful stacktraces in the Hermes engine. AFAIK it has since been fixed/implemented by Facebook.

[2021-07-12 20:09] alex-a-pereira commented on #778
@agorf appreciate the quick reply! I just re-read your comment, did you mean "forgot to update sentry.properties to point at sentry.io"?? If so that definitely not my issue unfortunately.

I'll send an update here when I solve whatever my issue is, in case anyone else runs into the issue I'm hitting

[2021-07-12 20:36] alex-a-pereira commented on #778
@agorf ah gotcha, thanks anyways for the help!

[2021-07-13 14:16] alex-a-pereira commented on #778
Just solved my issue, ended up being a configuration issue on our end rather than an issue with sentry/hermes.

We use MS AppCenter to build our RN app for Android, and use the feature to automatically manage incrementing the build number. not 100% sure how it works, but it doesn't modify the `versionCode` written in `android/app/build.gradle`. Our `versionCode` was hardcoded to 2 inside build.gra

[2021-07-14 09:17] gregoryfm commented on #1562
Any news on this?

[2021-07-15 18:30] tudatn commented on #1562
tried with `npx @sentry/wizard -i reactNative -p ios` and still have the same error

[2021-07-16 02:05] gregoryfm commented on #1562
I've fixed it.
In my case, the problem was the `defaults.org` property was outdated.

[2021-07-19 00:19] Keisuke69 commented on #1294
Same here.

I just newly set up and configured, but I can’t see any crush report from actual device. Not only iOS but also Android.

Test call is working on actual device but the real case is not reported to Sentry.

[2021-07-19 19:55] ChrisWiles opened #1681 "Sometimes has sources maps other times can't find them"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

### Steps to Reproduce

Some of my iOS errors have source maps and others can't find source maps. This is for the same build.
It used to work fine at one point but broke a while back...

[code]

Explain this one, I have two test crash errors both have full stack trace and source maps, a few hours later

[2021-07-20 01:54] sreuter opened #1682 "sentry-react-native fails to compile because of syntax issues"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 2.6.0

### Steps to Reproduce

Add module to managed (Expo 42) project and run `yarn run:ios`.

### Expected Result

Build succeeds.

### Actual Result

Build fails.

[code]

[2021-07-20 02:43] kg-currenxie commented on #1492
I'm getting this too today. Maybe it's an outage, but they don't seem to have any issues according to their status page. Also, they are still shutting down soon-ish. Still need this to be available somewhere else.

[2021-07-21 00:29] ChrisWiles commented on #1681
Anyways gave up and just updated sentry and added dist and now everything works but Hermes.

[2021-07-21 00:29] #1681 closed

[2021-07-22 12:17] mkilp opened #1685 "Location not found in source map / Sentry wrongly parses source map?"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "^2.6.0"

### Steps to Reproduce

1. Created initial sourcemap using
`npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output index.bundle --sourcemap-output index.bundle.packager.map`

2. Created Hermes sourcemap with
`hermesc -O -emit-binary -output

[2021-07-22 12:47] mkilp commented on #1685
Nevermind, I'm dumb.

Turns out stacktraces look completely different in debug run. I rebuilt and reran my app in Release mode and the error got translated correctly.

[2021-07-22 12:47] #1685 closed

[2021-07-22 18:32] jamesdunay commented on #1173
I've just started running into this issue after upgrading from 1.9.0 to 2.6.0.  It happens when I attempt to archive the build. `sentry.properties` is in the root of the iOS folder. Can recreate easily by running `../node_modules/@sentry/cli/bin/sentry-cli react-native xcode`

Though the docs say this... So does it need to be in the iOS Folder or the root of the RN project?
`Before you begin, you

[2021-07-26 07:38] oktorakevinarigi commented on #1456
Same her.

Any update?

[2021-07-26 08:08] jennmueng commented on #1456
I just got back from a vacation, I will look into this ASAP

[2021-07-26 08:48] jennmueng commented on #1173
@jamesdunay It should be in the `ios/` folder

[2021-07-26 08:52] jennmueng commented on #1681
@ChrisWiles This is hermes on iOS right? I've tested it a while back and it should just work without any extra steps needed unlike on Android.

[2021-07-26 08:54] jennmueng commented on #1682
Rerouting this to `sentry-cocoa` as this code is from that SDK. For reference, the sentry cocoa version that RN 2.6.0 depends on is `7.0.0`.

[2021-07-26 08:57] jennmueng commented on #1294
@Keisuke69 Is the real crash happening before the Javascript call to `Sentry.init` happens? If that's the case we would not be able to capture it.

[2021-07-26 09:37] Keisuke69 commented on #1294
@jennmueng

Thank you for the reply.

No. I wrote `Sentry.init` in the top of App.tsx. And real crashes has been happened in another screen (We are using React Navigation).

Also, I find that crashes in the real android device with adb connection send crush reports properly. However, real device with release build does not send the crush report so far.

This release build is built by bitrise and n

[2021-07-27 11:58] jennmueng opened #1697 "Add event.environment and align with other Hybrid SDKs such as Flutter and Capacitor."
This SDK only has `event.origin` and we have yet to add the `event.environment` tag like other newer hybrid SDKs yet.