[2021-07-27 12:06] bruno-garcia commented on #1697
We're also missing some docs.

https://twitter.com/brungarc/status/1419990519447498753?s=21

[2021-07-27 18:20] alex-a-pereira commented on #1662
Hey I just had to implement this same thing for my team! Originally I thought it was a hermes issue (the 0 B bundle is what made me think that) but it turned out just to be an issue of matching up the sentry release/distr properly.

I'm not 100% certain on everything I'm saying here but it's working for us. Here's what I found:

Sentry needs a few things for sourcemaps to show up correctly:
- sour

[2021-07-28 06:45] jennmueng commented on #1662
@alex-a-pereira One note, we don't recommend calling `Sentry.init` inside `codePush.getUpdateMetaData` as its an asynchronous call that would delay the initialization of Sentry and not catch any errors/crashes that happen before the call is completed.

Usually we recommend storing your release, environment, and release values somewhere with your bundle that you'll be able to read right away as soo

[2021-07-28 06:46] jennmueng commented on #1662
@hossamelbery Sorry for the late reply, I was on vacation the past 2 weeks. Your sourcemaps are being detected correctly but they're not bundled correctly. I'm pushing a documentation update for Hermes right now and will add a second comment shortly.

[2021-07-28 09:59] jennmueng commented on #1662
Here is the update to the Hermes sourcemaps documentation: https://github.com/getsentry/sentry-docs/pull/3391

Temporary deployment link:
https://sentry-docs-5x88knmcu.sentry.dev/platforms/react-native/manual-setup/hermes/#custom-source-maps

Please let me know if this works.

[2021-07-28 12:57] bruno-garcia opened #1701 "Release 3.0.0"
* Align `event.origin` and `event.environment`
* Introduce `Sentry.initWith` that takes the root component
* Add tracing integration OOTB
* Auto detect routing library (React Navigation v4 or v5 and in Q3, React Native Navigation (wix))

[2021-07-29 06:06] CarsonRedeye commented on #1104
This or something similar seems to be fixed on 5.0.1. Was happening on 2.3.2 on OnePlus 7 Pro

[2021-07-29 11:04] james2m opened #1702 "[ReactNativeTracing]: Log a breadcrumb on route chnage"
### Environment

Sentry SaaS
Sentry React Native with ReactNavigation v5 Integration

    "@react-navigation/bottom-tabs": "^5.11.11",
    "@react-navigation/native": "^5.9.4",
    "@react-navigation/stack": "^5.14.5",
    "@sentry/react-native": "^2.6.1",
    "react-native": "0.64.2",

### Steps to Reproduce

Run the iOS simulator.

### Expected Result

I expect breadcrumbs to be reported for nav

[2021-07-29 15:25] jennmueng commented on #1702
@james2m You are initialializing the ref outside of the component, you should move it into your `RootContainer` such that:

[code]

[2021-07-29 15:57] james2m commented on #1702
@jennmueng Thanks for the quick response. I'd tried that, but get the same error;

[code]

The error is coming from here:

[code]

And seems to be implying that the integration in the Sentry.init isn't complete, which it obviously is as it's passing the routing events into the beforeNavigate function.

[2021-07-29 16:47] james2m commented on #1702
@jennmueng I realised I hadn't furnished you with the full trace. With Sentry debug logging on, I navigate between 2 screens here, and on the DashboardScreen I intentionally throw an error

`  throw new Error('Error thrown on DashboardScreen!')`

This is the debug logging from that process, you can see the debugging is picking up the routing events, but they never get sent to Sentry with the error

[2021-07-29 17:05] jennmueng commented on #1702
@james2m I just re-read your issue in full and what I'm understanding correctly is you're expecting breadcrumbs to log the navigation route change right? We don't log breadcrumbs for the route change yet and currently only create a transaction (and thus a trace) to link to the error. The reason we don't is just we never got to it to be honest 😅, if you'd like this feature please make a feature req

[2021-07-29 17:23] james2m commented on #1702
Hey @jennmueng you nailed it, I just realised the same thing. I was expecting breadcrumbs, yes. I've done a hokey version for the moment that seems to work by hooking into the instrumentation. Can you see any issues with this (ignoring style etc :)

[code]

[2021-07-30 05:00] jennmueng commented on #1702
@james2m Adding a breadcrumb in the `beforeNavigate` should work just fine.

[2021-07-30 06:01] jennmueng commented on #1104
cc @marandaneto

[2021-07-30 06:05] jennmueng commented on #1294
@Keisuke69 Can you pass `debug: true` to the call to `Sentry.init` on Javascript, then attach a debugger to a real iOS/Android device, and send me the device logs from when the crash happens?

[2021-07-30 06:35] marandaneto commented on #1104
are you using sentry.io or on-premise? also, what's the version of your Java SDK? please run `java -version` and copy/paste the logs.
Could be something like https://github.com/getsentry/sentry-java/issues/1590 and https://github.com/getsentry/sentry-java/issues/1000 , if so, you have to upgrade your Java SDK and recompile your App.

[2021-07-30 11:03] Syntbeheer opened #1705 "Update SDK recommendation when starting to use Sentry in ReactNative"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native: "^2.6.1"

### Steps to Reproduce

1. `npm install --save @sentry/react-native`
2. `npx @sentry/wizard -i reactNative -p ios android`
3. Add Sentry into App.js:
[code]

### Expected Result

I'd expect to have the latest SDK.

### Actual Result

[2021-07-30 12:42] jennmueng commented on #1705
@Syntbeheer Did you update from a prior version and forgot to remove a prior dependency? We do not have a dependency on `sentry-swift`.

[2021-07-30 13:35] makedirectory commented on #831
I can confirm this occurs on iOS too if you are using multiple .env files. Sentry only wants to read from the main .env file even if another configuration is specified

[2021-07-30 15:07] james2m commented on #1702
thanks @jennmueng

[2021-07-30 15:07] #1702 closed

[2021-08-02 09:37] RFG-G commented on #610
same issue

[2021-08-02 13:44] alex-a-pereira commented on #1662
Thanks, we changed out approach for this reason. We were previously initting sentry twice (once at JS bundle mount, again after `getUpdateMetadata` promise resolves) which was casuing some issues. I've updated my comment above in case anyone else stumbles across this thread

[2021-08-02 15:24] luispinho commented on #1139
Hello @pentolbakso. Do you remember how that Build Phase was prior to adding Sentry? I'm not entirely sure what I should revert there. I'm having the same issue on my side, where a build from TestFlight just hangs there without loading the app (I presume it's the same issue you had).

[2021-08-02 16:45] alex-a-pereira opened #1710 "Early native initialization causes unreadable sourcemaps - can we call init twice?"
After following the steps for manual native initialization, we observe two unexpected behaviors:
1. native exceptions do not include user, even after JS runtime calls configureScope to set user
2. JS errors have unreadable stack traces

My real question here is - why do we have to set `autoInitializeNativeSdk` to false? Are we not allowed to init native sdk twice? Thinking we should theoretically

[2021-08-02 17:46] b08Walls commented on #1170
@2j2e how is it going ? did you find a solution ?

[2021-08-03 06:08] jennmueng commented on #1710
@alex-a-pereira Yes calling init twice isn't allowed.

Can you try adding this statement to the `beforeSend` in obj c? Essentially follow how we init the Sentry Cocoa SDK in this React Native SDK. I think we forgot to add this as a note when writing the documentation.

https://github.com/getsentry/sentry-react-native/blob/afdb12befc999e51d6b25912ccb14ff26f51bb91/ios/RNSentry.m#L50-L54

[2021-08-03 06:09] #1662 closed

[2021-08-03 10:57] Imperyall commented on #1456
same here

[2021-08-03 11:48] pvegh commented on #1515
It's an easy fix, please improve your product

[2021-08-03 16:36] kylerjensen commented on #1077
@jennmueng From the looks of [this comment](https://github.com/facebook/fbjs/pull/413#issuecomment-876678078) it seems that facebook/fbjs#413 is not going to solve this issue. Am I reading that correctly?

[2021-08-03 17:54] alex-a-pereira commented on #1710
@jennmueng thanks for the response - we've de-prioritized the early-init for now on ios because android is really where we needed the early-init and the example in the android docs works perfectly.

I'll close this issue for now and re-open it when we return to implementing this (maybe a few weeks or so). I'll try your suggestion at that time! thanks again

[2021-08-03 17:54] #1710 closed

[2021-08-03 17:54] danmaas commented on #874
Just an update, as of appcenter-cli version 2.10.0 and later, AppCenter now takes care of running compose-source-maps. So the work-around in my comment above is no longer necessary.

[2021-08-04 06:07] pentolbakso commented on #1139
@luispinho sorry, I don't remember.. may be u could use git history for comparison

[2021-08-05 06:03] scblason commented on #1270
Are there any plans to fix the correct bunlde upload in the automatic source map upload process?
I'm getting the index.android.bundle of size 0b uploaded to sentry.io.

[2021-08-05 10:06] jennmueng commented on #1270
@scblason 0b for Hermes source maps is correct.

[2021-08-05 10:06] #1270 closed

[2021-08-07 21:49] Kiura commented on #1346
@jennmueng
This is so annoying, I had spent a few days trying to solve this issue.
The issue is indeed here:
https://github.com/getsentry/sentry-react-native/blob/211ec081b6bf8d7d29541afe9d800040f61e3c4e/src/js/integrations/debugsymbolicator.ts#L216-L221

I put this before the `fetch`
[code]
output:
[code]

[2021-08-07 21:50] Kiura commented on #1346
it would be nice to at least have an option to exclude some default integrations

[2021-08-08 12:26] FadiAboMsalam commented on #763
this issue took 2 hours from my time trying to know what is wrong then after running the app on real devices logs are received

[2021-08-09 06:26] raimonkh commented on #1633
We also seeing a lot of this errors. Is this still an issue and you recommend disabling OOMTracking? Or we just update new Sentry 2.6?

[2021-08-10 06:27] jaexplorer commented on #1633
I'm suddenly seeing alot of these on IOS. Any update to fix?

[2021-08-10 07:09] raimonkh commented on #1633
@jaexplorer as https://github.com/getsentry/sentry-react-native/issues/1633#issuecomment-869156850 says, disable it, I think it can be toggled for X amount of days.
I haven't found the solution, I believe this happens since version 2.5... on RN lib

[2021-08-10 07:58] Kamalnrf opened #1724 "NoSuchFileException while running release build"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native: "^2.4.3"

### Steps to Reproduce

1. npm install
2. cd android && ./gradlew :app:assembleProductionRelease

### Expected Result

Build to pass and generate a release APK

### Actual Result

The build fails with this error
[code]

[2021-08-10 08:04] HamzaIkram20 commented on #1724
+1, Started having the same issue today. Yesterday builds were working fine.

[2021-08-11 05:12] shubhamkes commented on #636
Is this working in React native? For me Fallback ui never shown, neither does onError gets invoked.
"@sentry/react-native": "2.3.0"

[2021-08-11 21:57] jaybuangan commented on #636
Same here.  it crashes on a device and I've tried both ways using @sentry/react-native and sentry-expo

[2021-08-12 02:34] gintamamadao opened #1726 "multiple DSNs reported independently"
is it possible to have multiple DSNs reported independently, the current @sentry/react-native config seems like a single instance, the sentry init method executed later will override the previous init config, finally only one DSN being reported.

[2021-08-12 23:42] zackify commented on #1350
This is a big problem.

There's nothing in the docs about it, just says "by default sourcemaps are uploaded with the react native sdk"

luckily found this issue, and was able to add `--force-foreground` and now i can see errors and the stack trace.

I just installed the latest version today and it wasn't working, would be good to get this patched.

[2021-08-13 05:41] jennmueng commented on #1726
@gintamamadao You can use multiple DSNs by initializing separate clients. I recommend initializing a global instance as usual by calling the usual `Sentry.init` to capture all errors. Then you can then follow this [code sandbox](https://codesandbox.io/s/l7qrkjn7nm) but instead of using `@sentry/browser`'s `Sentry.BrowserClient`, you would use `@sentry/react-native`'s `Sentry.ReactNativeClient`.

[2021-08-13 05:41] #1726 closed

[2021-08-13 05:43] jennmueng commented on #636
@jaybuangan @shubhamkes You can use the `Sentry.ErrorBoundary` and `Sentry.withErrorBoundary` as stated [here](https://docs.sentry.io/platforms/javascript/guides/react/components/errorboundary/) but you can import it from `@sentry/react-native`.

[2021-08-13 07:46] gintamamadao commented on #1726
It solved my problem, thanks a lot!

[2021-08-13 13:21] jennmueng commented on #1346
@Kiura Noted

[2021-08-13 18:39] retyui commented on #1409
Issue still reproduce on Android

[code]

---

fix helped https://github.com/getsentry/sentry-react-native/issues/1409#issuecomment-841188736

[2021-08-14 02:25] jaybuangan commented on #636
Thanks @jennmueng for the response.  I've tried the example you linked and it just shows the regular Expo error.  Maybe I'm testing it wrong.  Would I see it in Expo Go? or would I have to create a build and install it on my iPhone? I've also set expo to run in Production mode since Expo doesn't work in debug mode on the simulator and still never shows the custom ErrorBoundary or just a <Text> ele

[2021-08-14 06:49] jennmueng commented on #636
@jaybuangan What kind of error is it? Error boundaries only catch rendering errors and lifecycle methods FYI.

[2021-08-17 07:46] TangShengda opened #1733 "The bundle size is too large 430KB"
The bundle package volume is too large 430KB

[2021-08-17 15:28] ku8ar commented on #1733
@TangShengda Exactly. This is what it looks like in our project

![Zrzut ekranu 2021-08-17 o 09 21 58](https://user-images.githubusercontent.com/16975059/129754034-e75ab025-aecf-4f16-ac84-48b88458ef5e.png)

Modules marked in red seem completely unnecessary.

The problem seems to arise from importing entire modules:
[code]

I tried to manually change these imports in `@sentry/react-native` package,

[2021-08-18 00:15] sshadmand commented on #794
Echo @elkwood , Firefox does not seem to have a way to work around this. I can ignore the `instrument.ts` file but there is no option to Blackbox `/@sentry/`. @UnderscoreShift screenshots for FF?
<img width="786" alt="Screen Shot 2021-08-17 at 8 15 21 PM" src="https://user-images.githubusercontent.com/68735/129816835-d607f71d-2077-49fb-9a1b-277aaeeb4d10.png">

[2021-08-18 04:04] jennmueng commented on #1733
Let's follow the discission over on the sentry-javascript repo:  https://github.com/getsentry/sentry-javascript/issues/2707

[2021-08-18 07:44] bruno-garcia opened #1734 "Add performance monitoring to the wizard"
After the initial steps to add the SDK, lets guide the users through setting up performance monitoring

[2021-08-19 08:31] marandaneto opened #1735 "Do not set `stacktrace` if there are no `frames`"
eg:

[code]

[2021-08-19 10:15] andreialecu opened #1736 "RN 0.65: Error while dexing. The dependency contains Java 8 bytecode"
The React Native 0.65 upgrade helper recommends removing these lines from `build.gradle`:

[code]

ref: https://react-native-community.github.io/upgrade-helper/?from=0.63.4&to=0.65.0

Once removed, sentry stops compiling with this error:

[code]

Opening this just so it can be tracked. Not sure what the actual solution would be.

[2021-08-19 13:05] jinghongchan commented on #1173
is it a good idea to commit the `auth.token` in `sentry.properties` into git? What is an alternative approach if we were to gitignore `sentry.properties`? Is it possible to use ENV or something?

[2021-08-20 12:23] iagormoraes opened #1737 "React Native Sentry uploaded sourcemap not showing error traces correctly"
### Environment
React Native

How do you use Sentry?
"@sentry/react-native": "^2.6.0"

Which SDK and version?
"@sentry/react-native": "^2.6.0",

### Steps to Reproduce

1. run gradlew assembleRelease
2. gradlew sentry method uploads sourcemap and index.android.bundle
3. In sentry panel it shows 0B for index.android.bundle and 15.5MiB for sourcemap file
4. The error trace is being shown minified wi

[2021-08-20 20:03] hkhamm opened #1738 "Use @sentry/react-native in Swift"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
"@sentry/react-native": "^2.6.2"

### Steps to Reproduce

1. `yarn add @sentry/react-native`
2. `cd ios; pod install`
3. In JS `Sentry.init(...)`
4. In a *.swift file in my native iOS code `import Sentry`
5. Attempt to build the app in Xcode

### Expected Result

Compiles successfully and starts creating issues in sentry.io

[2021-08-20 20:15] hkhamm commented on #1738
[This issue](https://github.com/getsentry/sentry-react-native/issues/813) suggests it is possible to `import Sentry` from Swift

[2021-08-20 21:59] hkhamm commented on #1738
Importing into `AppDelegate.m` with `#import <Sentry/Sentry.h>` works great.

I can `[SentrySDK captureMessage:@"Test message"];` without any issues.

[2021-08-23 02:09] jennmueng commented on #1738
@hkhamm Yes it is standard to use `import Sentry` in swift. Looks like you have something set up wrong for swift, maybe check out here: https://github.com/getsentry/sentry-cocoa/issues/362#issuecomment-572589461

[2021-08-24 17:51] paulo-rodrigues-pontomais commented on #1104
as naive as it seems but in my case it was my emulator wifi that was not connected!
using v2.6.2

[2021-08-25 18:01] bruno-garcia opened #1744 "Create breadcrumbs for route changes on router integrations"
On the current (React Navigation v4 and v5) and future (like `react-native-navigation` by Wix), additionally from creating transactions, we can also create breadcrumbs.

The motivation is that even for errors, the crumbs list (with route changes) can help developers figure out what went wrong.

[2021-08-30 09:26] barthicus commented on #794
I fixed this by setting `console` field to `false` in the Breadcrumbs Integration which is one of the default Sentry Integrations.
Docs: https://docs.sentry.io/platforms/javascript/configuration/integrations/default/#breadcrumbs

In my case I had to add an integration config field:

[code]

I pasted my Sentry init example for the Next.js project but it should be similar in other similar environmen

[2021-09-01 04:55] Bardiamist commented on #1701
Is migration guide exist? Now I tried to update to v3 and can't build app.

[code]

[2021-09-01 06:22] jennmueng commented on #1701
@Bardiamist Try a full node_modules reinstall, that error looks to be a missing sentry cli. There shouldn't be changes needed for 3.0.0 apart from different `event.origin` values.

[2021-09-01 07:58] Bardiamist commented on #1701
Unfortunately not helped

[2021-09-01 10:13] christophemenager commented on #1701
I do have the same error @jennmueng.
It appears that in 3.0.0 there is no cli folder in the /node_modules/@sentry, so the error looks logical
How could we fix this ?

[2021-09-01 12:21] benlondon commented on #1701
It appears that in 3.0.0 there is no cli folder in the /node_modules/@sentry, so the error looks logical
How could we fix this ?

While not the best long term solution, adding an explicit dependency on the CLI worked for me:

[code]

[2021-09-01 12:43] nomi9995 commented on #1701
yes it is working

[2021-09-01 13:56] bruno-garcia commented on #1697
Resolved in #1749

[2021-09-01 13:56] #1697 closed

[2021-09-01 16:22] CesarLanderos commented on #1701
can confirm that worked for me as well, the new version does not include the CLI as a dependency.

I don't know if versions 2.x.x had it or was part of the wizard to install it magically

[2021-09-01 16:58] jennmueng opened #1754 "Missing sentry-cli dependency causes builds running the auto source map upload script to fail"
https://github.com/getsentry/sentry-react-native/issues/1701#issuecomment-910140682

[2021-09-01 17:12] renchap opened #1756 "Support for React Navigation v6"
`sentry-react-native` currently has an integration for `react-navigation` v4 and v5.

React Navigation v6 [has been released](https://reactnavigation.org/blog/2021/08/14/react-navigation-6.0) so it would be amazing to have support for it.

I dont expect the changes to be complex, here is the full upgrade guide with the important changes: https://reactnavigation.org/docs/upgrading-from-5.x

[2021-09-01 17:45] user512 commented on #1701
Thank you for all the hard work!
I upgraded to 3.0 and was able to use the workaround from https://github.com/getsentry/sentry-react-native/issues/1701#issuecomment-910231456 to make things work.

In https://github.com/getsentry/sentry-react-native/issues/1701#issuecomment-905623863, it was mentioned there's a migration guide but I don't see it here: https://github.com/getsentry/sentry-react-nativ

[2021-09-01 17:46] #1754 closed

[2021-09-01 17:49] jennmueng commented on #1701
@user512 We ended up not needing a full migration guide as we ended up making it fully backward compatible apart from the `event.origin` tag values which we are working on documenting soon.

[2021-09-01 17:58] jennmueng commented on #1701
Closing this issue now. The `sentry-cli` missing dependency bug is now fixed in version [3.0.1](https://github.com/getsentry/sentry-react-native/releases/tag/3.0.1).

**There is no migration guide** as no changes will need to be made in your codebase when upgrading to 3.x from 2.x.

[2021-09-01 17:58] #1701 closed

[2021-09-03 17:59] prometheas opened #1757 "Fatal error on startup after upgrading to @sentry/react-native v3.0.1"
### Environment

How do you use Sentry?

Within a React Native app

Which SDK and version?

@sentry/react-native@3.0.1
Node v12.18.4
React Native 0.63.4
macOS 11.5.1 (20G80)
XCode Version 12.5.1 (12E507)

### Steps to Reproduce

Well, I can speak to my steps, which isn't exactly what this is asking, but it's the best I've got.

I had upgraded to v3.0.1, flushed out a bunch of caches, and fired up

[2021-09-03 18:08] rnystrom opened #1758 "Warm and Cold start metrics not reported"
### Environment

How do you use Sentry? RN app on iOS only
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?): Sentry.io

Which SDK and version? 3.0.1
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

1. Wrapped app with `Sentry.wrap(App)`

### Expected Result

Cold and warm start metrics automatically captured as [the docs suggest](https://docs.sentry.io/platforms/react-

[2021-09-03 18:17] rnystrom commented on #1758
Actually may have solved this accidentally by enabling 100% sampling for navigation events.

[code]

Is that how this works?

[2021-09-06 08:16] NilPuig opened #1760 "Can't upgrade to v3.0.0"
### Environment

iOS (Xcode)

Which SDK and version?
- sentry-react-native v3.0.0
- Node v14.17.5
- Xcode v12.5.1
- Deployment info: iOS 10.0
- Pod version: 1.10.1

### Steps to Reproduce

1. `yarn add @sentry/react-native@latest`
2. `yarn; npx pod-install`
3. Error occurs during pod installation

### Expected Result

Pods should be installed

### Actual Result

I get the following error:
[code]

[2021-09-07 00:18] cvburgess commented on #1756
Will the v5 handler work in the meantime or should we turn off instrumentation?

[2021-09-07 07:26] pvegh commented on #1515
It's 3 major versions behind.
Please fix this warning for all of us soon!

[2021-09-07 08:15] pvegh commented on #1512
When is next?

[2021-09-07 10:59] #1512 closed

[2021-09-07 10:59] #1515 closed

[2021-09-07 11:15] marandaneto commented on #1515
https://github.com/getsentry/sentry-react-native/releases/tag/3.0.2

[2021-09-07 11:15] marandaneto commented on #1512
https://github.com/getsentry/sentry-react-native/releases/tag/3.0.2

[2021-09-07 12:50] TomCorvus opened #1762 "An error occurred during Android build since last update"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
react-native 3.0.2

### Steps to Reproduce

1. Build the Android application (Debug or release mode)

### Expected Result

Build successfully

### Actual Result

An error is occurred. Same error when I try to build the Android app with AppCenter.
Everything worked fine 3 hours ago. Maybe caused by @marandaneto last commit?

[2021-09-07 12:57] nomi9995 commented on #1762
same issue

[2021-09-07 13:25] nomi9995 commented on #1762
@TomCorvus you can manually patch from this PR https://github.com/getsentry/sentry-react-native/pull/1763 to fix this error

[2021-09-07 14:38] TomCorvus commented on #1762
Thanks @nomi9995 👍

[2021-09-07 14:42] TomCorvus commented on #1762
@nomi9995 I think you miss to close braces line 21-22 in build.gradle

[2021-09-07 15:11] nomi9995 commented on #1762
@TomCorvus fixed. thanks

[2021-09-07 17:18] marandaneto commented on #1762
@TomCorvus which version of the Android Gradle Plugin are you building against? https://github.com/getsentry/sentry-react-native/pull/1763 should not be necessary since Java 8 is the default target/source for AGP >= 4.2

[2021-09-07 17:18] marandaneto commented on #1762
https://developer.android.com/studio/releases/gradle-plugin#java-8-default

[2021-09-07 19:33] nomi9995 commented on #1762
@marandaneto most of the users are not using AGP >=4.2. there are two options for the user to fix this

1. update AGP version to 4.2
2. patch package by adding default java 8

I think, forcefully update the AGP version from the user is not a good approach

[2021-09-08 01:09] jennmueng commented on #1760
Hmm, I would try it again and make sure the `pod repo update` command is run before you do the pod install. Closing this as Sentry Cocoa version `7.2.6` exists and looks like no one else has run into this issue. So it looks to just be an out of date source for you and not an issue with our SDK.

[2021-09-08 01:09] #1760 closed

[2021-09-08 01:11] jennmueng commented on #1757
@prometheas Do you have `@sentry/tracing` as a dependency in your `package.json`? You will need to remove it as this SDK has its own dependency and will almost always require a specific version.

[2021-09-08 01:13] jennmueng commented on #1758
@rnystrom App start measurements should be attached to transactions with `op: "ui.load"`. So I would sample those if you are looking to enable traces one-by-one in `tracesSampler`.

[2021-09-08 02:10] rnystrom commented on #1758
@jennmueng Great! We are seeing cold start measurements now, but warm start looks totally blank. Is that expected? Or is there something we may have overlooked to also receive warm start metrics?

[2021-09-08 06:47] #1762 closed

[2021-09-08 10:08] JulianKingman commented on #761
For me, I was using custom `release` and `dist` parameters with the CLI and init command. Like this:
[code]
and
[code]

I noticed that in the source maps, however, that despite having set the release and dist, it was actually uploading a source map called with a release string of `$bundle_id@$version+$iosVersion`, and looking for that, so I changed it to:
[code]
and
[code]
And now it works! So it

[2021-09-08 10:31] iagormoraes commented on #1737
@jennmueng I've read the document you shared and as we don't have a custom map for it there is no need for extra setup to make the source map hermes to work, what I saw on the standard is that we need to wrap the App component. Does this is the missing part that is making the source map to not being used?

[2021-09-08 16:36] jennmueng commented on #1737
@iagormoraes No you do not need the wrapper for the source maps to work. Can you try doing the manual step and see if those source maps work compared to the default ones? FYI you might need a new release for the new source maps to be registered as overwriting the auto-generated ones don't always work.

[2021-09-08 17:03] jennmueng commented on #1758
@rnystrom Hmm warm starts should also come when cold start measurements come. Maybe you can try to trigger a warm start manually and see if it works. You can read what a warm start is here: https://docs.sentry.io/product/performance/mobile-vitals#app-start

[2021-09-08 21:49] eliw00d opened #1765 "index.android.bundle.hbc.e6d69f: No such file or directory"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

### Steps to Reproduce

Tried to upgrade my project from React Native 0.63.4 to 0.65.1 and enable hermes for Android.

I am using a monorepo and have the following in my `build.gradle`:
[code]

Here is my `android/sentry.properties`:
[code]

### Expected Result

Source maps would be handled like before,

[2021-09-09 03:44] 0b3r commented on #1456
same here

[2021-09-09 07:47] liamjones commented on #1765
We're not using Hermes currently but maybe this will still help? I don't recall exactly all the changes we made to get Sentry working in the monorepo but, from what I can relocate:

`packages/apps/[app-name]/android/app/build.gradle`:

[code]

Note, changed `entryFile` and we're not changing the Sentry cli path there, we're instead doing it in sentry.properties (I _think_ because that way it also

[2021-09-09 14:04] eliw00d commented on #1765
Unfortunately, it still has the same error with the few things that were different between our setups. It seems like it does not generate the .hbc file at all.

[2021-09-09 15:38] liamjones commented on #1765
Ah, I think something we are doing differently then is the fact that we change our `projectRoot` in each app's `metro.config.js` to reference the top of the monorepo (so the entryFile is then relative to that).

I _think_ we did this to get references to images in submodules working correctly? It may also have been TypeScript related. Can't recall tbh.

Note, if this difference helps you, we had t

[2021-09-09 18:40] jennmueng commented on #1737
@iagormoraes Make sure you're passing `--org` and `--project` as an argument to the releases command and not to the subcommands:

[code]

[2021-09-09 19:13] bruno-garcia commented on #1633
Resolved in the cocoa SDK: https://github.com/getsentry/sentry-cocoa/issues/1252

[2021-09-09 19:13] bruno-garcia commented on #1633
SDK version 3.0.3 should already include this fix

[2021-09-09 19:13] #1633 closed

[2021-09-09 19:18] bruno-garcia opened #1766 "Document `promise` min version required on troubleshooting page"
We need to document the min required version of `promise` to be 8.1.0 (or matching RN version) so this can be clarified in the troubleshooting page and close the issue: https://github.com/getsentry/sentry-react-native/issues/1077

[2021-09-10 03:52] superhen opened #1767 "Android bundle with Hermes Engine that use custom file suffixes cannot recognize Source Code and Source Map"
### Steps to Reproduce
Our project uses the .hermes suffix as the name of the bundle. The source code and source map have been uploaded, but the error Source Code is not found is reported. I suspect this is caused by our custom suffix. Does Sentry support such custom suffixes?
![image](https://user-images.githubusercontent.com/21170613/132796857-66df8eef-083e-481f-955a-e0db7a8fbad1.png)
![image](h

[2021-09-10 04:01] superhen commented on #1767
![image](https://user-images.githubusercontent.com/21170613/132797627-ab14460d-a3ed-4d07-9c6f-dc321dc0503c.png)

It seems that I cannot upload the complete file of .hermes. Could this be the cause of the problem.

My upload command is as follows:
npx sentry-cli releases files xxx upload-sourcemaps ./dist/android --dist 780 --rewrite ./dist/android/mitra.android.hermes ./dist/android/mitra.android.

[2021-09-10 05:51] marandaneto commented on #1737
@jennmueng are u sure? https://docs.sentry.io/product/cli/configuration/#explicit-options

[2021-09-10 12:46] yusufdeepwork commented on #924
I get issue again I couldnt find a solution

[2021-09-10 15:12] jennmueng commented on #1737
Yup @marandaneto, ran it to make sure.

[2021-09-10 15:18] jennmueng commented on #1767
@superhen Hmm if the "not found" error shows this means we can't find the sourcemap. If the sourcemaps are detected but incorrect it would either show a different red error on Sentry or the event would have the incorrect source line highlighted. Hermes sourcemaps often show a 0B size on Sentry so that shouldn't be an issue.

We'll investigate this. Can we get a link to the event?

[2021-09-10 15:41] bruno-garcia commented on #1767
@kamilogorek is this something you can help us with?

[2021-09-10 17:25] yusufdeepwork commented on #972
I get same error

[2021-09-13 03:54] superhen commented on #1767
OK. In fact, we reported this issue to the sentry deployed by ourselves. So I created a demo error and reported it to the public site.
So, may you leave your email? I will share the event link with you.
Thx so much.

[2021-09-13 18:47] #1756 closed

[2021-09-13 22:46] bruno-garcia commented on #1756
3.1.0 includes support. We just merged docs too.

Basically v5 was renamed to just ReactNavigation and it works for v5 and v6

[2021-09-14 09:11] kamilogorek commented on #1767
@superhen feel free to send it through to kamil[at]sentry.io

[2021-09-14 09:16] ghasemikasra39 commented on #750
In my case, I can see that the artifacts are missing:
![Screenshot 2021-09-14 at 11 08 29](https://user-images.githubusercontent.com/24314029/133230113-afbcc2c8-1754-4a74-8fd4-bd6aee19de85.png)
![Screenshot 2021-09-14 at 11 07 21](https://user-images.githubusercontent.com/24314029/133230131-2dd2c593-9566-4e51-82eb-f9878191e22d.png)
![Screenshot 2021-09-14 at 11 05 46](https://user-images.githubuse

[2021-09-14 10:11] ghasemikasra39 commented on #1350
I am using ` "@sentry/react-native": "^3.0.3"`. Adding `--force-foreground` did not help:
![Screenshot 2021-09-14 at 12 09 21](https://user-images.githubusercontent.com/24314029/133239101-3105d86e-605f-4272-8123-66883db90c93.png)
![Screenshot 2021-09-14 at 11 08 29](https://user-images.githubusercontent.com/24314029/133239152-1e9b2c05-c260-47b8-b625-be57585de4ca.png)
![Screenshot 2021-09-14 at 11

[2021-09-14 16:37] darrylyoung opened #1773 "No errors reported since upgrading to 3.0.1 from 2.6.2"
### Environment

How do you use Sentry?
* Sentry SaaS (sentry.io)

Which SDK and version?
* sentry-expo: `^4.0.1`
* @sentry/react-native: `^3.1.0`

### Steps to Reproduce

1. Upgrade `@sentry/react-native` from `2.6.2` to `3.0.1`
2. Use the app as usual
3. Notice that after a week or so, no issues have been reported (even after manually triggering an error)

### Expected Result

I'd expect to see

[2021-09-14 16:48] jennmueng commented on #1773
@darrylyoung If you're using sentry-expo I think you should rely on their versions rather than upgrading through this @sentry/react-native sdk as there could be changes that have not been accounted for in the sdk for expo. Anyways, can you show us the javascript logs with `debug: true` passed to the Sentry init call?

cc @cruzach

[2021-09-14 16:53] jennmueng commented on #750
@ghasemikasra39 Are the custom source map build scripts being disabled somehow?

[2021-09-14 18:04] iagormoraes commented on #1737
Followed @jennmueng configuration for the cli command and it uploaded my generated files, so I have tested them on sentry platform and the files are there.

The error traces is being mapped as expected:

<img width="1074" alt="Screen Shot 2021-09-14 at 15 03 18" src="https://user-images.githubusercontent.com/13892132/133310189-95884af5-e596-4985-bea5-4375a73b02f3.png">

[2021-09-15 06:50] darrylyoung commented on #1773
Hi, @jennmueng. Thanks for the reply.

Sure, here's what I see:

[code]

[2021-09-15 07:04] darrylyoung commented on #1773
Here's a little more information:

* I'm using React Native `0.65.0` with Hermes enabled
* I'm testing on an iPhone 12 Pro Simulator with iOS 14.5 (but I'm not getting errors reported from actual devices on TestFlight either)

I noticed, in Expo's [_Using Sentry_](https://docs.expo.dev/guides/using-sentry/) page, that it first mentions to use `import * as Sentry from 'sentry-expo';` but then, when

[2021-09-15 15:09] ghasemikasra39 commented on #750
Yes, I removed them. And I upload the artifacts finally.

I am a bit confused. First of all, this URL (I pointed in the first image) changes based on which file the error is located at, which is weird. Apart from that I had a few questions:

- Q1: Do I **have to** create a build for **TestFlight** for the Source Mapping to work?
- Q2: Can I just install the app on my iPhone via xCode and then manu

[2021-09-15 16:54] jennmueng commented on #750
@ghasemikasra39
1. Sourcemapping on Sentry only works on production builds, in development builds the stack trace should come in unminified.
2. You just need to run a release builds to get source maps to work, but if you disabled the sourcemap upload script you would need to manually upload the sourcemaps like you're doing right now.
3. In the second image, you're pointing to the release, which ca

[2021-09-15 16:56] jennmueng commented on #1773
@darrylyoung Hmm, did you make sure to run `pod install` after updating to the latest version? Also, can you pass a `beforeSend` option into your `Sentry.init` call and log to see if the event comes through after an error is captured?

[2021-09-15 18:52] darrylyoung commented on #1773
Hi, @jennmueng. Thanks for the message. Yes, I'd already tried `pod install` as well as clearing literally everything related to React Native. I wasn't aware of `beforeSend` so I just tried with this so I hope it's enough for what you need:

[code]

When manually throwing an error with `throw new Error('My first Sentry error!')`, I now see the following:

[code]

Any idea what the _device context_

[2021-09-16 14:16] ghasemikasra39 commented on #750
Creating a release build for TestFlight, everything starts to work. Thank you for your help.

[2021-09-17 17:15] bruno-garcia opened #1775 "Document ErrorBoundary"
Perhaps some of the JS docs could be moved to an include and reused.
But here we need to document why it's needed vs bubbling to the unhandled exception integration.
And when/how the white screen rendering happens

[2021-09-17 17:20] bruno-garcia commented on #750
We'll take some of the learnings from here and add to the troubleshooting guide in the docs.
This issue though is resolved and I'll lock it to avoid new threads starting.

[2021-09-17 17:20] #750 closed

[2021-09-17 17:33] bruno-garcia opened #1776 "Listen to Span creation from native layer"
The native SDKs could have a span creation callback that would be leverage by hybrid SDKs such as RN.
In the event of span/transaction creation, the hybrid layer would listen and append to any current transaction under a `native` operation.

In a way that all spans created in the native layer would be children of this one span.

[2021-09-20 10:50] irohitb opened #1782 "Sentry for sdk's"
How can we have sentry in our sdk?

The problem is that if someone using our sdk also uses sentry then it's going to have problem with DSN's (sentry doesn't support multiple DSN's)

One way I can think is to catch the app crash exception explicitly, send the log manually

but besides that, is there any other way? where don't have to manually catch and send logs?

[2021-09-20 14:13] darrylyoung commented on #1773
Hi, @jennmueng / @cruzach.

I just tried changing the Sentry import, despite this being wrong according to [Expo documentation](https://docs.expo.dev/guides/using-sentry/#additional-bare-workflow-setup), and I actually saw an error in Sentry (the first since upgrading to `3.x`). Note that I just tried this in `App.tsx` where I initialise Sentry and haven't changed imports elsewhere.

Before

[code

[2021-09-21 06:53] marandaneto commented on #1782
instead of using the `Sentry` static class, consider creating your own instance of `Hub`, https://docs.sentry.io/platforms/react-native/enriching-events/scopes/ but obviously, you have to manually catch and report the exceptions.
for unhandled exceptions, you also have to register to the hooks manually, the Sentry SDK is meant to be used by final Apps and not 3rd party libs.

[2021-09-21 08:20] ayubov opened #1783 "Unknown UserID in uppercase"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
"@sentry/react-native": "^2.6.0",

Hello!

I'm identifying my users by calling ```Sentry.setUser({ id });``` in the app. With some events everything works and I see IDs there, but with others I see a weird uppercased IDs which I couldn't have passed.

Where are these IDs coming from, how to fix that?

[2021-09-21 08:43] marandaneto commented on #1783
@ayubov iOS or Android? could be that your `id` is null at this point? if there's nothing set, the SDK sets a default `id` which is the `installationId`, can you also copy and paste this weird uppercased ID so we can check its format?

[2021-09-21 08:47] likrot commented on #1350
@ghasemikasra39 hi, what kind of build have you done? For me, it works only with release/archived versions. When I build debug version dysm file is not uplaoded.

[2021-09-21 09:03] ayubov commented on #1783
iOS, not sure about Android. Nope, looks like it couldn't be null in the moment of calling `Sentry.setUser()`. But I call it after `Sentry.init()`.

ID example:
`C3469EB5-130E-4682-8D6E-A7AFBEF35F9F`

[2021-09-21 10:53] marandaneto commented on #1783
that looks like the generated id by https://github.com/getsentry/sentry-cocoa, @philipphofmann to confirm.
please @ayubov double check if your `id` can be null at any point, that would fall back to the default generated id.

[2021-09-21 11:53] marandaneto commented on #1783
@jennmueng please have a look at it then, if the `id` can be lost during serialization or something

[2021-09-21 12:54] ghasemikasra39 commented on #1350
@likrot It only works on `release` versions. If you upload the source maps manually (like me), remove the steps above from your build phases.

[2021-09-22 05:01] jennmueng commented on #1773
@darrylyoung From what I see here:
[code]
This suggests to me that you are still missing the native module. I would make sure that the `pod install` actually installed the native module.

Also, `sentry-expo`'s `.Native` is essentially just passing along what we export from `@sentry/react-native`, so if you use our SDK directly and not expo's, you can skip the `.Native.` prefix.

[2021-09-22 05:06] jennmueng commented on #1737
@iagormoraes If I recall correctly, you would use the format `com.company.package@version` for your release value, you would then get the `package` field in your release info. The error icon for JS files can either be a JS or a NodeJS one.

[2021-09-22 05:06] #1737 closed

[2021-09-22 07:10] darrylyoung commented on #1773
Hi, @jennmueng.

I tried using `Sentry.nativeCrash` but as I'm using the Expo import, it was `Sentry.Native.nativeCrash()`. This worked in that it crashed the app back to the Home Screen on the iOS Simulator. Nothing in Sentry, though. Is there any other way to check if the native module was installed correctly or is that crash enough to show that it was?

As before, I just switched to the `import

[2021-09-22 07:45] BentoumiTech opened #1787 "react-native xcode build failing: Property with 'retain (or strong)' attribute must be of object type"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
`"@sentry/react-native": "^3.1.1",`

### Steps to Reproduce

When I build the app in Xcode the build fails with this message :

`Property with 'retain (or strong)' attribute must be of object type` it refers to the SentryDispatchQueueWrapper.m file

![image](https://user-images.githubusercontent.com/11541898/13

[2021-09-22 11:42] philipphofmann commented on #1783
See https://docs.sentry.io/platforms/apple/enriching-events/identify-user/

Do we do something similar on Android @marandaneto? I think we should add this info also to the identify-user docs of the hybrid SDKs.

[2021-09-22 11:46] liamjones commented on #1765
Sorry, I'm not that familiar with hermes specifics, we haven't switched over to it yet due to some other blocking dependencies.

Might be worth asking on the Sentry Community discord? https://discord.com/invite/sentry

[2021-09-22 12:03] BPatinho commented on #1773
Hi @darrylyoung  I'm facing the same issue in a React Native 63.4 with Expo 42 Bare Workflow so I'm not sure if it's related to your React Native 65 version. I did as you suggested and changed my `Sentry. init()` from
[code]
to
[code]

And I'm sending all my issues using Sentry.Native from sentry-expo and it's showing up again in Sentry, But I'm not able to see my source maps, If I make a new rele

[2021-09-22 12:56] darrylyoung commented on #1773
HI, @BPatinho. I'm sorry to hear that you're also having trouble but I'm glad it's not just me as I've just spent the whole morning going back through package updates, testing along the way, and the only time I'm getting errors reported properly is when I'm back on Sentry `2.6.2` or if I'm (apparently incorrectly) importing from `@sentry/react-native` and not `sentry-expo`. It doesn't seem to matt

[2021-09-22 15:25] zyzo commented on #1773
Hi guys, I'm not using Expo at all, just react-native, and by upgrading from `2.1.0` to `3.0.1` I'm having the same issues. Error reporting just stopped working in production mode, but work fine in dev mode.

I was able to identify the problem, it's down to codepush & sentry wrapper order.

Before (doesn't work) :
[code]

After (working) :
[code]

Not sure why though 😔

[2021-09-22 17:21] jennmueng commented on #1787
cc @philipphofmann

[2021-09-23 01:51] Dsantacruz commented on #746
This worked for me

[2021-09-23 08:39] superhen commented on #1767
I was pleasantly surprised to find that the sourcemap in sentry.io no longer has any problem. The sentry version used by our enterprise is Sentry 20.10.178833d9. Is the problem caused by the version?

[2021-09-23 10:23] superhen commented on #1767
I have updated my self-hold Sentry to Sentry 21.9.0 4e50898
However, it still doesn't work.

In Sentry.io
![image](https://user-images.githubusercontent.com/21170613/134491536-f8a8d03e-0658-412d-a4e7-d25ed854b482.png)

![image](https://user-images.githubusercontent.com/21170613/134491350-a9a6e75c-2569-46ee-88fb-19792aeb9a4a.png)

In self-hold sentry
![image](https://user-images.githubusercontent.c

[2021-09-23 16:24] ahartzog opened #1788 "useProfiler does not report/generate transaction spans"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "3.1.0",

### Steps to Reproduce

1. Enable Sentry Performance tracing in initialization
2. Implement `useProfiler` hook inside a component

### Expected Result

I would expect to see the spans reported in the Performance section for this application

### Actual Result

No evidence of pe

[2021-09-24 17:12] stewartmcgown commented on #1633
@Asvarox We're currently seeing a lot of these OutOfMemory crashes - not sure if they are real crashes or not. Did you find out the problem?

[2021-09-24 18:35] #971 closed

[2021-09-24 20:34] jaydgoss opened #1789 "Obfuscated hermes source code"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
sentry.io

Which SDK and version?
@sentry/react-native 3.1.1

### Steps to Reproduce

1. Create ios js bundle and sourcemap
   - `react-native bundle --platform ios --entry-file index.js --bundle-output codepush/main.jsbundle --assets-dest codepush --dev false --sourcemap-output ./codepush/ma

[2021-09-24 20:39] jaydgoss commented on #1789
Appears similar to https://github.com/getsentry/sentry-react-native/issues/649

[2021-09-25 12:43] liamjones commented on #1454
We're also experiencing this (on v3.1.1).

I've done some digging and I think I've found the root cause.

https://github.com/getsentry/sentry-react-native/blob/3.1.1/src/js/tracing/reactnavigationv4.ts#L181 assumes that `originalGetStateForAction(action, state)` is _always_ going to produce a state object and this isn't true.

In our specific code's case, the `originalGetStateForAction` call is en

[2021-09-27 02:28] jaydgoss commented on #1789
Was able to fix this by uploading the plain JS bundle + the merged hermes sourcemap to sentry

[2021-09-27 16:09] jennmueng commented on #1789
@jaydgoss On iOS you don't need to do the hermes sourcemap steps actually, it has proven to us to seem to work just fine with just the normal source maps, the [merging step outlined here](https://docs.sentry.io/platforms/react-native/manual-setup/hermes/#custom-source-maps) is only needed on Android.

[2021-09-27 16:09] #1789 closed

[2021-09-27 16:10] jennmueng commented on #1454
@liamjones I see this now, added to our immediate TODO.

[2021-09-28 07:36] 345ml commented on #1454
Good job!

[2021-09-28 07:43] darrylyoung commented on #1773
Hi, @jennmueng.

Since `sentry-expo` was just [updated](https://github.com/expo/sentry-expo/issues/212#issuecomment-927873287) to use `"@sentry/react-native": "^3.1.1"`, I'm now seeing errors again in Sentry. Note that I'm still using the `sentry-expo` import as I was prior to the issue starting when the version mismatch happened. Thank you so much for your continued support — it's very much appre

[2021-09-28 08:37] ayubov commented on #1783
@marandaneto @philipphofmann @jennmueng hey guys, any updates, please?

[2021-09-28 09:02] marandaneto commented on #1783
yes, just fixed the Android wording https://github.com/getsentry/sentry-docs/pull/4200 since `Secure.ANDROID_ID` has been removed a while ago

[2021-09-28 09:06] marandaneto commented on #1783
@philipphofmann indeed, would you like to raise an issue? Flutter and RN should be added as well, probably Cordova, etc...

@jennmueng could you check if `setUser` works as expected?

@ayubov sorry for delay, we'll have a look at it, meanwhile, would you mind to check your `setUser` call? maybe you are missing the `id` part of it.

eg `Sentry.setUser({ id: id });`, looks like you are setting the `

[2021-09-28 09:20] philipphofmann commented on #1783
I opened up a PR instead @marandaneto https://github.com/getsentry/sentry-docs/pull/4201.

[2021-09-28 09:43] ayubov commented on #1783
@marandaneto I think I'm doing everything according to the [docs](https://docs.sentry.io/platforms/react-native/enriching-events/identify-user/)

When I'm calling `Sentry.setUser({ id })` - I'm calling setUser with an object with property with name id and value equals to id variable in current lexical scope. It is the same as `Sentry.setUser({ id: id })` [since ES2015](https://developer.mozilla.or

[2021-09-28 09:49] marandaneto commented on #1783
@ayubov thanks for confirming, as I don't know the structure of your `id`, I wanted to confirm, lets wait for @jennmueng

[2021-09-29 17:41] #850 closed

[2021-09-29 17:43] jennmueng commented on #944
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:43] #944 closed

[2021-09-29 17:44] jennmueng commented on #1033
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:44] #1033 closed

[2021-09-29 17:44] jennmueng commented on #1083
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:44] #1083 closed

[2021-09-29 17:44] jennmueng commented on #830
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:44] #830 closed

[2021-09-29 17:45] jennmueng commented on #829
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:45] #829 closed

[2021-09-29 17:45] jennmueng commented on #1097
Closing this on the basis of being more than a year old with no updates. If the issue still persists, feel free to reopen.

[2021-09-29 17:45] #1097 closed

[2021-09-30 10:41] ayubov commented on #1783
@jennmueng I noticed it with native code errors (like app crash events, OOM etc). I think yes, all of these events are missing the IDs. setUser is being called right after user's signing in.

Also interesting that some JS events which happens before signing in don't have any ID in user section at all, like this:
![image](https://user-images.githubusercontent.com/26591995/135440306-faea85fa-83e0-41

[2021-10-01 23:06] pke commented on #1661
I can confirm, it took me an hour to play with initial scope but it does not seem to allow me to add tags.
However, `Sentry.configureScope` also does not allow me to add tags.

[code]

The `test` tag never shows up on any issue.

[2021-10-05 20:14] dawidchyrzynski commented on #1789
@jennmueng I'm wondering if the merging step is really needed on Android. Latest RN seems to be already generating merged source maps, see it here from line 178 - https://github.com/facebook/react-native/blob/main/react.gradle

[2021-10-05 21:45] pke opened #1812 "This project is on sentry.cocoa@v7.3.0 Update to sentry.cocoa@v7.4.2"
Using the current SDK
**SDK:**
- [X]  `@sentry/react-native`

**SDK version:** 3.1.1

The sentry.io website prints the warning

I can see an upgrade to sentry.cocoa was the last commit here but maybe another update is already due?

[2021-10-06 00:13] thefinnomenon opened #1813 "does this library support react-native-macos?"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 3.1.1

### Steps to Reproduce

1. `yarn add @sentry/react-native`
2. `npx @sentry/wizard -i reactNative -p ios`
3. `pod install`
4. `react native macos`

### Expected Result

The Mac app builds and reports errors to Sentry.

### Actual Result
[code]

[2021-10-06 01:12] jennmueng commented on #1757
Closing this due to no response, along with us most likely knowing what caused it.

[2021-10-06 01:12] #1757 closed

[2021-10-06 01:14] jennmueng commented on #1773
Closing this as sentry-expo was updated.

[2021-10-06 01:14] #1773 closed

[2021-10-06 11:57] thomsocialbrothers opened #1814 "Builds failing on CircleCI because of sentry-cli (node_modules/@sentry/cli/sentry-cli: cannot execute binary file)"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
@sentry/react-native@3.1.1

### Steps to Reproduce
- Add @sentry/react-native@3.1.1 to your React Native project
- Configure your project using `npx @sentry/wizard -i reactNative -p ios android`
- Try to build your app on CircleCI

### Expected Result

I expect the app to be building normally, just as it would do locally.

[2021-10-06 20:45] dawidchyrzynski opened #1815 "Obfuscated Hermes source code"
### Environment

How do you use Sentry?
SaaS

Which SDK and version?

- @sentry/react-native@3.1.1
- fastlane-plugin-sentry@1.10.0

### Steps to Reproduce

1. Setup project with RN 0.65.1
2. Add `SOURCEMAP_FILE=sourcemaps/main.jsbundle.map` env variable to `Bundle React Native code and images` build step (iOS)
2. Build project using Fastlane (`gym`)
3. Upload source map and Hermes jsbundle using F

[2021-10-07 08:45] radhakrishnapai opened #1816 "Getting <redacted> in crash logs in on-premise integration"
### Environment
React native integration in iOS

How do you use Sentry?
On-premise Sentry 21.6.3

Which SDK and version?
"@sentry/react-native": "3.0.3".
"@sentry/wizard": "1.2.11"

### Steps to Reproduce

1. Integrate React native sentry SDK as per document [Sentry React Native](https://docs.sentry.io/platforms/react-native/)
2. Log native crashes in iOS.

### Expected Result

See complete stack

[2021-10-08 12:01] cKurultayKalkan commented on #1446
+1

[2021-10-08 12:18] marandaneto commented on #1446
@cKurultayKalkan have you tried using the latest versions of the SDK?

our samples use Gradle 6.9.x and it works https://github.com/getsentry/sentry-react-native/blob/master/sample/android/gradle/wrapper/gradle-wrapper.properties

[2021-10-08 12:25] marandaneto commented on #1815
cc @jennmueng

[2021-10-09 05:21] jayshah123 opened #1818 "Huge bundle size in react-native for sentry/react-native (264kb)"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-react-native 3.0.0
React native 0.63.2

### Steps to Reproduce

1. analyze using `npx react-native-bundle-visualizer` in a project that contains `sentry/react-native`

### Expected Result
Smaller bundle size, I see packages like browser etc included which would probably not be needed.

### Actual Result

[2021-10-09 06:00] jennmueng commented on #1814
cc @kamilogorek

[2021-10-09 06:02] jennmueng commented on #1814
FYI This is the source code build script, in the meantime you're free to skip running our build script to get your CI working for now.

[2021-10-09 18:51] radko93 commented on #1446
I don't have this issue anymore.

[2021-10-11 08:57] marandaneto commented on #1816
cc @jennmueng

[2021-10-12 04:23] Shing-Ho commented on #1814
![image](https://user-images.githubusercontent.com/57267692/136891041-1007685c-6799-4b1f-b5df-e185a8041534.png)
It's the same for me. It stopped building after the sentry install.

[2021-10-12 09:34] savv commented on #1633
[sorry for the double posting [here](https://github.com/getsentry/sentry-cocoa/issues/1185#issuecomment-940825075) - this seems like a more relevant place]

Sadly, I'm still getting this error. We are using Sentry via its React Native integration, which is on 7.3.0. It does not seem to be a legitimate OOM, and we are only getting it in our staging version where we recently upgraded sentry to the l

[2021-10-12 11:34] marandaneto commented on #1818
@jayshah123 is 264kb before or after treeshake?

`browser` and `integrations` are vitals for the RN SDK so we can't remove them, but only used code should be bundled anyway.

[2021-10-13 14:14] savv opened #1830 "(ios only) codepush.restartApp triggers invalid OutOfMemory errors"
### Environment

How do you use Sentry? Sentry SaaS (sentry.io)

Which SDK and version? "@sentry/react-native": "3.1.1",

### Steps to Reproduce
Our app is generating `OutOfMemory The OS most likely terminated your app because it overused RAM.` errors since upgrading to 3.1.1. We were previously on 2.4.2. The Podfile.lock shows that Sentry/Core (= 7.3.0) is installed. It previously showed: Sentry/

[2021-10-14 03:58] superhen opened #1834 "My React Native project always send a 'Should add at least one event processor' warning"
As title described,
my React Native project always send a 'Should add at least one event processor' warning.
![image](https://user-images.githubusercontent.com/21170613/137249150-37e5a9da-880a-4195-bffb-073dbc8c9db4.png)
I don't know why it occurs.Should I ignore it?

[2021-10-14 15:05] jennmueng opened #1835 "Document React Navigation Instrumentation rename in migration"

[2021-10-15 09:27] GiorgioBertolotti commented on #1043
Hello @marandaneto, FYI I'm still facing this issue, with ~1.5k events on ~900 users.
Just wanted to let you know that probably it's still an issue, but for what I've read in this thread it may be related to a JavaScript crash, so honestly I don't know what you can do about it.

[2021-10-15 09:30] marandaneto commented on #1390
@jennmueng do you know if we should do something about it?

[2021-10-15 09:40] marandaneto commented on #831
afaik sentry tries to read from `sentry.properties` or the system env. var.
if by `react-native-config` you mean https://github.com/luggit/react-native-config we probably don't support it, is it a feature request then?

[2021-10-15 09:47] marandaneto commented on #1544
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-10-15 09:47] #1544 closed

[2021-10-17 17:40] ttruongatl commented on #636
+1

[2021-10-18 12:50] philipphofmann commented on #1830
@savv, can you please share your Sentry config with us, please? Of course without the DSN.

[2021-10-18 13:13] savv commented on #1830
And while I have your attention. Thank you Sentry for making such an excellent product!

[2021-10-18 14:29] philipphofmann commented on #1830
Thanks for the lovely feedback, @savv. I hope you have good news for us in a week.

[2021-10-19 03:47] jennmueng commented on #1456
How is everyone making the requests that are missing the `sentry-trace` header? Can I get some examples?

FYI Given the current hybrid SDK limitations the trace header **will only be attached to outgoing http requests sent by the javascript layer**, and none from the native layer.

[2021-10-19 06:24] laygir commented on #1456
@jennmueng I am on Vue2 but for what its worth, here's my issue:

I make a request using Axios on the beforeEach hook of my router. When `VueRouterInstrumentation` is enabled, my request starts before the pageload or navigation transaction kicks in, this causes the request to NOT have the trace header.

It took me some time to figure out automatic instrumentation does not pick up individual XHR re

[2021-10-19 13:35] #1835 closed, assigned to jennmueng

[2021-10-19 16:51] roy-rayyone opened #1845 "React native 0.65. Can not read ios stack trace. Missing app:///InternalBytecode.js"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
Sentry.io
Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0
"@sentry/react-native": "^3.1.1"

### Steps to Reproduce

1. Disable the automatic source maps upload script by reverting the build script "Bundle React Native code and images" to

[code]

2. Remove `Upload Debug Symbols to S

[2021-10-20 21:08] JeremyBradshaw7 opened #1846 "sentry reported an error: bad request (http status: 400)"
Getting this error on ios builds.

[code]

`"@sentry/react-native": "^1.0.9",`

[2021-10-21 05:12] superhen opened #1847 "When an error is reported, Sentry Event automatically adds the tag of the page, I would like to ask how it is done"
In my code, I have never manually set a tag named page, but Sentry will automatically report this tag. I want to know how Sentry can get the name of the current page. Thx so much.

"tags": {"event.origin": "javascript", "package": "@xxx", "page": "@xxx/xx/x"}

[2021-10-21 05:17] superhen commented on #1767
In fact, Sourcemap has taken effect after I completed the following compose operation.

node node_modules/react-native/scripts/compose-source-maps.js index.android.bundle.packager.map index.android.bundle.hbc.map -o index.android.bundle.map

But it is only valid for newly reported errors.

[2021-10-21 07:20] #1847 closed, assigned to nobody

[2021-10-21 07:52] marandaneto opened #1848 "Add more platforms to `event.origin`"
Similar to Dart https://github.com/getsentry/sentry-dart/pull/622

Add new platforms to https://github.com/getsentry/sentry-docs/pull/4234

[2021-10-25 20:03] #1744 closed, assigned to nobody

[2021-10-27 14:39] lew opened #1857 "sentry-cli fails in yarn monorepo setup"
We have an expo app inside a yarn monorepo workspace and our build fails with:
[code]

The call to `/build/workingdir/build/apps/sh.hae.app/node_modules/@sentry/cli/bin/sentry-cli` fails because yarn installs @sentry/cli in the workspace root i.e. `/build/workingdir/build/node_modules` *not* inside the `apps/sh.hae.app` subdirectory.

This should be the culprit line:
https://github.com/getsentry/s

[2021-10-28 08:20] marandaneto opened #1859 "Add missing options from Native SDKs"
`anrEnabled`
`anrTimeoutIntervalMillis`
`maxCacheItems`
`enableAutoNativeBreadcrumbs`

[2021-10-30 12:01] byCedric commented on #1857
Hi! My name is Cedric and I work for Expo, just want to pitch in and find some options to resolve this. With Expo SDK 43, one of the new focuses is adding support for monorepositories. I noticed the hardcoded path in the Gradle script as well. We can resolve this in `sentry-expo` by calculating the `cli.executable` path, and if it's different compared to this "hardcoded path", we could add the rel

[2021-10-31 13:39] roy-rayyone commented on #1845
@jennmueng can confirm that this bug does not happen in react native 0.64.2 but 0.65

[2021-11-01 09:35] kitoko552 opened #1864 "tracesSampler becomes NSNull in iOS and the app cannot be started"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "^3.1.1"

### Steps to Reproduce

1. Sentry.init with tracesSampler and enable [the automatic instrumentation of performance monitoring](https://docs.sentry.io/platforms/react-native/performance/instrumentation/automatic-instrumentation/).

[code]

[code]

2. Build the app on iOS

3. The

[2021-11-01 11:53] jayshah-swiggy opened #1865 "[Android] ConcurrentModification exception for frameMetricsAggregator"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
Sentry react native. 3.0.0

### Steps to Reproduce

Some of the app launches show following stack trace:
[code]

### Expected Result

No error

Here is my reasoning:
`RNSentryModule` is the only package registering `frameMetricsAggregator`.

I think the temp fix would be to disable perf tracking via turning off `enableAutoPe

[2021-11-01 12:05] jayshah-swiggy commented on #1733
same as https://github.com/getsentry/sentry-react-native/issues/1818

[2021-11-01 12:24] benadamstyles commented on #636
@jaybuangan React error boundaries cannot handle errors in event handlers – see [the docs](https://reactjs.org/docs/error-boundaries.html#how-about-event-handlers).

[2021-11-01 14:22] liamjones commented on #1830
Is there any way to manually influence the logic listed here?: https://docs.sentry.io/platforms/apple/guides/ios/configuration/out-of-memory/

I ask because we get a lot of false positives in our pre-release build currently. Our pre-release build have some extra dev tools which allow the user to do things like wipe the DB and exit the app. The 'exit the app' is a native module that just does `exit

[2021-11-02 04:01] jennmueng commented on #1845
@roy-rayyone This is interesting, I will have to investigate on 0.65 then.

[2021-11-02 08:49] marandaneto commented on #1830
@liamjones unfortunately not, for now, disable it since we didn't find the issue nor could reproduce it yet.

@philipphofmann do you know if the case of `exit(0)` is considered in our OOM detection?

[2021-11-02 09:05] jayshah-swiggy commented on #1865
@marandaneto
Sentry is adding framemetrics listener via https://github.com/getsentry/sentry-react-native/blob/master/android/src/main/java/io/sentry/react/RNSentryModule.java#L136

Which uses following api internally:
https://developer.android.com/reference/android/view/Window?hl=en#addOnFrameMetricsAvailableListener(android.view.Window.OnFrameMetricsAvailableListener,%20android.os.Handler)

My as

[2021-11-02 09:48] marandaneto commented on #1865
@jayshah-swiggy thanks for replying, removing Sentry does the crash stop? I can't reproduce it using the latest versions, have you tried upgrading the Sentry RN SDK?

Please, set up a minimal reproducible example on GH, thanks

[2021-11-02 09:49] jayshah-swiggy commented on #1865
We will do a release with auto perf tracking and see if issue subsides. will let you know.

[2021-11-02 10:15] philipphofmann commented on #1830
Yes, `exit(0)` will generate an OOM. According to [Apple](https://developer.apple.com/library/archive/qa/qa1561/_index.html), you shouldn't do `exit(0)`. Apple could reject your app because of that. @liamjones, which module does `exit(0)`? Is this common for React Native?

In the meantime, I will try to figure out if we can detect `exit(0)`. This is related to https://github.com/getsentry/sentry-c

[2021-11-02 10:20] marandaneto commented on #1865
@jayshah-swiggy while disabling auto perf tracking is a workaround for you, we'd really appreciate a minimal reproducible example, so we could debug and solve it if it's a Sentry issue, thanks.

[2021-11-02 12:00] Kiura commented on #1346
I used the patch-package to patch the file:
https://github.com/getsentry/sentry-react-native/blob/211ec081b6bf8d7d29541afe9d800040f61e3c4e/src/js/integrations/debugsymbolicator.ts#L216-L221

I removed the fetch request (probably if I remove the if condition is better)

[2021-11-02 12:26] marandaneto opened #1866 "Sample sets IPHONEOS_DEPLOYMENT_TARGET to 8.0 but it should be 9 or higher"
warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.4.99. (in target 'boost-for-react-native' from project 'Pods')
warning: The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0 to 14.4.99. (in target 'RNSentr

[2021-11-02 13:57] marandaneto commented on #1864
@kitoko552 thanks for reporting, I've raised this issue on the Cocoa SDK https://github.com/getsentry/sentry-cocoa/issues/1441

for now, a workaround is to avoid `tracesSampler` and instead use the `tracesSampleRate`, sorry about that.

[2021-11-02 14:03] orschaef commented on #1830
We disable OOM with 3.2.1 on iOS. Crashes which were flagged as OOM-Crash before, now do not show up at all. This is unacceptable since we test this with a simple out-of-bounds exception. This relates to crashes which happen in the native part. JS-Crashes seem to be detected.

I would like to give this hint in advance: Please do not refer to sentry-cocoa. They already linked me here. For me it doe

[2021-11-02 14:59] marandaneto commented on #1816
@radhakrishnapai if you run a test on sentry.io, do you experience the same behavior?
how are you simulating the iOS crash event? can you share the code snippet?

[2021-11-02 15:01] liamjones commented on #1830
Oh, don't worry, I know Apple doesn't like it. 😄 We don't do it in prod builds going to the store, just in pre-release builds where we have some extra dev tools buttons for things like generating fake data, resetting the app to a 'first launch' state, etc.

Purely a guess but I wouldn't think it's that common due to the reason you mentioned (Apple not liking it).

That'd be great if you could but

[2021-11-02 15:08] liamjones commented on #1830
Oh, and there are some RN modules out there for exiting the app (https://www.npmjs.com/package/react-native-exit-app looks to be the most popular with about 20k weekly downloads) but I don't know if people are only using it for pre-release stuff like us or something else...

[2021-11-03 09:23] marandaneto commented on #1830
indeed, there are plenty of packages calling `exit(code)` programmatically, and that's probably the root cause of it, we're going to add this to our docs that if you're using it, you should turn off the OOM detection or live with false positives.

[2021-11-03 09:23] marandaneto commented on #1830
I could not find any reference of the RN SDK or CodePush SDK doing it tho, can you provide a minimal reproducible example? thanks

[2021-11-03 10:02] marandaneto opened #1867 "sync or not sync the performance options `tracesSampleRate` and `tracesSampler` from JS to iOS"
since RN uses the initWithDict option, those options are synced down to iOS but not for Android, should we stop doing it or sync it down to Android?

side effect is that some data might be double-reported eg Cold/Warm App start.

[2021-11-03 10:33] marandaneto commented on #1866
@jennmueng could you have a look at it? thanks

[2021-11-03 15:23] bruno-garcia commented on #1867
We agreed not to propagate this setting, since the performance support at this time is focused on the layer where it operates. So enabling iOS transactions on a hybrid app, results in double reporting a screen load without actionable information for the app developer for the native transaction.

On apps that have hybrid + native screens, docs could explain how to enable both (init the native layer

[2021-11-03 17:20] mrousavy opened #1869 ""Source code was not found" on Hermes"
### Environment

How do you use Sentry?
* Sentry SaaS (sentry.io)

Which SDK and version?
* `@sentry/react-native`: `3.2.1`

### Steps to Reproduce

1. Installed Sentry as mentioned in installation documentation
2. Enable Hermes on App
3. Built a new Release

### Expected Result

I expect all crashes to have desymbolicated stacktraces to be able to determine where an error is coming from.

### Act

[2021-11-03 17:23] mrousavy commented on #1869
My questions:

1. Do you guys support Hermes already?
2. I've re-read the [getting started/installation guide](https://docs.sentry.io/platforms/react-native/) about 5 times now, I don't think I have missed anything. The wizard also didn't throw any errors. One thing I don't fully understand is ["iOS Specifics"](https://docs.sentry.io/platforms/react-native/#ios-specifics) - the wizard didn't add a

[2021-11-04 02:14] vuletuanbt commented on #1869
My App:
RN: 0.66.1
@sentry/react-native: 3.2.2

What I do:
- Install [hermes](https://hermesengine.dev/docs/building-and-running)
- Clear your source maps on sentry
- Clean build and run on release mode
- Run script
[code]

[2021-11-04 03:13] vuletuanbt commented on #1845
I managed to [fix](https://github.com/getsentry/sentry-react-native/issues/1869#issuecomment-960377783) it on RN 0.66.1. Check it out.

[2021-11-04 10:02] marandaneto commented on #602
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 10:02] #602 closed

[2021-11-04 10:25] marandaneto commented on #536
still happens on the latest Sentry RN version, since the App crashes immediately, the iOS SDK doesn't have time to send it, only on iOS tho.

[2021-11-04 10:26] marandaneto commented on #600
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 10:26] #600 closed

[2021-11-04 10:26] marandaneto commented on #643
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 10:26] #643 closed

[2021-11-04 10:27] marandaneto commented on #644
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 10:27] #644 closed

[2021-11-04 10:29] marandaneto commented on #622
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 10:29] #622 closed

[2021-11-04 10:50] marandaneto commented on #702
if not using `this.name = this.constructor.name;`, it works, wondering if this is a symbolication issue, I'll check it

[2021-11-04 11:02] kamilogorek commented on #702
[code]

[2021-11-04 11:02] marandaneto commented on #710
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

ps: works on the latest Sentry RN SDK version.

[2021-11-04 11:02] #710 closed

[2021-11-04 11:04] marandaneto commented on #702
unfortunately, it's a known limitation of source maps.
you could tho set it in your build tool to not mangle specific names, eg, your custom errors.

[2021-11-04 11:05] #702 closed

[2021-11-04 11:09] marandaneto commented on #725
the RN SDK only forward the events to the Native SDKs, so you could technically set the proxy in the Native SDKs.
https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/

Android offers proxy configuration but iOS not, @philipphofmann to confirm

[2021-11-04 11:09] kamilogorek commented on #702
See https://github.com/facebook/metro/issues/154 and https://forums.expo.dev/t/change-minifierconfig-for-minify-uglify/36460 for how to update `mangle` option in case you want to go that route.

[2021-11-04 12:11] marandaneto commented on #732
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 12:11] #732 closed

[2021-11-04 12:19] marandaneto commented on #738
it's a limitation of the RN/JS Engine, Sentry captures the available stack trace and its frames

[2021-11-04 12:19] #738 closed

[2021-11-04 12:19] marandaneto commented on #696
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 12:19] #696 closed

[2021-11-04 12:34] marandaneto commented on #1818
dup of https://github.com/getsentry/sentry-react-native/issues/1733

[2021-11-04 12:34] #1818 closed

[2021-11-04 12:36] marandaneto commented on #1733
related to https://github.com/getsentry/sentry-react-native/issues/759

[2021-11-04 12:44] marandaneto commented on #791
@kamilogorek is there a way to ignore a subfolder? or can we bail out if the files are not useful? maybe this is even already addressed since its an old version.

[2021-11-04 12:45] marandaneto commented on #795
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 12:45] #795 closed

[2021-11-04 12:58] marandaneto commented on #793
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-04 12:58] #793 closed

[2021-11-04 13:21] kamilogorek commented on #791
`react-native` command doesnt allow for a specific ignores, only `source-maps` can do that.

[2021-11-04 15:07] liamjones commented on #1454
@jennmueng Correct me if I'm wrong, but I don't think this should have been automatically marked as stale when it's in your board's TODO list?

[2021-11-04 15:14] retyui commented on #1229
fixed

[2021-11-04 15:20] iBotPeaches commented on #914
Please don't close. Working around Sentry because it automatically makes release names that don't match our preference is highly annoying. Forcing all these workarounds.

I would hope it could first check if `SENTRY_RELEASE` is defined and use then, then fallback to the auto generated one, then my life would be less stressful :)

[2021-11-04 15:24] lachenmayer commented on #1477
Can confirm this is still an issue.

[2021-11-04 15:35] #1446 closed

[2021-11-04 15:51] eliw00d commented on #1765
This is still an issue for us. Any thoughts?

[2021-11-04 17:29] fabiendem commented on #940
Ticket is still relevant, could you add it to the backlog please?

We don't want to use the sentry-cli manually but instead leverage on the existing react-native integration.
Doing things manually would get quite brittle in our case.
Cheers

[2021-11-04 17:43] flogy commented on #500
Would be great to not put this to stale, as there seems to be quite some interest in this feature by many people.

[2021-11-04 18:59] jennmueng commented on #1765
@eliw00d See step 2 here: https://docs.sentry.io/platforms/react-native/manual-setup/hermes/#compile-for-android maybe try switching out the hermesCommand to the correct one with OS-BIN filled out?

[2021-11-04 20:21] yammesicka opened #1871 "Can't filter by device.simulator (or many event fields)"
I have the following event JSON, and I want to somehow alert only when there are events that related to the simulator.

I do have indication in `device.model_id`, `device.simulator` and `app.build_type`, but I don't know how to apply them in the Alert `if` section.

Any help would be appreciated :)

[code]

[2021-11-04 21:10] eliw00d commented on #1765
@jennmueng Here is some additional output if it helps:
[code]

The CI machine I am running on is indeed a Mac so osx-bin is correctly being used. It had exit code 6 which seems to indicate it did run. I look at line 182 of node_modules/react-native/react.gradle and this is where it is failing:
[code]

I do not have hermesFlagsRelease set and it is not a Windows machine, so it should end up doing:

[2021-11-04 21:25] eliw00d commented on #1765
On further study of react.gradle, I see this just before the exec:
[code]

And the error I am getting is:
[code]

It seems to be appending a SHA to the end of the hbc. Could it be as simple as that? Where it should be trying to open it as `index.android.bundle.hbc` instead of `index.android.bundle.hbc.e6d69f`?

[2021-11-05 00:25] indapublic commented on #1215
Seems not resolved

[2021-11-05 01:58] bruno-garcia commented on #500
We plan to tackle this one soon

[2021-11-05 01:59] bruno-garcia commented on #1273
The flag was renamed and the feature documented: https://docs.sentry.io/platforms/react-native/manual-setup/

[2021-11-05 01:59] #1273 closed

[2021-11-05 09:00] #1866 closed

[2021-11-05 09:54] marandaneto commented on #542
you can achieve that by manually initing the Native SDKs https://docs.sentry.io/platforms/react-native/manual-setup/native-init/

[2021-11-05 09:54] #542 closed

[2021-11-05 09:58] marandaneto commented on #888
[code]

the `release` and `dist` of the event and source maps should match otherwise it does not work, the RN SDK already sets and release and dist and also upload source maps automatically, any reason why are you setting custom release and dist on `init` and also calling `Sentry.setRelease` and `Sentry.setDist`? do they match? can you link me to a sentry.io issue? thanks

[2021-11-05 10:04] marandaneto commented on #1401
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-05 10:04] #1401 closed

[2021-11-05 10:07] marandaneto commented on #1458
@siddhisuthar @svenlombaert tags need to be only String, could it be that you are calling with non String types?

[2021-11-05 10:07] #1864 closed

[2021-11-05 10:25] marandaneto commented on #1458
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

ps: works on latest RN SDK on Android and iOS

[2021-11-05 10:25] #1458 closed

[2021-11-05 10:28] oblador opened #1873 "Support multiple bundles on react-native using repack"
We are moving to use [`repack`](https://github.com/callstack/repack) to bundle our React Native app to support bundle splitting. However the current sentry integration assumes a single bundle, so it will only upload the main one.

[2021-11-05 10:31] marandaneto commented on #1390
sounds like its been fixed on RN itself https://github.com/facebook/react-native/pull/29808
closing it then -> https://github.com/facebook/react-native/blob/main/template/android/app/build.gradle#L179-L180

[2021-11-05 10:31] #1390 closed

[2021-11-05 10:41] marandaneto commented on #1170
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-05 10:41] #1170 closed

[2021-11-05 10:42] marandaneto commented on #1724
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-05 10:42] #1724 closed

[2021-11-05 10:45] Krisztiaan commented on #1477
Still an issue, Mr. Bot Sir!

[2021-11-05 10:48] marandaneto commented on #1477
thanks for reporting, can one of you share a code snippet that causes the issue? thanks

[2021-11-05 11:11] Krisztiaan commented on #1477
Use `react-navigation`
[code]

[2021-11-05 12:42] philipphofmann opened #1874 "Add tests for the Native Bridges"
[RNSentry.m](https://github.com/getsentry/sentry-react-native/blob/master/ios/RNSentry.m) has no tests. We could add a layer of abstraction, unit tests in Swift and run them in CI to validate its functionality.

[2021-11-05 12:45] marandaneto commented on #1477
I can confirm:

also:

[2021-11-05 12:48] marandaneto commented on #1874
also for Android, so I made it more generic, thanks.

[2021-11-05 12:49] philipphofmann commented on #1874
I wouldn't mind having two issues and / or two PRs so they get merged faster.

[2021-11-05 12:49] bruno-garcia commented on #1874
I don't disagree with the issue but worth mentioning that unit testing this has limited value as compared to an integration test. That's because this type is called by React Native (`RCT_EXPORT_METHOD`) and the type marshaling plays a role here too. Additionally, there's very little logic.

[2021-11-05 12:54] marandaneto commented on #785
is it still an issue even if using the latest SEntry RN SDK and latest Okta? since the very same issue was reproduced without Sentry https://github.com/okta/okta-react-native/issues/40#issuecomment-761022307 I'm not sure if we can actually tell its Sentry fault, I can't reproduce it.

[2021-11-05 13:07] marandaneto commented on #1215
the linked issues don't exist anymore, @indapublic have you tried the latest RN version? it works for me ootb

question, since you have "multiple apps", does it work when creating a new project and compiling and uploading source maps for the very first App? (avoiding the overwriting problem)

[2021-11-05 13:18] marandaneto commented on #1765
does that happen only for monorepo? is it only with hermes or without it too?

[2021-11-05 13:22] marandaneto commented on #1871
have you tried to read the docs? https://docs.sentry.io/product/alerts/
since it's not an SDK issue, I'd rather move it to https://github.com/getsentry/sentry

@chadwhitacre can I move it?

[2021-11-05 13:28] marandaneto commented on #914
seems like we can patch https://github.com/getsentry/sentry-react-native/blob/master/sentry.gradle#L66-L67 to make it as https://github.com/getsentry/sentry-react-native/blob/master/sentry.gradle#L168-L170

I'd need to check if the iOS config actually does the same checking the env. var.

[2021-11-05 13:30] marandaneto commented on #1042
you can tho https://docs.sentry.io/platforms/react-native/sourcemaps/#2-disable-the-automatic-source-maps-upload-script
a boolean would be nicer, so I'd rather keep it open

[2021-11-05 13:33] marandaneto commented on #1229
fixed by https://github.com/getsentry/sentry-cli/pull/967 on iOS and https://github.com/getsentry/sentry-react-native/pull/1548 on Android

[2021-11-05 13:33] #1229 closed

[2021-11-05 13:36] marandaneto commented on #761
does that still happen using the latest Sentry RN version? just tried and it works ootb

[2021-11-05 13:40] marandaneto commented on #763
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

ps: I ran an emulator on Android and iOS and both have worked.

[2021-11-05 13:40] #763 closed

[2021-11-05 13:42] marandaneto commented on #769
since release and dist must match, is it still an issue?

[2021-11-05 13:43] marandaneto commented on #788
is it still an issue using the latest Sentry RN SDK version?

[2021-11-05 13:50] marandaneto commented on #1874
I believe some pieces could be unit tested but indeed, integration/e2e would play a bigger role.

[2021-11-05 14:00] eliw00d commented on #1765
It works fine with Hermes disabled. It only fails at the point where it creates the .hbc file.

[2021-11-05 14:34] yammesicka commented on #1871
Yeah, sure. It says I can filter using event attributes, but when I try to select `device.simulator` the box doesn't show it as a suggestion.
When I press the `save` button it just selects the default value of the selection dropdown, `message`.

[2021-11-05 14:47] chadwhitacre commented on #1871
Yes, if this isn't an SDK issue let's move it. )

[2021-11-05 17:10] eliw00d commented on #1765
As for only happening for monorepo, I would assume so since we have to specify the paths to our root node_modules. Normal repos would have their node_modules where react-native expects to find it.

[2021-11-05 22:48] bruno-garcia commented on #1734
Resolved

[2021-11-05 22:48] #1734 closed

[2021-11-06 08:36] #761 closed

[2021-11-06 11:07] indapublic commented on #1215
@marandaneto I don't have latest RN in my production products so it will be long test. Give me some time and I will try to check

[2021-11-08 04:29] radhakrishnapai commented on #1816
@marandaneto no issues found on sentry.io. I am using the following code snippet in swift to test the crash.
`fatalError("sentry test crash")`

[2021-11-08 08:31] marandaneto commented on #1857
indeed, `cli.executable` isn't documented, let me double-check if this is of internal usage only or it'd be fine to patch it.

[2021-11-08 08:56] marandaneto commented on #1816
@radhakrishnapai your issue describes `redacted` frames and not that you don't get any issues at all in your dashboard, can you elaborate on that? in case you don't get issues on your dashboard, I'd rather close this issue and open a new one with up to date description.

[2021-11-08 09:05] radhakrishnapai commented on #1816
@marandaneto I thought it is pretty obvious from the very first comment. I have put a screenshot in which you can clearly understand issue is getting logged but I am not able to read the stacktrace.

[2021-11-08 09:37] marandaneto commented on #1816
@radhakrishnapai your last comment says:

by that do you mean, issues were not appearing in there or that everything worked out on sentry.io? maybe it was a misunderstanding.

[2021-11-08 09:47] radhakrishnapai commented on #1816
@marandaneto in sentry. io, what i meant to say is that all issues are getting logged as expected and I am able to read the stack trace. the only difference from on-premise setup is that I am gettimg <redacted> in stacktrace for on-premise setup

[2021-11-08 10:25] marandaneto commented on #1816
@radhakrishnapai since you know the code and the stack trace, are the redacted frames from the system? or are the redacted frames part of your own App's code?

[2021-11-08 10:48] marandaneto commented on #1077
@jennmueng whats the outcome of it besides the pending docs? do we need to fix something on the SDK?

[2021-11-08 10:52] marandaneto commented on #1834
@superhen thanks, nothing is fishy, can you link me to the issue on sentry.io so I can have a look at the stacktrace? thanks

[2021-11-08 10:56] marandaneto commented on #1815
@dawidchyrzynski does it work if you don't use fastlane but rather the original setup that uploads everything automatically via sentry-cli on the Bundle React Native code and images step?

[2021-11-08 10:59] liamjones commented on #1454
github-actions said it'd remove the stale tag if I commented but didn't. Commenting again to see if it'll remove it...

[2021-11-08 11:06] marandaneto commented on #1346
@jennmueng do we need to do something here?

[2021-11-08 11:07] marandaneto commented on #1456
@jennmueng did you manage to reproduce this?

[2021-11-08 11:08] marandaneto commented on #1867
closed by https://github.com/getsentry/sentry-react-native/pull/1872

[2021-11-08 11:08] #1867 closed

[2021-11-08 11:10] marandaneto commented on #1454
@jennmueng do we have a fix about it already?

[2021-11-08 12:29] marandaneto commented on #1766
@jennmueng did we add the docs for it already? I don't see linked PRs

[2021-11-08 12:54] marandaneto commented on #1857
@HazAT is gonna follow up on this.

[2021-11-08 13:31] marandaneto commented on #1775
@bruno-garcia can you link where this is already documented for JS?

I guess its https://docs.sentry.io/platforms/javascript/guides/react/components/errorboundary/
just to confirm, is it a React thing only?

[2021-11-08 13:35] marandaneto commented on #1765
@jennmueng do you have any hint on this?

[2021-11-08 13:48] marandaneto commented on #789
https://docs.sentry.io/platforms/react-native/manual-setup/codepush/
the `dist` should be just the `v18` part, or omit the `dist` and set only the `release`, since the Android and iOS SDK already defaults the `dist` to the build number.

[2021-11-08 13:48] #789 closed

[2021-11-08 13:56] marandaneto commented on #914
Android and iOS already do respect the `SENTRY_RELEASE` and `SENTRY_DIST` env. var.
@iBotPeaches are you using the latest version? can you give it a try?

[2021-11-08 13:59] iBotPeaches commented on #914
Sorry, there are so many pieces to this. There is the RN package, the individual Android/iOS behind the scenes of it. The fastlane plugin, the gradle plugin, the sentry-cli.

I try and stay up to date with all of them, but clarity which package was affected and then updated would help me track down if its resolved or not. Since I have to undo workarounds to test this.

[2021-11-08 15:01] marandaneto commented on #914
using the latest RN SDK, you don't have to fiddle with multiple things, but rather export the env. vars. and initing the SDK with custom release and dist, eg:

[code]

this way it respects your custom release, source maps are uploaded with your custom release and symbolication works.
just tested it on Android and iOS, so closing it.

[2021-11-08 15:01] #914 closed

[2021-11-08 15:02] marandaneto commented on #914
since the issue is about auto-generated names are not accepted due to not respecting Sentry's versioning, the alternative is using custom release as suggested above.

[2021-11-08 16:39] savv commented on #1830
When you say "doing it", what does it refer to? Calling exit()? I don't think that Codepush exits the app; it reloads the JS bundle: https://github.com/microsoft/react-native-code-push/blob/9947037a985a04927c64624318e4ce64d43d2049/ios/CodePush/CodePush.m#L543

For a minimal repro, you could start with Codepush's demo app here https://github.com/microsoft/react-native-code-push/blob/9947037a985a049

[2021-11-09 13:49] Braden1996 commented on #1857
Little note on this. On Expo's EAS Build, the following script in `eas-build-post-install` didn't solve the issue:
[code]

We ended up having to set our React Native app to no-hoist, which isn't ideal but unblocks us for now.

[2021-11-09 17:28] byCedric commented on #1857
We have some code ready to auto-fill the `cli.executable` in `sentry.properties` ready. I would want to add that as a possible way forward as well! ([see code here](https://github.com/expo/sentry-expo/compare/master...byCedric:@bycedric/fix-sentry-cli-path))

[2021-11-10 07:20] radhakrishnapai opened #1885 "Crash in file SentryUIViewControllerSwizziling.m"
### Environment

How do you use Sentry?
On-premise Sentry 21.6.3

Which SDK and version?
"@sentry/react-native": "3.0.3".
"@sentry/wizard": "1.2.11"

### Steps to Reproduce
Integrate React native sentry SDK as per document [Sentry React Native](https://docs.sentry.io/platforms/react-native/)

### Expected Result

Performance metrics should be captured. No crashes should happen in SDK.

### Actual

[2021-11-10 07:52] marandaneto commented on #1885
@radhakrishnapai please upgrade the SDK to the latest version and let us know if that still happens

[2021-11-10 08:12] marandaneto commented on #810
correct

also correct

there's no API for detecting if an event has been sent or not, there are multiple requests for that but we're still discussing it, since there are some trade-offs, you can start the SDKs manually:
https://docs.sentry.io/platforms/react-native/manual-setup/native-init/

and use the hooks that you've mentioned, I'll follow up on this later

[2021-11-10 08:14] marandaneto commented on #814
See https://github.com/getsentry/sentry-react-native/issues/914#issuecomment-963244589

[2021-11-10 08:14] #814 closed

[2021-11-10 08:15] marandaneto commented on #816
that comes from your own app, you can filter events like this https://docs.sentry.io/platforms/react-native/configuration/filtering/

[2021-11-10 08:15] #816 closed

[2021-11-10 08:17] marandaneto commented on #819
are you still experiencing this issue when using the latest RN SDK? I can't reproduce it

[2021-11-10 08:19] marandaneto commented on #824
please integrate our Sentry Android Gradle plugin that does the upload of the proguard mapping file and association of the file and event

https://docs.sentry.io/platforms/android/proguard/

[2021-11-10 08:19] #824 closed

[2021-11-10 08:32] radhakrishnapai commented on #1885
@marandaneto thanks for the update. Will check and let you know.

[2021-11-10 08:34] marandaneto commented on #828
our samples still have it as blacklist https://github.com/getsentry/sentry-react-native/blob/master/sample/metro.config.js#L9-L18
should we add this to troubleshooting docs?

[2021-11-10 08:36] marandaneto commented on #843
does it still happen on the latest Sentry RN SDK? I can't reproduce it, if I rebuild android and ios, I see source maps coming thru.

[2021-11-10 08:46] marandaneto commented on #1018
does that still happen using the latest Sentry RN SDK? I don't have any issues if using auto-linking or manual linking, although its the latest FB RN SDK as well

[2021-11-10 08:47] marandaneto commented on #1024
@garrett-gottlieb any update on this? release and dist should match, also the file name as mentioned

[2021-11-10 08:48] marandaneto commented on #1074
Closing the issue, as it seems like the original issue has been resolved.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-10 08:48] #1074 closed

[2021-11-10 08:50] marandaneto commented on #1078
likely similar to https://github.com/getsentry/sentry-react-native/issues/1018 (see last comment)
so, does it still happen?

[2021-11-10 08:53] marandaneto commented on #1092
can you just patch the build steps directly on the Xcode file? usually the project.pbxproj file

[2021-11-10 08:56] marandaneto commented on #1107
docs on how to init the native SDKs manually https://docs.sentry.io/platforms/react-native/manual-setup/native-init/
then you set a `beforeSend` filtering your events if its the case

[2021-11-10 08:56] #1107 closed

[2021-11-10 08:59] marandaneto commented on #1141
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-10 08:59] #1141 closed

[2021-11-10 09:01] marandaneto commented on #1172
does that still happen using the latest Sentry RN SDK? I can't reproduce it

[2021-11-10 09:03] marandaneto commented on #1200
@aminerol does that still happen? I can't reproduce that an event does not get sent using the latest Sentry RN SDK

[2021-11-10 09:05] marandaneto commented on #1201
@samaneh-kamalian does that solve the issue?

[2021-11-10 09:12] marandaneto commented on #1226
do you have any special configuration (different than the default template) on android/app/build.gradle?
have you tried to run a clean build? ./gradlew clean app:installDebug
or ./gradlew stop and then ./gradlew app:installDebug
that could happen if you have multiple variants or build types but not increasing the `versionCode` which is mandatory otherwise you cant publish in the store (2 different

[2021-11-10 09:16] marandaneto commented on #1246
I think this issue is similar to https://github.com/getsentry/sentry-react-native/issues/1857
the stack trace in the description is just logging from the Android SDK and not really a problem, that logging is actually removed already from the most recent versions (months old already).

does this comment help solving the issue? https://github.com/getsentry/sentry-react-native/issues/1246#issuecommen

[2021-11-10 09:22] marandaneto commented on #1260
@chadwhitacre does it make sense to move it to @getsentry/sentry ? looks like a server-side issue rather than SDK.

[2021-11-10 09:27] marandaneto commented on #1280
indeed, Android does set an event id if there's none, a workaround would be:

`scope.setUser({id: ''});`

since we only check if the `id` is null and not empty

[2021-11-10 09:39] marandaneto commented on #1294
does that still happen? since it works on a clean project, also someone mentioned it works https://github.com/getsentry/sentry-react-native/issues/1294#issuecomment-872398799
please try out using the latest Sentry RN SDK

[2021-11-10 11:09] aminerol commented on #1200
@marandaneto nope, it works just fine in latest Sentry RN

[2021-11-10 13:00] #1200 closed

[2021-11-10 13:11] marandaneto commented on #1345
did you have the chance to make a repro case?
@jennmueng did you manage to reproduce it?

[2021-11-10 13:28] marandaneto commented on #1408
@thainx have you tried using the latest versions?

[2021-11-10 13:32] marandaneto commented on #1403
https://github.com/getsentry/sentry-java/issues/1473

[2021-11-10 13:32] #1403 closed

[2021-11-10 13:35] marandaneto commented on #1402
#1749

[2021-11-10 13:35] #1402 closed

[2021-11-10 13:38] marandaneto commented on #1349
@massanen7 have you tried to check all the config? see docs to do it manually https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/
does it work using the latest Sentry RN SDK?

[2021-11-10 13:42] chadwhitacre commented on #1260
Sure thing, go for it @marandaneto. 👍

[2021-11-10 13:43] chadwhitacre commented on #1260
Actually, let's move to `onpremise` since it seems to be self-hosting specific.

[2021-11-10 14:25] marandaneto commented on #1813
similar to https://github.com/getsentry/sentry-react-native/issues/1407
RN and Desktop Support

[2021-11-10 14:25] marandaneto commented on #1813
@jennmueng just to confirm, we dont support macOS right

[2021-11-10 15:13] marandaneto commented on #1865
thanks @jayshah-swiggy we will have a look

[2021-11-10 16:36] jennmueng commented on #1766
@marandaneto Working on this one currently, this issue needs lots of experimentation.

[2021-11-10 23:05] Braden1996 commented on #1857
Hey @byCedric, I tried your fix on my monorepo and unfortunately getting the same issues as both before and with my attempt at a fix (which I believe does the same thing). You can see the build for this here, assuming you have privileges: https://expo.dev/accounts/attio/projects/mobile-app/builds/77ad6652-de8d-477c-9a42-0617b321d878

Here is the bulk of the error on iOS:
[code]

The issue seems to

[2021-11-11 03:20] kaokei commented on #1456
I just met the same problem in a vue3 app. And I think the key problem is that sentry start pageload transaction too late. Now sentry start pageload transaction inside `router.beforeEach`. The sentry-trace header will miss if I send request before that time.

The picture below shows the timeline.

![image](https://user-images.githubusercontent.com/82272759/141231276-8b4b6735-1d16-4f02-81b6-c74f815

[2021-11-11 08:29] laygir commented on #1456
Hey @kaokei 👋

I have been in touch with Sentry support and recently concluded a month long e-mail thread precisely about this behaviour.
Also have created the issue below and it's been acknowledged by the Sentry and support told me it is in the backlog and will be fixed soon. I hope they fulfill this promise.

https://github.com/getsentry/sentry-javascript/issues/4072

Feel free to add your addit

[2021-11-11 10:05] marandaneto commented on #1456
@valeriashpiner can you confirm that you're also using the vue router? thanks

[2021-11-11 15:10] #1788 closed

[2021-11-11 15:10] #1782 closed

[2021-11-11 15:10] #1758 closed

[2021-11-11 15:10] #1736 closed

[2021-11-11 15:10] #1705 closed

[2021-11-11 15:11] #1562 closed

[2021-11-11 15:11] #1438 closed

[2021-11-11 15:11] #1435 closed

[2021-11-11 15:11] #1423 closed

[2021-11-11 15:11] #1422 closed

[2021-11-11 15:11] #1102 closed

[2021-11-12 03:26] jennmueng commented on #1765
@eliw00d Hmm I'm turning blank here, it could just be like you said where it's adding a hash at the end of the filename. Also, if you remove the sentry build script:
[code]
does the error still occur or is this coming from the react native build script?

[2021-11-12 03:31] jennmueng commented on #1834
@superhen When does the error happen, right when the app opens or when an event is sent?

Also you should not be using `ErrorUtils.setGlobalHandler` as this will overwrite the global Sentry handler that is already there.

You shouldn't be initializing Sentry inside an async function, can you try moving it outside to the global scope and see if the error still occurs?

[2021-11-12 03:35] jennmueng commented on #1346
@marandaneto We might need to look into the symbolicator, but I remember last time I reviewed this I was not able to reproduce it on our sample app but it definitely is an issue here.

[2021-11-12 08:31] jer-sen commented on #1077
@jennmueng  & @marandaneto you should also clean the code by removing the current workaround when the runtime check will be implemented

[2021-11-12 08:37] marandaneto commented on #1077
@jennmueng is currently experimenting with this https://github.com/getsentry/sentry-react-native/pull/1886

[2021-11-12 08:43] marandaneto commented on #1783
@ayubov have you tested the latest Sentry RN SDK version? I've tested myself and it works, I do set an ID, capture events on Android and iOS and they are there.

[2021-11-12 08:43] marandaneto commented on #1783
otherwise, could you share with us a minimal reproducible example? thanks

[2021-11-12 08:50] marandaneto commented on #1736
done by https://github.com/getsentry/sentry-react-native/pull/1763/files a while ago

[2021-11-12 09:00] marandaneto commented on #1593
@elliottkember did you have the chance to find out a solution or a code snippet to patch the script?

[2021-11-12 09:02] marandaneto commented on #1562
@tudatn I can't reproduce this using the latest Sentry RN SDK version, did you find a solution?

[2021-11-12 09:02] marandaneto commented on #1562
can you provide a minimal reproducible example? thanks

[2021-11-12 09:05] marandaneto commented on #1438
we do already, see eg https://docs.sentry.io/platforms/react-native/migration/#from-1x-to-2x

[2021-11-12 09:17] marandaneto commented on #1424
@jennmueng I see it in our docs https://docs.sentry.io/platforms/react-native/troubleshooting/#ios-build-script-failed but should we rather fix it on CLI or RN SDK?

[2021-11-12 09:17] marandaneto commented on #1423
already added [enableOutOfMemoryTracking]

[2021-11-12 09:19] marandaneto commented on #1422
since the issue with ReactNativeTracing is fixed, closing it

[2021-11-12 09:21] marandaneto commented on #1102
@sammysium please try the latest version of the Sentry RN SDK, many issues have been fixed since then.

[2021-11-12 09:24] marandaneto commented on #1096
we'll discuss that internally if we have to document the optimal approach for this but I'd say this is App's responsibility to secure its own token, this is sensitive information and should be treated as such, not checking into source control, etc.
an idea is to remove the token from files and set as `SENTRY_AUTH_TOKEN` env. var. when running releases

[2021-11-12 09:25] marandaneto commented on #950
@jennmueng have you checked this out?

[2021-11-12 09:33] nabati opened #1887 "[DebugSymbolicator] Improve source context resolution to avoid extra 404 http requests"
### Environment

iOS Simulator
Sentry SaaS.

react-native-sdk 3.2.3

### Steps to Reproduce

For some reason, enabling sentry while enabling network inspect in react native debugger, I get a lot of false positives in the list of requested network resources. It seems Sentry initiates fetching the source for some files (?). When I disable Sentry, the requests and associated errors disappear.

It see

[2021-11-12 09:39] marandaneto commented on #1887
@nabati thanks for reporting, is it debug or release mode? if debug, can you try release mode?

@jennmueng could it be related to https://github.com/getsentry/sentry-react-native/issues/1346 ?

[2021-11-12 09:56] marandaneto commented on #1869
@mrousavy https://docs.sentry.io/platforms/react-native/manual-setup/hermes/
you don't really need any custom source maps or anything done manually rather than just enabling hermes.
you don't have to fiddle with the bundles either, it should work with eg:
npx react-native run-ios --configuration Release
npx react-native run-android --variant release

only.
can you provide a minimal reproducible ex

[2021-11-12 09:58] marandaneto commented on #1845
@jennmueng have you tested on 0.65? do we need to do something here?

[2021-11-12 10:01] marandaneto commented on #533
@jennmueng how do you usually do it?
looking at https://docs.sentry.io/platforms/react-native/manual-setup/codepush/
you can specify the platform + dist

[2021-11-12 10:03] marandaneto commented on #534
@jennmueng do you know if the release format generated by code push isn't allowed?

[2021-11-12 10:04] marandaneto commented on #658
@lightninglu10 do you still run into these issues? there were many fixes related to that, also for expo.

[2021-11-12 10:05] marandaneto commented on #803
latest versions allow doing it via env. var.

[code]

[2021-11-12 10:05] #803 closed

[2021-11-12 10:07] marandaneto commented on #1464
maybe we could document how to use `sentry-android-core` only at least

[2021-11-12 10:09] marandaneto commented on #791
should we move to sentry-cli then as a feature request? is it common enough that more people would benefit from it? otherwise patching the script is enough -> https://github.com/getsentry/sentry-react-native/issues/791#issuecomment-596857720

[2021-11-12 11:06] marandaneto commented on #831
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-12 11:35] Braden1996 commented on #1857
Managed to get this working by symlinking `node_modules/react-native` and `node_modules/.bin/react-native` from root into my React Native app's workspace.

[2021-11-12 12:51] marandaneto commented on #1660
@jennmueng would that be something similar to Android Proguard? https://docs.sentry.io/platforms/android/proguard/#variant-filtering

[2021-11-12 12:53] marandaneto commented on #888
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-12 12:53] #888 closed

[2021-11-12 12:54] marandaneto commented on #769
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-12 12:54] #769 closed

[2021-11-12 12:59] marandaneto commented on #827
@joan-saum have you tried passing `release` and `dist` in the SDK init? the `release` and `dist` must match otherwise source maps wont work

[2021-11-12 13:03] marandaneto commented on #845
are you still having the same issue using the latest Sentry RN SDK Version? `release` and `dist` must match otherwise source maps don't work.

[2021-11-12 13:04] marandaneto commented on #801
are still having the same issue using the latest Sentry RN SDK Version? I can't reproduce it

[2021-11-12 15:03] #788 closed

[2021-11-12 17:41] eliw00d commented on #1765
@jennmueng I removed that line but still get the same error.

[2021-11-12 17:42] jennmueng commented on #1765
@eliw00d Hmm this tells us that this issue isn't caused by Sentry's build script then, but an issue is coming from the React Native build script itself.

[2021-11-14 13:47] fragilehm opened #1888 "Getting auth.token from .env"
So right now I have `sentry.properties` file with `auth.token` filled in, in order to upload the source map. I understand that we can add this file to .gitignore not to expose the token to the remote repo. But we are using `appcenter` which also does build the release application so it needs to upload the sentry source map as well, but there is no option to get the `auth.token` from the specific f

[2021-11-15 08:23] marandaneto commented on #1888
kinda related to https://github.com/getsentry/sentry-react-native/issues/831

[2021-11-15 08:27] marandaneto commented on #1888
ideally, we'd patch https://github.com/getsentry/sentry-react-native/blob/master/sentry.gradle#L108-L124 to not add the args in case they don't have a value, so sentry-cli would able to read the env. var.

`"--auth-token", sentryProps.get("auth.token") ?: project.env.get("SENTRY_AUTH_TOKEN")`

would be a solution but sentry-cli already looks up into `SENTRY_AUTH_TOKEN` in case there's no `--auth-t

[2021-11-15 12:48] fragilehm commented on #1888
@marandaneto  that sounds much better indeed, any plans on doing that in the near future?

[2021-11-15 13:48] marandaneto commented on #1888
@fragilehm we didn't define priorities yet, but it should not be super hard, what's about submitting a PR? would you be interested? I can guide with reviews

[2021-11-16 13:10] adnxy commented on #1830
I'm facing the same error even though memory size is 3.8GB and usable memory is 3.3 GB for some devices. Also, it's reporting that this crash is happening on the Login screen, which is almost impossible. This screen isn't overusing RAM and not dropping frames, and it's a simple screen that is just calling one endpoint.

I'll do `enableOutOfMemoryTracking: false` for now, but let's hope Sentry reso

[2021-11-16 14:51] sethcwhiting opened #1898 "React Native "Source code was not found" (hashed bundle name)"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
[code]

### Steps to Reproduce

Add Sentry to React Native project (configured as below) and create a release.

### Expected Result

I expected Sentry to correctly detect the name of/path to my uploaded source map.

### Actual Result

I'm getting this error:
<img width="926" alt="Screen Shot 2021-11-16 at 9 10 27 AM" src="

[2021-11-17 06:30] ShivamJoker commented on #1173
I am trying to run the iOS build on github action but keeps failing because of sentry

[2021-11-17 08:23] marandaneto commented on #1173
@ShivamJoker raise a new issue with a detailed description if you are having problems

[2021-11-17 08:50] ShivamJoker opened #1899 "iOS build failing on Github actions with "An organization slug is required""
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?

macOS 11
Xcode 13
@sentry/react-native": "^3.1.1",
react-native": "0.66.1",

### Steps to Reproduce

1. Clone the repo or create your own basic setup - [repo](https://github.com/ShivamJoker/SQL-Play/tree/14-feat/e2e-testing)
2. Create a Github workflow - [mine](https://github.com/ShivamJoker/SQL-Play/blob/14-f

[2021-11-17 08:53] marandaneto commented on #1898
@sethcwhiting the file names should be matching by default and no extra configuration should be needed.
are you using hermes? RAM bundles? or something different than the standard setup?
can you try using the latest `react-native` and `@sentry/react-native` version?

[2021-11-17 09:00] marandaneto commented on #1899
@ShivamJoker have you run the `@sentry/wizard`?

https://docs.sentry.io/platforms/react-native/#linking
looks like you are missing this steps since your repo https://github.com/ShivamJoker/SQL-Play/tree/14-feat/e2e-testing does not have the sentry.properties files

[2021-11-17 09:05] ShivamJoker commented on #1899
@marandaneto thats what I am doing the workflow reading the secret and creating `sentry.properties` in root and ios directory.

[code]

To verify this i even added a word count

<img width="500" alt="image" src="https://user-images.githubusercontent.com/23727670/142170048-49abe83b-6cf6-4fb2-870e-aa911391e7ca.png">

I have used sentry-wizard to set this locally

[2021-11-17 09:05] #1201 closed

[2021-11-17 09:05] #1092 closed

[2021-11-17 09:05] #1078 closed

[2021-11-17 09:05] #1024 closed

[2021-11-17 09:05] #1018 closed

[2021-11-17 09:05] #843 closed

[2021-11-17 09:05] #819 closed

[2021-11-17 09:13] #1226 closed

[2021-11-17 09:20] marandaneto commented on #1899
something is fishy since it runs locally with the same setup, it's an issue with your CI or the way you set up the env. var.
our sample runs on CI just fine https://github.com/getsentry/sentry-react-native/blob/master/sample/ios/sentry.properties
the difference is that we export via env. var. only the token https://github.com/getsentry/sentry-react-native/blob/master/.github/workflows/e2e.yml#L8-L

[2021-11-17 09:24] marandaneto commented on #1226
similar to https://github.com/getsentry/sentry-react-native/issues/1401
it's likely an RN issue and could be solved by upgrading RN itself.

please raise a new issue if the problem persists, ideally answering https://github.com/getsentry/sentry-react-native/issues/1226#issuecomment-964924954

[2021-11-17 09:45] #1294 closed

[2021-11-17 10:17] ShivamJoker commented on #1899
Alright I changed the env variable so that it doesn't conflict with `SENTRY_PROPERTIES` but still got the same error after it ran for 30 minutes 😢

[code]

Now I am trying with the token only, will update soon

[2021-11-17 11:10] ShivamJoker commented on #1899
@marandaneto I tried like how you guys have done but it didn't take the auth token :/

[code]

I did same like this
[code]

[2021-11-17 11:49] ShivamJoker commented on #1899
Okay thanks for all the info the build worked after putting the env on top of the config

[2021-11-17 11:49] #1899 closed

[2021-11-17 14:26] sethcwhiting commented on #1898
@marandaneto Thanks for the response! This is an ejected Expo project. Maybe that has something to do with it?

[2021-11-17 14:32] sethcwhiting commented on #1898
Also, I'm a little unclear as to when the source maps are generated and uploaded. Is it at build time? We're using AppCenter to build the app if that's relevant at all.

[2021-11-17 15:00] #1408 closed

[2021-11-17 15:00] #1349 closed

[2021-11-17 15:11] #1249 closed

[2021-11-17 15:42] jennmueng commented on #1898
@sethcwhiting I'm not sure myself and I have never worked with building apps on AppCenter, so assuming that these bundle hashes are generated by AppCenter, can you test and see if you add this integration, does sourcemaps work:

[code]
This is just the default frame rewriting code we already have in the SDK by default, however just to see if just renaming the bundle name will work.

[2021-11-17 15:44] jennmueng commented on #1887
@marandaneto Yep, looks related to #1346. Looks like it's time we revisit the debug symbolicator integration.

[2021-11-17 16:12] mrousavy commented on #1869
How do I upload those correctly? I couldn't find anything in the getting started docs.

 Here's the link: https://sentry.io/organizations/pink-panda-1t/issues/2783621680/?project=6044200&query=is%3Aunresolved

[2021-11-17 17:01] ShivamJoker commented on #1899
@marandaneto one last question. How you guys are loading the auth token when building locally ?

[2021-11-17 17:35] sethcwhiting commented on #1898
@jennmueng That seems to have worked! Thanks so much!

[2021-11-17 17:42] sethcwhiting commented on #1898
@jennmueng  One last question:
With each build, I seem to get artifacts for both iOS and Android:

<img width="1009" alt="Screen Shot 2021-11-17 at 12 20 20 PM" src="https://user-images.githubusercontent.com/2145601/142252589-b54b1a26-461f-4973-80e9-da7db8344a70.png">

<img width="1011" alt="Screen Shot 2021-11-17 at 12 20 34 PM" src="https://user-images.githubusercontent.com/2145601/142252624-0b6

[2021-11-17 17:45] Sikandarkhan commented on #746
thank you it worked

[2021-11-17 19:26] jennmueng commented on #1898
@sethcwhiting You can change the if block to
[code]
when you have separate bundles for Android and iOS. It works fine as I assume you don't really have too much Android/iOS specific code. However, this should be a patch and if you are able to find the source of where the bundles are being bundled with the hash in their names I would reckon that would be a more solid solution.

[2021-11-17 19:32] sethcwhiting commented on #1898
@jennmueng Thanks so much for your help 🙏🙏🙏

[2021-11-17 19:32] #1898 closed

[2021-11-17 20:07] jennmueng commented on #1869
They should be uploaded by default with a build script added by the Sentry Wizard. Check your xcode build phases and make sure the one called something like "Bundle React Native Code and Images" calls `sentry-cli`.

@marandaneto Please check the link for me and confirm that the source maps exist for the release/dist of the event.

[2021-11-17 22:17] dawidchyrzynski commented on #1815
@marandaneto I'll give it a try later this week and get back to you.

[2021-11-18 09:09] marandaneto commented on #1869
<img width="1123" alt="Screenshot 2021-11-18 at 10 09 14" src="https://user-images.githubusercontent.com/5731772/142385302-dfd54a42-7508-4a64-ac72-f5602caeb126.png">

[2021-11-18 09:33] marandaneto commented on #1765
can you provide a minimal reproducible example so we can double-check that it's not a sentry's issue? the standard setup with Hermes just works using the latest RN SDK Version

[2021-11-18 09:33] marandaneto commented on #1775
ping @bruno-garcia

[2021-11-18 09:35] marandaneto commented on #1346
@hannojg can you provide a minimal reproducible example? thanks

[2021-11-18 09:35] marandaneto commented on #785
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-18 09:35] #785 closed

[2021-11-18 09:40] marandaneto commented on #534
in case the generated names are not accepted, you can use custom `release` and `dist` https://docs.sentry.io/platforms/react-native/sourcemaps/#using-custom-release-and-distribution

[2021-11-18 09:40] #534 closed

[2021-11-18 09:42] marandaneto commented on #831
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-11-18 09:42] #831 closed

[2021-11-18 09:45] marandaneto commented on #1857
if you do the manual configuration https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/ you could specify the path of the directory either via symlink as @Braden1996 did or really setting up the correct path.

I'm not sure we can do something about it, ideas?

[2021-11-18 09:47] marandaneto commented on #1816
@radhakrishnapai any news?

[2021-11-18 09:48] marandaneto commented on #1215
@indapublic any news?

[2021-11-18 09:48] marandaneto commented on #1885
@radhakrishnapai any news?

[2021-11-18 09:49] marandaneto commented on #828
@jennmueng ideas what to do here?

[2021-11-19 07:26] messycoding commented on #32
This also works while using version 2.0.0

https://github.com/getsentry/sentry-react-native/issues/1186#issuecomment-725745836

[2021-11-19 09:00] #1783 closed

[2021-11-19 13:13] #845 closed

[2021-11-19 13:13] #827 closed

[2021-11-19 13:13] #801 closed

[2021-11-19 14:55] marandaneto commented on #1559
ping @jennmueng

[2021-11-20 10:37] rahamin1 opened #1900 "Please delete"
Please delete

[2021-11-20 10:54] #1900 closed

[2021-11-21 15:53] jennmueng commented on #1559
@marandaneto Closing as this is expo related only.

[2021-11-21 15:53] #1559 closed

[2021-11-22 02:33] indapublic commented on #1215
@marandaneto Sorry, not reached it yet. Give me a week please, I'll try to reproduce

[2021-11-22 11:39] AlaaEl-DinAhmed commented on #794
Thank you so much, your solution works fine with me

[2021-11-23 00:22] tyrauber commented on #1857
Thanks @byCedric for raising this issue. We've had to fallback to a JS Sentry instrumentation in production.  With the sentry-expo config plugin enabled, our app builds locally, but fails on EAS (for both android and ios). It's an Expo 42 expo-yarn-workspaces monorepo architecture, but other config plugins build fine. Our implementation is similar to the one [found here](https://github.com/byCedri

[2021-11-23 08:23] marandaneto commented on #1766
https://github.com/getsentry/sentry-docs/pull/4392

[2021-11-23 08:23] #1766 closed

[2021-11-23 12:54] marandaneto opened #1912 "iOS scripts respect `cli.executable` when custom value given"
reason: https://github.com/getsentry/sentry-react-native/issues/1857#issuecomment-976487521

[2021-11-23 12:55] marandaneto commented on #1857
I've raised this issue https://github.com/getsentry/sentry-react-native/issues/1912
so iOS eventually respects the `cli.executable` config too instead of always hardcoded.

[2021-11-23 22:10] renchap opened #1913 "Use `accessibilityLabel` for identifying touch events"
Hi!

I am not sure if this is doable, but properly tracking which components have been touched is a bit cumbersome as you need to set `displayName` for the component, so:
- it needs to be a component
- you need separate component for every touchable in the view to differentiate them, ie, you cant directly use
[code]
  and know which button has been pressed.

Similarly to some testing libraries, it

[2021-11-24 09:00] marandaneto commented on #1913
@renchap thanks for the suggestion, I'll discuss it internally

[2021-11-25 08:33] mrousavy commented on #1869
@jennmueng

It doesn't, how should that command look like? Can you give me an example? Re-running the wizard also doesn't fix this.

@marandaneto Looks like the bundle maps are there, maybe I am using wrong versions in the init call (dist & release)?

[2021-11-25 08:41] marandaneto commented on #1869
@mrousavy your message here https://github.com/getsentry/sentry-react-native/issues/1869#issuecomment-959754791 says that you don't use `dist` and `release` directly, but now you say you are, wondering if that's the issue, please double-check https://docs.sentry.io/platforms/react-native/sourcemaps/ in case you are using custom values, but you don't have to set them at all, the SDK assign default

[2021-11-25 08:45] mrousavy commented on #1869
Sorry my bad, I worded that weird. I am NOT using `dist` or `release`, but I thought that I have to use it so it knows which bundle to use. My issue exists with the current init call:

[code]

[2021-11-25 08:46] mrousavy commented on #1869
Yeah but where do I download them? 😅

[2021-11-25 09:05] #1246 closed

[2021-11-25 09:12] marandaneto commented on #1869
go to your project settings, the menu is called "Source maps", eg
https://sentry.io/settings/{org}/projects/{project}/source-maps/

[2021-11-25 23:17] tyrauber commented on #1857
Hi @Braden1996, Expo 43 migration is in progress. Ran into a bunch of little issues like this, but overall quite happy with the changes. In regards to sentry, I was able to get Native Reporting to work by adding the "postinstall-symlink-react-native", `.../.../../` for `./apps/app/...`.  One thing to note though, I actually had to disable the sentry postPublish hook as it would mysteriously err ou

[2021-11-26 13:26] marandaneto commented on #1661
figure out if this is part of the unified API and if we should add to the SDKs that don't.

workaround for now would be calling `Sentry.init{...}` and then later `Sentry.configureScope { it -> it.setTag(x, y) }`

[2021-11-28 11:31] marandaneto commented on #1830
I will test it again after https://github.com/getsentry/sentry-cocoa/pull/1487 gets merged and released.

[2021-11-28 17:53] bruno-garcia commented on #1775
Sorry, I don't keep up with GH notifications anymore. Please drop me a link via DM if I'm blocking?

https://github.com/getsentry/sentry-docs/search?q=ErrorBoundary

Yes

[2021-11-29 14:49] indapublic commented on #1215
Hi, sorry for late.

Just created two new apps with RN 0.66.3 and @sentry/react-native 3.2.3

Same apps, different `CFBundleDisplayName` and `PRODUCT_BUNDLE_IDENTIFIER`

App just crashed on button pressing with `Sentry.nativeCrash();`

Sentry is enabled via manual

[code]

No any issues from app 1 (which one is published at first) and issues from app 2 (which is published after app 1).
Source maps

[2021-11-29 18:07] byCedric commented on #1912
Sorry to bother you again with this, but is there an ETA on implementing this? Might help giving some Sentry and Expo/EAS users some context 😄

[2021-11-30 01:44] jennmueng commented on #1215
@indapublic Can I get a link to the Sentry issue where the source maps are not working again?

[2021-11-30 04:12] indapublic commented on #1215
@jennmueng https://sentry.io/organizations/macroactiveio/issues/2824548633/?project=6085670&query=is%3Aunresolved This is issue from fresh app RN 0.66 with recent sentry

![image](https://user-images.githubusercontent.com/856260/143984453-4f992032-612f-4a1f-b490-027a45aedb8e.png)

[2021-11-30 07:10] marandaneto commented on #1215
@indapublic this is an iOS event, breadcrumbs are not symbolicated, that's why you can't read it.

that's the stack trace:

<img width="1012" alt="Screenshot 2021-11-30 at 08 08 20" src="https://user-images.githubusercontent.com/5731772/144001648-3e2fdd35-fbed-4d26-9709-e87237bacfcd.png">

have you ran a release version? since the library `macroactive` is missing symbols.

<img width="949" alt="Sc

[2021-11-30 07:15] marandaneto commented on #1912
@byCedric no worries, unfortunately, we don't have an ETA since we are still prioritizing all the open issues, closing old ones, etc... hoping to work on that soon tho.
would you like to submit a PR and patch the shell script on sentry-wizard?

pretty much what needs to be done is:

read `cli.executable` from the exported `sentry.properties`, and if not found, keep the hardcoded value, `../node_mo

[2021-11-30 07:19] indapublic commented on #1215
Be honest, it's not seems like solution for me :) As I said this crash was issued by JS code

Release version from TestFlight

Debug is uploaded succesfull during each archiving process, but probably it can be related that I have many apps (with different bundle id).

[2021-11-30 07:26] marandaneto commented on #1215
@indapublic not sure if I follow, if you triggered the exception via `Sentry.nativeCrash();`, this causes an iOS native issue, even though it's been called from JS code, the native code is responsible for handling it.

The same would be if doing that on Android, you will see a Java stack trace and not the JS code.

We do add a breadcrumb

if you call `throw new Error` on JS, then stack trace and s

[2021-11-30 08:01] indapublic commented on #1215
My issue provided by url is caused by JS via `throw new Error` so I expect JS stack here

You can see title `RCTFatalException: Unhandled JS Exception: Error: Crashed!`

Code is ```<Button
				title="Crash me!"
				onPress={() => {
					throw new Error("Crashed!");
				}}
			/>```

So I'm afraid not. Or I something not understood here

[2021-11-30 08:04] indapublic commented on #1215
Oh, I see new event here https://sentry.io/organizations/macroactiveio/issues/2824548602/?project=6085670&query=is%3Aunresolved

Not sure why I see two events regarding to one crash (you can see same title "Crashed")

It looks like JS exception, isn't it? But still no maps and `Source code was not found` warning inside

[2021-11-30 08:11] marandaneto commented on #1215
sorry I read this from you: https://github.com/getsentry/sentry-react-native/issues/1215#issuecomment-981704705

[2021-11-30 08:14] gunnartorfis commented on #1830
@marandaneto seems like they just merged it 😄

[2021-11-30 08:16] marandaneto commented on #1215
yep, if you go to project settings and source maps:

https://docs.sentry.io/platforms/react-native/sourcemaps/#using-custom-release-and-distribution

in case you are using custom `release` and `dist`, you have to follow the page above or check why its not uploading source maps, check the build output for fishy logs as well.

[2021-11-30 08:18] indapublic commented on #1215
Yes, it was first attempt. Later I mentioned [here](https://github.com/getsentry/sentry-react-native/issues/1215#issuecomment-982267449)  that I tried with JS error for maps issue investigation.

I'm not using it. Just simple as described [here](https://github.com/getsentry/sentry-react-native/issues/1215#issuecomment-981704705)

[code]

[2021-11-30 08:25] marandaneto commented on #1215
@indapublic did you run the `sentry-wizard`?

`npx @sentry/wizard -i reactNative -p ios android`

[2021-11-30 08:25] indapublic commented on #1215
Yes

[2021-11-30 08:26] marandaneto commented on #1215
@indapublic please generate a local release build and copy-paste the whole log, I'd like to see the output of it.

[2021-11-30 08:38] indapublic commented on #1215
@marandaneto thanks, I will do that but tomorrow probably

[2021-11-30 15:40] karthinidc opened #1916 "Android APK build issue - Could not resolve all files for configuration ':@sentry_react-native:releaseRuntimeClasspath'."
Android Platform: Build getting failed but running in the emulator.

Execution failed for task ':@sentry_react-native:generateReleaseRFile'.

     Required by:
         project :@sentry_react-native

It worked up to yesterday - Issue from today only

    "@sentry/react-native": "2.4.2",
    "react": "16.8.3",
    "react-native": "0.59.9",

### Expected Result

APK file needs to generate.

### Actu

[2021-11-30 20:57] jennmueng commented on #1456
@laygir @kaokei As you guys are using Vue and not React Native, I guess it's not exactly related to this issue with the React Native SDK and rather the discussion should be on the Sentry Javascript repo: https://github.com/getsentry/sentry-javascript/issues/4072. Noting that I have not been able to reproduce this issue along with no one providing reproductions I will assume it is due to creating t

[2021-11-30 20:58] jennmueng commented on #1454
@marandaneto No not yet

[2021-11-30 21:15] jennmueng commented on #1424
@marandaneto I think this is a fix that needs to be done on the CLI

[2021-11-30 21:21] jennmueng commented on #1845
@marandaneto @roy-rayyone My assumption here is maybe it's generating a malformed sourcemap as they're getting "Invalid Location in Sourcemap" errors. @roy-rayyone Have you tried updating to 0.66 and/or followed @vuletuanbt's steps?

[2021-11-30 21:23] jennmueng commented on #533
@marandaneto @dgobaud You should be able to specify the platform in the dist, will make a documentation note for it.

[2021-11-30 21:52] dgobaud commented on #533
@jennmueng where or how exactly?

[2021-11-30 21:56] jennmueng commented on #533
@dgobaud
[code]

and also set the `dist` when you upload the sourcemaps.

[2021-11-30 22:02] dgobaud commented on #533
@jennmueng how do you do it with sourcemap upload? We are doing it with Sentry.init() maybe something was added to support sourcemap upload dist i don't think it did before?

[2021-11-30 22:04] jennmueng commented on #533
@dgobaud See the `--dist` in the `sentry-cli react-native appcenter` command here in the last code block: https://docs.sentry.io/platforms/react-native/manual-setup/codepush/#making-releases

[2021-11-30 23:48] adbl opened #1919 "nested breadcrumb data on android is not treated correctly"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 3.2.3

### Steps to Reproduce

Call `Sentry.addBreadcrumb(...)` in key places during app execution with nested data on Android before some `reportError` happens. `normalizeDepth` is not configured and so should be the default: `3`?

### Expected Result

- To see the nested breadcrumb data d

[2021-12-01 06:22] indapublic commented on #1215
Hi @marandaneto Log file is [here](https://gist.github.com/indapublic/fda6a29ac67482777a812d726803a5f8)

[2021-12-01 08:18] marandaneto commented on #1424
@jennmueng should we always invoke the CLI with `--force-foreground`? we can patch the xcode script (via wizard), if the CLI already has such option, why would we need to fix it on the CLI? what was the motivation for doing it in the background actually in the first place? @jan-auer do you have context about that?

[2021-12-01 08:34] #1077 closed

[2021-12-01 08:55] marandaneto commented on #1919
@adbl thanks for reporting, will have a look at it.
@jennmueng could you please check the https://github.com/getsentry/sentry-react-native/issues/1409#issuecomment-938599118 issue? thanks

[2021-12-01 09:01] marandaneto commented on #1215
@indapublic thanks but apparently the log is incomplete, I don't see the "finished" step, nor I did find the `sentry-cli` call at all.
which command do you run to compile your app btw? is there any custom build and setup or just standard eg `npx react-native run-ios --configuration Release`?

[2021-12-01 09:15] indapublic commented on #1215
@marandaneto Code is published as [repository](https://github.com/indapublic/react-native-sentry-example)

It was just Cmd+B

<img width="311" alt="image" src="https://user-images.githubusercontent.com/856260/144205838-1050806a-e96e-4b52-ab8a-348131e3922c.png">

Log was exported from Xcode output

<img width="1552" alt="image" src="https://user-images.githubusercontent.com/856260/144205937-09f8f29

[2021-12-01 11:59] marandaneto commented on #1869
@mrousavy any news?

[2021-12-01 11:59] marandaneto commented on #1815
@dawidchyrzynski please let us know if that worked.

[2021-12-01 12:00] marandaneto commented on #1765
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:00] #1765 closed

[2021-12-01 12:00] marandaneto commented on #1834
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:00] #1834 closed

[2021-12-01 12:01] marandaneto commented on #1346
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:01] marandaneto commented on #658
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:01] #658 closed

[2021-12-01 12:02] marandaneto commented on #1816
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:02] #1816 closed

[2021-12-01 12:02] marandaneto commented on #1885
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-01 12:02] #1885 closed

[2021-12-01 12:04] marandaneto commented on #1845
@roy-rayyone any updated? thanks

[2021-12-01 12:26] mrousavy commented on #1869
Hey! No, I have found the source maps for Android, but they're not there for iOS. I am not using custom `dist` or `release` options, so not quite sure what's failing here.

As @jennmueng pointed out, there should be a build phase (command) that calls `sentry-cli` in my iOS Project - but that isn't there. Can you help me figure out what that should look like?

[2021-12-01 12:34] marandaneto commented on #1869
@mrousavy try to run the wizard again? or https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#upload-debug-symbols and https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#upload-debug-symbols-to-sentry

[2021-12-01 12:45] mrousavy commented on #1869
Re-running the wizard didn't work in my case because my Xcode pbxproj is a bit different (lots of custom stuff).

I've manually added the upload symbols script and will now check if it works. My bad for not noticing that the Sentry Wizard (probably) failed the first time I ran it 😅

[2021-12-01 13:19] marandaneto commented on #1830
yep, https://github.com/getsentry/sentry-react-native/releases/tag/3.2.4
would one of you test it out using this latest version? thanks

[2021-12-01 14:13] jer-sen commented on #1077
@marandaneto I have tried your fix but in dev mode with Expo the `loger.warn` message does not appear in terminal nor on my Android device. Replacing:

`logger.warn("Unhandled promise rejections will not be caught by Sentry. Read about how to fix this on our troubleshooting page.");`

by

`setTimeout(() => console.warn("Unhandled promise rejections will not be caught by Sentry. Read about how to f

[2021-12-01 16:06] #533 closed

[2021-12-01 16:08] marandaneto commented on #1215
@jennmueng please have a look at it

[2021-12-02 00:00] kevindsky opened #1921 "Detox tests timing out after setting up Performance Monitoring"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
`"@sentry/react-native": "^3.1.1"`

### Steps to Reproduce

1. Following [instructions](https://docs.sentry.io/platforms/react-native/performance/instrumentation/automatic-instrumentation/) for Performance Monitoring
2. Run tests on debug/release

App
[code]

Config
[code]

### Expected Result

Tests should pass.

### Actual

[2021-12-02 02:02] roy-rayyone commented on #1845
hi @marandaneto @jennmueng unfortunately, I'm quite busy with my current projects now. Will try to upgrade to 0.66 when I have a chance!

[2021-12-02 08:28] marandaneto commented on #1921
@kevindsky thanks for reporting, but not sure if this is related to Sentry, it could be that your tests are not considering the performance monitoring or something, the logs don't tell anything related to Sentry either.
Not sure how I can help, does the SDK init normally? does the App init normally? if So, the problem is with your test.

[2021-12-02 09:05] FrankyLee-dev opened #1922 "Error: Unable to resolve module `react-native/Libraries/promiseRejectionTrackingOptions`"
react native：0.61.4
sentry：3.2.4

error: bundling failed: Error: Unable to resolve module `react-native/Libraries/promiseRejectionTrackingOptions` from `node_modules/@sentry/react-native/dist/js/integrations/reactnativeerrorhandlers.js`: react-native/Libraries/promiseRejectionTrackingOptions could not be found within the project.

[2021-12-02 09:10] marandaneto commented on #1922
@FrankyLee-dev thanks for reporting.

have you checked this? https://docs.sentry.io/platforms/react-native/troubleshooting/#unhandled-promise-rejections

[2021-12-02 09:37] marandaneto commented on #1922
@jennmueng could you have a look at this?
I could reproduce the build error by using `react-native init Name --version 0.61.4` and installing the SDK.

I've added:

[code]

to my App's package.json but the build error still persists.

[2021-12-02 11:17] luisfuertes commented on #1922
+1. App build but JS crash before init.

[code]

Platform Android
    "@sentry/react-native": "^3.2.4",
    "react": "16.9.0",
    "react-native": "0.61.5",

[2021-12-02 12:07] adbl commented on #1919
Adding to this it seems that Android OS version might matter, testing today with android 10, and the breadcrumbs get displayed correctly. The strange issue with duplicates are Android OS 11.

I also suspect that this is somehow affected by android app life cycle -> javascript runtime/module loading. Perhaps it leads to us calling `Sentry.init` from JS multiple times in the same app instance...

[2021-12-02 12:14] adbl commented on #1830
@marandaneto still seeing this for 3.2.4 / Cocoa SDK 7.5.4. example sentry issue `2748708549` event `dd8fe7667e16479bae1d096e25853847`

[2021-12-02 12:17] marandaneto commented on #1922
it works if using newer React Native versions, right?

[2021-12-02 12:20] liucong1 commented on #1922
I have the same error, but @sentry/react-native works normally after being downgraded to 3.2.1

You can try
[code]

[2021-12-02 12:49] marandaneto commented on #1661
the reason is that when you call eg `Sentry.serUser(...)` or `Sentry.configureScope { it -> it.setUser(...) }`, the RN SDK forwards the call to the Native SDKs so the scope gets synced, See https://github.com/getsentry/sentry-react-native/blob/master/src/js/wrapper.ts#L340

we'd need to do the same when setting context via `initialScope`

[2021-12-02 12:53] luisfuertes commented on #1922
If i downgrade to `"@sentry/react-native": "3.2.1",`

Error is:
[code]

[2021-12-02 13:01] marandaneto commented on #1922
downgrade to https://github.com/getsentry/sentry-react-native/releases/tag/3.2.3 should be enough.
otherwise bumping the React Native SDK.
or keeping the version you had before, sorry for the inconvenience,  @jennmueng will look into it shortly.

[2021-12-02 14:36] philipphofmann commented on #1661
`initialScope` was only added to JavaScript, because it was needed for Electron. We don't have a real use case for other SDKs and therefore we want to remove it from ReactNative.

[2021-12-02 15:23] luisfuertes commented on #1922
If downgrade to 3.2.3 have the same error as with the 3.2.1

[2021-12-02 16:02] jennmueng commented on #1922
This issue doesn't make sense and is especially concerning as the require that throws this error is inside a try catch block:

https://github.com/getsentry/sentry-react-native/blob/036c110811f182d87154c088d3792527e2bce558/src/js/integrations/reactnativeerrorhandlers.ts#L97-L115

and is supposed to be caught. In older RN versions this file isn't present and we would fallback to the default return i

[2021-12-02 17:59] nbpro commented on #1922
"react-native": "0.63.4",
 "@sentry/react-native": "^3.2.4",
Getting this error after installing sentry for app.

[2021-12-02 19:55] kevindsky commented on #1921
@marandaneto thanks - without these config they're working fine even with wrapping the root component.

[code]

My gut feeling me there's a long running timer setup in the background?

[code]

I've increased our timeout to 4 minutes and they still fail.

[2021-12-02 19:56] LFMAKER commented on #1922
I tested it on version 0.63.4 of RN with the below versions of sentry SDK and got the same error.

Test with
"@sentry/react-native": "3.2.4"
"@sentry/react-native": "3.2.3"
"@sentry/react-native": "3.2.1"

[2021-12-02 20:08] johnsoncwb commented on #1922
same error here, when i try to build or run on release mode (iOS) it close my app.

[2021-12-02 22:09] sebasbeleno commented on #1922
Same error here when i try to run dev environment on RN ^0.61.5

[2021-12-02 22:19] jennmueng commented on #1922
@LFMAKER @luisfuertes Make sure you are actually downgrading the SDK. Try a complete reinstall (delete node_modules etc) because the line of code was added in 3.2.4 it's technically impossible for any version prior to that to have this error.

Otherwise, I am investigating this issue as we speak.

[2021-12-02 22:52] dawidchyrzynski commented on #1815
Hi @marandaneto,

Unfortunately I'm getting the same result using original setup with automatic sourcemaps upload (event 88a8460d463d413c85fffe1f48ef4dbc)

[2021-12-02 23:24] #1922 closed

[2021-12-03 02:52] FrankyLee-dev commented on #1922
Yes, it is a runtime error.

I've added:
[code]
but it didnt work.

@jennmueng The error has been fixed，i am using version 3.2.5.

[2021-12-03 08:13] marandaneto opened #1924 "Run E2E test using a matrix of RN versions"
Helps to catch issues like https://github.com/getsentry/sentry-react-native/pull/1923

[2021-12-03 08:17] marandaneto commented on #1922
https://github.com/getsentry/sentry-react-native/releases/tag/3.2.5 fixes the issue, thank you all for the logs and sorry for the inconvenience.
gonna work on https://github.com/getsentry/sentry-react-native/issues/1924 soon to avoid such issues and detect them earlier.

[2021-12-03 08:27] marandaneto opened #1925 "Deprecate options.initialScope and remove in the next major version"
reason is https://github.com/getsentry/sentry-react-native/issues/1661#issuecomment-984685325

[2021-12-03 08:27] marandaneto commented on #1661
closing in favor of https://github.com/getsentry/sentry-react-native/issues/1925

[2021-12-03 08:27] #1661 closed

[2021-12-03 09:27] marandaneto commented on #1815
thanks, can you provide a minimal reproducible example? on GH would be ideal, thanks

[2021-12-03 09:44] marandaneto commented on #1921
@jennmueng are you aware of such timers?

[2021-12-03 12:06] luisfuertes opened #1926 "Error: Unable to resolve module `promise/setimmediate/rejection-tracking`"
### Environment

How do you use Sentry?
[code]

Node and npm versions used:
[code]

### Steps to Reproduce

1. `rm -rf node-modules && ./gradlew clean && npm install && uninstall app && npx react-native run-android`
2. App compile but when try to load javascript get this error:
[code]

I try to add `"preinstall": "npx npm-force-resolutions",` and resolutions on package.json but have same error.
[c

[2021-12-03 12:27] LFMAKER commented on #1926
Yesterday I reported the same problem, they released a 3.2.5 that possibly solved the problem, but it didn't!

If this doesn't work in old versions of the RN they should have alerted the breaking change and not simply released and not commented on it.

[2021-12-03 12:29] marandaneto commented on #1926
looks similar to https://github.com/getsentry/sentry-react-native/issues/1922 but a different promise library

[2021-12-03 12:34] LFMAKER commented on #1926
in IOS:

`Terminating app due to uncaught exception 'RCTFatalException: Unhandled JS Exception: Error: Requiring unknown module "react-native/Libraries/promiseRejectionTrackingOptions".', reason: 'Unhandled JS Exception: Error: Requiring unknown module "react-native/Libraries/promiseRejectionTrackingOptions"., stack:`

[2021-12-03 12:35] marandaneto commented on #1926
@jennmueng apparently we've to do the same with those 2 lines.

https://github.com/getsentry/sentry-react-native/blob/master/src/js/integrations/reactnativeerrorhandlers.ts#L71
https://github.com/getsentry/sentry-react-native/blob/master/src/js/integrations/reactnativeerrorhandlers.ts#L123

@LFMAKER your comment in the other issue was before 3.2.5, it's a bug and not a breaking change, we're not a

[2021-12-03 12:35] luisfuertes commented on #1926
@marandaneto i come from that issue.

But i update sentry to new version with fix and have the same problem that with sentry 3.2.3 and 3.2.2

[2021-12-03 12:36] marandaneto commented on #1926
that is likely caching or dirty node modules, that line of code never existed on 3.2.3 so it can't an issue.
you'd need to revert your upgrade.

[2021-12-03 12:38] luisfuertes commented on #1926
But i delete node_modules, use gradlew clean, uninstall app, set version fixed on package.json, etc.

How it can cache module?

[2021-12-03 12:39] marandaneto commented on #1926
not sure, but this is not related to this issue or the previous one at all, create an empty project, use Sentry `3.2.3` and you won't experience the same issue.

[2021-12-03 12:40] marandaneto commented on #1926
not sure, but this is not related to this issue or the previous one at all, create an empty project, use Sentry 3.2.3 and you won't experience the same issue.

[2021-12-03 12:42] LFMAKER commented on #1926
I literally installed everything on another macOs and had the same problem, it's not caching

[2021-12-03 12:44] marandaneto commented on #1926
@LFMAKER can you provide a minimal reproducible example using Sentry 3.2.3?

[2021-12-03 13:02] luisfuertes commented on #1926
I started new project with `npx react-native init AwesomeProject --version 0.61.5` and install `"@sentry/react-native": "3.2.3"` and it works ...

But dont know what can be wrong on my project :s

[2021-12-03 13:03] #1330 closed

[2021-12-03 13:07] marandaneto commented on #1424
apparently this was an issue with sentry-cli and it should be solved by using the latest sentry-cli https://github.com/getsentry/sentry-cli/releases/tag/1.71.0

[2021-12-03 13:22] LFMAKER commented on #1926
I started a new project too and it worked, but in my real project it doesn't work

[2021-12-03 13:32] marandaneto commented on #1919
we could run a test using the Sentry Android SDK v6 alpha that vendors Gson and this issue should be fixed by itself.
If not, we can look into fixing it on Sentry Android SDK v5, since Gson parses it wrongly (stringify the data bag).

[2021-12-03 16:07] jennmueng commented on #1926
@LFMAKER @luisfuertes Make sure you [completely reset the React Native build cache.](https://stackoverflow.com/a/51375437/9287775)

This dependency has been present since `@sentry/react-native: 1.0.0` for 2 years, it was not caused by the recent change:
Now: https://github.com/getsentry/sentry-react-native/blob/d2438b6ad45a4ab08a9ca730fb79f93da0a67685/src/js/integrations/reactnativeerrorhandlers.t

[2021-12-03 18:10] LFMAKER commented on #1926
@jennmueng
I've done this several times, I've cloned the project into another Macos too, and I still have this problem. Unfortunately, this only happens when I build the project in release mode.

[2021-12-03 18:16] johnsoncwb commented on #1926
Same issue here guys, always i try to build my project or run it in release mode it crashes.
Macbook air M1 - BigSur 11.6.1
"react-native": "0.63.4"
"sentry-expo": "^4.0.3"
"@sentry/react-native": "^3.1.1"

[2021-12-03 19:29] jennmueng commented on #1926
@LFMAKER @johnsoncwb I just tried a release build with `react-native: 0.63.1` and `@sentry/react-native: 3.2.5` and couldn't reproduce this issue. What promise version are you using? Have you tried clearing the build cache for both XCode and Gradle? Can I have a reproducible example?

[2021-12-03 21:28] johnsoncwb commented on #1926
@jennmueng i got `react-native/Libraries/promiseRejectionTrackingOptions` when i try do build the app.
![Screen Shot 2021-12-03 at 18 28 37](https://user-images.githubusercontent.com/80973949/144675118-090128a6-441b-4f86-aae0-8bb3dd2adcd3.png)

[2021-12-03 22:15] jennmueng commented on #1926
@johnsoncwb What version of `"@sentry/react-native": "^3.1.1"` are you actually on, can I get the lockfile entry?

[2021-12-03 22:19] LFMAKER commented on #1926
https://github.com/expo/sentry-expo is what causes the crash and error.

[2021-12-03 22:33] LFMAKER commented on #1926
I set an old version of the sentry dependencies in the lib and it worked.
https://github.com/LFMAKER/sentry-expo

[2021-12-03 22:34] LFMAKER commented on #1926
But now, I would like to know if you support this lib, as it is from the expo.

[2021-12-04 04:53] ejain opened #1927 "Error: Unable to resolve module react-native/Libraries/promiseRejectionTrackingOptions"
Encountered the issue described in https://github.com/getsentry/sentry-react-native/issues/1922 after upgrading @sentry/react-native from 2.6.1 to 3.2.5 in a React Native app (0.64.2).

The app builds and runs fine in dev mode, but crashes on startup in release mode.

[2021-12-04 05:13] ejain commented on #1927
Just downgraded to @sentry/react-native 3.2.3, this version appears to be fine.

[2021-12-04 09:08] TomCorvus commented on #1927
Hi,

same problem since `^3.2.5` or `^3.2.4` with `react-native ~0.64.3`. App works fine in dev mode but crash in release mode only on Android.
Need to force 3.2.4 version. `"@sentry/react-native": "3.2.4",` and it works fine.

[2021-12-04 09:32] marandaneto commented on #1927
does this help https://docs.sentry.io/platforms/react-native/troubleshooting/#unhandled-promise-rejections ?

[2021-12-04 09:32] marandaneto commented on #1927
cc @jennmueng

[2021-12-04 09:33] marandaneto commented on #1927
related to https://github.com/getsentry/sentry-react-native/issues/1926 and the other linked issue

[2021-12-04 12:13] TomCorvus commented on #1927
No, not for me.

[2021-12-05 06:43] jennmueng commented on #1927
I'm still not able to reproduce the crash only in release mode, even though I could reproduce the crash from version `3.2.4` in both development and release mode, version `3.2.5` works in both release and development mode for me.

@TomCorvus This is very surprising as version `3.2.4` is the one that should be crashing.

@marandaneto Maybe the simplest solution is to remove the dependency on `react

[2021-12-06 08:19] marandaneto commented on #1927
@jennmueng agreed, let's remove the `promiseRejectionTrackingOptions` dep then.

[2021-12-06 08:23] mrusmanali commented on #1927
@marandaneto should we expect a release soon. I just commented the try block from `reactnativeerrorhandlers.js` to make my app work, but we need to make this change every time some one make an app release in the team.

[2021-12-06 08:25] marandaneto commented on #1927
yes, later today, @jennmueng needs to confirm if its ready to be merged

[2021-12-06 08:33] TomCorvus commented on #1927
@jennmueng yes me too, when I saw previous comments, but since the 3.2.5 update, my production release crash on app launch. I tried to downgrade to `^3.2.4` but it crashed too, and when I force the `3.2.4`, it's working.

[2021-12-06 09:55] majirosstefan commented on #1424
Using 1.71.1 according to the 'yarn list' output, and the problem still persists.

[2021-12-06 09:55] marandaneto opened #1937 "Mismatched line numbers when using RAM Bundles"
When using https://reactnative.dev/docs/ram-bundles-inline-requires
line numbers may be mismatched, the reason is unknown, could be that RN generates already mismatched line numbers or Sentry symbolication do it wrongly.

Removing `extraPackagerArgs: ["--indexed-ram-bundle"]` does not help.
Tested on latest RN (66.3) and latest Sentry RN (3.2.5)

[2021-12-06 09:57] marandaneto commented on #1937
Line number should have been 19

<img width="700" alt="Screenshot 2021-12-06 at 10 56 23" src="https://user-images.githubusercontent.com/5731772/144825707-1e204139-ed93-4712-bc5c-14bfe0298787.png">

Line number should have been 18

<img width="771" alt="Screenshot 2021-12-06 at 10 57 00" src="https://user-images.githubusercontent.com/5731772/144825813-d060a530-fe7d-4186-bf32-47dd4ce77eff.png">

[2021-12-06 10:51] marandaneto commented on #1424
thanks, gonna check with the CLI team https://github.com/getsentry/sentry-cli/issues/932#issuecomment-986658868

[2021-12-06 12:03] amirvatani opened #1938 "react native sentry doest not send crash reports under NavigationContainer"
hi , we have self hosted sentry server (Sentry 21.11.0 172bad1), our react native SDK is : "@sentry/react-native": "^3.0.2"

sentry can detect all crashes all over the app ( because events logs are available in beforeSend function )
but only crashes in those components that registered before react navigation NavigationContainer , report crashes on sentry panel,
and crashed accrued in react navigat

[2021-12-06 13:35] marandaneto commented on #1456
@jennmueng I'm a bit lost here, help me out understanding what should be done.

if people are using the `vue` integration, they might hit https://github.com/getsentry/sentry-javascript/issues/4072, ok, that's a reported bug already.

what do you mean by `requests made from the native layer`? Native layer = Native SDKs Android and iOS? how did you come to this conclusion? the issue description had

[2021-12-06 14:19] marandaneto commented on #1215
Android works ootb, no issue on building and reporting the exception, I could reproduce tho using iOS.
maybe there's custom code in the xcode project files or something like that? did you do something different or enabled xcode features? I can't reproduce it using the latest RN and latest Sentry RN SDK on a fresh and new project.

[2021-12-06 14:31] marandaneto commented on #1215
@indapublic the RCTFatalException issue is different than the one described in the title and description.
is the "Manage source maps for multiple apps" resolved?
would you like to close this one and open a new one for RCTFatalException?

[2021-12-06 16:18] marandaneto commented on #725
iOS should be possible via https://github.com/getsentry/sentry-cocoa/blob/40bd7cae3ffb2440e99d610f0a564238f094e721/Sources/Sentry/Public/SentryOptions.h#L243

@brustolin do you know if we can set a proxy using NSURLSessionDelegate?

[2021-12-06 16:19] marandaneto commented on #725
we could add the fields to the RN options and sync down to the Native SDKs.

[2021-12-06 16:23] marandaneto commented on #1464
we believe that the NDK support should be ootb and people that don't want to pay for it due to bundle size, they can use the sentry-android-core SDK, we'll document this on the RN docs.

[2021-12-06 16:29] marandaneto commented on #1924
we can consider a sample that compiles with different RN versions, it's cheaper and faster than E2E test, it'd already help us out preventing the mentioned issue above.

[2021-12-06 16:36] jennmueng commented on #1924
@marandaneto Yeah, compiling the sample with different versions and just check if it crashes at runtime or not would catch the above issues.

[2021-12-06 17:47] brustolin commented on #725
With `NSURLSessionDelegate` is not possible to configure proxy,
we would have to configure the session using NSURLSessionConfiguration.

Right now iOS doesn't offer a way to do this.

If we are going to add this option (and I think we should), I suggest adding a callback to let the user configure the session the way it fits them, instead of adding individual options to the SDK.

[2021-12-06 20:15] #1927 closed

[2021-12-06 20:47] kevindsky commented on #1921
Let me know if I can provide more info @jennmueng @marandaneto

[2021-12-07 04:02] indapublic commented on #1215
Thanks @marandaneto GIve me a couple of days, I'll try to reproduce this issue.
Regarding to multiple apps - I can't say that resolved until I check it when RCTFatalException will be resolved for test project (or not reproduced), so can we hold this issue for some short time please

[2021-12-07 08:25] marandaneto commented on #1921
@kevindsky yes please, provide a minimal reproducible example, it can be an empty/fresh project with one single screen, that enables sentry with performance and Detox tests fail, on GH would be great, thanks.

[2021-12-07 14:56] #1865 closed

[2021-12-08 06:41] indapublic commented on #1215
Hi @marandaneto Could you check new app from scratch please?

New app is [here](https://github.com/indapublic/testsentryapp), check `README.md`  for my steps. Take attention I have M1 Mac, can be a reason?

Build log is [here](https://gist.github.com/indapublic/0d0510b60e94a47e8abaa60ff41f3eea)

Sentry exception are [here](https://sentry.io/organizations/macroactiveio/issues/2844667250) and [here]

[2021-12-08 19:04] kevindsky commented on #1921
@marandaneto setting one up now - will edit this comment once up.

[2021-12-09 09:49] luisfuertes commented on #1926
I have the problem in debug mode in android. Doing the init and not doing it

[2021-12-09 12:02] #1454 closed

[2021-12-09 12:08] karthinidc commented on #1916
Any updates.

[2021-12-09 12:32] marandaneto commented on #1916
@karthinidc that's not Sentry's issue, but rather your `repositories` configuration in the Gradle file.

where you see

[code]

[2021-12-09 12:32] #1916 closed

[2021-12-09 12:40] marandaneto opened #1941 "Rename master branch to main"
requires changing github action files etc

[2021-12-09 13:51] marandaneto commented on #1926
thanks, closing it then.
@luisfuertes please upgrade to the latest version and if it still happens, a minimal reproducible example would help.

[2021-12-09 13:51] #1926 closed

[2021-12-09 14:21] Arhane opened #1942 "Unhandled promise rejections are not logged to sentry"
My feature request is connected to the bug https://github.com/getsentry/sentry-react-native/issues/1077.

I've tried the [solution from docs](https://docs.sentry.io/platforms/react-native/troubleshooting/#unhandled-promise-rejections), but it didn't work out for me. So I found another solution with polyfilling existing Promise in React Native.

I've used [this package](https://github.com/iyegoroff

[2021-12-09 15:31] marandaneto commented on #1942
@jennmueng can you have a look at it?

[2021-12-09 15:31] marandaneto commented on #1942
@Arhane thanks for the report.

can you provide a minimal reproducible example? it worked on our end.

[2021-12-09 20:27] andersonvom opened #1943 "Sourcemaps are uploaded by gradle but are not matched against error events"
### Environment

* Sentry SaaS (sentry.io)
* `react-native`: `0.63.4` (android, no hermes)
* `@sentry/react-native`: `3.2.6`
* `sentry.java.android`: `5.4.3`

### Steps to Reproduce

Follow [installation steps][1]:
[code]

Build android application and upload sourcemap ([uploaded assets screenshot][2]):
[code]

Verify sourceMappingURL: `//# sourceMappingURL=index.android.bundle.map`

Verify stackf

[2021-12-10 04:22] dangdo1 opened #1968 "React native app just warm start"
_Platform:_
- [x]  Android -> 29, 30, 31
- [x]  React-Native -> 0.66.3
- `    "@sentry/react-native": "^3.2.6",
    "@sentry/tracing": "^6.15.0",
    "@sentry/wizard": "^1.2.15",`
---------------------------------

  **savedInstanceState alway null and my app just warm start**

[2021-12-10 06:37] marandaneto commented on #1943
@andersonvom please provide a minimal reproducible example.

you don't need that if you are not using custom release/dist

also the event link is broken, https://sentry.io/share/issue/9b53f38e21684dfcb4546daf94631598/, can you double check? thanks

[2021-12-10 09:51] marandaneto commented on #1941
https://github.com/getsentry/sentry-react-native

[2021-12-10 09:51] #1941 closed

[2021-12-10 10:46] adbl commented on #1830
Did anyone else find the latest SDK to solve the problem? We have currently added `OutOfMemory*` to inbound filters in production project, still seeing this for our recent stage project releases.

[2021-12-10 10:57] marandaneto commented on #1830
thanks for the report, can one of you provide a minimal reproducible example with exact steps to reproduce it? I've tried and I could not by myself.

[2021-12-10 15:46] andersonvom commented on #1943
Hi @marandaneto! I think I accidentally deleted the previous event. I've updated the description with a working event link: https://sentry.io/share/issue/be94351f3eee4d598c141f0a441df787/ . For extra context, I just tried to manually upload the sourcemap because even after verifying the bundle+sourcemap had been uploaded by gradle, the stacktraces were still minified, and I wanted to verify whethe

[2021-12-11 08:38] marandaneto commented on #1943
@andersonvom the problem is probably this error then, since the Android SDK is capturing the error and not the JS layer that's why symbolication does not work.
See https://github.com/getsentry/sentry-react-native/issues/785 and https://github.com/getsentry/sentry-react-native/issues/1203 maybe
you don't need to wrap the SDK in a try/catch block, if you solve this issue, the symbolication should wo

[2021-12-11 22:49] matapo commented on #1830
@adbl I will update now as well and will let you know if out of memory still occurs.

[2021-12-11 22:52] matapo commented on #1830
just checked that it's still the same with  "@sentry/react-native": "^3.2.6"

[2021-12-12 00:51] matapo commented on #1830
when you have the react native app open, try command+control+z and click reload -> seems to result in OOM

[2021-12-12 08:10] liamjones commented on #1830
@adbl it seems to have fixed the OOMs when exit(0) is called for us.

[2021-12-13 07:48] marandaneto commented on #1830
can you do that on release mode too?I can't reproduce it

[2021-12-13 09:07] marandaneto commented on #1869
@mrousavy any news here?

[2021-12-13 09:08] marandaneto commented on #1815
@dawidchyrzynski any news here? thanks

[2021-12-13 09:10] marandaneto commented on #1857
Android should be able to detect the correct folder automatically after https://github.com/getsentry/sentry-react-native/pull/1917
closing this issue in favor of https://github.com/getsentry/sentry-react-native/issues/1912

[2021-12-13 09:10] #1857 closed

[2021-12-13 09:11] marandaneto commented on #1912
ideally the integration could also try to find the correct folder, its done on Android https://github.com/getsentry/sentry-react-native/pull/1917

[2021-12-13 09:12] marandaneto commented on #1845
@roy-rayyone any news here? thanks

[2021-12-13 09:49] mrousavy commented on #1869
Hey! I just created a new organisation on Sentry and restarted the getting started from scratch, and now everything seems to work. Not sure what I messed up, but was my fault - thanks for the help guys! 🖤

[2021-12-13 09:49] #1869 closed

[2021-12-13 09:53] marandaneto commented on #1215
maybe its related to m1 mac, i will give it a try

[2021-12-13 10:30] adbl commented on #1830
Yes we still see it in our stage Release builds.

As others have mentioned before, we also integrate with CodePush, so maybe that is also a confounding detail? (But it does happen even if not running a CodePush update bundle)

[2021-12-13 10:43] marandaneto commented on #1830
I've tried and could not, so I need to ask again a minimal reproducible example with exact steps to reproduce it or I have to close the issue as non-reproducible.

[2021-12-14 14:35] mouricef opened #1964 "EXC_BAD_ACCESS RCTModalHostViewController New Issue Unhandled addObject: > numberWithInteger: > Attempted to dereference garbage pointer 0x2bd270000000010"
### Environment

**OS - Mac OS**

**Platform:**
iOS

How do you use Sentry?
 Sentry SaaS (sentry.io)

Which SDK and version?
Sentry React Native - 3.2.8

react-native version: 0.64.2

I am using sentry.io, please post a link to your issue so we can take a look:

[issue link](https://sentry.io/share/issue/a66ea8f41a864f6a8da0e7ea10993660/)

Configuration:

[code]

### Steps to Reproduce

Previously

[2021-12-14 14:52] marandaneto commented on #1964
@mouricef thanks for reporting.
can you provide a minimal reproducible example? could it be caching issues? have you tried to clean node modules etc?

[2021-12-14 15:31] mouricef commented on #1964
@marandaneto Yes I tried clean node modules and pods but no luck.

[2021-12-14 23:15] shaondebnath commented on #1350
Currently I am using "@sentry/react-native": "^3.2.8" with react-native 0.60.6, I am also having same issue as mention @ghasemikasra39. I have tried with --force-foreground, but it did not solve the issue for me.

[2021-12-15 03:12] TannerLessen opened #1966 "React Native Sentry FullStory Integration"
Any plans to support a React Native FullStory integration akin to https://github.com/getsentry/sentry-fullstory ?

[2021-12-15 03:18] bruno-garcia commented on #1966
Nothing on the roadmap. But we'll keep this feature request open here and track demand by watching 👍  on the issue

[2021-12-15 03:19] TannerLessen commented on #1966
Appreciate the quick response!

[2021-12-15 07:31] marandaneto commented on #1964
ok, so please provide a minimal reproducible example

[2021-12-15 09:48] marandaneto commented on #1215
@indapublic I did get the event with symbolicated stack trace, source maps were uploaded correctly using mac M1, but I also have got the RCTFatalException event, this is with an empty project using latest RN SDK and Sentry RN SDK, gonna try using your sample.

[2021-12-15 10:05] marandaneto commented on #1215
<img width="813" alt="Screenshot 2021-12-15 at 11 03 52" src="https://user-images.githubusercontent.com/5731772/146166022-623091aa-4483-4289-9ef5-be4c6d36c1f1.png">

Everything works with your sample project on my end, the only issue is the `RCTFatalException` report, but it's not related to the issue's title, `Manage source maps for multiple appps`.

I'd rather close this one as it seems related

[2021-12-15 11:24] indapublic commented on #1215
So weird, `RCTFatalException` is not important for me if I can't use library so closing.

[2021-12-15 11:24] #1215 closed

[2021-12-15 14:24] tronin commented on #948
Hi folks!

Just replace this `export NODE_BINARY=node` on this `export NODE_BINARY="$(which node)"`

[2021-12-15 19:40] shzhng commented on #1921
we are also experiencing this. @kevindsky is the temporary fix just to disable sentry init?

[2021-12-16 03:43] icecapp commented on #1633
just installed sentry last week and noticed in the logs we've been getting this error since. there is no actual memory issue in the app itself.

[2021-12-16 03:57] jennmueng commented on #1350
@marandaneto This issue seems to me to also be just https://github.com/getsentry/sentry-react-native/issues/1424, which relies on https://github.com/getsentry/sentry-cli/issues/932#issuecomment-986658868. Let's close this one in favor of https://github.com/getsentry/sentry-react-native/issues/1424.

[2021-12-16 03:57] #1350 closed

[2021-12-16 04:32] jennmueng commented on #828
@marandaneto I tried in the sample and blacklistRE still works while blocklist causes a white screen, maybe it's using an older version of metro from the parent folder or something as we do have the latest in the sample

[2021-12-16 06:15] sakshiigoyal commented on #948
Facing this same issue in my CLI.

`The following build commands failed:
	PhaseScriptExecution Bundle\ React\ Native\ code\ and\ images /Users/runner/Library/Developer/Xcode/DerivedData/HomeRunners-gnosqomczzsndwbomqrbflglxvle/Build/Intermediates.noindex/ArchiveIntermediates/HomeRunners/IntermediateBuildFilesPath/HomeRunners.build/Release-iphoneos/HomeRunners.build/Script-00DD1BFF1BD5951E006B06BC.

[2021-12-16 10:00] marandaneto commented on #1968
@dangdo1 its indeed an issue, not sure if on the RN SDK or Android SDK yet, will debug, thanks for the repro.

[2021-12-16 13:10] marandaneto commented on #780
This is already working for a long time, are you using the latest version @brainbicycle ? please let us know if that still does not work

[2021-12-16 15:19] marandaneto commented on #1280
@jeseter45 The generated id isn't PII since it's a randomly generated value by the SDK, just to have a consistent id during the app's installation.
In case you still want to strip it off, you can by doing either https://github.com/getsentry/sentry-react-native/issues/1280#issuecomment-964939518 or https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/
So you can set the `beforeSe

[2021-12-16 15:19] #1280 closed

[2021-12-16 16:12] abitling opened #1969 "Way to avoid an Android app crash being logged on Sentry Dashboard?"
### Environment
- OS: MacOS
- Platform: Android

How do you use Sentry?
I am Using Sentry SaaS (sentry.io) for crash reporting in my application and have the default configuration as mentioned in the documentation. I am trying to handle a native crash on the Android side using Thread.setDefaultUncaughtExceptionHandler in the onCreate lifecycle event of my launch Activity (MainActivity.java). I am

[2021-12-16 19:46] denissb commented on #1921
I had the same issue. This is because performance tracing sets up a timer mechanism to measure the users behaviour.

What helped me was to conditionally disable the tracing integration on JS side like this:
[code]

I think this is the right solution as you typically would not want tracing on your e2e tests.

[2021-12-17 15:25] rezizedginidze commented on #1610
@jennmueng - I'm experiencing a Clock drift issue on every single custom transaction I capture.

<img width="1053" alt="Screen Shot 2021-12-17 at 7 24 04 PM" src="https://user-images.githubusercontent.com/58435184/146567312-9052691b-55ff-4a4f-8193-bf8667355c09.png">

Also, where am I supposed to be seeing the data from span? Like the data and the description.

[2021-12-17 18:55] andersonvom commented on #1943
Hey @marandaneto, thanks for the pointers! Yup, it turns out the problem was a clash with [`okta-react-native`][1]. I guess they write something to `global.document` 🤔.

For others who might see similar issues in the future, the following was needed in order to allow the full sentry initialization to complete without errors:

[code]

[1]: https://github.com/okta/okta-react-native

[2021-12-17 18:55] #1943 closed

[2021-12-17 19:49] jennmueng commented on #1610
@rezizedginidze What version of the SDK are you using?

[2021-12-17 19:52] rezizedginidze commented on #1610
v3.2.8

[2021-12-17 20:06] jennmueng commented on #1610
@rezizedginidze The data should be shown when you click on the span in the timeline view. Hmm does the clock drift only occur in transactions? Does it occur in events as well?

[2021-12-17 20:07] rezizedginidze commented on #1610
Found the data! But clock drift only occurs in transactions I capture manually.

[2021-12-18 23:59] raymondjacobson commented on #1814
@Shing-Ho  was this ever resolved for you?

[2021-12-20 01:45] Shing-Ho commented on #1814
I think I solved it.

[2021-12-20 07:45] jennmueng commented on #1610
@rezizedginidze I assume you're not passing any start/end time into the transaction right, as the automatic transactions use the same API that we expose for manual instrumentation.

[2021-12-20 07:56] jennmueng commented on #1942
@marandaneto @Arhane We wanted to avoid polyfilling the global promise instance inside the SDK in fear of compatibility issues with older versions of React Native...but now that I've given it some more thought it might be a good solution out as RN hasn't really changed anything regarding Promises for a while although maybe a third party SDK shouldn't have the behavior of polyfilling commonly used

[2021-12-20 08:59] marandaneto commented on #1815
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-20 08:59] #1815 closed

[2021-12-20 08:59] marandaneto commented on #1845
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-20 08:59] #1845 closed

[2021-12-20 09:00] marandaneto commented on #1938
@amirvatani any news here? thanks

[2021-12-20 09:01] marandaneto commented on #1830
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-20 09:02] marandaneto commented on #1964
@mouricef any news here? thanks

[2021-12-20 09:02] marandaneto commented on #780
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2021-12-20 09:02] #780 closed

[2021-12-20 09:40] #1925 closed

[2021-12-20 09:49] Arhane commented on #1942
@marandaneto I will try to make a demo.

@jennmueng I know, this isn't the best solution, but it seems more user-friendly, than version-matching. I agree, that third party SDK shouldn't polyfill the promise. I guess, we can hide it behind some flag? Like `polyfillPromise` or something more eloquent

[2021-12-20 10:06] mouricef commented on #1964
@marandaneto  Give me weeks time. I will provide the minimal reproducible example repo.

[2021-12-20 11:09] abolfazlyounesi commented on #350
same Error!

[2021-12-20 11:51] marandaneto commented on #350
In case you are facing the very same issue using the latest Sentry RN version, please do raise a new issue with detailed information, thanks.

[2021-12-20 16:51] collinprice commented on #780
@marandaneto I upgraded to @sentry/react-native 3.2.8 and iOS native breadcrumbs are still not appearing when the exception occurs in javascript.

In my objective-c code I am generating breadcrumbs using the follow:

[code]

In my javascript I am just using `throw new Error("test")` after calling my native function.

In xcode I can see the Sentry debug messages but these breadcrumbs are not includ

[2021-12-20 17:52] renchap commented on #1327
In addition to this, it would be awesome to be able to run a callback when an error happen and generate attachments from this callback.

I have multiple states in the app (Redux, async storage…) and I would like to dump them in attachments when an issue occurs in the app to be able to understand the error if it comes from a bad state.
Currently I could add them to the event, but it can quickly go

[2021-12-21 07:21] marandaneto commented on #1968
@dangdo1 I've dug into it and found out the root cause, App start was always reported as Warm start but the numbers were correct anyway.
PR is in place https://github.com/getsentry/sentry-react-native/pull/1985

[2021-12-21 08:54] #1968 closed

[2021-12-21 16:15] fabianvs opened #1986 "SentryError: Native Client is not available, can't start on native"
### Environment

- OS: MacOS
- Platform: iOs / iPhone pyshical device
- Sentry SaaS: @sentry/react-native@3.2.10

Which SDK and version?

- React Native 0.64.2

### Steps to Reproduce

Init Sentry without _**enableNative: false**_

### Expected Result

Init normally

### Actual Result

Crash App showing error
SentryError: Native Client is not available, can't start on native.
Warning, could not co

[2021-12-21 16:39] fabianvs commented on #1986
after update gem cocoapods and pod install --repo-update the problem was fixed

[2021-12-21 16:39] #1986 closed

[2021-12-21 18:50] rezizedginidze commented on #1610
@jennmueng I am not passing any start/end time into the transactions. What should be the type and format for that?

[2021-12-23 12:39] makirby commented on #1845
<img width="712" alt="Screenshot 2021-12-21 at 12 00 04" src="https://user-images.githubusercontent.com/3802468/147241587-80b475fd-b157-405d-9e4e-d997822fb19b.png">
Hey there,

We seem to be running into a similar issue, this has only started happening since we enabled hermes and upgraded to RN 0.66.3.
We have no custom dist etc so just leave the gradle script to do its thing. Can provide any othe

[2021-12-24 12:07] pors commented on #1942
I have the same issue. I did match the versions, but that doesn't help.

[code]

[code]

Also, setting `debug: true` **doesn't** show me the `[Sentry] Unhandled promise rejections will be caught by Sentry.` message.

[2021-12-25 22:21] jennmueng commented on #1942
@pors What version of the SDK are you running, which version RN, is this on iOS/Android/Both, and are you running Hermes?

[2021-12-26 09:01] pors commented on #1942
@jennmueng:

- SDK 44
- RN 0.64.3
- Only tested on iOS
- Hermes: yes

[2021-12-27 09:06] santiseijas commented on #1964
guys any update here? we are getting this error also
![image](https://user-images.githubusercontent.com/49232269/147455385-5dcebbfc-0764-49f8-a938-81034c22c10b.png)
Thanks!!

[2021-12-27 12:39] checklist commented on #1942
I have the same issue with:
* RN 0.66.4
* Android
* iOS
* Hermes: yes
* "@sentry/react-native": "^3.2.10",

Please issue an urgent fix. Thanks!

[2021-12-28 17:27] ShivamJoker commented on #1407
Does anyone know how do I remove it from windows and macos ? It's giving me errors while compiling.

[2021-12-31 14:37] kolyan94 opened #1994 "A huge amount of OOM events"
### Environment

How do you use Sentry?
- Sentry SaaS (sentry.io)

Which SDK and version?
- "@sentry/react-native": "3.2.10"

### Steps to Reproduce
We getting a huge amount of "The OS most likely terminated your app because it overused RAM." events (part of them were from a simulator).
We didn't find any issue with RAM, but fortunately found one easy way to reproduce it (may not that triggers mos

[2022-01-03 06:32] mouricef commented on #1964
@marandaneto

Sorry for the late reply, I was on vacation the past 10 days

We have a large codebase with lot of dependencies.

I am working on minimal reproducible example repo and I do have few observations while working on the example repo I will share the details with example repo in a day or two.

[2022-01-03 12:03] beqramo commented on #618
@HazAT I see this issue too on android

[2022-01-04 13:16] mouricef commented on #1964
@marandaneto

I am not sure if providing a minimal reproducible example will help or not. Reason I am saying this because while working on the minimal reproducible example I observed that frequency of issue gets reduce with minimum JS code. Frequency of issue with sample repo is 1 crash out of 70 to 80 app launch approx.

My Observations

- Frequency of issue with our app code base is 1 crash out

[2022-01-05 10:56] wbinarytree opened #1997 "App start tracking is replaced by navigation tracking (Route Change)"
### Environment

How do you use Sentry?
 self-hosted(Sentry 20.11.1)

Which SDK and version?
    "@sentry/react-native": "3.2.6"

### Steps to Reproduce

Sentry setup:

[code]

### Expected Result

Still use `App Start` as app start change but not `Route Change`

### Actual Result

`App Start` transaction replaced(or Rename?) to `Route Change`.

 When disable routingInstrumentation :
![image](http

[2022-01-05 13:30] bruno-garcia commented on #1997
Without the routing integration all you get is that app start transaction. With routing enable you get a transaction for each screen. The app start one is just replaces by the routing and that's by design

[2022-01-05 14:42] philipphofmann commented on #725
Can you please share the motivation for using a proxy on a mobile app, @vasilich6107?

[2022-01-05 14:53] philipphofmann commented on #1874
Integration tests make more sense because even if the unit tests are green the functionality could be broken because the underlying functionality changed.

[2022-01-05 15:07] vasilich6107 commented on #725
Hi. I do not work on that project so idk anymore)

[2022-01-05 15:07] #725 closed

[2022-01-05 16:35] philipphofmann commented on #725
Thanks for the update, @vasilich6107, but do you recall the use case? Just for us to know.

[2022-01-05 21:44] jennmueng commented on #1997
@wbinarytree Like @bruno-garcia said, the transaction should just be renamed to the initial route of the routing navigation. So if your initial route is "Home" then it the app start transaction should be named "Home". Although what's interesting here is that it's called "Route Change" and not the name of the initial route.

[2022-01-05 21:50] jennmueng commented on #1997
@wbinarytree Does this occur everytime? What is your intial route?

[2022-01-05 21:58] jennmueng commented on #1994
@philipphofmann

[2022-01-05 22:01] jennmueng commented on #1969
@abitling You can set `enableNativeCrashHandling: false` just for Android while enabling it for iOS. For example:

[code]

[2022-01-06 04:52] wbinarytree commented on #1997
@jennmueng @bruno-garcia Thx for the reply. I will check if my initial root is set up properly. And yes, it happens to me every time.

[2022-01-06 08:18] abitling commented on #1969
@jennmueng Thanks for the response.

With the above config, the native crash handling will be completely disable for android but unfortunately thats not what I am looking for. I am looking for a way where I don't want the issue to be logged on the dashboard if it is being handled on the native side.

For eg. In the code snippet mentioned in the description of this issue, I am trying to handle the

[2022-01-06 08:19] abitling commented on #1969
@jennmueng Thanks for the response.

With the above config, the native crash handling will be completely disable for android but unfortunately thats not what I am looking for. I am looking for a way where I don't want the issue to be logged on the dashboard if it is being handled on the native side.

For eg. In the code snippet mentioned in the description of this issue, I am trying to handle the

[2022-01-07 08:53] jennmueng commented on #1873
@oblador I'm not too familiar with repack, but from the looks of it we would either need a repack-specific build script that detects the various bundles or if it outputs the output to a folder upload the whole contents of that folder. For now you should be able to instead upload each bundle generated by repack individually with the sentry-cli.

[2022-01-07 11:17] kowalski opened #1998 "Source map upload for release seems to be overwriting previously uploaded source maps"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
    "@sentry/react-native": "^3.2.10",

### Steps to Reproduce

We are using CI to push out both Android and IOS releases to Google Play and Testflight respectively.
When I inspect releases in Sentry I can see that each release has always two sourcemap files uploaded.
I either have:
* ~/index.android.bundle
* ~

[2022-01-07 13:49] philipphofmann opened #1999 "Crash in fetchNativeDeviceContexts"
### Environment

React-Native 3.2.10

### Steps to Reproduce

Came from a customer. TLDR; the error happens when `enableNative: true`

Sentry Logger [Warn]: Unable to symbolicate stack trace: Bundle was not loaded from the packager

2022-01-05 19:03:35.157 [fatal][tid:main] Exception '*** +[NSJSONSerialization dataWithJSONObject:options:error:]: value parameter is nil' was thrown while invoking fe

[2022-01-07 13:50] philipphofmann commented on #1999
Maybe we can fix this by checking if the dictionary is `nil` and passing an empty dictionary to resolve

https://github.com/getsentry/sentry-react-native/blob/8fcc1b3490e80e75bab291f5b011811dfbd820ad/ios/RNSentry.m#L139-L155

[2022-01-07 17:40] Rubon72 commented on #1994
in my case app not crush, just sentry error

[2022-01-07 21:21] jennmueng commented on #1998
@kowalski Are the release names the same between the releases where the `index.android.bundle` files are present and the `main.jsbundle` ones are present? They should not be completely overwriting the artifacts in the release when uploading files of different names, and creating a release when it exists shouldn't overwrite it either. So what I think is happening is the release names might be diffe

[2022-01-07 21:26] jennmueng commented on #1969
I will hand this over to @marandaneto who would have more insight on the Android side here.

[2022-01-07 23:46] kowalski commented on #1998
Ok, my bad.
I can see now IOS release is named 1.2.59+51 and Android one 1.2.59+53. The build number diverged.

Thank you for suggesting this.

[2022-01-07 23:46] #1998 closed

[2022-01-08 04:43] tandonpushkar commented on #948
This solution worked for me :

[2022-01-08 15:38] ofkarakus commented on #758
You can use this code block.

[code]

[2022-01-10 10:44] marandaneto commented on #1999
@philipphofmann adding the `nil` check may indeed avoid the crash, but I'm wondering why the `NSDictionary` is `nil` in the first place, we'd close this issue but would get a new one which is non-reported device context, worth investigating.

[2022-01-10 15:43] philipphofmann commented on #1999
The context could be ' nil' if you call `fetchNativeDeviceContexts` before the Cocoa SDK started SentryCrashIntegration. Not sure if this could happen. I fully agree, that we should investigate this, but I rather have no device context than a crash.

[2022-01-10 16:15] marandaneto commented on #1969
right now the only way to do it is to initialize the Native SDKs manually https://docs.sentry.io/platforms/react-native/manual-setup/native-init/
then you can set your own `beforeSend` callback for the Android SDK and filter out the exceptions you don't want https://docs.sentry.io/platforms/android/configuration/filtering/

[2022-01-10 16:15] #1969 closed

[2022-01-10 16:30] #1942 closed

[2022-01-10 16:57] kirildobrev919 commented on #578
Hi, I'm working on android app and I had the same build error and it appears to be caused by `sentry-release.properties` file which was in **ios** folder. I moved the file in **android** folder and got the build successful. I hope that helps to somebody.

[2022-01-11 08:55] namvoeh commented on #1994
I got bunch of crash events on production as well, I could re-produce it by killing the app then reopen

[2022-01-11 09:11] Arhane commented on #1942
Just tested the latest version (3.2.11) and it works.
But it works without `patchGlobalPromise` too, which is strange.

Tested with this code
[code]
and Sentry.init
[code]

[2022-01-11 11:29] marandaneto commented on #1942
thanks, the reason is probably described here @Arhane https://docs.sentry.io/platforms/react-native/troubleshooting/#unhandled-promise-rejections

[2022-01-11 13:32] philipphofmann commented on #1994
Can also reproduce this for sentry-cocoa. Going to move this.

[2022-01-11 16:34] marandaneto commented on #828
@nsyujian did you manage to fix it? did this comment help https://github.com/getsentry/sentry-react-native/issues/828#issuecomment-817745693 ?

[2022-01-11 16:35] marandaneto commented on #1921
any news here?

[2022-01-11 16:41] marandaneto commented on #1964
@philipphofmann or @brustolin mind checking this stack trace?
this RN version uses Sentry Cocoa 7.5.4

[2022-01-12 10:56] marandaneto commented on #1456
@jennmueng mind clarifying? thanks

[2022-01-12 16:07] marandaneto commented on #1456
After discussing on a call, the `vue` issue isn't related to this at all.
The original issue is about syncing down the sentry trace header to the Native layer (Android/iOS).

[2022-01-12 16:25] #1999 closed

[2022-01-12 16:44] marandaneto opened #2003 "Sync down the active transaction to the Native layer"
Context: https://github.com/getsentry/sentry-react-native/issues/1456

The related issue is about the missing Sentry trace header on the native layer spans, but ideally, we'd not solve only that but rather any span created on the native layer should be a span of the active transaction on the upper layer.

[2022-01-12 16:45] marandaneto commented on #1456
Closed in favor of https://github.com/getsentry/sentry-react-native/issues/2003 and https://github.com/getsentry/sentry-javascript/issues/4072

[2022-01-12 16:45] #1456 closed

[2022-01-13 06:55] DrHomer opened #2004 "sentry_set_tag dosnt"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

1. What
2. you
3. did.

### Expected Result

What you thought would happen.

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[2022-01-13 07:16] DrHomer opened #2005 "sentry_set_tag doesn't send data to the backend."
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) AND self-hosted/on-premise (current version (jan 2022), Sentry 21.7.0, accordingly)

Which SDK and version?
sentry-native-0.4.13

### Steps to Reproduce

1. added next code:
sentry_set_tag("remoteServer", "test server");
sentry_set_tag("machineUniqueId", "5d6ce5c7-3239-4d71-952a-ea8cc077bc49");

### Expected Result

I thought tags wil

[2022-01-13 07:16] #2004 closed

[2022-01-13 07:17] #2005 closed

[2022-01-13 15:42] dkahdwk opened #2006 "Sentry doesn't work when Code-Push on my app."
### Environment

Which SDK and version?

@sentry/react-native: 3.2.10

### Steps to Reproduce

When applied with a code push, the centry does not work.
I followed the guide, but the problem still remains...

my code:
[code]

Action code push(android):
[code]

Currently, Sentry is not sending issues in my app.
However, except for the Code-Push, the sentry operate normally.
I don't know what the pro

[2022-01-13 17:07] marandaneto commented on #1327
This is blocked by https://github.com/getsentry/sentry-javascript/issues/4240

The RN SDK uses the JS SDK for building an event and the current version does not support the Envelope feature which is required for sending attachments.

To make it work we'd need to override many of the JS behavior and later replace them once the Envelope feature is landed on the linked PR natively on the JS SDK.

The

[2022-01-13 17:34] marandaneto commented on #2006
@dkahdwk thanks for reporting.

I'm not entirely sure if it's any Sentry related, is that the case that the `getUpdateMetadata` never gets executed or `update` is null or false and the SDK never gets init.? then its related to CodePush and not Sentry at all

[2022-01-14 00:28] dkahdwk commented on #2006
@marandaneto `getUpdateMetadata` is running properly. The update also received true and confirmed that Sentry.init was running. Still, when the code push is combined, it does not work, and when the code push is removed, the sentry operates normally...

[2022-01-14 10:40] marandaneto commented on #2006
@dkahdwk what does not work mean, what's expected and it does not happen?

CodePush and Sentry is just a way to handle the release/dist and upload the source maps file, but sending events don't change along with CodePush or not.
Also, be sure that the uploaded JS bundles to CodePush should contain the code initing Sentry and so on.

Can you provide a minimal reproducible example? thanks.

[2022-01-14 13:33] philipphofmann commented on #1964
It could be that this is fixed with `7.7.0`, which is available in https://github.com/getsentry/sentry-react-native/releases/tag/3.2.9. @mouricef, can you update and let us now, if you still experience the issue.

[2022-01-14 15:14] bruno-garcia commented on #1997
Added a note on the docs about the transaction name change: https://github.com/getsentry/sentry-docs/pull/4511

@carates pointed out:

This would be a bug though, as we need to continue to collect startup measurements even when using routing

[2022-01-14 15:16] bruno-garcia commented on #1997
@carantes worth noting only the transactions that happened when the app start will include this measurement. Transactions that happen as a result of a route change once the app is already running will not have it.

[2022-01-16 23:20] millro04 opened #2008 "Sentry still causing slow transitions in React Native"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
React Native - "@sentry/react-native": "^3.2.11",

### Steps to Reproduce
1. Install the Sentry react native package at version 3.2.11
2. Add some navigators to your app - we have a drawer navigator, tabs, and stack navigators
3. Turn the Sentry integration on - i.e. Sentry.init(....)
4. You will notice a signi

[2022-01-17 00:16] millro04 commented on #2008
Update: turns out we had an API call that was failing upon load of the problematic screen, and that was logging an error in Sentry. It seems like whenever Sentry captures an error it causes the app to slow down. Once we resolved the API error the app navigates smoothly again.

[2022-01-17 00:27] dkahdwk commented on #2006
@marandaneto The only reproducible example is the code listed above. Let me check the bundle.