[2022-01-17 05:02] mouricef commented on #1964
@philipphofmann , Let me check with the latest version.

Thanks

[2022-01-17 12:27] marandaneto commented on #1938
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-01-17 12:27] #1938 closed

[2022-01-17 12:32] marandaneto commented on #1997
Hey, did you figure out what was going on?

I've tested myself with and without the routing library and both setups send measurements, this issue is more about the naming of the transaction which is explained by https://github.com/getsentry/sentry-docs/pull/4511 and the screenshot also states the measurements for both transactions (with and w/o the routing library).

[2022-01-17 12:34] marandaneto commented on #2006
Please create a minimal reproducible example (empty - only with necessary files) and upload it to Github and I can try to reproduce it and see what's going on.

If I create a project myself and simply set up Sentry + CodePush, everything works, it could be related to your Sentry or CodePush setup only.

[2022-01-17 12:56] mouricef commented on #1964
@philipphofmann

we upgraded sentry-react-native to v3.2.11 and unfortunately we still have the same issue.

<img width="1329" alt="Screenshot 2022-01-17 at 6 25 20 PM" src="https://user-images.githubusercontent.com/90189252/149773047-008c2498-1503-41da-a906-0f3ba0c4f2a8.png">

[2022-01-17 13:32] philipphofmann commented on #1964
Thanks for the update, @mouricef. This could be related to https://github.com/getsentry/sentry-cocoa/issues/1634. We plan to ship a fix soon.

You mentioned

This is a hint for me, that our logic in SentrySubClassFinder might crash if you dynamically load libraries while it is trying to find subclasses. https://github.com/getsentry/sentry-cocoa/pull/1635 is a potential fix.

[2022-01-17 14:00] mouricef commented on #1964
Thanks for the update, @philipphofmann.

[2022-01-17 15:57] philipphofmann commented on #1964
@marandaneto, we just released https://github.com/getsentry/sentry-cocoa/pull/1635 with 7.9.0. Could we bump Cocoa in RN and also do a release?

[2022-01-18 16:06] fabiendem opened #2012 "Support for Apollo in Sentry Performance"
Hello,

I am setting up the Sentry Performance monitoring on a React Native Project.
Most of our queries are made via Apollo/GraphQL.

I see that you have a specific plugin for Sentry and Apollo on Android: https://docs.sentry.io/platforms/android/configuration/integrations/apollo/

I am wondering if there is such a plugin for React Native, knowing that the Apollo setup is made at the JS layer in

[2022-01-18 16:15] marandaneto commented on #2012
@fabiendem we only have for the Android native layer, but not for the JS layer, I'll tag as a feature request.

Feel free to use our [custom instrumentation](https://docs.sentry.io/platforms/react-native/performance/instrumentation/custom-instrumentation/) and do something similar to what's done in this [blog post](https://blog.sentry.io/2021/08/31/guest-post-performance-monitoring-in-graphql#solu

[2022-01-18 17:15] jennmueng commented on #2012
@fabiendem You might be interested in this blogpost we have that details how to create a Sentry Plugin for Apollo: https://blog.sentry.io/2021/08/31/guest-post-performance-monitoring-in-graphql

[2022-01-18 17:44] fabiendem commented on #2012
Interesting thanks, I'll have a look.

I don't want to divert from this ticket too much, but in the RN doc, what does `tracingOrigins: ["localhost", "my-site-url.com", /^\//],` refer to?
Is that for Rest API tracking?
i am struggling to understand the purpose of this `tracingOrigins` param.

https://docs.sentry.io/platforms/react-native/performance/#enable-tracing

[2022-01-18 17:49] marandaneto commented on #2012
@fabiendem the JS docs may help explaining that https://docs.sentry.io/platforms/javascript/performance/instrumentation/automatic-instrumentation/#tracingorigins

[2022-01-18 23:38] jennmueng commented on #2006
@dkahdwk Like @marandaneto said a reproducable example would help. But from what I can see here, here are a couple of issues with the code snippet you provided:

1. Because your `CodePush.sync` will install the update immediately due to `CodePush.InstallMode.IMMEDIATE`, calling `Sentry.init` when the status is `UPDATE_INSTALLED` is useless as the app would be refreshed anyways.
2. We highly recomm

[2022-01-19 04:19] dmiska25 commented on #1261
Also had the issue, just adding the function to the mock worked for me:
[code]

[2022-01-19 05:18] dkahdwk commented on #2006
It's a company project, so it's hard to upload that part separately.
The code examples are all the ones I put up above...
Thank you for your answer!

[2022-01-19 05:18] dkahdwk commented on #2006
It's a company project, so it's hard to upload that part separately.
The code examples are all the ones I put up above...
Thank you for your answer!

[2022-01-19 05:50] dkahdwk commented on #2006
App.tsx
[code]

Testing code
[code]

Even if you modify it in this way, the results do not change.
However, if you erase the codepush content, Sentry.captureMessage works normally!

Example of deleting a code push:
[code]

[2022-01-19 06:28] jennmueng commented on #2006
@dkahdwk Oh now I see, I did not think this was the issue at first so I said it was unrelated in my point #3 but I see it now. You said it works when you "delete a code push" into

[code]

right?

You need the Sentry.wrap call to be **inside** of the codepush call, to be clear, like below:

[code]

[2022-01-19 06:39] dkahdwk commented on #2006
@jennmueng
[code]
As you told me, I modified the code and sent a code push, but the sentry issue is still not coming up...
I don't know the cause.

[2022-01-19 06:41] jennmueng commented on #2006
@dkahdwk pass `debug: true` to your call to `Sentry.init` and also add a console.log to where you're capturing the error for me:

[code]

And please paste the logs for me, so I can see if the `console.log("TEST");` is logged before the sentry debug messages or note.

[2022-01-19 06:42] Natural0413 commented on #2006
1. useEffect(() => {

  // It's not working. But, it works when you remove the code push.
  Sentry.captureMessage("TEST!");
  console.log("TEST");
}, []);

[2022-01-19 06:52] dkahdwk commented on #2006
@jennmueng

Add:

[code]
and,
useEffect works well, but sentry still does not work.

[2022-01-19 07:14] jennmueng commented on #2006
@dkahdwk I need you to paste the logs from your react native console after adding the `debug: true` and the console log.

[2022-01-19 07:22] dkahdwk commented on #2006
@jennmueng

I feel dejected... It was solved when I changed enable Native to true...
[code]

You helped me so kindly. It gave me strength!

[2022-01-19 07:44] #2006 closed

[2022-01-19 12:28] marandaneto commented on #1921
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-01-19 12:28] #1921 closed

[2022-01-19 12:29] marandaneto commented on #828
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-01-19 12:29] #828 closed

[2022-01-19 12:29] marandaneto commented on #1424
@kamilogorek is checking this out.

[2022-01-19 12:33] marandaneto commented on #1660
cc @jennmueng

[2022-01-19 12:35] marandaneto commented on #950
cc @jennmueng

[2022-01-19 12:39] marandaneto commented on #1735
Checking with the Web team if they can take it since the change is likely on the JS SDK.

[2022-01-19 12:39] marandaneto commented on #1630
Checking with the Web team if they can take it since the change is likely on the JS SDK.

[2022-01-19 16:28] jennmueng commented on #2006
Hmm I'll have to look into see if I can reproduce the issue with codepush and enableNative: false then.

[2022-01-19 16:52] jennmueng commented on #1660
Yes, looks to be exactly like https://docs.sentry.io/platforms/android/gradle/#variant-filtering. @marandaneto

[2022-01-19 16:55] jennmueng commented on #950
@marandaneto As this has been reproduced, putting this one on the immediate todo

[2022-01-19 21:32] guillaumekh opened #2013 "On install, native iOS SDK is not added to RN<0.60 project"
### Environment

#### How do you use Sentry?
Sentry SaaS (sentry.io)

#### Which SDK and version?
@sentry/react-native 3.2.12
react-native 0.59.10
Xcode 13.2.1
sentry-wizard 1.2.17
sentry-cli 1.71.0

### Steps to Reproduce

We follow instructions outlined at https://docs.sentry.io/platforms/react-native/#install

1. `yarn add @sentry/react-native`
2. `yarn run react-native link @sentry/react-nativ

[2022-01-19 21:42] jennmueng commented on #2013
@guillaumekh If you do not have cocoapods, you can do manual linking via: https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#linking-the-native-library

[2022-01-19 21:43] bruno-garcia commented on #2013
Sounds like we're missing a note that for RN versions below 0.60, cocoapods isn't installed by default with RN. So unless users installed it manually, sentry-wizard won't be able to install things automatically. So the manual linking step that Jenn mentioned above should help in this case.

We'll make sure to add this note ^ to our docs

[2022-01-19 21:45] guillaumekh commented on #2013
i have cocoapods installed and have attempted manual linking too, with the same results.

[2022-01-19 21:53] guillaumekh commented on #2013
i have cocoapods 1.11.2, installed with homebrew (`brew install`, not `brew cask install`). This could be related given how many ways there are to install cocoapods.

I'm looking at the sentry-wizard source, and don't see anything related to cocoapods (just grepping for "pod" here). How does sentry-wizard check for it?

[2022-01-19 22:12] jennmueng commented on #2013
@guillaumekh `react-native link @sentry/react-native` is actually what adds the pod to the podfile, looking at the error message you provided:

[code]

mind if I can see your whole podfile? Seems like it's missing React-Core

[2022-01-19 22:18] guillaumekh commented on #2013
This is starting to make more sense.

I initially had no Podfile, since all my dependencies are installed w/ yarn/npm. I only added a Podfile to satisfy RNSentry's apparent requirement for one.
That Podfile only includes the bare minimum:
[code]

[2022-01-19 22:26] jennmueng commented on #2013
@guillaumekh We will fix the docs to link to the manual linking section that cocoapods is actually not required, we didn't link it in the docs at first and used cocoapods as it's included in RN since 0.60.0 and we have since rewrote the docs from scratch.

Anyways, if you choose to continue using cocoapods you will need these other dependencies before `RNSentry`:

[code]

[2022-01-19 22:50] guillaumekh commented on #2013
This very helpful thanks.

`pod install` still fails with the same `Unable to find a specification for 'React-Core'` error w/ the following Podfile. Any idea what error might be lingering there?

[code]

I was hoping to avoid cocoapods. If there's a sane way out, I would love to know about it.

[2022-01-20 00:20] dkahdwk commented on #2006
@jennmueng Yes, in my case, I tested the code push more than 100 times. So I can be sure. When enableNative was false, it could not be uploaded to the sentry release, but when true, it immediately went up to the release and issues were printed.

[2022-01-20 08:18] jennmueng commented on #2013
@guillaumekh I tried your podfile and swapped out the app name for mine and it does not work. Try instead of

[code]

try

[code]

However, Sentry does not need cocoapods if you do not already use it. It's only a convenience feature as most react native apps should have it installed. Otherwise if you're running into issues and are not familiar with cocoapods it's better you completely remove it an

[2022-01-20 10:20] guillaumekh commented on #2013
What error are you getting? Wether the pod dependencies are declared in a single `abstract_target` or duplicated across multiple `target` is neutral. The problem w/ the configuration you recommend is that the dependency `React-Core` dependency declared in `RNSentry.podspec` cannot be satisfied by the React.podspec pulled by npm/yarn and located in `../node_modules/react-native`. `RNSentry.podspec`

[2022-01-20 11:21] marandaneto commented on #1477
@jennmueng can you take a look at this, thanks.

[2022-01-20 11:24] marandaneto commented on #1364
It fails because the CLI requires the network to upload debug symbols, this only happens on release mode.
If you don't have connection, compile on debug mode or comment out the script that uploads debug symbols.

[2022-01-20 11:24] #1364 closed

[2022-01-20 11:26] marandaneto commented on #791
Closed in favor of https://github.com/getsentry/sentry-cli/issues/1096

[2022-01-20 11:26] #791 closed

[2022-01-20 11:27] marandaneto commented on #1660
Consider doing https://github.com/getsentry/sentry-react-native/issues/1463 too

[2022-01-20 11:29] marandaneto commented on #1593
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated. There's a large chance that this issue has been solved since.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-01-20 11:29] #1593 closed

[2022-01-20 13:14] marandaneto commented on #759
React Native/Metro does not support tree shaking, not sure how we can tackle this.
See https://github.com/facebook/metro/issues/227#issuecomment-583358386

@AbhiPrasad @bruno-garcia @jennmueng ideas?

[2022-01-20 13:15] marandaneto commented on #810
That's won't fix, the transport is fire and forget by design.

[2022-01-20 13:15] #810 closed

[2022-01-21 08:25] jennmueng commented on #2013
@guillaumekh Ok the broken RNSentry.xcodeproj is our mistake, we removed the git submodule that links to the sentry-cocoa SDK a while ago and never had anyone report so. We're removing the instructions to do so from our docs via https://github.com/getsentry/sentry-docs/pull/4622 and will be only supporting cocoapods from now on.

Regarding the dependency on `React-Core`, this seems like it would b

[2022-01-21 08:44] jennmueng commented on #2013
@guillaumekh We removed the manual linking docs as it was our mistake that we removed the reference a while ago and received no reports of it not working. With the `React-Core` issue, you should downgrade to version `1.8.2` before we changed the dependency. We will explore options of re-adding support for those prior versions or instead bump our minimum requirement.

[2022-01-21 11:48] marandaneto commented on #2013
@jennmueng should this issue be closed after release then?

[2022-01-21 12:59] kamilogorek commented on #1424
Should be fixed once https://github.com/getsentry/sentry-react-native/pull/2016 is release.

[2022-01-21 13:08] marandaneto commented on #1733
Ideally, we'd migrate to the Sentry JS SDK 7.x and get the bundle size improvements for free, which requires migration.
https://github.com/getsentry/sentry-javascript/issues/4240

[2022-01-21 13:11] marandaneto commented on #1733
The effort depends on who does the migration to Sentry JS SDK, maybe we do the migration for user feedback or attachments or client reports, if that's the case, then the  effort is just `Small`.

[2022-01-21 13:12] marandaneto commented on #759
@AbhiPrasad opened a PR that may help us out with that, https://github.com/getsentry/sentry-javascript/pull/4434

[2022-01-21 13:17] marandaneto commented on #1913
Maybe that could hep with https://github.com/getsentry/sentry-react-native/issues/950 too

[2022-01-21 13:18] marandaneto commented on #1913
@jennmueng would you mind having a look at it?

[2022-01-21 13:21] marandaneto commented on #1913
That could be a breaking change if the `displayName` is being used somewhere rather than only breadcrumbs, pay attention to that.

[2022-01-21 13:28] guillaumekh commented on #2013
OK

In the mean time…

For whoever still running RN<0.60 who might stumble on this issue, and until this issue this closed:
- 1.3.7 is the latest version which can be installed without Cocoapods. It can be installed w/ `react-native link @sentry/react-native` or manually linking in Xcode/AndroidStudio. 1.3.8 is when the `react-cocoa` submodule was removed and the Sentry.xcodeproj reference was bro

[2022-01-21 13:33] #1424 closed

[2022-01-21 18:27] jennmueng commented on #2013
@guillaumekh Thank you for bringing everything up and writing the guide! I'll add it to our troubleshooting page and possibly a podfile script that'll handle the React-Core issue.

[2022-01-21 18:27] #2013 closed

[2022-01-21 18:46] jennmueng commented on #1913
@marandaneto @renchap Let's have it be able to detect both where we will use the accessibilityLabel if a displayName is not present.

[2022-01-21 21:41] mmerickel commented on #1327
We got hit by lack of support for this feature and the addGlobalEventProcessor approach that's documented for the javascript SDK was not working for us. We'd see 201 Accepted requests for the attachment on the server but they did not get attached to the event. Ultimately we ended up writing a bridge module and using the sentry-cocoa and sentry-android native APIs to send events with attachments fo

[2022-01-21 23:16] Natural0413 commented on #1913
Hello sentry lost and then found it it's a good

[2022-01-21 23:18] Natural0413 commented on #1913
- [ ] hello sentry lost it then found it it's a good thing for my mom she's 98 need to go

[2022-01-25 09:51] marandaneto commented on #1913
Yes, but let's add both when available via extra data bag.

[2022-01-25 17:21] SMJ93 opened #2021 "Android fails to build with React Native 0.67.1 in release mode"
### Environment

We are using `"@sentry/react-native": "3.2.13"` with `"react-native": "0.67.1"`.

### Steps to Reproduce

It was working as expected with React Native 0.66, but since we have upgraded to 0.67.1 it the release build fails. It works as expected in debug mode.

Release build error:

[code]

Looks like the gradle update to 7.2.0 in the react native upgrade might have caused this?

###

[2022-01-25 17:29] jennmueng commented on #2021
I will try to reproduce this and get back to you by today, in the meantime cc @marandaneto

[2022-01-26 01:19] andrewhavens opened #2022 "Source maps not uploading when building with Fastlane"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

### Steps to Reproduce

This is an Android only app. As far as I can tell, this is a pretty standard React Native Android setup. We build and release the app using Fastlane.

Standard React Native v0.60+ setup:
1. Add the npm package
2. Run `npx @sentry/wizard -i reactNative -p android`
[code]
3. Add in

[2022-01-26 06:11] jennmueng commented on #2021
Looks like you're using our gradle plugin which isn't included by default in our React Native SDK. You should [update it to the latest version in your `build.gradle`.](https://docs.sentry.io/platforms/android/gradle/#install) and please let me know if the error persists.

[2022-01-26 11:23] SMJ93 commented on #2021
Thanks @jennmueng! Updating from `1.7.35` to `2.1.5` fixed the issue! Here is the migration guide incase anyone else has a similar issue:

https://docs.sentry.io/platforms/android/migration/#migrating-from-iosentrysentry-android-gradle-plugin-1x-to-iosentrysentry-android-gradle-plugin-200

[2022-01-26 11:23] #2021 closed

[2022-01-26 11:53] marandaneto commented on #2022
@andrewhavens thanks for the info, do you know which Gradle command line Fastlane is executing? which command do you call Fastlane? a minimal reproducible example would help here to reproduce the issue, thanks.

[2022-01-26 13:33] marandaneto commented on #2021
I've just checked on Android and iOS and it works using the latest Sentry RN SDK and RN 0.67.1

[2022-01-26 18:24] andrewhavens commented on #2022
I'm sorry. It looks like this was my fault. I ran the wizard command again and found that (for whatever reason) the Gradle plugin line did not get committed the last time I ran it.

[code]

[2022-01-26 18:24] #2022 closed

[2022-01-27 02:02] amritk commented on #794
Wont that stop passing the console.logs into sentry?

[2022-01-27 14:57] marafat commented on #366
There is another way that doesn't look like a workaround to achieve this using `scope`, example:
[code]

[2022-01-28 08:00] mashad6 commented on #746
this worked thanks

[2022-02-01 09:49] mouricef commented on #1964
@marandaneto

Unfortunately its still crashing.....

Sentry crash log - https://sentry.io/share/issue/a66ea8f41a864f6a8da0e7ea10993660/

[2022-02-01 16:16] marandaneto opened #2033 "Upgrade the Sentry JS Sdk to 6.17.0"
Migration example https://github.com/getsentry/sentry-electron/pull/408

[2022-02-01 16:16] marandaneto commented on #2033
@jennmueng this could be something that you may help us with since you've done that many times.

[2022-02-01 21:39] bruno-garcia opened #2034 "Add 'Client Reports' to the React Native SDK"
Sentry's protocol now offers a way to report counts and reason to why data gets dropped.

The JavaScript SDK already has support so the challenge here is to include events dropped in the React Native layers with the rest of the SDKs involved (JS and native).

Spec: https://develop.sentry.dev/sdk/client-reports/

This was implemented in other places that can be used as a reference:
* JavaScript: ht

[2022-02-02 07:39] Domeee commented on #2008
Same issue here.

npx react-native-info
[code]

package.json
[code]

[2022-02-02 09:43] marandaneto commented on #2008
Thanks for the input.
Please raise a new issue about the SDK causing a slow down when capturing errors, it's normal that it takes a bit since it needs to capture the event and enrich the event with device data, but it should not slow down the App but rather only when capturing the error, which could take a few hundred millis, not more than that, I believe? A new issue with more context is apprecia

[2022-02-02 09:43] #2008 closed

[2022-02-02 17:37] b0n1q opened #2035 "Expo eas build fails on android"
### Environment

Expo CLI 5.0.3 environment info:
System:
OS: macOS 12.0.1
Shell: 5.8 - /bin/zsh
Binaries:
Node: 14.18.1 - /usr/local/bin/node
Yarn: 1.22.17 - /usr/local/bin/yarn
npm: 6.14.15 - /usr/local/bin/npm
Watchman: 2021.11.15.00 - /usr/local/bin/watchman
Managers:
CocoaPods: 1.11.2 - /usr/local/bin/pod
SDKs:
iOS SDK:
Platforms: DriverKit 21.2, iOS 15.2, macOS 12.1, tvOS 15.2, watchOS 8.3
A

[2022-02-02 17:47] marandaneto commented on #2035
You must have a file like this in the folder https://github.com/getsentry/sentry-react-native/blob/main/sample/android/sentry.properties and it should contain a valid project.

This file is generated by the Wizard step in the install steps https://docs.sentry.io/platforms/react-native/#linking

[2022-02-02 17:47] #2035 closed

[2022-02-02 17:51] b0n1q commented on #2035
unclear for me
should i install wizard to my expo project?

[2022-02-02 18:01] marandaneto commented on #2035
If you have ran the wizard, and the file was generated, you should not see this error anymore.

[2022-02-02 18:05] b0n1q commented on #2035
yep i've installed, but unfortunately still have the same error

[2022-02-02 18:22] marandaneto commented on #2035
is the file `sentry.properties` within the `android` folder as mentioned? with a valid project, org and token?

[2022-02-03 06:20] Domeee opened #2036 "Update from 2.6 to 3.2 causing slow transitions"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

[code]

### Steps to Reproduce
1. All navigation transitions perform fast (React Router Native in use)
2. Update a React Native project from @sentry/react-native": "2.6.0" to @sentry/react-native": "3.2.12".

### Expected Result

No decline in transition speed.

### Actual Result

All navigation transit

[2022-02-03 07:45] b0n1q commented on #2035
i've played with names and not it works, thank so much @marandaneto

[2022-02-03 08:15] marandaneto commented on #2036
@Domeee Thanks for reporting.

Can you enable the `debug` property and copy-paste logs?
Do you have performance tracking enabled?

[2022-02-03 09:46] Domeee commented on #2036
Thanks @marandaneto for reaching out!

Performance tracking is not enabled and we do not intend to use it for now.

Logs
[code]

[2022-02-03 10:00] marandaneto commented on #2036
@Domeee can you provide logs of the SDK while transiting from different views?
Also, please share the code snippet of your SDK init.

[2022-02-03 10:03] Domeee commented on #2036
@marandaneto The are no logs while transitioning to a different view.

SDK init
[code]

[2022-02-03 10:39] marandaneto commented on #2036
@Domeee have you tried to init Sentry outside of the `useEffect`?
@jennmueng ideas?

[2022-02-03 10:46] Domeee commented on #2036
@marandaneto init Sentry outside `useEffect` and outside the render scope of the component leads to no improvement in transition performance.

[2022-02-04 09:25] andaydev commented on #1966
Is there an easy way for us to manually search for the session in Fullstory? For example, does Sentry/Fullstory capture a session id that can be referenced in both?

[2022-02-07 12:17] marandaneto commented on #1997
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-02-07 12:17] #1997 closed

[2022-02-09 12:45] JoshPolaris commented on #1139
I don't think I'll ever be using sentry again due to this issue. Very bad setup process and horrible lock in.

[2022-02-09 14:24] marandaneto commented on #1139
@JoshPolaris sorry to hear that, have you tried https://github.com/getsentry/sentry-react-native/issues/1139#issuecomment-735813760 ? That should be enough.

[2022-02-09 19:26] bruno-garcia opened #2051 "Users see transactions name `Route Change` in Sentry."
Users see transactions name `Route Change` in Sentry.

It seems this is a template here that should be replaced with the right route name:

https://github.com/getsentry/sentry-react-native/blob/4fd13137fe71984d1166c33198076da9db28f158/src/js/tracing/utils.ts#L14-L19

Router integration used: React Navigation

[2022-02-10 06:50] jennmueng opened #2052 "e2e tests broken on iOS"
Our e2e tests are broken on iOS. Still works on Android. The tests also only fail on CI, locally they work just fine.

The appium driver for some reason cannot detect the buttons on the screen. No changes were made to the e2e tests between the last working version and the latest, and there seemed to be no new version of Appium. Only thing that changed was [Github Actions updated the default XCode

[2022-02-11 18:19] KrisLau commented on #479
@jennmueng Still getting require cycle warnings after installing
[code]

[2022-02-11 22:00] #2051 closed

[2022-02-11 22:13] rusakovic commented on #1913
Hello @marandaneto
Start implementing Sentry library. Thank you for your efforts.
Just to figure out, if it's possible.
1. I have a button and press on in throw an error

![image](https://user-images.githubusercontent.com/17801144/153677114-54fabd43-4d13-4573-b479-b5485de61553.png)

2. Inside this component `ButtonWithShadow` I specified a `displayName`
![image](https://user-images.githubuserconte

[2022-02-12 08:22] marandaneto commented on #1913
@renchap Not sure yet, we'll check when working on this issue, thanks.

[2022-02-12 09:00] rusakovic commented on #1913
It will be a very useful feature, I suppose, for quicker debugging!

[2022-02-15 00:25] snips11 opened #2064 "Sentry ignores .env.production and uses standard env file"
### Environment

How do you use Sentry?
SAAS

Which SDK and version?
React Native

### Steps to Reproduce

Install sentry and install react-native-dot-env. Set up .env and .env.production files. Set up the correct babel config.

<img width="400" alt="Screenshot 2022-02-15 at 00 14 46" src="https://user-images.githubusercontent.com/17324531/153968556-a7300d36-bd11-4a8c-82fc-bcd7726e44a7.png">

###

[2022-02-15 07:07] marandaneto commented on #2064
Dup of https://github.com/getsentry/sentry-react-native/issues/1888

[2022-02-15 07:07] #2064 closed

[2022-02-15 11:15] snips11 commented on #2064
Hi @marandaneto is there any documentation/ examples of how env variables work with Sentry (Sentry properties) and React Native?

[2022-02-15 16:40] marandaneto commented on #2064
https://docs.sentry.io/product/cli/configuration/

[2022-02-15 19:47] ludwig-pro opened #2065 "react profiler with react-native don't generate any span (ui.react.mount, ui.react.render, and ui.react.update)"
Hello ! I have some struggle with react-profiler !

### Environment

How do you use Sentry?
**Sentry SaaS (sentry.io)**

Which SDK and version?
[code]

also I use **react-native-navigation**

### Steps to Reproduce
I try to use the react profiler with react-native as describe in the automatic instrumentation [here](https://docs.sentry.io/platforms/react-native/performance/instrumentation/automatic

[2022-02-16 00:36] aschultz commented on #1407
@jennmueng We ran into an issue where setting `enableNative: false` isn't enough because some internal objects like `ReactNativeTracing` get created with default params that expect native support and cause integrations to be added that throw errors when you log any data.

Our config now looks like:
[code]

[2022-02-16 00:42] bruno-garcia commented on #1407
Could you share the errors? It should't error, it will just not capture native crashes on Windows. Mac should actually work.

[2022-02-16 08:39] ludwig-pro opened #2066 "Automatic Instrumentation don't track correctly navigation with react-native-navigation"
Hello ! I have some struggle with **Automatic Instrumentation** and `react-native-navigation`  !

I currently have only one screen tracked with the correct name. Other don't appear in the performance dashboard.

<img width="1529" alt="image" src="https://user-images.githubusercontent.com/62896243/154224752-2b63d6e4-1291-4797-b381-28b6e743df64.png">

it's look like other navigation events are captu

[2022-02-16 08:47] ludwig-pro commented on #2066
Also, it's look like sometimes transaction still keep **Route Name** name

<img width="1530" alt="image" src="https://user-images.githubusercontent.com/62896243/154227771-1cfdfada-0f75-440c-88b6-95293e5f5ab5.png">

<img width="331" alt="image" src="https://user-images.githubusercontent.com/62896243/154228200-33407575-08f1-4d36-ae01-c647b61507c8.png">

<img width="1185" alt="image" src="https://use

[2022-02-16 08:49] ludwig-pro commented on #2051
#2066

Look like partially fixed for me

[2022-02-16 16:11] fabiendem commented on #1913
+1 for this feature.

The `displayName` is not really useful, especially in an app which relies on a component library.
Most of the time you will always see the same label, like `Button`, `Input`, etc...

We get this for our `NavBarButton`:
![Screen Shot 2022-02-16 at 16 09 46](https://user-images.githubusercontent.com/1186282/154307373-a7bc41d4-6fc9-4ae1-9b31-db93d9e1e5ab.png)

Datadog allows to

[2022-02-16 16:23] jennmueng commented on #1913
@fabiendem This makes sense, use a custom prop, say `sentryLabel`, then fallback to `accessibilityLabel` and then `displayName`.

[2022-02-16 17:49] fabiendem commented on #1913
@jennmueng
Do you mean the error `Property 'someRandomProp' does not exist on type 'IntrinsicAttributes & Props'.ts(2322)`?
Looks like you must use the `dash-case`:
Fail:
[code]
Success:
[code]

See https://www.typescriptlang.org/docs/handbook/jsx.html#attribute-type-checking

[2022-02-16 18:38] akshitrcrm opened #2067 "sentry-cli : no such file or directory while building in Xcode"
**OS:**
- [ ]  Windows
- [*]  MacOS
- [ ]  Linux

**Platform:**
- [*]  iOS
- [ ]  Android

**SDK:**
- [*]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 3.2.13

**`react-native` version:** 0.67.2

**Are you using Expo?**
- [ ]  Yes
- [*]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [*]  on-premise

**Configuration:**

(`@s

[2022-02-16 18:40] akshitrcrm commented on #2067
<img width="836" alt="Screenshot 2022-02-17 at 12 10 31 AM" src="https://user-images.githubusercontent.com/69840129/154333677-510f9057-b987-4cab-9c98-34b3dda5cd4d.png">

[2022-02-16 18:42] akshitrcrm commented on #2067
<img width="567" alt="Screenshot 2022-02-17 at 12 11 31 AM" src="https://user-images.githubusercontent.com/69840129/154333820-d38a044b-2449-4f6e-8825-a6c48358794d.png">

When I run that script in terminal it gives the actual error

[2022-02-16 18:47] akshitrcrm commented on #2067
<img width="575" alt="damn" src="https://user-images.githubusercontent.com/69840129/154334570-a611d249-5e2c-4da1-b8b9-a733468f8cf6.png">
<img width="811" alt="damn2" src="https://user-images.githubusercontent.com/69840129/154334770-4ca47795-c081-4f81-a433-8377a54d035a.png">

[2022-02-16 18:49] akshitrcrm commented on #2067
<img width="575" alt="damn" src="https://user-images.githubusercontent.com/69840129/154335046-0359be78-533e-4972-a36c-017bd3172ce2.png">
<img width="811" alt="damn2" src="https://user-images.githubusercontent.com/69840129/154335055-fdb92c98-7589-41b9-9fd2-cda8f31804d7.png">

[2022-02-17 09:07] JoshPolaris commented on #1139
That didn't fix it, I had to edit `project.pbxproj` and manually remove every sentry associated file

[2022-02-17 11:03] marandaneto commented on #2067
@akshitrcrm That works for me on a fresh project, likely something with your environment?
Try to install it standalone? https://docs.sentry.io/product/cli/installation/#installation-via-npm

[2022-02-17 14:17] Domeee commented on #2036
@marandaneto I was able to pin down the problem. All my http requests via fetch take 10x longer with the sdk enabled. If I disable promise patching via `patchGlobalPromise: false` the app acts as expected. HTH

[2022-02-17 18:43] jennmueng commented on #1913
@fabiendem Thanks! looks like `sentry-label` would work then.

[2022-02-18 18:00] bruno-garcia opened #2069 "Duplicate issue reporting on iOS"
More context: https://forum.sentry.io/t/react-native-sdk-ios-crash-produces-2-issues-while-i-expect-one/16067

[2022-02-18 19:26] akshitrcrm commented on #2067
yeah. I also checked by creating a fresh project on Mac m1, it works, but my old project with sentry doesn't.
I even upgraded my old project to latest react native. still no luck.

[2022-02-19 09:42] marandaneto commented on #2067
It should be a macOS m1 then, I just ran again on a normal macOS and it works.

@kamilogorek or @AbhiPrasad  are you aware of any issues on Sentry Wizard or Sentry CLI (latest versions) on macOS m1?

[2022-02-21 04:30] saintpepsicola commented on #2066
Is this fixed in beta? I am still seeing 'Route Change'

[2022-02-21 08:54] ludwig-pro commented on #2066
Partially fixed! I started to see some screen name but not all the time

[2022-02-21 11:10] kamilogorek commented on #2067
No, we have arm builds for M1. The issue here appears to be npm configured to not run post-install scripts, which then skips fetching of cli. You can confirm that by going into `node_modules/@sentry/cli` and running `./scripts/install.js`.

[2022-02-21 11:54] akshitrcrm commented on #2067
<img width="744" alt="Screenshot 2022-02-21 at 5 23 48 PM" src="https://user-images.githubusercontent.com/69840129/154950415-61700a83-c6ee-4726-8000-eea54c9105fb.png">

hm it says permission denied...

[2022-02-21 11:58] kamilogorek commented on #2067
Does xcode still breaks if the binary is there in place now? If so, maybe generated paths are pointing incorrectly?

[2022-02-21 13:14] akshitrcrm commented on #2067
yep, this is what I have in the script
`export SENTRY_PROPERTIES=sentry.properties
export EXTRA_PACKAGER_ARGS="--sourcemap-output $DERIVED_FILE_DIR/main.jsbundle.map"
export NODE_BINARY=node
../node_modules/@sentry/cli/bin/sentry-cli react-native xcode   ../node_modules/react-native/scripts/react-native-xcode.sh
`
<img width="694" alt="Screenshot 2022-02-21 at 6 39 37 PM" src="https://user-images.

[2022-02-21 14:44] KrisLau opened #2080 "Require cycle fetch"
### Environment
How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

### Steps to Reproduce
1. Install sentry and setup according to docs
2. Run app

### Expected Result
No require cycle upon running the app

### Actual Result
Getting a  require cycle warning from `sentry-react-native`:
[code]

[2022-02-21 15:02] jennmueng commented on #2052
@marandaneto @bruno-garcia Closing this as it seemed to have fixed itself?

[2022-02-21 15:02] #2052 closed

[2022-02-21 15:02] akshitrcrm commented on #2067
I ran the pwd command and it gives me the correct path, which is inside `ios` folder. So the path is correct as we're moving out of it and accessing `node_modules` directory.

I installed `sentry-cli `globally but I could not access it through terminal for some reason. Maybe I missed adding the path to `zshrc`?
Then I installed sentry-cli from `homebrew` using the command I found in installation d

[2022-02-21 15:42] fabiendem commented on #940
I've looked a bit more into this.
Looks like it's not trivial because the sentry gradle plugin at https://github.com/getsentry/sentry-react-native/blob/master/sentry.gradle relies on the `sentry-cli`'s command `react_native_gradle` at https://github.com/getsentry/sentry-cli/blob/master/src/commands/react_native_gradle.rs.

This `react_native_gradle` doesn't consume any `commit` param, so my unders

[2022-02-21 17:47] shubhnik opened #2081 "There was 1 problem processing this event, Source code was not found."
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
sentry.io

Which SDK and version?
e.g: "@sentry/react-native": "2.5.2"

### Steps to Reproduce

Any issue being reported on the Sentry dashboard comes up with an error `There was 1 problem processing this event`. My sentry initialization looks like this:

[code]

### Expected Result

The erro

[2022-02-22 03:18] jennmueng commented on #2081
@shubhnik You need to specify a `dist` value both on the sourcemap artifacts and passed to the `Sentry.init` method as well for sourcemaps to correctly be matched.

Read more here: https://docs.sentry.io/platforms/react-native/sourcemaps/#1-set-the-release-and-distribution

[2022-02-22 04:27] roxk commented on #1813
@marandaneto  Do maintainers intend to at least support `enableNative: false` scenario? Right now adding RN sentry to the project causes the build to fail. Since I only need to capture errors in js, I can submit a PR adding API availability guard around the offending calls in `RNSentry.m` just to make it compile in macOS. Thanks!

[2022-02-22 07:59] shubhnik commented on #2081
@jennmueng I will try to add `dist` while initialization. But for source maps, we are using the build scripts provided by the Sentry only. In the screenshot below I believe the source maps are tagged properly with the correct `dist`
<img width="897" alt="Screenshot 2022-02-22 at 1 27 58 PM" src="https://user-images.githubusercontent.com/9150371/155087630-319ed415-b5df-49b6-bdad-165eddbecad6.png">

[2022-02-22 08:00] marandaneto commented on #1813
@roxk We do have the intention in the future if it gets enough traction, but it has not been prioritized yet.
PR would be welcomed :)

[2022-02-22 08:02] marandaneto commented on #2081
@shubhnik you can also remove this line `release: `${DeviceInfo.getBundleId()}@${DeviceInfo.getVersion()}+${DeviceInfo.getBuildNumber()}`,` since you are using the scripts provided by the SDK, either removing the `release` or adding the `dist` would work.

[2022-02-22 08:05] marandaneto commented on #2080
@KrisLau which SDK version? please edit your issue with the [but template](https://github.com/getsentry/sentry-react-native/issues/new?assignees=&labels=&template=BUG_REPORT.md)

[2022-02-22 08:06] marandaneto commented on #2066
cc @jennmueng please have a look at it, apparently there's still edge cases for https://github.com/getsentry/sentry-react-native/pull/2053

[2022-02-22 08:10] marandaneto commented on #2069
@fakeheal Could you please link to the Sentry project that has these issues?

[2022-02-22 08:11] marandaneto commented on #2065
cc @jennmueng

[2022-02-22 08:12] marandaneto opened #2083 "React Native for Web"
https://github.com/necolas/react-native-web#readme

[2022-02-22 09:25] kamilogorek commented on #2067
The only possible issue now then is that you are running `bash` or `zsh` interpreter inside your terminal, where XCode is running scripts though `sh` itself. In this case, you need to either:
- move your `PATH` overrides from `.bashrc` (or `.zshrc` if using `zsh`) to `.profile`
- update Xcode shell to use `/bin/bash`, `/usr/local/bin/zsh` or whatever interpreter you are using

[2022-02-22 09:29] Arnoldnuo commented on #1407
@bruno-garcia I got this error when I use `react-native-sentry`, I just cannot run my react-native-macos application.
`The following build commands failed:
	CompileC Pods.build/Debug/RNSentry-macOS.build/Objects-normal/x86_64/RNSentry.o /node_modules/@sentry/react-native/ios/RNSentry.m normal x86_64 objective-c com.apple.compilers.llvm.clang.1_0.compiler (in target 'RNSentry-macOS' from project 'P

[2022-02-22 09:38] marandaneto opened #2084 "Sentry React Native for iOS does not set the installation id if no user is set at all"
Similar to https://github.com/getsentry/sentry-dart/issues/759
Ingestion sets the `ip_address` tho, so the Release health feature works, but the `IP` may change as well, I believe the user count may be affected by this bug when no user is set.

[2022-02-22 09:45] marandaneto commented on #1407
This is an issue related to Windows, and not macOS, please relate to https://github.com/getsentry/sentry-react-native/issues/1813

[2022-02-22 09:48] marandaneto opened #2085 "Append missing context from Native SDK for iOS"
Similar to https://github.com/getsentry/sentry-dart/pull/761/files

Missing tags, extra, user, dist, environment, fingerprint, level, breadcrumbs...
Ideally, every scope data set in the Native SDK makes it to the Events captured by JS as well.

[2022-02-22 10:31] #2033 closed

[2022-02-22 14:19] KrisLau commented on #2080
@marandaneto  Done sorry!

[2022-02-22 14:37] marandaneto commented on #2080
@KrisLau we'd need to know the Sentry React Native version, See https://github.com/getsentry/sentry-react-native/releases

I don't see anything related to Sentry in the Actual result error message.

@AbhiPrasad Are you aware of such cycle warning with node and/or tracing?

[2022-02-22 17:09] mungbeans opened #2086 "Getting lots of Command PhaseScriptExecution failed with a nonzero exit code in Xcode since moving to Monterey"
I'm trying to build the same project as I've been building for months, the difference is now I'm on OS Monterey.

Occasionally it succeeds, but very very very frequently (and without changing a damn thing) the build fails with

r/Xcode/DerivedData/XXXProject-dgyskfgwiispgibvghbrmmwksqza/Build/Intermediates.noindex/XXXProject.build/Debug-iphoneos/XXX.build/Script-00DD1BFF1BD5951E006B06BC.sh: line 5

[2022-02-22 17:38] jennmueng commented on #2080
@marandaneto @AbhiPrasad Looks like this could be caused because the JS sdk uses `window.fetch` which in React Native would [trigger this warning](https://www.reddit.com/r/reactnative/comments/otwg7f/comment/h6y8u5i/?utm_source=share&utm_medium=web2x&context=3).

[2022-02-22 17:47] AbhiPrasad commented on #2080
Fetch instrumentation is part of both `Breadcrumbs` integration and `BrowserTracing` integration where we monkeypatch the fetch instrumentation. We also have it as part of the `fetch` transport that is exported.

As only the `Breadcrumbs` is being used with react native, do we have to make any changes there?

[2022-02-23 07:49] marandaneto commented on #2086
@mungbeans please update your issue with the [bug report](https://github.com/getsentry/sentry-react-native/issues/new?assignees=&labels=&template=BUG_REPORT.md) template.

[2022-02-23 18:09] bruno-garcia commented on #2069
It’s possible we’ll need to filter out such exception when using the cocoa SDK in the React Native context.

![image](https://user-images.githubusercontent.com/1633368/155380496-cee174f9-b1c2-4dc5-95f1-07bb9e7eb0ee.png)

Possible solution: In beforeSend in the bridge code for the cocoa SDK we can skip these events.

[2022-02-24 11:17] fakeheal commented on #2069
I'll just paste here what I posted in the forum. My project is & uses:

[SDK](https://sentry.io/organizations/itodorova-dev/issues/3023302476/?project=6209679&query=is%3Aunresolved#sdk)
**Name**	sentry.javascript.react-native
**Version**	3.2.13

[SDK](https://sentry.io/organizations/itodorova-dev/issues/3023302422/?project=6209679&query=is%3Aunresolved#sdk)
**Name**	sentry.cocoa
**Version**	7.9.0

[2022-02-24 16:16] kopax-polyconseil opened #2087 "Hermes, sentry source map is showing wrong code in both codepush and production build, but not when running in dev"
### Environment

- How do you use Sentry?

self-hosted `Sentry 21.4.037b2bca`

- Which SDK and version?

`@sentry/react-native`: `3.1.1`

### Steps to Reproduce

1.
[code]
3. Source this file https://github.com/pass-culture/pass-culture-app-native/blob/master/scripts/upload_sourcemaps_to_sentry.sh#L7-L35 with `. scripts/upload_sourcemaps_to_sentry.sh`, this follow the step to generate sentry sourc

[2022-02-24 16:39] marandaneto commented on #2069
@fakeheal thanks, can you provide your SDK init - code snippet? thanks

[2022-02-24 16:47] fakeheal commented on #2069
@marandaneto Sure!  [`@env`](https://www.npmjs.com/package/react-native-dotenv) is a dot env package for RN, but SENTRY_DSN and APP_ENV are simple strings with my DNS string and `staging` for `APP_ENV`.

[code]

[2022-02-24 17:09] marandaneto commented on #2069
@fakeheal do you do any [Manual setup or configuration](https://docs.sentry.io/platforms/react-native/manual-setup/) besides the code snippet above? or do you use Hermes, CodePush, RAM Bundles, or something different than usual?

I ask because I can't reproduce it using a fresh new project.

Can you provide a minimal reproducible example on GH? that would ease the debugging and the fix if any is n

[2022-02-25 04:43] qqhann commented on #196
Our team has both Mac and Windows users, and the `cli.executable` for Windows uses backslash, which makes it incompatible with Mac users. I hope this can be improved.

[2022-02-25 16:54] grzegorzkrukowski commented on #2067
I am getting the same response even when running sentry-cli directly not through Xcode.
We had working CI setup for a long time, but now it stopped working (2 days ago).

[2022-02-26 04:27] #1913 closed

[2022-02-28 13:46] philipphofmann commented on #1964
@mouricef is this still an issue?

[2022-03-01 04:53] mouricef commented on #1964
@philipphofmann  Unfortunately Yes. It's still crashing.

[2022-03-01 22:50] mertozylmz commented on #2067
Hi guys,
I solved this problem finally.
All you have to do is write this code in the terminal

[code]
Then write this
`$ ln -s /opt/homebrew/Cellar/node@14/14.17.6/bin/node /usr/local/bin/node`

it worked after i did it

[2022-03-01 23:50] skidding commented on #1857
@Braden1996 Can you share your nohoist config? Did you set nohoist for the entire monorepo or just for specific Sentry packages? Thanks.

[2022-03-02 06:12] mouricef commented on #1964
Thanks @philipphofmann

[2022-03-02 07:02] marandaneto commented on #2080
Thanks for the input, I'm not entirely sure, @jennmueng ideas?

[2022-03-02 07:24] shubhnik commented on #2081
@marandaneto [here](https://sentry.io/organizations/rzp/issues/3033834316/?environment=production&project=6037281&query=is%3Aunresolved+release.version%3A1.52.1&statsPeriod=14d) is the issue. The weird part is that it was working fine earlier(we followed the docs), started getting this error message on the last few app releases only. Also in the latest app release, we updated to `@sentry/react-nat

[2022-03-02 13:50] kamilogorek commented on #2081
I'd assume that `InternalBytecode.js` is not coming from your sourcecode, thus it should be marked as non in-app frame.
You can configure it directly in your Sentry UI `[Project] > Settings > Issue Grouping > Stack Trace Rules` with this rule:

[code]

Read more about it here https://docs.sentry.io/product/data-management-settings/event-grouping/stack-trace-rules/

[2022-03-02 14:00] marandaneto commented on #2081
Related to https://github.com/getsentry/sentry-react-native/issues/1845 as well
@shubhnik have you tried upgrading your RN version?

[2022-03-03 11:32] pjc0247 commented on #689
[code]

[2022-03-03 15:57] marandaneto commented on #2086
@mungbeans any update on this? thanks

[2022-03-03 19:45] bruno-garcia commented on #2036
This bool is on our code base in this repo:

https://github.com/getsentry/sentry-react-native/blob/8d3d9aefd60ac7a8a54d5ab29b871b807849c465/src/js/integrations/reactnativeerrorhandlers.ts#L61-L63

[2022-03-03 20:52] HacerBusraKILIC opened #2103 "app:///index.bundle?platform=ios&dev=true&minify=false"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 3.2.12)
- [ ]  `react-native-sentry` (<= 0.43.2)

**`react-native` version:** 0.61.5

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**If you are using sentry.io, please post a link

[2022-03-04 12:14] #1362 closed

[2022-03-04 12:24] marandaneto commented on #2103
@HacerBusraKILIC May I ask why are you passing custom values to `release`, `dist` and also calling `sentry-cli` manually?
The SDK should do everything automatically for you.

See https://docs.sentry.io/platforms/react-native/sourcemaps/
You init. your SDK with a custom dist `dist: 1.13.0.0`, but you use another dist to call sentry-cli `--dist 13`, they should match, exactly the same, as the docs s

[2022-03-04 13:18] marandaneto commented on #1042
So we should offer this flag to be flipped via the Sentry configuration on your Gradle file, we should also document that on our [debug symbols](https://docs.sentry.io/platforms/react-native/upload-debug/) docs.

[2022-03-04 13:26] marandaneto commented on #1427
Maybe we could align the public API with this issue https://github.com/getsentry/sentry-react-native/issues/927 which is also about tracking release health manually.

[2022-03-04 13:29] marandaneto commented on #1427
One other option would be to be using sentry-native for Windows support and its release health feature, similar to Android and iOS.

[2022-03-04 13:32] marandaneto commented on #1427
@bruno-garcia I believe sentry-javascript script already offers the release health feature, right, should this feature track sessions automatically or just offer a startSession/endSession API?

[2022-03-04 13:35] marandaneto commented on #1966
@kamilogorek or @AbhiPrasad do you know how this integration work on the browser SDK? what would we need to do to integrate that with the RN SDK? if it's just a session id set in the event context, that would be easy, but I believe it's not that.

[2022-03-04 13:44] HacerBusraKILIC commented on #2103
@marandaneto Thanks for your response. When I examined the opened tasks, I came to these conclusions. I misunderstood some points. I edited as you said.

Sentry.init({
    dsn: 'https://8582ba51b23647b09378cd253e942deb@o1040061.ingest.sentry.io/6156519',
    tracesSampleRate: 1.0
});

./node_modules/@sentry/cli/bin/sentry-cli releases --org turkcell-iletisim  --project bip-meet-mobile files 1.13.0

[2022-03-04 13:47] kamilogorek commented on #1966
That's exactly that 😄

https://github.com/getsentry/sentry-fullstory/blob/fda19a83ba5744d94522c6631f711037b84e5b23/src/SentryFullStory.ts#L33-L72

[2022-03-04 13:50] marandaneto commented on #2103
@HacerBusraKILIC I am confused, you are uploading source maps for Android, but testing on iOS?
`release` and `dist` must match.
Please follow our docs https://docs.sentry.io/platforms/react-native/sourcemaps/
You only need to execute those `sentry-cli` calls manually if you need to use custom release and dist, based on your SDK init, this is not the case.

By only doing that, all of your source ma

[2022-03-04 13:58] marandaneto commented on #1966
So technically one could just:

// Install fullstory on RN App
`yarn add @sentry/fullstory`

// Add SentryFullStory to the integrations list during Sentry SDK init
Sentry.init({
  dsn: '__DSN__',
  integrations: [ new SentryFullStory('__SENTRY_ORG_SLUG__'), ],
  // ...
});

@TannerLessen have you tried this?

[2022-03-04 13:58] HacerBusraKILIC commented on #2103
@marandaneto I'm looking again

[2022-03-04 14:03] papa-jake commented on #1921
@marandaneto This is still happening. I just spent a couple days tracking down what was causing our Detox tests to hang. After removing react native tracing instrumentation, our tests now pass successfully. I was able to track down that the timers are being set in the stall tracking: https://github.com/getsentry/sentry-react-native/blob/main/src/js/tracing/stalltracking.ts

I'd be happy to work on

[2022-03-04 16:14] TannerLessen commented on #1966
@marandaneto Yes I tried that originally as we make use of this integration in one of our React projects. However it fails due to a dependency on @fullstory/browser, which we do not use since we leverage the React Native FullStory SDK (@fullstory/react-native)

This feature request was to have a similar integration that functions with @fullstory/react-native as opposed to @fullstory/browser.. if f

[2022-03-04 16:24] DangerBlack commented on #1203
I've experience the exact same behavior today in my production build.
In order to fix it I had to manually write this before running `init`

`global.document.addEventListener = global.document.addEventListener ? global.document.addEventListener : () => {};`

[2022-03-04 20:29] namrog84 commented on #1407
Is there anyone looking at getting a RNW (windows) version implemented for native?

Or any expected timeline for this?

[2022-03-04 21:08] jennmueng commented on #2066
I will take a look at reproducing this, looks like a similar issue as https://github.com/getsentry/sentry-react-native/pull/2053 but for `react-native-navigation`

[2022-03-04 21:12] jennmueng commented on #2103
@HacerBusraKILIC If your js bundle is named `index.bundle` as I can see in your stack trace in the event, your source map files (in this case, for iOS) should be named `index.bundle` and `index.bundle.map` respectively. Currently they are `main.jsbundle` and `main.jsbundle.map`

[2022-03-04 21:13] jennmueng commented on #2087
Discussing this issue via DM on discord.

[2022-03-04 21:33] HacerBusraKILIC commented on #2103
@jennmueng Thanks for your information. I see that I made a mistake in this part. I fixed most of my mistake with your help. I got confused with the document. :)

[2022-03-05 08:48] marandaneto commented on #2103
Do we have this in our troubleshooting page, that file name should match the uploaded bundles?

[2022-03-05 08:48] marandaneto commented on #2087
Please post the output here if you find out, so others can learn.

[2022-03-05 08:49] marandaneto commented on #1407
So far not, we've not prioritized this yet, we'd love to review PRs tho :)

[2022-03-05 12:10] bencagri commented on #1187
I also have the same problem.

The debug
[code]

when I run `sentry-cli info`  I see a valid response. It was working but suddenly started giving this error.

 @sentry/react-native to 3.3.0
 react-native: 0.65.1

[2022-03-06 03:53] jennmueng commented on #2103
@marandaneto https://docs.sentry.io/platforms/react-native/troubleshooting/#source-maps Nope, not a bullet point there, I'll add it.

[2022-03-07 09:03] shubhnik commented on #2081
@marandaneto we are on react-native `0.65.2`. This is quite a recent version. Or do you want me to update to a more recent version because it's not sure if that will fix it as per the above thread?

@kamilogorek other than this, could you find any issue that could be causing this error?

I have one suspect, this somewhat overlaps with the timeline since we are facing the above error. We recently i

[2022-03-07 10:29] shubhnik opened #2117 "Incorrect issue grouping"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
`"@sentry/react-native": "3.2.10"`
`"react-native": "0.65.2",`

### Steps to Reproduce
Errors are reported on production, but they are grouped together incorrectly.

### Expected Result

They should not be grouped together.

### Actual Result

Attaching URLs for two different errors but grouped together in a single issue:
1.

[2022-03-07 10:45] marandaneto commented on #2117
@shubhnik why do you think they should not be grouped together? what's the main difference between them?

[2022-03-07 10:47] marandaneto commented on #2081
@untitaker do you think this should be a general rule for RN projects? since we can't mark that as not in App at runtime?

[2022-03-07 10:48] marandaneto commented on #2081
No, apparently `InternalBytecode` is a known issue, the RN SDK sets that, I believe you should just ignore it.

[2022-03-07 10:57] shubhnik commented on #2117
@marandaneto these are errors with different error messages coming from different services. I want these to be separate, so I can ignore this issue which is of no concern to us `User does not have a mobile number associated with the account` and maybe close this issue `The id provided does not exist` later once fixed . And there might be many more different errors that might have been already fixe

[2022-03-07 12:00] marandaneto commented on #2117
Sentry groups by stack traces, if you want to group or not group events, you can customize this behavior using [fingerprints](https://docs.sentry.io/platforms/react-native/usage/sdk-fingerprinting/)
You can also filter out events you don't want via the [beforeSend](https://docs.sentry.io/platforms/react-native/configuration/filtering/) callback.

[2022-03-07 12:00] #2117 closed

[2022-03-07 13:54] Yupeng-li opened #2118 "Linked error are not symbolicated in Debug builds"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 3.2.13

### Steps to Reproduce

I need to report inner error when throwing exceptions, and [LinkedErrors](https://getsentry.github.io/sentry-javascript/classes/node.linkederrors.html) is the solution I found. To link two error, I assigned the inner error to the `cause` property of the final

[2022-03-07 13:59] kamilogorek commented on #2081
@shubhnik im not sure what's the question here tbh. As for grouping, the plugin you linked is overriding default fingerprint, which causes new groups to pop up - https://github.com/DiederikvandenB/apollo-link-sentry/blob/master/src/sentry.ts
See https://docs.sentry.io/platforms/javascript/usage/sdk-fingerprinting/ for how it works.

[2022-03-07 14:30] marandaneto commented on #2118
This integration is within the [node](https://github.com/getsentry/sentry-javascript/tree/master/packages/node) package, wondering if that makes any difference.
@AbhiPrasad or @kamilogorek do you know what's going on? thanks

[2022-03-07 14:53] AbhiPrasad commented on #2118
This is strange, it seems that `RewriteFrames` doesn't update the stacktrace here?

https://github.com/getsentry/sentry-react-native/blob/16cfa52fcae796c51d1880b2ad6d9fc73dbede59/src/js/sdk.tsx#L72

Not sure if it's a general SDK bug, or just based on how react native sdk is configuring `RewriteFrames`, we need to test with a stock browser SDK app that uses `LinkedErrors` + `RewriteFrames`.

[2022-03-07 18:04] #2103 closed

[2022-03-08 08:17] #2066 closed

[2022-03-08 08:20] marandaneto commented on #2118
Thanks @AbhiPrasad
Let us know if you find something on your testing.

[2022-03-08 08:21] marandaneto commented on #2081
Since the original question was answered, I'll close it, @shubhnik please open a new issue with a detailed description in case you experience new issues, thanks.

[2022-03-08 08:21] #2081 closed

[2022-03-08 15:05] marandaneto commented on #1966
Oh I see, that makes sense, we'd need an integration for `@fullstory/react-native`, indeed.

[2022-03-08 15:14] marandaneto commented on #2065
By that do you mean if not using react native navigation, it works? thanks.

[2022-03-09 12:33] kopax-polyconseil commented on #2087
Yes, I will. So far we are still stuck, it seems that @jennmueng can see with the provided `event.json` and builded `.map` that we have an issue, but without being able to build the application it seems hard for him to tell why do we have wrong source map.

I have offered some help to build our app, and a peer programming session. I will keep you tuned.

As we have no hint at all why doing what's

[2022-03-10 07:17] marandaneto opened #2131 "`captureMessage` on Android using `attachStacktrace=true` does not send the stacktrace"
The JS SDK appends the stack trace to a [top-level property](https://develop.sentry.dev/sdk/event-payloads/stacktrace/) instead of the `threads` interface.
It works on iOS because the event is sent as it is.
It fails on Android because of the round trip serialization, since this property does not exist on Android, it's lost.

* Android V6 keeps the unknown fields, which would solve the problem (St

[2022-03-10 07:43] marandaneto commented on #2131
The JS SDK already did the changes on [V7](https://github.com/getsentry/sentry-go/blob/c40f30a89cdda4cb59239f2f77466d3d4219de61/client.go#L434-L452)
[The issue](https://github.com/getsentry/sentry-javascript/issues/2605) is still open tho

[2022-03-11 13:01] #1452 closed

[2022-03-11 13:03] marandaneto commented on #1937
@jan-auer have you had the time to look into it? thanks.

[2022-03-11 13:04] marandaneto commented on #2086
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-03-11 13:04] #2086 closed

[2022-03-11 13:10] marandaneto commented on #1629
Why don't we send back navigation transactions in the first place?
Is that to spare some quota because at this moment nothing is really happening?

If so, that makes sense, just wondering if the solution here is to not set the `traceId` at all then.

[2022-03-11 13:16] marandaneto commented on #1776
A workaround would be to continue a transaction from the Native layer, See [example](https://github.com/getsentry/sentry-dart/issues/721#issuecomment-1023125360).

[2022-03-11 13:27] marandaneto commented on #2003
Similar to https://github.com/getsentry/sentry-react-native/issues/1776

[2022-03-11 13:30] marandaneto commented on #2084
https://github.com/getsentry/sentry-react-native/pull/2133

[2022-03-14 09:49] ninjz commented on #1436
Did you ever figure this out?

[2022-03-14 11:28] c-emil opened #2142 "Sentry sends captured messages to http://localhost:8081/symbolicate and the messages don't appear in my project."
### Environment

How do you use Sentry?
self-hosted Sentry 9.0.0

Which SDK and version?
React native 3.3.2

### Steps to Reproduce

I followed the [getting started guide for React Native](https://docs.sentry.io/platforms/react-native/) step by step. I used the [Sentry wizard](https://github.com/getsentry/sentry-wizard) and added `-u` parameter pointing to our self-hosted url. When I reached the e

[2022-03-14 12:19] marandaneto commented on #2142
@c-emil Nothing is really required other than the [DSN](https://docs.sentry.io/platforms/react-native/#initialize) that points out to your server.

Can you pass the `debug: true` var to the SDK init and copy-paste logs?

[2022-03-14 13:51] c-emil commented on #2142
This is all I get from the logs:

![Screenshot 2022-03-14 at 14 50 29](https://user-images.githubusercontent.com/24896882/158185753-638538c0-a839-49e9-ab6a-23d16031ee44.png)

[2022-03-14 13:57] marandaneto commented on #2142
@c-emil Call `Sentry.captureMessage('message') and send us the logs, you should see more than now.

[2022-03-14 14:08] marandaneto commented on #2142
@c-emil Sicne you are using Sentry server v9, you can't use Sentry's RN SDK >= v2
https://docs.sentry.io/platforms/react-native/migration/#from-1x-to-2x
Please upgrade your Server server.

[2022-03-14 14:08] #2142 closed

[2022-03-14 14:12] c-emil commented on #2142
Thanks @marandaneto very much!

[2022-03-14 14:46] dnvarun opened #2143 "`sentry-trace` header not getting added to the request headers"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
React native 3.3.2

### Steps to Reproduce

1. Initialize Sentry
2. In axios call, create a custom transaction before the request fires and finish the transaction after Promise returns
3. Inspect request headers for `sentry-trace` header

### Expected Result

`sentry-trace` header to be present in the request h

[2022-03-15 12:10] DavidAPears commented on #714
Also have this

[code]

Unlinking (as instructed) does nothing, error reoccurs.

[2022-03-16 03:11] delgiudices commented on #2087
experiencing something similar

[2022-03-16 13:09] philipphofmann commented on #1964
@marandaneto, can we bump sentry-cocoa to [7.10.2](https://github.com/getsentry/sentry-cocoa/releases/tag/7.10.2) and see if it fixes this problem as we released https://github.com/getsentry/sentry-cocoa/pull/1692 with it.

[2022-03-17 09:13] marandaneto commented on #2087
@kopax-polyconseil please provide a minimal reproducible example on Github, it should be an empty app that has only Sentry and its necessary bits to exemplify the problem.

[2022-03-17 09:19] marandaneto commented on #2143
I'm currently checking if the JS SDK provides an integration for `axios` in the first place, will come back asap.

[2022-03-17 11:46] #1964 closed

[2022-03-17 12:25] fakeheal commented on #2069
@marandaneto I don't use any of the mentioned stuff, however I couldn't also reproduce the problem in a new repo. I am sorry for wasting your time! I'll try fixing my project.

[2022-03-17 12:36] #2069 closed, assigned to nobody

[2022-03-18 09:37] marandaneto commented on #2143
@dnvarun In order to get spans out of the active transaction using custom instrumentation, the transaction should be set in the Scope, See https://docs.sentry.io/platforms/react-native/performance/instrumentation/custom-instrumentation/

`Sentry.getCurrentHub().configureScope(scope => scope.setSpan(transaction));`

Consider using auto instrumentation as well, See https://docs.sentry.io/platforms/r

[2022-03-18 09:37] #2143 closed

[2022-03-18 12:59] marandaneto commented on #2131
We've decided to go either with upgrading the Android SDK to v6 or JS SDK to v7, the one that comes first.

[2022-03-18 18:05] lucas-zimerman commented on #1409
https://github.com/getsentry/sentry-react-native/blob/a085ec4ef6e9506cca568d8841e1e1bc8dfb63a2/src/js/wrapper.ts#L108-L110
Messages get duplicated breadcrumbs because it doesn't have an exception so the above condition gets skipped.
Perhaps we should also delete all the breadcrumbs  if there isnt an exception or the exception was handled, or
[code]

[2022-03-18 18:57] lucas-zimerman opened #2146 "(Android) breadcrumb removed if set on error's context/scope."
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)
Which SDK and version?
e.g: Sentry React Native 3.3.3

### Steps to Reproduce

Sample code:
[code]

### Expected Result

The exception captured with the breadcrumb `error with breadcrumbs`

### Actual Result

Breadcrumb got removed
https://sentry.io/organizations/sentry-sdks/issues/3114951206/?project=5428561&query=is%3Aunresolved&sta

[2022-03-19 09:13] dnvarun commented on #2143
Thanks, actually I tried automatic instrumentation at first, but it did not create any transaction for api requests. The only transactions were App start and navigation related. Is there any way to enable automatic instrumentation for all the api requests? If not, we might have to just use the custom instrumentation for this

[2022-03-19 09:19] marandaneto commented on #2143
@dnvarun if automatic instrumentation is enabled, you should be able to see API requests as spans.
Transactions are finished automatically after some time if there's nothing happening within the app, maybe you triggered your request seconds later?
Please provide a minimal reproducible example if it's not the case.

[2022-03-19 09:45] marandaneto commented on #1409
@lucas-zimerman Makes sense, wanna open up a PR? :)

[2022-03-19 11:11] dnvarun commented on #2143
Cool, will spend some time and get back if I am unable to make it work

[2022-03-19 20:17] younusmahmood commented on #1294
I was running into this issue as well. Turns out I needed to remove the Sentry.nativeCrash() and reload the app in a working state for it to be logged on the sentry conslole. IMO this isn't ideal because I still want to see a crash if a user decides not to go back in but it still works.

[2022-03-20 03:41] Harjot1Singh opened #2147 "Unable to resolve module promise/setimmediate/es6-extensions"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native@3.3.3 (iOS on react-native@0.67, Hermes enabled)

### Steps to Reproduce

1. Install the react-native SDK
2. Attempt to import it, and receive an error about being unable to resolve module promises
3. Clear all modules & pods, reset metro cache to be sure, and retry

### Actual Result

[cod

[2022-03-21 03:53] jennmueng commented on #2147
@Harjot1Singh You should be able to fix this in the meantime by manually installing [`promise`](https://www.npmjs.com/package/promise). However, can I see your lockfile (`yarn.lock` or `package-lock.json`)? React Native should already have promise as a dependency.

[2022-03-21 07:44] marandaneto commented on #2065
any news here? thanks.

[2022-03-21 08:12] marandaneto opened #2154 "`setContext` does not serialize objects correctly"
[code]

Serializes to:

[code]

or

[code]

Depending on if before or after calling `JSON.stringify`

Context: https://github.com/getsentry/sentry-react-native/pull/1982

The problem should live in https://github.com/getsentry/sentry-react-native/blob/a085ec4ef6e9506cca568d8841e1e1bc8dfb63a2/src/js/wrapper.ts#L478-L495
and/or `JSON.stringify` isn't doing its job correctly.

[2022-03-21 09:00] marandaneto commented on #2036
ping @jennmueng

[2022-03-21 09:02] marandaneto commented on #1477
For Sentry JS SDK 7.x https://github.com/getsentry/sentry-docs/pull/4844

[2022-03-21 10:29] CyberWake commented on #746
this even works with `flutter`

[2022-03-21 13:11] lucas-zimerman commented on #1409
Sorry for the late response, I'd like to... At least I'll apply it on capacitor :D

[2022-03-21 14:23] ludwig-pro commented on #2065
hey ! We will ship an alpha app tomorrow, with sentry upgrade. We will compare a custom profiler tracking that we made ourselves (with sentry custom trace) with the Sentry Profiler component.

[2022-03-21 14:32] marandaneto commented on #2080
Related to https://github.com/facebook/react-native/issues/23130

[2022-03-21 14:37] marandaneto commented on #2080
Apparently, we have to do something like https://github.com/getsentry/sentry-react-native/pull/1144
Running `https://github.com/getsentry/sentry-react-native/pull/1144` gives me:

[2022-03-21 14:53] marandaneto opened #2157 "Circular dependency"
### Environment

How do you use Sentry?
sentry.io

Which SDK and version?
Sentry RN and Sentry JS 6.17.9

### Steps to Reproduce

Run: madge . --extensions ts,tsx,js -c

More context https://github.com/getsentry/sentry-react-native/issues/2080

### Expected Result

No circular dependency found!

### Actual Result

✖ Found 6 circular dependencies!

1) packages/ember/addon/ember.d.ts
2) packages/nex

[2022-03-22 00:15] stevecode21 commented on #500
I would like to add another Idea to this feature request, and it has to do with implementing a way to attach images and videos by the user as Instabug makes. That would be nice, since sometimes we can use these resources for better debugging.

[2022-03-22 07:08] marandaneto commented on #2080
That's a good point but if you look at https://github.com/getsentry/sentry-react-native/pull/1144/files
You can see that the refactoring had nothing to do with `fetch`, and it fixed the very same warning.
Do you say that we have to change on the JS side or should we monkeypatch the `instrument` class?

[2022-03-22 10:36] CalvinAtHome opened #2159 "In case you are facing the very same issue using the latest Sentry RN version, please do raise a new issue with detailed information, thanks."
In case you are facing the very same issue using the latest Sentry RN version, please do raise a new issue with detailed information, thanks.

_Originally posted by @marandaneto in https://github.com/getsentry/sentry-react-native/issues/350#issuecomment-997855437_

to change android/sentry.properties and anroid/app/build.gradle as the document blow
https://todoit.tech/rn/devops/sentry.html#%E5%AE%

[2022-03-22 23:23] lobsterkatie commented on #2080
In that case it was a straightforward case of `wrapper.ts` importing from `backend.ts` and `backend/ts` importing from `wrapper.ts`.

I'm struggling a bit to work it all out in my head, but my gut says that there's something here with both us and `whatwg-fetch` monkeypatching/polyfilling `fetch`, and one of us making the original `fetch` reference point to a patch, and then that patch getting wrap

[2022-03-23 16:55] marandaneto opened #2162 "Move RN JS Engine extra to contexts"
https://github.com/getsentry/sentry-react-native/blob/4f97e940a96576457cd7a5b0c7acf884768ded07/src/js/integrations/debugsymbolicator.ts#L69-L74

Android now supports Contexts

[2022-03-23 17:00] marandaneto commented on #2118
@Yupeng-li have you tested on a release or debug mode?

I can reproduce the issue on debug mode but not on release mode.

The issue is here -> https://github.com/getsentry/sentry-react-native/blob/main/src/js/integrations/debugsymbolicator.ts
We are apparently not accounting for all the exceptions when symbolicating on the device.

[2022-03-23 17:02] marandaneto commented on #2118
That's also the reason why the platform is `node` sometimes -> https://github.com/getsentry/sentry-react-native/blob/main/src/js/integrations/debugsymbolicator.ts#L78

[2022-03-23 19:07] jennmueng commented on #2080
@marandaneto @lobsterkatie I've been able to pinpoint the source of the warning, because we also [initialize the browser backend](https://github.com/getsentry/sentry-react-native/blob/acc19f4b50d7d8c8a5a9fa2ff94ebf0ff185febf/src/js/backend.ts#L19) in the React native backend, the browser backend will initialize the fetch transport. Initializing that browser backend with a noop transport removes th

[2022-03-24 00:55] jennmueng commented on #2080
Ok after further investigation [here are the lines that triggers the require cycle.](https://github.com/getsentry/sentry-javascript/blob/944af2ad49414945dc5c4b67177a59a3e1c259df/packages/utils/src/supports.ts#L65-L67) when the browser backend calls `supportsFetch()`.

I assume it's something with how React Native lazy-initializes some functionality and fetch seems to be one of them. The line calli

[2022-03-24 16:25] BatDroid commented on #1345
I'm facing the same issue, any news on this?

[2022-03-24 16:59] BatDroid commented on #1345
seems to be from redux-persist, cause when I put a container component before that, it works, but putting that component inside `PersistGate`, it doesn't send the report anymore...
wondering what should I do now...

[2022-03-25 10:38] marandaneto commented on #1776
A workaround is possible https://github.com/getsentry/sentry-dart/issues/721#issuecomment-1023125360
This is a Dart code snippet but I believe you can do something similar with the RN/JS SDK.

[2022-03-25 10:41] marandaneto commented on #1776
Maybe a different solution would be to wait for Single Span ingestion.

[2022-03-25 10:45] marandaneto commented on #2003
Closed in favor of https://github.com/getsentry/sentry-react-native/issues/1776
They are just a different way of describing the same problem.

[2022-03-25 10:45] #2003 closed

[2022-03-25 10:53] marandaneto commented on #2154
It's not a bug, just increase the `normalizeDepth` if needed, the RN docs now have the `normalizeDepth` too.

[2022-03-25 10:53] #2154 closed

[2022-03-25 10:59] marandaneto commented on #2146
I believe the right solution here would be to align the way how we capture events, which is what iOS does, on RN, we call the native bridge to get all device context and assemble the event on RN with already all the context, so this won't need to be done on Android, after the envelope is written to the disk, and because of that, breadcrumbs won't be duplicated.
This is a side-effect of this hacky

[2022-03-25 16:10] Yupeng-li commented on #2118
@marandaneto  Thank you for the update. I only tested on debug mode. I will test the release mode as soon as I have a chance.

[2022-03-25 16:38] lucas-zimerman commented on #2146
I agree with this solution

[2022-03-26 02:45] gegana opened #2164 "React Navigation Ref Object Can Change"
## Summary
This SDK has built in integration with React Navigation. A navigation ref object can actually change, but the integration does not take that into account. As such the subscriptions registered in [this code](https://github.com/getsentry/sentry-react-native/blob/4f97e940a96576457cd7a5b0c7acf884768ded07/src/js/tracing/reactnavigation.ts#L120-L127) no longer become effective, and Sentry.io

[2022-03-26 07:43] marandaneto commented on #2164
Thanks for the detailed report @gegana
We'll look into it.

[2022-03-28 00:32] Harjot1Singh commented on #2147
@jennmueng thanks for the response! `react-native` does have `promise@8.0.3` specified as a dependency, as seen here: https://github.com/shabados/mobile/blob/291b05784741a472c6291ebf54e1494f5b742d14/package-lock.json.

I'll manually install `promise` and see what happens.

[2022-03-28 12:05] pke opened #2176 "ANR in onTrimMemory for breadcrumbs"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native": "3.2.13

### Steps to Reproduce

When the Android app runs low on memory, the system tries to call "onTrimMemory" on all listening parts of the app.

I am getting this stacktrace, when Sentry tries to reduce the breadcrumbs:

[code]

I guess there is not much you can do about it?

Maybe i

[2022-03-28 18:28] jennmueng commented on #2164
@gegana I have not been able to reproduce an issue regarding navigation refs, tried a `useState` with an authenticated ternary like your example. But I see a couple issues with your code here, first you want to pass the ref and onReady to the `NavigationContainer` not the `Stack.Navigator`.

Also,
[code]
the useEffect would be called on every re-render because `navigation` will always be mutated (

[2022-03-28 18:28] #2164 closed

[2022-03-29 07:06] marandaneto commented on #2176
@pke thanks for raising, nothing we can do.
An improvement could be this: https://github.com/getsentry/sentry-java/issues/1398 and to provide a way to customize the interval as well, since people might want a higher or lower interval.

What you can do for now is to disable the crumbs if you want to:
https://docs.sentry.io/platforms/android/enriching-events/breadcrumbs/#disable-automatic-breadcrumb

[2022-03-29 07:06] #2176 closed

[2022-03-29 08:06] marandaneto commented on #2147
@Harjot1Singh let us know if that worked.

[2022-03-29 10:16] guptayush opened #2182 "(ANR) io.sentry.UncaughtExceptionHandlerIntegration$UncaughtExceptionHint.waitFlush"
### Environment

How do you use Sentry?
on-premise version 21.12.0

Which SDK and version?
"react": "^17.0.2",
 "react-native": "^0.66.4",
 "@sentry/react-native": "^3.3.2",

### Steps to Reproduce

Random ANRs mostly in Android 12
UncaughtExceptionHandlerIntegration.java line 156
io.sentry.UncaughtExceptionHandlerIntegration$UncaughtExceptionHint.waitFlush

### Stack trace

main (timed waiting):

[2022-03-29 12:07] marandaneto commented on #2182
@guptayush thanks for reporting.
Is there a way to reproduce it? how are you testing and getting this data? thanks.

[2022-03-29 14:41] TheTushar2696 commented on #2182
Hi @marandaneto,
We are unable to reproduce it , But this data is getting logged in Crashlytics

[2022-03-29 15:32] marandaneto commented on #2182
@guptayush Maybe the problem lives when using both crash reports at the very same time, since both SDKs need to rely on UncaughtExceptionHandler and have limited time to do stuff.
Can you check if this happens in specific versions of the Sentry SDK or Crashlytics SDK? It'd be hard to fix if we can't repro it.

[2022-03-29 19:27] Harjot1Singh commented on #2147
It did - might be to do with 8.0.3 vs 8.1.0?

[2022-03-29 22:38] jennmueng commented on #2036
@Domeee Do you know if you use any other library related to promises in your app? By default I can't see how we would be slowing down the performance by much as we only instrument promise rejections.

[2022-03-29 22:42] jennmueng commented on #2147
Shouldn't be, the `setimmediate/es6-extensions` file has been there for quite a long time.

[2022-03-29 22:57] jennmueng commented on #1345
@BatDroid @kesha-antonov @Chinocy Try wrapping your root app with a `Sentry.wrap` [like so](https://docs.sentry.io/platforms/react-native/#wrap-your-app) and please let me know if the issue is fixed?

[2022-03-30 01:00] gegana commented on #2164
Out of curiosity which React Navigation version did you use? In my example I used V5, I haven't tested the behavior with V6 yet.

I'm simply following the example [here](https://docs.sentry.io/platforms/react-native/performance/instrumentation/automatic-instrumentation/).

I'm pretty sure that is not how a useRef works, you get the same reference pointer, but you are right I made a typo in my exam

[2022-03-30 01:24] gegana commented on #2164
@marandaneto @jennmueng I have traced the issue in React Navigation https://github.com/react-navigation/react-navigation/issues/9213. It looks like it is a bug on their end, but it is still useful to mention it in the Sentry documentation in case there are users out there using v5.

[2022-03-30 06:22] marandaneto commented on #2147
Closing it since it's apparently an environmental issue.
I can't reproduce on a brand new app and installing `promise` fixed the issue anyway.

[2022-03-30 06:22] #2147 closed

[2022-03-30 06:25] marandaneto commented on #1345
@jennmueng let's keep it closed since we need a repro case for further investigation, which has been asked already 1y ago.
Please raise a new issue if necessary with a repro case since we cannot reproduce it locally.

[2022-03-30 06:25] #1345 closed

[2022-03-30 07:10] marandaneto commented on #2164
@gegana that's a very good point, thanks for coming back to us.

https://github.com/getsentry/sentry-docs/pull/4886/files
I've added an entry to our troubleshooting page.

[2022-03-30 08:06] Domeee commented on #2036
@jennmueng Thanks for reaching out. The only dependency that comes to mind is `"react-native-url-polyfill": "1.3.0"`. But I don't know if that lib patches anything related to promises.

[2022-03-30 08:22] marandaneto commented on #2036
@Domeee can you provide a minimal reproducible example that exemplifies this problem using `patchGlobalPromise` or not? I just want to be sure that this isn't an environmental in your setup, or if that would happen in any brand new project (fresh template), thanks.

[2022-03-30 09:35] TheTushar2696 commented on #2182
@marandaneto  We were always using both Sentry and Crashlytics, but this error stated popping in once we upgraded to sentry 3.x ,

[2022-03-31 16:20] gonchar commented on #2067
I've found a temp solution which works for me and well explains why is that happening in this article https://mgrebenets.github.io/xcode/2019/04/04/xcode-build-phases-and-environment
I used `/bin/sh -l`
becuase in my case Xcode path doesn't contain even /usr/local/bin

[2022-04-01 09:06] marandaneto commented on #2159
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-04-01 09:06] #2159 closed

[2022-04-01 09:14] marandaneto commented on #2182
We'll investigate if we're wrongly blocking at some point and not releasing it afterwards, it could be that Crashlytics detects a false positive ANR since Sentry is writing a file to the disk so the events don't get lost.

[2022-04-02 15:25] truongqt commented on #948
I fixed my problem: undo rename the project in: Project Settings / PROJECT DETAILS. Hope this help anyone.
<img width="799" alt="Screen Shot 2022-04-02 at 22 24 20" src="https://user-images.githubusercontent.com/7710076/161389954-0e8ab94c-b6bf-4f4f-a5ae-70b3f00a4ebc.png">

[2022-04-04 12:13] marandaneto opened #2194 "`Sentry.withProfiler` warns `Function components cannot be given refs`"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
RN SDK 3.4.0 and JS SDK 6.19.2

### Steps to Reproduce

Using React Native Navigation from Wix https://docs.sentry.io/platforms/react-native/performance/instrumentation/automatic-instrumentation/#react-native-navigation
Using React Profiler https://docs.sentry.io/platforms/javascript/guides/react/components/pro

[2022-04-04 12:16] #2194 closed

[2022-04-04 12:16] marandaneto commented on #2194
https://github.com/getsentry/sentry-javascript/issues/4843

[2022-04-04 13:59] rafael-fecha commented on #1765
any updates here ? I have the same issue with `"react-native": "0.67.4"` and `"@sentry/react-native": "3.4.0"`.

`No such file or directory (os error 2)` on Processing react-native sourcemaps for Sentry upload

[2022-04-04 14:05] eliw00d commented on #1765
Yes, actually! I finally figured this out a few months ago. Basically, our git branch names look something like `feat/TICKET/description` and Jenkins did not like any of the `/` in the workspace path. So, we had to do something like:

[code]

in our Jenkinsfile to get around it.

[2022-04-04 14:19] rafael-fecha opened #2195 "Source maps not being uploaded when hermes setting enabled"
### Environment
[code]

build.gradle
[code]

### Expected Result
Should upload correctly the source maps having hermes setting enabled

### Actual Result
Sentry upload source maps fails.

[code]

I checked on the folder and it is only there `index.android.bundle.packager.map` and not` index.android.bundle.map` as expected. Probably the compile to bytecode using hermes step and the merge of the two

[2022-04-04 15:53] rafael-fecha commented on #2195
I forgot to mention that I'm using productFlavors, did you try it out with that as well ?

[2022-04-04 16:16] marandaneto commented on #2195
@rafael-fecha minimal reproducible example could be as simple as an RN template only with sentry, so I can build and reproduce the issue.
No, I've not tried to reproduce it with flavors.

[2022-04-04 16:43] marandaneto commented on #2195
@rafael-fecha what's the command you are calling to build all the flavors?

[2022-04-04 18:33] rafael-fecha commented on #2195
Just with. the standard e.g ./gradlew assembleBetaRelease or selecting variant and build on android studio, which will have the same behavior.

Bellow you can check some logs from the gradle task.

[code]

[code]

[code]

[2022-04-04 19:10] marandaneto commented on #2087
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-04-05 07:33] marandaneto commented on #2195
@rafael-fecha I've just tried here, upload worked fine and the event got symbolicated as well, it must be something related to your pipeline or flavors configuration? please provide a minimal reproducible example.

[2022-04-06 06:22] jennmueng commented on #2036
@Domeee A minimal reproducable example would be perfect, been trying to reproduce this with multiple tries and see no noticable difference. Do you have a promise in a `useEffect` in a screen or something and it occurs there I assume? Or does this occur on every screen transition?

[2022-04-06 12:09] marandaneto commented on #2080
@lobsterkatie or @AbhiPrasad Since this relies on the browser SDK, do you have any ideas on how to fix this? thanks.

[2022-04-06 12:56] rafael-fecha commented on #2195
hey @marandaneto thanks for you help ! in the end the problem was that I was using `hermesFlagsForVariant`, when I removed this everything worked as expected. It looks like when defining hermesFlagsForVariant some code is not executed on react.gradle https://github.com/facebook/react-native/blob/main/react.gradle#L11

From my side, you can close the ticket, thanks again !

[2022-04-06 13:35] marandaneto commented on #2195
Thanks for the feedback, I will check what's the issue with `hermesFlagsForVariant`

[2022-04-06 14:44] JeffPatricio commented on #948
Best solution, it worked for me, thank you very much

[2022-04-06 20:46] marandaneto commented on #2080
Thanks @AbhiPrasad

[2022-04-08 16:39] gillpeacegood commented on #1407
Hi is it possible you could give more info about how to construct or import the rewriteFramesIntergation

[2022-04-11 14:15] fabiendem opened #2208 "Capturing native crashes that occur prior to the init method and setting up performance tracking"
Hello,

In our React Native app, we've currently setup Sentry using the standard method:
- Auto linking
- Configuration at the JS level: https://docs.sentry.io/platforms/react-native/configuration/options/

Nevertheless, at https://docs.sentry.io/platforms/react-native/manual-setup/native-init/

It is said:

We just ran into such an issue, where a crash occurring before the `init` method was not r

[2022-04-11 14:48] marandaneto commented on #2208
https://docs.sentry.io/platforms/react-native/manual-setup/native-init/

You can install and init the Native SDKs and also init the RN SDK using the `autoInitializeNativeSdk`, so you can init all the SDKs based on your own configuration.

[2022-04-11 14:48] #2208 closed

[2022-04-11 17:02] marandaneto commented on #2208
@fabiendem every option should be documented either here https://docs.sentry.io/platforms/react-native/configuration/options/#hybrid-sdk-options or in the code itself, reading the property docs.
I'm not sure I understand your question, the RN SDK uses the default values when initing the Native SDKs, if using `autoInitializeNativeSdk`, it means we don't init the Native SDK ourselves, so you should

[2022-04-11 17:11] fabiendem commented on #2208
Thanks, what I am trying to understand is which properties are a hard requirement at the native layer if I setup the SDK at the native layer manually.
And which ones I can tweak later at the JS Layer.
I think I need to give it a go at this point and it will get clearer.

[2022-04-11 21:43] arekm213 commented on #2087
I'm having similar issue to this using `"@sentry/react-native": "3.4.0"`, @kopax-polyconseil were you able to fix it somehow?

[2022-04-12 17:28] jetre219 opened #2209 "Send user ID on Android native crash"
Hi! We've been using Sentry on our react-native app for a few months now and lately, we realized that sometimes the `userId` is not set correctly on Android native crash. We found out that it was because sentry would assign an [installation id](https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/Installation.java#L32) when nothing is assigned

[2022-04-12 20:32] jennmueng commented on #2065
@ludwig-pro The transaction you were looking at in the screenshot above seems to be sent from the iOS native layer, and the profiler will only attach spans to transactions sent from the JS layer, are you getting any transactions sent from the routing instrumentation for react-native-navigation? If yes, can I please see that one? Thanks!

[2022-04-13 08:19] marandaneto commented on #2209
@jetre219 You don't need to patch the SDK plugin for that.
You can init the RN SDK and set a user after init https://docs.sentry.io/platforms/react-native/enriching-events/identify-user/
I also recommend enabling the `NDK scope sync` feature https://docs.sentry.io/platforms/react-native/enriching-events/scopes/#scope-synchronization
The user set on the JS layer is also going to be set on Java/Kotl

[2022-04-13 08:19] #2209 closed

[2022-04-13 12:22] Yupeng-li commented on #2118
Hi @marandaneto, sorry for the late reply. I tested with the release version and it worked well as expected.  Thank you for the help.

![image](https://user-images.githubusercontent.com/31921080/163178597-ac707719-890a-4d00-9785-1ceb37826a98.png)

[2022-04-13 15:13] marandaneto opened #2210 "Report top level integrations on RN"
Similar to https://github.com/getsentry/sentry-java/issues/1989 but we already send all the integrations.
It'd be useful to also send the routing libraries etc that are added manually, so we can learn the usage of it.

[2022-04-13 21:41] jennmueng commented on #2087
The issue that was happening here was that the sourcemaps themselves were malformed and was not due to a bug on Sentry. Have been able to reproduce it with the provided bundle and sourcemaps but I do not have a reproducible app example so I have no idea what's causing it.

For future reference, here is how you manually symbolicate a React Native stacktrace to debug: https://reactnative.dev/docs/0.

[2022-04-13 21:46] kopax-polyconseil commented on #2087
Hello, we have the reproduction in our backlog and it should be priorized
in the next month.

Also we did already follow the documentation and have a configuration
builded from it, there is likely an issue with sentry or Hermes source maps.

On Wed, Apr 13, 2022, 11:41 PM Jenn Mueng ***@***.***> wrote:

[2022-04-14 14:09] beqramo opened #2211 "I see tones of <unlabeled event> on Sentry dashboard beside other events"
### Environment

How do you use Sentry?

I was using the default initialisation pattern, but sometimes I was getting tones of  `<unlabeled event>` events on the dashboard, slowly I started to filter errors before sending, but no result and I continued to keep adding ways to filter it and I reached stupid logic level :))).

THIS LOGIC IS DISGUSTING I KNOW BUT I HAVE NO OTHER WAYS TO TRY AND FILTER

[2022-04-18 06:20] jennmueng commented on #2211
@beqramo I think the unlabeled event name is coming from when the event is ingested with no name so filtering it this way wouldn't work.

This seems interesting, my initial sense to debug this is:
1. If you reduce your Sentry.init to just:
[code]
does this issue still occur?
2. If it does, if you then do
[code]
does this still occur?

Anyways those were my initial thoughts on debugging this, to ma

[2022-04-18 09:27] meetzaveri commented on #794
For me, adding `instrument.ts` to "Ignore Lists" in chrome devtools settings worked.

[2022-04-18 14:22] lucas-zimerman commented on #1436
I got something similar on Cordova that got fixed when I solved the warnings (I think it was fixed by updating the minimun iOS version.)

[2022-04-18 19:46] francescov1 opened #2213 "Cannot set release manually in native iOS"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
- @sentry/react-native 3.1.1
- react-native 0.64.2

### Steps to Reproduce

We initialize the Sentry SDK on the native side to catch crashes that occur before JS is initialized. We noticed that the native initialization is auto generating a release, rather than using the release we pass to the JS initialization

[2022-04-19 06:36] guptayush commented on #2182
@marandaneto any update on this ANR?

[2022-04-19 09:10] marandaneto commented on #2211
That could happen if the event has no exception nor a message, @beqramo are you calling `Sentry.captureMessage(x)` or `Sentry.captureException(x)` where `x` can be null?

[2022-04-19 09:23] marandaneto commented on #2213
@francescov1 its called `releaseName` on iOS since `release` is a reserved word.

[2022-04-19 09:23] #2213 closed

[2022-04-19 09:33] marandaneto commented on #2182
Not really, I believe it could come from here https://github.com/getsentry/sentry-java/blob/ee4bae901f552e1f49435d18f2cc0d44956c7b81/sentry/src/main/java/io/sentry/SentryOptions.java#L67-L72
since the SDK awaits up to this time before letting the process be killed.

You can try to reduce this timeout for now and see if that improves.

I've tried to reproduce it (without Crashlytics) but only with

[2022-04-19 10:07] beqramo commented on #2211
Thanks, will see today and will tell you for sure

[2022-04-19 16:29] marandaneto commented on #2213
Indeed, https://docs.sentry.io/platforms/apple/guides/ios/configuration/options/#release should have the right name.
@philipphofmann mind fixing it?

[2022-04-19 18:29] biomancer commented on #1350
In my case adding --force-foreground did not help, but removing NODE_ARGS environment variable did — https://github.com/getsentry/sentry-cli/issues/1039

[2022-04-19 22:24] beqramo commented on #2211
this is one of the issue link: https://sentry.io/organizations/gerald-technologies-inc/issues/2555192257/?project=5727798&query=&statsPeriod=14d

[2022-04-19 22:28] beqramo commented on #2211
@marandaneto  will comment on all of the use cases and will test them.
now I will close it maybe testing will take some time and if anything I will reopen it

Thank you!

[2022-04-19 22:28] #2211 closed

[2022-04-20 08:33] shubhnik opened #2214 "Incorrect grouping of in-app exceptions logged via "captureException" method"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "3.2.10"

### Steps to Reproduce

1. Capture exceptions via `captureException` method of Sentry SDK. We are capturing API errors from a common middleware like this:
[code]
2. Different errors are grouped together on Sentry dashboard.

### Expected Result
Since stacktrace for different er

[2022-04-20 10:05] philipphofmann commented on #2213
PR is open https://github.com/getsentry/sentry-docs/pull/4953.

[2022-04-20 18:12] shubhnik commented on #2214
@marandaneto one another project in our org does nothing extra and their in-app exceptions are perfectly grouped via exception value and not exception stack trace. Can you think of anything that could be causing the issue on our side?
<img width="1073" alt="Screenshot 2022-04-20 at 11 40 51 PM" src="https://user-images.githubusercontent.com/9150371/164295383-b443cd06-eea1-4a12-ac34-cdad9d027d1d.pn

[2022-04-21 08:56] aitorct commented on #1830
We are getting a huge amount of OOM events reported after upgrading from 3.1.1 to 3.4.0. 😞
As discussed in the thread, we are also using OTA updates in the app through EAS update, but we checked and it also happens in versions with no JS bundle updates deployed, although with way less impact.

[2022-04-21 12:22] jkadamczyk commented on #1921
Hey @marandaneto how's it going?

I noticed that we have the same problem with Sentry Performance still.
Our app is open source so you should be able to easily see the config we have here https://github.com/rainbow-me/rainbow/blob/5c8b168d4af9d1a75c3761455593d250e3d98946/src/App.js#L110

I tracked down the issue with E2E tests and it seems like React Navigation instrumentation is the problem here.

[2022-04-21 20:20] BrodaNoel commented on #1830
Same thing here.

[2022-04-22 11:24] philipphofmann commented on #1830
From `3.1.1` to `3.4.0` we did the following improvements for the Cocoa SDK on OOM:

- https://github.com/getsentry/sentry-cocoa/pull/1695
- https://github.com/getsentry/sentry-cocoa/pull/1487
- https://github.com/getsentry/sentry-cocoa/pull/1651
- https://github.com/getsentry/sentry-cocoa/pull/1648

Maybe OTA updates use exit(0) to force an app to restart. @aitorct, I don't know how OTA looks fro

[2022-04-22 13:02] BrodaNoel commented on #1830
I have _expo-updates_ added as package but in my config file the OTA updates are forced to be disabled

[2022-04-22 13:41] aitorct commented on #1830
The app can be manually reloaded after receiving an OTA update.
I've been in touch with the Expo team and discussed a bit about this issue. I got told `expo-updates` does not use `exit(0)`.

[2022-04-22 15:17] BrodaNoel commented on #1830
I don't manually use OTA to refresh. I always create a new build and deploy to App Stores.

Maaaaaybe (which would be a BIG bug), some dependency I have is doing it. But I don't think so.

[2022-04-24 06:16] mahipalsingh-syt opened #2215 "Application Crash on Launch in Samsung Device"
Application Crash on Launch in Samsung Device  and if i run application without Sentry then it working fine.

Samsung Device :
Android OS: 8
Model: Samsung Galaxy S7

React Native: 0.68
"@sentry/react-native": "^3.4.1",
 "react-native": "0.68.0",

 Gradle:
 ext {
        buildToolsVersion = "30.0.2"
        minSdkVersion = 23
        compileSdkVersion = 31
        targetSdkVersion = 31
        mul

[2022-04-25 08:20] marandaneto commented on #2215
@mahipalsingh-syt have you tried the rebuild the App and try again? it crashed while initing the Sentry SDK but seems more like a broken build.
I can't reproduce that locally but I don't have this device specifically, mind providing a minimal reproduction example? thanks

[2022-04-25 08:30] mahipalsingh-syt commented on #2215
@marandaneto Yes i tried with all settings (Cleaning cache and rebuilding) but still same issue i facing

today i tried with Samsung A10 Android 9.0 (Api 28), it working But not working with Model: Samsung Galaxy S7 Android 8.0 (Api 26)

i created all these Samsung device with GenyMotion software.

[2022-04-25 12:19] Deodes opened #2217 "[Question] How Sentry use beforeSend?"
**OS:**
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

**Platform:**
- [X]  iOS
- [X]  Android

**SDK:**
- [X]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 3.2.8

**`react-native` version:** 0.66.4

**Are you using Expo?**
- [ ]  Yes
- [X]  No

**Are you using sentry.io or on-premise?**
- [X]  sentry.io (SaaS)
- [ ]  on-premise

**Configuration:**

(`@se

[2022-04-25 12:35] marandaneto commented on #2217
You can disable the OOM tracking as well: https://docs.sentry.io/platforms/react-native/configuration/options/#enableOutOfMemoryTracking

For filtering, you can follow up on the docs https://docs.sentry.io/platforms/react-native/configuration/filtering/
You cannot use an `async` function since it needs to return a valid value from this callback.

[2022-04-25 12:35] #2217 closed

[2022-04-25 18:00] dannydi12 commented on #794
I was wondering the same thing... @barthicus is this the case?

[2022-04-25 18:27] barthicus commented on #794
@dannydi12 @amritk  Hmm, console logs by default shouldn't be send to Sentry AFAIK.
As I can see in docs in order to enable sending logs when `console.log` occurs you would have to implement the **CaptureConsole** integration first: https://docs.sentry.io/platforms/javascript/configuration/integrations/plugin/#captureconsole

Then you can set which type of logs you want to send to Sentry.
Even if

[2022-04-26 12:15] adinauer opened #2218 "Align SDK with docs regarding session update for dropped events"
We've updated the docs (https://github.com/getsentry/develop/pull/551) to explain how we would like to handle event filter order, updating of sessions for dropped events and sending of session updates. We should check if we're aligned and adapt if necessary. Here's the issue from the Java SDK where all of this started: https://github.com/getsentry/sentry-java/issues/1916

[2022-04-26 12:51] marandaneto commented on #2218
The RN SDK uses the Android and iOS SDK for that, no need to change it here.

[2022-04-26 12:51] #2218 closed

[2022-04-26 12:56] lucas-zimerman opened #2219 "Missing in_app from RewriteFrames ?"
I noticed on Sentry Capacitor that RewriteFrames sets the property in_app
https://github.com/getsentry/sentry-capacitor/blob/7fd3c71be4835782595ad590818b24435b66a50e/src/sdk.ts#L45-L72

Where on React Native, in_app is not touched
https://github.com/getsentry/sentry-react-native/blob/f916f2b3afbb9884f9037b8486539ca6cc8b327c/src/js/sdk.tsx#L72-L93

This is more of a question on why React Native doe

[2022-04-27 10:36] marandaneto commented on #2215
@mahipalsingh-syt I just have tested with GenyMotion and both emulators (A10 API 28 and S7 API 26) and everything worked out, it should be something else in your environment?

Please provide a minimal reproduction example, thanks.

[2022-04-27 12:38] marandaneto commented on #1937
Likely related to https://github.com/facebook/metro/issues/399

[2022-04-27 13:22] andyl-ioki commented on #1493
Hej peoples,

tried around with Sentry and Codepush and thought to a solution like:
1. Init Sentry without codepush
2. Init Sentry **again** with codepush data

[code]

Could have some side effects? At least it looks kind of hacky to me.
Is Sentry using some kind of Singleton under the hood?

Thanks so far 👍
Andy

[2022-04-27 18:02] Suesanz opened #2224 "Incorrect cold app startup time on JS bundle reload on Android"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native: 3.4.1
react-native: 0.68.1

The issue is for Android only. AFAIK for iOS it works fine.

### Steps to Reproduce

1. Make sure the app is not running in the background and open the app. Now cold startup time will be attached as a span when routing instrumentation is enabled. Now wait for a

[2022-04-28 04:57] mahipalsingh-syt commented on #2215
@marandaneto  i have create a fresh project using  `npx react-native init AwesomeProject` and then i install sentry in that but still same issue with

Android OS: 8.0.0 (Api 26)
Model: Samsung Galaxy S7

Here i have setup details :

"dependencies": {
    "@sentry/react-native": "^3.4.1",
    "react": "17.0.2",
    "react-native": "0.68.1",
    "react-native-device-info": "^8.7.0"
  },

  npm: '8.7

[2022-04-28 06:14] marandaneto commented on #2215
@mahipalsingh-syt afaik you can't use Java 18 to build an Android project yet, but only Java 8 or 11, can you try with one of these 2?

[2022-04-28 09:45] marandaneto commented on #2224
@jennmueng would you like to double-check this? thanks.

[2022-04-28 13:43] mahipalsingh-syt commented on #2215
@marandaneto  working with JAVA_SDK_11 but i'm wondering all the versions(>27) are working perfectly with JDK_18. So why lower versions are not working?

[2022-04-28 14:06] marandaneto commented on #2215
The Android OS supports only Java 8 or 11 for now, so I can't do much about it.

[2022-04-28 14:06] #2215 closed

[2022-04-28 15:53] kopax-polyconseil commented on #2087
Hello, as stated before, we have prepared a minimal reproduction here : https://github.com/pass-culture/pass-culture-app-native/pull/2917

You can test it straight using this script:

[code]

- Everyone can now build it.
- I can still remove some more code but 99% of the app disappeared

To generate a sentry error :

1. press `Tout passer` in the upper right corner :
![image](https://user-images.g

[2022-04-29 07:11] marandaneto commented on #2087
@kopax-polyconseil This is not a [minimal reproduction example](https://stackoverflow.com/help/minimal-reproducible-example) but I will try to run it early next week, If I run into troubles because of your environment, I will need an empty-template project with Sentry demonstrating the problem as requested before.

[2022-04-29 07:54] kopax-polyconseil commented on #2087
Hello @marandaneto , I have tested in an empty environment and it can run, all the keys are here. Also, I am starting today a latest create react native app with latest dependency and selfhosted then sentry.io project, to check if the problem persist, as you requested before. I hope all of these configuration will help us understand where it is failing soon.

[2022-04-29 08:04] marandaneto commented on #2036
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-04-29 08:04] #2036 closed

[2022-04-29 08:04] #2065 closed

[2022-04-29 11:19] garethknowles commented on #1830
We've noticed the same issue when upgrading `3.2.3` to `3.4.0` - a massive increase of OutOfMemory errors on iOS.

We can reproduce the error ourselves by force-quitting the app, this is then being reported as `OutOfMemory` and sent to sentry on the next app start.

[2022-04-29 12:18] marandaneto commented on #1558
Similar to https://github.com/getsentry/sentry-dart/issues/416

[2022-04-29 12:27] marandaneto opened #2226 "Investigate the RN new architecture"
https://reactnative.dev/docs/next/new-architecture-intro#table-of-contents

The goal is to identify breaking changes with the current Sentry RN SDK.
Consider upgrading to the latest stable version as well https://react-native-community.github.io/upgrade-helper/?from=0.66.2&to=0.68.1
https://reactnative.dev/blog/2022/06/16/resources-migrating-your-react-native-library-to-the-new-architecture

[Docs

[2022-04-29 12:37] marandaneto commented on #1830
Relates to https://github.com/getsentry/sentry-cocoa/issues/1618
@garethknowles by `force-quitting` do you mean directly in the IDE right?

[2022-04-29 12:41] marandaneto commented on #1830
@philipphofmann let's add both to the heuristics docs, the force quitting by the IDE and the exit(0), https://github.com/getsentry/sentry-docs/issues/4350
The OTA update, I will investigate again.

[2022-04-29 12:43] kopax-polyconseil commented on #2087
Hi @marandaneto , I just created a minimal reproduction example starting from scratch using the latest tools and I got the same result on a self hosted instance. I will start the test on sentry.io but I doubt result will be different.

## Reproduction latest minimal case

[code]

## Result in `__DEV__`

![image](https://user-images.githubusercontent.com/77674046/165946433-e384a21b-6deb-42b0-97e9-3

[2022-04-29 14:12] kopax-polyconseil commented on #2087
For info, I also created a reproduction using sentry.io instead of self hosted:

[code]

This reproduction crash upon startup when builded (dev works ok)

[2022-04-29 16:39] shamilovtim opened #2227 "Source maps are not attaching to issues even with manual uploads - Hermes iOS & Android"
### Environment

How do you use Sentry?
SAAS

Which SDK and version?
Using latest react native sentry

### Steps to Reproduce

1. I made sure that the gradle plugin and iOS build phase is installed
2. I followed every guide on the website up to and including manual uploads:
 - I checked to make sure the bundle is named the same as the error trace.
 - I made sure the dist and the release name of my

[2022-04-30 07:26] marandaneto commented on #2087
@kopax-polyconseil I will only check the source code issue, the crash on start is likely your environment since it works for all the other cases, so please double-check it and fix the issue, otherwise, I won't be able to run your example.

[2022-04-30 18:21] aesqe commented on #1773
Thank you so much for this @zyzo! I'm not sure if this is mentioned somewhere in the documentation, but it really should be.

[2022-04-30 21:30] shamilovtim opened #2228 "Can users remove or override console to NOOP while using Sentry RN?"
I'm wondering about using the [babel plugin](https://babeljs.io/docs/en/babel-plugin-transform-remove-console/) to strip console methods or to do:

[code]

Would either approach mess with Sentry at all or is it ok? Thanks!

[2022-05-02 05:52] jennmueng commented on #2224
Reproduced and found the source of this issue, the boolean flag we set on Android `didFetchAppStart` seems to be reset to false when the React Native JS bundle is reloaded, unlike on iOS where it's not reset.

https://github.com/getsentry/sentry-react-native/blob/42685267ea9dc40a58b73d018550e3fc195cff5e/android/src/main/java/io/sentry/react/RNSentryModule.java#L58

https://github.com/getsentry/sen

[2022-05-02 06:32] Suesanz commented on #2224
@jennmueng Yes, with your changes in #2229, `didFetchAppStart` is updating correctly. Thanks, folks for resolving this.

@marandaneto Is there a way to delete the previous metrics captured on the sentry dashboard? We have accumulated a significant amount of incorrect metrics on the dashboard for the app startup time which is affecting the average metric.

[2022-05-02 07:53] kopax-polyconseil commented on #2087
@marandaneto I did 3 reproduction

1. A reduced pass Culture application with our self-hosted Sentry.
1. A new react-native app pass Culture application with our self-hosted Sentry.
1. A new react-native app pass Culture application with not a self-hosted Sentry (sentry.io).

If (3) can't run, it is still the same source code as (2), and (1) and (2) are similar in term of problem. So I don't under

[2022-05-02 15:17] kopax-polyconseil commented on #2087
So after checkin the 3rd reproduction it is now working, I needed to change the build apk commande from `./gradlew assemble` to `./gradlew assembleRelease`

Here is a sentry.io error which also have unfortunately the same problem as the self hosted :  https://sentry.io/organizations/pass-cultureu/issues/3243092397/?project=6212953&query=is%3Aunresolved+V09ST&statsPeriod=14d

[2022-05-02 17:46] aschultz commented on #1407
@gillpeacegood This is what we have for that function:

[code]

[2022-05-02 18:51] alexkendall commented on #970
Same exact issue here.

[2022-05-03 02:49] hdsenevi commented on #1327
Would you consider making the source for this bridge module publicly available? I'm trying to do the same and hit some roadblocks with regards to bridging functionality.

[2022-05-03 15:18] alexkendall opened #2239 "Adding source map references error: project not found"
### Environment

How do you use Sentry?
To catch react-native JS errors .

Which SDK and version?
@sentry/react-native": "^3.4.1

### Steps to Reproduce
Generate an archive of my app through XCode or Fastlane.

### Expected Result

Archive would succeed without errors.

### Actual Result

Processing react-native sourcemaps for Sentry upload.

error: project not found

[2022-05-03 15:48] alexkendall commented on #2239
Figured out the issue.

Someone in my organization name changes our Sentry account organization name, which caused an issue with the sentry properties files.

Fixed now. Closing.

[2022-05-03 15:48] #2239 closed

[2022-05-03 20:07] #2224 closed

[2022-05-03 20:09] marandaneto commented on #2224
I don't think there's a way to delete it, but the metrics are calculated over the selected time, so as soon as people start updating their Apps with the new version of the SDK, the data is gonna get more accurate, sorry about that.

[2022-05-04 18:29] marandaneto commented on #2227
@shamilovtim if I create an empty project, using the RN template, using Hermes, adding Sentry, and compiling it, it works.
Can you provide a minimal reproduction example? Thanks.

[2022-05-04 18:33] marandaneto commented on #2228
@shamilovtim I'm not entirely sure if you want to avoid logging into the console, not capturing events on Sentry or even not adding logs as breadcrumbs.
Can you elaborate?

[2022-05-04 23:33] shamilovtim commented on #2228
Sorry, I don't understand. I'm asking if I override and disable our console via babel or pointing it to NOOP if it will mess up Sentry?

[2022-05-05 07:47] jonathanj opened #2242 "Cannot add task 'bundleAppReleaseJsAndAssets_SentryUpload_1048821' as a task with that name already exists."
As a follow-on to #1226, and to answer [the question](https://github.com/getsentry/sentry-react-native/issues/1226#issuecomment-964924954) about special configuration:

In our application we're using [APK splitting](https://developer.android.com/studio/build/configure-apk-splits), both by density and by ABI. From the documentation:

The result of this is that each `applicationVariant.outputs` cont

[2022-05-06 13:04] rafauke opened #2243 "`sentry.io` is down => cannot upload source maps => 💣"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
[code]

### Steps to Reproduce

1. Trying to build RN app
2. It fails when trying to upload source maps
3. trying to `curl -v https://sentry.io`

[code]

4. Trying different internet connection
5. Trying different computer
6. Trying VPN

### Expected Result

See successful green messages :)

What actually happe

[2022-05-06 14:11] mutablestudio commented on #2243
I'm seeing this all day today, not yesterday though. Building with XCode and failing during step Upload Debug Symbols to Sentry. Reverted from `"@sentry/react-native": "^3.4.2"` to `3.2.12`, just as a test, and uploading of maps during Upload Debug Symbols to Sentry worked again. Perhaps an issue with the latest version and the cli.

[2022-05-06 14:12] marandaneto commented on #2228
@shamilovtim nope, Sentry won't be able to capture events logged by the console, but if you are disabling it, that's probably what you want, so all good.

[2022-05-06 14:12] #2228 closed

[2022-05-06 17:28] marandaneto commented on #2243
We have an Incident going on, sorry about that.
https://status.sentry.io/incidents/zwlnckpsrb6l

[2022-05-06 17:55] ToshKoevoets commented on #2243
@marandaneto The point is not only the incident. It blocks complete app from starting even in development mode where it's not necessary at all. It would be great to have a parameter to turn of Sentry build, now I have to completely uninstall Sentry just to get my app running and do some work.

[2022-05-06 18:02] marandaneto commented on #2243
@ToshKoevoets you can run debug mode which does nothing or comment out the integrations that communicate with Sentry during build time.

Android:
https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#enable-gradle-integration

iOS:
https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#bundle-react-native-code-and-images
https://docs.sentry.io/platforms/react-n

[2022-05-06 19:54] marandaneto commented on #2243
Closing it since the incident is resolved.
https://github.com/getsentry/mobile-team-meta/issues/3 is created for improving the SDKs and plugins in case of outages.

[2022-05-06 19:54] #2243 closed

[2022-05-07 06:25] jonathanj commented on #2242
@marandaneto Awareness of flavours wouldn't specifically help in this case because there are multiple variant outputs per flavour. As I understand it,  flavour awareness does not imply ABI/density split awareness.

[2022-05-08 11:32] mklsk commented on #500
Expressing interest in this feature as well!

[2022-05-08 19:00] bwoodlt commented on #948
Worked for me

Nice one man! Worked for me!

[2022-05-09 06:57] DuduSorbet commented on #1139
Having the same issue, removed Sentry from my project but the 'project.pbxproj' file still contains a lot of 'Sentry' mentions.
Could not use 'npx react-native unlink @sentry/react-native' probably because of new version of react native that not requires to link/unlink libraries.

did:
npm uninstall @sentry/react-native
And manually deleted ios/sentry.properties & android/sentry.properties
Then I

[2022-05-09 07:50] c-emil commented on #578
It happened to me when sentry.io server was down. When it was up, the build succeeded.

[2022-05-09 20:00] witalobenicio opened #2244 "Correct way to deploy ReactNative + CodePush + Hermes to Sentry"
When I send codepush bundle to sentry, it gives me the correct error, but the wrong line of code.
If I press "Minified" it show me what method throwed the error, but using bundle its not correct.

How is the correct way to upload when using CodePush and Hermes enabled?
Can we use the same way when sending an app to PlayStore and AppStore (native build)?

### Environment

How do you use Sentry?
sel

[2022-05-10 08:13] marandaneto commented on #2244
@witalobenicio have you checked the docs page for CodePush and Hermes?

https://docs.sentry.io/platforms/react-native/manual-setup/hermes/
https://docs.sentry.io/platforms/react-native/manual-setup/codepush/

Which version of the Sentry self-hosted are you running? What's the version of the SDK? Can you provide a minimal reproduction example? thanks.

[2022-05-10 10:57] witalobenicio commented on #2244
@marandaneto that's the problem. The docs doesn't say anything about CodePush and Hermes in the same process, only docs for separate ones.
If I release a codePush bundle with hermes, how is the correct approach?

Another question...if I'm building an app to go to AppStore (only native build without codepush), I would have to use this docs (https://docs.sentry.io/platforms/react-native/manual-setup

[2022-05-10 11:30] witalobenicio commented on #2244
@sentry/react-native: 3.4.0
self hosted is latest

[2022-05-10 13:19] witalobenicio commented on #2244
You can check an example in [this issue](https://sentry.meutudo.app/share/issue/6466a81b4e19422ebe5704f2069b4087/)

If you see the original it points to wrong line of code, and if you click on Minified, it shows the correct location `getFilteredResult`.

I thought it was because I was using codepush bundle in a native bundle. I've manually uploaded following [this doc](https://docs.sentry.io/platf

[2022-05-10 14:58] witalobenicio commented on #2244
@marandaneto nope. RAM bundles are disabled.

[2022-05-10 15:24] witalobenicio commented on #2244
@marandaneto for some reason iOS stoped showing correct line/files locations too. Sometimes it crash in same place and show correct line/file and other time in same crash doesn't show.

[2022-05-10 15:26] marandaneto commented on #2244
If you are uploading source maps to the very same `release` and `dist`, could be caching on the server, always test it out with a new `release` and `dist` in case you want to test things right away.

[2022-05-10 19:53] vconti-alfi commented on #479
Yes this should not be closed, this still happening when installing and using sentry:

`Require cycle: node_modules/react-native/Libraries/Network/fetch.js -> node_modules/whatwg-fetch/dist/fetch.umd.js -> node_modules/react-native/Libraries/Network/fetch.js`

[2022-05-11 06:59] guptayush commented on #1043
@marandaneto We are getting around 80k events daily and because of this our crash free user rate is very low.
http://sentry.gamezy.com/share/issue/7f919b43e7ab46848ac9ed14a5d60ce5/

We are using hermed still getting events
Is there any way to ignore these events for crash free rate??

<img width="1557" alt="Screenshot 2022-05-11 at 12 26 44 PM" src="https://user-images.githubusercontent.com/343686

[2022-05-11 09:16] marandaneto commented on #1043
@guptayush that's a different issue, it's a `unity` crash and you've not uploaded debug symbols for that, https://docs.sentry.io/platforms/react-native/upload-debug/
Sentry can only symbolicate if it has debug symbols otherwise it's `unknown`.
By default Sentry uploads only source maps, but native debug symbols you should do it manually.

[2022-05-11 09:29] marandaneto commented on #479
https://github.com/getsentry/sentry-react-native/issues/2080 is being tracked there, this is just a warning, though it does not harm the app.

[2022-05-11 09:31] marandaneto commented on #1043
Please raise a new issue with more context if you are still experiencing this issue, ideally with a minimal reproduction example, also upload native debug symbols https://docs.sentry.io/platforms/react-native/upload-debug/ otherwise sentry can't symbolicate the events.

[2022-05-11 09:41] marandaneto commented on #1139
Besides removing `@sentry/react-native` and its dependencies, all the imports and calls to the Sentry SDK in your code, you have to undo the patched files for automatic source maps upload https://docs.sentry.io/platforms/react-native/sourcemaps/#2-disable-the-automatic-source-maps-upload-script
Nothing else should be needed.

[2022-05-11 09:55] marandaneto commented on #2242
@jonathanj makes sense, can you share your split configuration so I can try to reproduce it? thanks.
A minimal reproduction example would be that helpful but in case a simple code snippet does, that would be enough.

[2022-05-11 09:58] nguyenthanhtruongntt85 opened #2245 "Illegal null value provided in this collection"
**Version**
"react-native": "0.63.4",
"@sentry/react-native": "3.2.3",

**in android/app/build.gradle**

project.ext.sentryCli = [
        logLevel: "debug",
        flavorAware: true
]
apply from: "../../node_modules/@sentry/react-native/sentry.gradle"

**Sync gradle error**

Caused by: java.lang.IllegalArgumentException: Illegal null value provided in this collection: [--log-level, debug, --url,

[2022-05-11 10:52] #2245 closed

[2022-05-11 21:47] scarlac commented on #1921
I solved this by disabling stall tracking. You can do so conditionally if you only run tests locally:
[code]

[2022-05-12 05:22] jennmueng commented on #2087
@kopax-polyconseil @marandaneto I apologize for the delay, I finally finished my finals.

Anyways, I've reproduced the issue with the bad source maps, however, I found that if I use the source maps that are automatically generated by our react native build scripts those work perfectly. Upon further investigation I found that the bundle output from the build script is correct, however when you manu

[2022-05-12 09:25] marandaneto commented on #1921
Sorry delay, What if we document that on the https://docs.sentry.io/platforms/react-native/troubleshooting/ page? Telling you to disable those integrations during tests.

I don't think we can do much in the SDK itself, the implementation relies on those timers, and we can't detect automatically if you are running a test or not.

[2022-05-12 23:56] owjsub commented on #2087
I was able to get sourcemaps working for a manually built jsbundle w/ hermes enabled for Android used for Code Push with these steps

1. When building the jsbundle manually w/ hermes for Android, I used the exact same build and sourcemap steps for hermes as seen in [node_modules/react-native/react.gradle](https://github.com/facebook/react-native/blob/v0.68.1/react.gradle). The steps are generally

[2022-05-13 00:01] kopax-polyconseil commented on #2087
Ho @jennmueng and thanks for your investigation. We use codepush so it's a necessity for us to build and upload out sourcemap manually.

I understand the 2nd point but I really don't get what you did to make it work on your 1st point.

Why did it work ? Is this a solution ? Would you mind sharing a reproduction or should I try on my own to get the same result ?

What are the next steps ? Thanks ag

[2022-05-13 00:06] owjsub commented on #2087
This is my approach to manually building the jsbundle w/ hermes for Android. Source maps was working for me with this:

[code]

[2022-05-13 05:34] jennmueng commented on #2087
@kopax-polyconseil Ok, after further testing and trying out @owjsub's process I have found the solution to get the sourcemaps on your reproduction to work.

1. You want to pass `--minify false` to the first bundle script, without it, after composing it seems to generate malformed source maps
2. You want to upload the `index.android.bundle.hbc` as your bundle, the artifact on Sentry dashboard showi

[2022-05-13 07:52] kopax-polyconseil commented on #2087
Thanks, I am not sure what way to try first, but I bet I should test @jennmueng first. I will have a try now.

[2022-05-13 08:01] marandaneto commented on #2087
@jennmueng point 3 is likely a caching issue, if you are uploading to the same release and version and testing right away, that's likely the case, ideally, when testing, always test with a new release and/or version, otherwise we've to wait for the caching to be invalidated, not sure how long that takes.

@jennmueng we can add it to the https://docs.sentry.io/platforms/react-native/troubleshooting

[2022-05-13 08:27] kopax-polyconseil commented on #2087
I have tried to follow (1) and add `--minify false` and --reset-cache`, (2) was already configured like this in [our source map builder script]() and (3), but I now get this:

![image](https://user-images.githubusercontent.com/77674046/168243091-ca4d0e4a-d4ee-412d-8cb6-f88ab8ac7c2c.png)

I also tried to test the symbolicate command:

[code]

Did I understood you both wrong ?

[2022-05-13 08:40] marandaneto commented on #2087
@kopax-polyconseil the caching on the backend system, you can do that right now, it's an issue that we are working on.
Every time you run a new test that uploads source maps, please use a new `release` and a new `dist`, otherwise, there's the chance that the backend uses the cached source maps, and not the latest uploaded.

[2022-05-13 08:44] kopax-polyconseil commented on #2087
What happen if I only update a new `dist` ? Will the combo still use the cached version ? How long is the cached version lasting ?

[2022-05-13 09:13] kopax-polyconseil commented on #2087
I have tried to do:

[code]

Then uploading sourcemaps with:

[code]

Result in release with `0kb`:

![image](https://user-images.githubusercontent.com/77674046/168251904-d60b9d82-594d-4534-8556-3c7054e93419.png)

But sourcemaps aren't working, I can't uncollapse the code on sentry.

[2022-05-13 09:26] marandaneto commented on #2182
@guptayush I could not reproduce the issue, did you manage to reproduce it? if so, can you provide a minimal reproduction example? thanks.

[2022-05-13 09:27] marandaneto commented on #2227
@shamilovtim any news here? thanks.

[2022-05-13 09:29] marandaneto commented on #2244
Related issue https://github.com/getsentry/sentry-react-native/issues/2087

[2022-05-13 09:31] marandaneto commented on #2244
@witalobenicio please check the https://github.com/getsentry/sentry-react-native/issues/2087#issuecomment-1125673168 comment, it might be the very same issue.

[2022-05-13 10:13] kopax-polyconseil commented on #2087
I just managed to get this thanks to your indication:

![image](https://user-images.githubusercontent.com/77674046/168262623-ea77e9ae-11bb-426e-a535-9adef2fea0ff.png)

This is my PR with fix:

https://github.com/pass-culture/pass-culture-app-native/pull/2993

We haven't tested iOS yet, codepush, and all our env dist/release pair. I'll check again when back on vacation on the 30th. :)

Thanks so mu

[2022-05-13 10:25] kopax-polyconseil commented on #2087
Tested in our app with a code push and still not working but different behavior:

![image](https://user-images.githubusercontent.com/77674046/168264744-0ad6c7d7-e9bf-46f1-a997-a3f4ff716d52.png)

![image](https://user-images.githubusercontent.com/77674046/168264862-de42cf53-4acd-4bce-962f-809d8138e167.png)

I will test with a new release/dist pair without code push

[2022-05-13 12:15] kopax-polyconseil commented on #2087
So after testing, it appears that codepush and iOS aren't working (both as in my screenshot)

It only work  on Android without code push

[2022-05-13 12:17] marandaneto opened #2246 "Degrade gracefully when uploading debug symbols if sentry is unreachable"
Related to https://github.com/getsentry/team-mobile/issues/3

Implementation detail: https://github.com/getsentry/team-mobile/issues/3#issuecomment-1125992486

[2022-05-13 17:28] owjsub commented on #2087
Regarding the renamed `hbc` file (which appears in sentry artifacts as 0 bytes), I also tested this in a brand new `release` and the symbol maps worked as expected, but it's not clear whether this only works because I previously uploaded the orignal `index.android.bundle` in a previous release and maybe sentry is still using a cached copy of that original bundle from the previous release?

For now

[2022-05-13 17:44] jennmueng commented on #2087
@kopax-polyconseil For iOS, I just tried on your reproduction, you will want to upload the original bundle.

I am not able to test with code push right now, but I would assume it would use the original bundle as well.

This is very unexpected behavior and is not consistent with how it was previously...I will get to the bottom of this.

[2022-05-13 18:51] MorenoMdz commented on #1830
This report started showing over the last couple of days for us, a lot, but it matches the time we started testing our new Expo dev client builds coming from Expo Go.

It seems to be related to OTA updates, can't really reproduce it reliably by swiping the app to force close it yet, and we also have reanimated in the project.

Let me know how we can help to debug this.

[2022-05-15 06:21] guptayush commented on #2182
@marandaneto We are not able to reproduce the issue

[2022-05-16 06:19] savv commented on #1830
There is already a repro for this, it's calling restartApp with codepush.

@bruno-garcia did you have any luck in improving the heuristics for OOMs, in order to fix this issue? It would be good to fix this, OOMs are a huge class of issues, and codepush is pretty common in RN.

[2022-05-17 00:41] MorenoMdz commented on #1830
It is causing some weird issues for us, on Expo EAS clients, it is crashing on TestFlight but not on the preview clients. We are able to reproduce the OOM reports consistently in our fallback offline screen that has a button that calls the said `reloadAsync` method. When we have our app in TestFlight it works fine, but when we send an OTA that asks the app the reload, the crashes the App and it ge

[2022-05-17 06:44] marandaneto commented on #1830
Not yet, we'll be looking into it soon, sorry for the inconvenience.

[2022-05-18 17:34] delgiudices opened #2249 "Source maps not working on iOS after upgrading to Hermes"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 3.3.2

### Steps to Reproduce

1. Upgraded to hermes
2. Noticed that source maps aren't working anymore
3. Followed the steps [in this guide](https://docs.sentry.io/platforms/react-native/manual-setup/hermes/#custom-source-maps) to build source maps for iOS
4. Getting error:
<img width="112

[2022-05-19 13:41] marandaneto commented on #1346
Please raise a new issue with a minimal reproducible example.

[2022-05-23 02:25] sreuter commented on #1042
It would be really great to just have an environment setting to achieve this, e.g. disable it for local development to prevent the console from being spammed.

<img width="628" alt="Screen Shot 2022-05-23 at 12 24 53 pm" src="https://user-images.githubusercontent.com/550246/169731795-9f53f880-418c-4530-93c8-84d0918757fe.png">

[2022-05-23 06:51] marandaneto commented on #1042
@sreuter it's in our backlog, but PRs are also welcome :) I'd be happy to review it.

[2022-05-23 13:52] cacosandon opened #2251 "[iOS] Build failed when developing offline or Sentry is down"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
`React Native 0.64.2`
`"@sentry/react-native": "^3.2.10",`

### Steps to Reproduce

1. Disconnect your WiFi (or try exactly now `May 23, 2022 - 05:54 PDT` that Sentry is having networking issues)
2. Build your iOS app on any simulator

### Expected Result

Skip the Sentry step and achieve a successful build

##

[2022-05-23 14:00] marandaneto commented on #2251
Related to https://github.com/getsentry/team-mobile/issues/3

[2022-05-23 14:00] #2251 closed

[2022-05-23 20:45] jennmueng commented on #2249
@delgiudices Can you try uploading the source maps straight from the bundler (output from the first step in the guide), make sure they're named `main.jsbundle` and `main.jsbundle.map`. Also, try it on a fresh `release`/`dist` pair, as there seems to be some issues regarding source maps caching on Sentry right now.

[2022-05-25 07:26] jonathanj commented on #2242
@marandaneto So I was trying to make a repo to reproduce this, but couldn't get it to happen even though I had reproduced all the app configuration from the original source. Then I noticed that #2144 had changed the `sentry.gradle` script in a way that would fix this.

What I've realised since is that this failure was caused by behaviour that I don't want: I do not want Sentry to automatically upl

[2022-05-25 10:36] marandaneto commented on #2242
Thanks, we're gonna add a boolean to turn off auto uploading in case you need, see https://github.com/getsentry/team-mobile/issues/3#issuecomment-1125992486
As you just said, you can opt-out of the `sentry.gradle` and use sentry-cli directly.

[2022-05-25 10:36] #2242 closed

[2022-05-31 05:48] varungupta85 opened #2252 "Task app:bundleReleaseJsAndAssets_SentryUpload failing after upgrade to react-native 0.68.2 in monorepo managed via yarn workspaces"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
"@sentry/react-native": "3.4.2",

### Steps to Reproduce
I have been using Sentry for a long time now. The app provides both a mobile interface and a web interface due to which I have packaged the app in a monorepo to allow easy sharing of code between the two interfaces. I have to make some minor changes to th

[2022-05-31 06:21] savv commented on #1830
Hi @marandaneto did you make any progress in improving the heuristics for the OOMs?

Thanks again
-Chris

[2022-05-31 13:08] kopax-polyconseil commented on #2087
iOS code push does not work well, without changing the source code, it should be the same as the not code push build for iOS.

![image](https://user-images.githubusercontent.com/77674046/171180691-6ea3e19b-f2c4-4825-9e0e-26f1cef6d286.png)

[2022-05-31 13:09] kopax-polyconseil commented on #2087
Android code push using the original bundle, same problem as for iOS

![image](https://user-images.githubusercontent.com/77674046/171180908-96cc46ec-36be-4c5d-b785-a5f80db1a789.png)

[2022-05-31 15:44] marandaneto commented on #1830
Nope, that's on the iOS side, @philipphofmann have you tried to reproduce the bug on a simple iOS app?
on an RN App, its only a problem if the App itself or 3rd party libs call `exit(0)`

[2022-05-31 15:44] marandaneto commented on #2252
@varungupta85 https://docs.sentry.io/platforms/react-native/troubleshooting/#using-node-with-nvm-or-volta
Could be that the reason?

[2022-05-31 17:29] jennmueng commented on #2087
I've been running into similar issues, I will get back to you.

[2022-06-01 06:49] savv commented on #1830
I renamed the issue to concentrate it to what initially caused it and to concentrate it on an important use case that affects tons of users (everybody that uses react-native-codepush). Just to summarize the parts of this thread that seem useful to me:

- calling codePush.restartApp(false); triggers this
- codepush does not call exit() - see below for the stack of calls
- this used to work in past

[2022-06-01 12:45] varungupta85 commented on #2252
@marandaneto I do use nvm and do the steps listed in the above post. I have found the reason causing the failure. I needed to update the `reactRoot` or rather keep it as is and change the location of the paths that use `reactRoot`. Thanks for checking the issue and your suggestion.

Closing it now.

[2022-06-01 12:45] #2252 closed

[2022-06-01 18:33] marandaneto commented on #1830
@savv Thanks for the detailed info, let's see what @philipphofmann says since `reload` should not have triggered that then.

[2022-06-01 18:39] MorenoMdz commented on #1830
Do we know what changed from the previous versions that did not trigger this error?

[2022-06-01 20:56] #2182 closed

[2022-06-01 20:56] marandaneto commented on #2227
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-06-01 20:56] #2227 closed

[2022-06-02 07:08] TangChanged opened #2255 "Touch Events cannot be collected"
version: "@sentry/react-native": "^3.4.2",
Device： <img width="367" alt="image" src="https://user-images.githubusercontent.com/12230238/171572950-bf9ee535-8824-4619-813e-5dd8303540a4.png">

AppRegistry.registerComponent(appName, () => Sentry.withTouchEventBoundary(App));

https://docs.sentry.io/platforms/react-native/touchevents/
Follow the documentation, but I can't capture the touch events data

[2022-06-02 08:29] dimaportenko commented on #1846
For those who looking for a solution, you have to update `defualts.org` with new name in
[code]

[2022-06-03 17:51] gshenar commented on #1493
@andyl-ioki I'm considering a solution like you just posted above. Have you implemented that with success or did you run into any issues?

[2022-06-04 00:06] ruanblima opened #2256 "Error when running the @sentry/wizard script"
I am trying to set up sentry in my react native project. But when I try to execute the script "npx @sentry/wizard -i reactNative -p ios android" this error occurs

Environment
Node
v16.13.0

React native
"react-native": "0.63.4",

Sentry
"@sentry/react-native": "^3.4.2",

Steps to Reproduce
Execute the command
Actual Result

![image](https://user-images.githubusercontent.com/57442366/171968392-e70

[2022-06-07 10:32] oblador opened #2267 "Autolinking broken in 0.69"
Due to https://github.com/react-native-community/cli/pull/1537 some things in your `react-native.config.js` have been deprecated and removed, thus failing autolinking schema validation (for example `ios.sharedLibraries`).

### Steps to Reproduce

1. Create a vanilla RN project with latest 0.69 RC with `npx react-native init Example --version 0.69.0-rc.6`.
2. Add this package.
3. Observe it not bei

[2022-06-07 12:56] oblador commented on #2267
@marandaneto no it's unrelated, it's because of the linked PR.

[2022-06-08 10:46] jer-sen opened #2268 "Unhandled promise rejections will not be caught by Sentry warning not working"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native@3.4.3

### Steps to Reproduce

Run the app.

### Expected Result

There should be one of these logs from https://github.com/getsentry/sentry-react-native/blob/f916f2b3afbb9884f9037b8486539ca6cc8b327c/src/js/integrations/reactnativeerrorhandlers.ts#L141:

- `Unhandled promise rejections will

[2022-06-09 19:56] tux4 opened #2277 "Crash when using Sentry, DataDog & CodePush together"
I am creating this issue after being recommended to do so by the devs at `DataDog`. In our app we use DataDog RUM, Sentry & CodePush.

In the more recent version of `DataDog` (`1.0.0-rc8`) these libraries get into conflict, particularly when calling `CodePush.restartApp`, either programmatically, or by pressing `r` in metro server causes a crash originating in `Sentry SDK` -  .

The error goes awa

[2022-06-10 08:35] philipphofmann commented on #1830
@savv, sorry for the late reply. Do you know if `restartApp` is causing `SentrySDK.start` to be called again? Because I just found out that we generate an OOM if you call `SentrySDK.start` two times in a row.

[2022-06-10 08:36] savv commented on #1830
That is very likely.
When/where does sentrySDK.start get called from the RN library?

[2022-06-10 08:44] philipphofmann commented on #1830
I think when you call `Sentry.init`. @marandaneto, can you confirm?

[2022-06-10 08:45] philipphofmann commented on #1830
I created an issue on Cocoa, because we should anyways fix this https://github.com/getsentry/sentry-cocoa/issues/1877.

[2022-06-11 05:40] marandaneto commented on #2244
@witalobenicio any news here, have you checked the other issue?

[2022-06-11 08:30] witalobenicio commented on #2244
@marandaneto when I launch a update through codepush, sourcemaps are working great. I just send the CP and use the sentry cli to upload the generated sourcemaps by CP.
When sending my to Google play and Appstore, is just s native build, so the process to upload a source map is to generate the bundle, generate Hermes code, unit then and send to sentry.
The problem now is when I sent to appstore. I

[2022-06-11 17:25] renchap commented on #1327
#4240 is done, and sentry-react-native 4.0.0 uses it 👀

[2022-06-13 06:31] marandaneto commented on #2244
@witalobenicio can you link me to an issue that shows off this problem?

[2022-06-13 06:32] marandaneto commented on #1830
Once Sentry-Cocoa publishes a new version, I'll upgrade the SDK.

[2022-06-13 06:38] marandaneto commented on #2277
@tux4 thanks for reporting, we'll have a look into it.

@philipphofmann and @brustolin can you take a look at that?

@tux4 can you upgrade the Sentry RN SDK to the latest version and check if this has not been fixed already? thanks.

[2022-06-13 06:41] marandaneto commented on #2268
@jer-sen where do you init the Sentry SDK? I can't reproduce that, I always get the logs.
Can you provide a minimal reproduction example? thanks.

[2022-06-13 06:45] marandaneto commented on #2256
Closing as dup of https://github.com/getsentry/sentry-wizard/issues/167

[2022-06-13 06:45] #2256 closed

[2022-06-13 06:52] marandaneto commented on #2255
@TangChanged Thanks, can you provide a minimal reproduction example?
Our samples have it running and it works.

[2022-06-13 06:53] marandaneto commented on #2087
@jennmueng I've upgraded our RN version to [0.67.4](https://github.com/getsentry/sentry-react-native/pull/2280)
Should we test it using either this one or 0.68.x? do you have any updates? thanks.

[2022-06-13 06:54] marandaneto commented on #2249
@delgiudices any updates here? thanks.

[2022-06-13 08:12] brustolin commented on #2277
We had this integration problem on a older SDK version, but is being fixed for a while now.

@tux4 maybe all you  need to do is update your Sentry SDK version.

[2022-06-13 08:17] marandaneto commented on #2277
@brustolin do you know which version of the Sentry Cocoa fixes this? So I can check which version of the Sentry RN SDK is needed.

[2022-06-13 08:37] brustolin commented on #2277
@marandaneto 7.14.0

[2022-06-13 09:35] witalobenicio commented on #2244
@marandaneto https://sentry.meutudo.app/share/issue/17f3c5e648a84d4986a2c56a70f1d711/

Reproducible demo is complicated, because its not related to the code itself, but the way I'm sending sourceMaps.

Let me show you the commands:

`npx react-native bundle --platform android --dev false --entry-file index.js --bundle-output build/index.android.bundle --sourcemap-output build/index.android.bundle.

[2022-06-13 13:26] philipphofmann commented on #1830
The release is on its way https://github.com/getsentry/publish/issues/1135, but we have to wait for GH to fix an issue with the artifacts cache see https://www.githubstatus.com/.

[2022-06-13 16:04] marandaneto commented on #1830
Thanks, PR is up https://github.com/getsentry/sentry-react-native/pull/2283
Releasing it within the next few minutes, please reopen it if you can still reproduce this issue.

[2022-06-13 16:04] #1830 closed

[2022-06-13 16:05] savv commented on #1830
Finally, thank you!

[2022-06-13 16:54] witalobenicio commented on #2244
I thought I just need to pass the release name after `files`. It would `files --release {RELEASE_NAME}` then?

[2022-06-14 09:09] witalobenicio commented on #2244
I'll try that. I really doubt the problem is in the code, since through codepush works, but ok.

[2022-06-14 10:21] witalobenicio commented on #2244
@marandaneto tried with a brand new project and same problem:

https://sentry.meutudo.app/share/issue/aacdb0ab7bc645bfac1483bda5667933/

[2022-06-14 13:26] awesome31 opened #2284 "API calls tracing shows the response time a lot more than expected."
**OS:**
- [ ]  Windows
- [* ]  MacOS
- [ ]  Linux

**Platform:**
- [ ]  iOS
- [ *]  Android

**SDK:**
- [ *]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 3.1.1

**`react-native` version:** 0.67.4

**Are you using Expo?**
- [ ]  Yes
- [*]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [*]  on-premise

**I have following iss

[2022-06-14 13:58] marandaneto commented on #2284
@awesome31 thanks for reporting, no, Sentry should not impact that much, we just intercept the call to collect the info from the API call and that's it, the matter of a few milliseconds, likely under ~2..3ms.
Can you reproduce that? Can you provide a minimal reproduction example?
In our examples, the requests are very similar to a simple `curl` in the console.

[2022-06-14 20:18] marandaneto commented on #2244
@witalobenicio thanks, will investigate it, just to be sure, you don't use [RAM Bundles](https://reactnative.dev/docs/ram-bundles-inline-requires) as well, right?

[2022-06-14 20:20] witalobenicio commented on #2244
No RAM bundles

[2022-06-14 21:37] marandaneto commented on #2244
So at least on Android, if I do:

Comment out the `sentry.gradle` import to not trigger the auto-upload.
`// apply from: "../../node_modules/@sentry/react-native/sentry.gradle"`

Assuming you're in the root folder.
[code]

So in this case I didn't generate the bundles myself using `react-native bundle`, `hermesc` and `compose-source-maps`, but rather used the generated files by `AssembleRelease` i

[2022-06-14 21:42] witalobenicio commented on #2244
Hum...I'll try that in the next android build.
About iOS, what would be the process?

[2022-06-14 21:46] marandaneto commented on #2244
I will test that tomorrow, thanks for the patience.

[2022-06-14 21:47] witalobenicio commented on #2244
Nice, thanks.

[2022-06-15 06:31] marandaneto opened #2285 "Using React Native Navigation and Tabs cause spans being added to the wrong screen transaction"
https://wix.github.io/react-native-navigation/docs/advanced-navigation/

this might be because there can only be one transaction on the scope at a time while there are multiple screens opening in a tabbed navigation.
A React-specific way of doing this would be to have a unique context for every screen to store the transactions.
And each span would attach to the most immediate parent in the compone

[2022-06-15 10:34] marandaneto commented on #2244
So I've tried to reverse engineering the script for iOS and I did that:

[code]

And uploaded the files:

`sentry-cli releases files $release upload-sourcemaps --dist $dist --strip-prefix $fullRootFolder --rewrite main.jsbundle main.jsbundle.map`

It kinda worked, but I need to double-check why line numbers are so wrong.

<img width="1014" alt="Screenshot 2022-06-15 at 12 33 34" src="https://user-

[2022-06-15 11:57] bruno-garcia commented on #2285
This came up from a customer

[2022-06-15 13:02] #2249 closed

[2022-06-16 01:11] bruno-garcia opened #2295 "App Start measurement has large (days, months) values on iOS"
A customer with large scale has several transactions with App Start consisting of days/weeks/months.

This happens on iOS but not on Android.

iOS App Start code: https://github.com/getsentry/sentry-cocoa/blob/472d14683103300272ffaf6377385c49a41572dc/Sources/Sentry/SentryAppStartTracker.m#L100-L131

SDK version 3.4.0

[2022-06-16 09:44] miladdev85 opened #2296 "Delete "Upload Debug Symbols to Sentry" if uploading source maps manually?"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

**Platform:**
- [x]  iOS
- [ ]  Android

**SDK:**
- [ ]  `@sentry/react-native` (>= 1.0.0)
- [x]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 3.4.2

**`react-native` version:** 0.63.3

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS)
- [ ]  on-premise

**Configuration:**

(`@se

[2022-06-16 20:44] jennmueng commented on #2296
You want to revert the "Bundle React Native code and images" build phase to the original, usually
[code]

"Upload Debug Symbols to Sentry" is for native debug symbols not js source maps.

[2022-06-16 20:44] #2296 closed

[2022-06-20 03:25] ARIPRASATH4664 opened #2314 "Source Maps not working for React-Native. ( Hermes & Proguard enabled)"
### Environment

SaaS (https://sentry.io/)

### Version

"@sentry/react-native": "^3.4.3", "react-native": "0.64.2",

### Steps to Reproduce

I just followed the steps as per the document in the react-native sentry.

1. Created Source Maps using the react-native command.
2. Created bundle using the hermes-engine.
3. Composed the source map and uploaded it to correct dist and release.

**I was able

[2022-06-20 06:23] marandaneto commented on #2296
https://docs.sentry.io/platforms/react-native/sourcemaps/#2-disable-the-automatic-source-maps-upload-script

[2022-06-20 06:41] marandaneto commented on #2295
@philipphofmann after your workaround to not report huge app start for iOS, is `PrivateSentrySDKOnly.appStartMeasurement` gonna return null? if so, we don't need to do anything here right now.

[2022-06-20 06:53] marandaneto commented on #2244
@witalobenicio would you like to raise an issue on the https://github.com/facebook/react-native/ repo asking if we're calling the right commands and passing the right arguments?
I believe this changed over the versions, it used to work and now it's kinda flaky depending on the version.

Based on my research, everything works as expected when it's being automatically uploaded since we use the gener

[2022-06-20 12:59] philipphofmann commented on #2295
Yes, `PrivateSentrySDKOnly.appStartMeasurement` is going to return `nil`. If you can, please wait for 7.18.0, which should be out today or tomorrow. Again contains some fixes related to this.

[2022-06-21 22:20] renchap commented on #2267
I can confirm this.

After upgrading to the latest RN 0.69-rc6 version and running `pod update`, I get:
[code]

Please note the `Removing Sentry` line.

And after the upgrade, there is no Sentry-related packages in my `Podfile.lock`.

As the OP said, this is most probably due to the removal of `react-native link` command and the refactor of auto-linking made in the PR mentioned above.

[2022-06-22 08:16] marandaneto opened #2305 "Bump `@sentry/cli` to v2"

[2022-06-22 08:27] marandaneto commented on #2012
https://github.com/getsentry/sentry-javascript/pull/3953 should help here once we bump to JS 7.2.0

[2022-06-22 10:53] kelset commented on #2267
@marandaneto just as an headsup, we are planning on releasing 0.69.0 this week

[2022-06-22 11:16] marandaneto commented on #2087
Closing in favor of https://github.com/getsentry/sentry-react-native/issues/2244#issuecomment-1160045688
This problem exists even if there's no codepush.

[2022-06-22 11:16] #2087 closed

[2022-06-22 11:40] marandaneto opened #2308 "RAM bundles symbolication"
https://docs.sentry.io/platforms/react-native/manual-setup/ram-bundles/
https://blog.sentry.io/2019/05/21/building-a-sentry-ram-bundles
https://github.com/getsentry/rust-sourcemap/blob/9140bdfea1a304992b3733c772c16039bbd1327d/src/ram_bundle.rs

[2022-06-22 12:02] marandaneto commented on #2267
We're going to look into this, thanks for the heads up.

[2022-06-22 12:06] renchap commented on #1327
And 4.0.0 is released, maybe you can remove the "blocked" tag? ;)

[2022-06-22 13:49] hetmann opened #2309 "> Task :app:bundleReleaseJsAndAssets_SentryUpload ... FAILED"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
`"@sentry/react-native": "3.4.3",`

### Steps to Reproduce

1. Building android using Fastlane
2. Sentry integration is set to default using sentry-wizard
3. Previously was working using this task `> Task :app:bundleReleaseJsAndAssets_SentryUpload_com.wander.com.app@1.1.2+2112328043_2112328043`
4. Nothing was c

[2022-06-22 15:20] Noitidart commented on #1327
@renchap is attachment support in 4.0.0? or 4.0.0 just makes attachment support possible?

[2022-06-22 15:22] renchap commented on #1327
It should make it possible, but not implemented yet.

[2022-06-22 15:47] marandaneto commented on #2309
@hetmann we use the `versionCode` or env. var. `SENTRY_DIST` in case you have defined it.

https://github.com/getsentry/sentry-react-native/blob/8830dab56e4e883273d15d3709d2b8cbaf50020a/sentry.gradle#L181-L182

https://github.com/getsentry/sentry-react-native/blob/8830dab56e4e883273d15d3709d2b8cbaf50020a/sentry.gradle#L67

This is usually generated by your App's build script, e.g.
https://github.c

[2022-06-22 16:20] lucas-zimerman commented on #2267
Additionally, we need to remove the `sharedLibraries` from react-native.configs in order to allow the auto link to happen.

[2022-06-22 17:08] sean-m-oleary commented on #1830
@marandaneto is there any possibility of getting this fixed in version 3? We are still using 3.4.2 and it has this problem.

[2022-06-22 17:34] hetmann commented on #2309
@marandaneto thank you for your answer. I dig a bit and it kinda doesn't make sense

`versionCode` is generated by Fastlane using `build_number = Time.new.to_i` which is the unix timestamp and use it here
[code]

So I had build_number set to 1655674737 but the the task would say `Uploading sourcemaps for release com.wander.com.app@1.1.2+2112328043 distribution 2112328043` so is kinda odd

Also `an

[2022-06-22 18:20] marandaneto commented on #2295
https://dev.to/pyricau/android-vitals-when-did-my-app-start-24p4
Apparently Android already can give you some weird values due to different reasons and the recommendation is to filter out App start with more than a minute, we should do that as well.

[2022-06-23 00:53] bruno-garcia commented on #1327
JS 7.0 unblocked this and it's a p1 for us. Btw we're hiring a RN engineer if anyone wants to get paid to work on open source full time: https://sentry.io/careers/3642918/

[2022-06-23 09:14] marandaneto commented on #2267
@lucas-zimerman iirc React Native has changed the way how it finds `node`, it could be related to that.
https://reactnative.dev/blog/2022/06/21/version-069#highlights-of-069

[Addition](https://github.com/facebook/react-native/commit/0480f56c5b5478b6ebe5ad88e347cad2810bfb17) of the new .xcode.env configuration file for more deterministically sourcing the node executable

[2022-06-23 09:30] marandaneto commented on #2309
Not sure then, maybe Fastlane sets something to `versionCode`, we just read it.
I've calculated the absolute number, so it should avoid such cases.
https://github.com/getsentry/sentry-react-native/pull/2313

[2022-06-23 11:59] marandaneto commented on #2267
`sentry-wizard` patches the xcode project file in order to be able to auto-upload debug symbols.
The default code script has changed https://github.com/facebook/react-native/blob/main/template/ios/HelloWorld.xcodeproj/project.pbxproj#L267=
and I guess that sentry-wizard is replacing its default react-native configuration, this could also be the culprit for sentry-cli to fail.

[2022-06-24 09:17] renchap commented on #2267
Another change for 0.69: when using XCode, there is now a `.xcode.env` file that allows you to set the proper environment variables for the bundle build step, for example `$NODE_BINARY`.

It comes with a `react-native/scripts/xcode/with-environment.sh` script that will set the env var, then call its argument.

The bundle build step becomes something like:

[code]

Unfortunately, this breaks `@sent

[2022-06-24 10:15] marandaneto commented on #2267
I'm currently working on a troubleshooting page with a workaround in order to unblock folks.
https://github.com/getsentry/sentry-docs/pull/5208
We'll work on a fix as soon as we know what has to be changed.

[2022-06-24 11:50] marandaneto commented on #2255
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-06-24 11:50] #2255 closed

[2022-06-24 11:51] marandaneto commented on #2284
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-06-24 11:51] #2284 closed

[2022-06-24 11:54] marandaneto commented on #2309
https://github.com/getsentry/sentry-react-native/pull/2313

[2022-06-24 11:54] #2309 closed

[2022-06-24 11:56] marandaneto commented on #2268
@jer-sen so it's not about the unhandled promise not working at all, but rather the logging that tells you if it's working or not, does it make sense?

[2022-06-24 12:10] marandaneto commented on #2285
Similar to https://github.com/getsentry/sentry-java/issues/2004

[2022-06-24 12:14] marandaneto commented on #2285
Right now users could disable the auto instrumentation for those specific cases and use our auto instrumentation https://docs.sentry.io/platforms/react-native/performance/instrumentation/custom-instrumentation/

[2022-06-24 12:17] marandaneto commented on #2305
Let's add the integration tests first and later bump the CLI, so we're sure that we're not breaking anything.
https://github.com/getsentry/sentry-fastlane-plugin/pull/128/files

[2022-06-24 12:21] marandaneto commented on #2219
The Sentry JS processor already does that on the server
https://github.com/getsentry/sentry/blob/master/src/sentry/lang/javascript/processor.py#L1026-L1117=

[2022-06-24 12:21] #2219 closed

[2022-06-24 22:00] ken0nek commented on #2267
Found an related issue => https://github.com/adjust/react_native_sdk/pull/186

[2022-06-25 00:18] bruno-garcia commented on #2314
Might be related to: https://github.com/getsentry/sentry-react-native/issues/2244

[2022-06-25 03:52] matinzd commented on #2267
I can verify that Sentry is being removed while running pod install on 0.69.0.

[code]

[2022-06-25 08:50] marandaneto commented on #2314
@ARIPRASATH4664 can you share the link to the sentry issue?
can you share the commands you are using to generate the bundles?

That's not Sentry's issue tho.

[2022-06-25 08:52] marandaneto commented on #2267
@matinzd for now there's a quick workaround:
https://sentry-docs-git-chore-troubleshooting-rn-autolinking.sentry.dev/platforms/react-native/troubleshooting/#react-native-069-and-higher

Do that and install pods again.

[2022-06-25 10:13] hetmann commented on #2309
@marandaneto I'll try the new version and let you know the results.

[2022-06-25 11:46] hetmann commented on #2309
@marandaneto I updated to `"@sentry/react-native": "4.0.1"` and the versionCode is set to `1656072137`
[code]
but the sentry android versionCode is still `-1700729253`
[code]

Super strange ... I will dig up more to see whats going on.

[2022-06-25 13:34] marandaneto commented on #2309
Its not released yet, Monday you test it again with 4.0.2

[2022-06-27 07:53] wbinarytree opened #2317 "Native frames always timeout after upgrade to 4.0.1"
### Environment

How do you use Sentry?

self-hosted

Which SDK and version?

sentry-react-native 4.0.1

### Steps to Reproduce

Setup a Sentry with frame tracking like this:

[code]

### Expected Result

Frames are correctly reported.

### Actual Result

Frames are not reported, always occurs error like:

[code]

Proposed solution.

I dig into the code and see that actually the default integratio

[2022-06-27 07:58] ARIPRASATH4664 commented on #2314
@marandaneto I am usinghttps://docs.sentry.io/platforms/react-native/manual-setup/hermes/#custom-source-maps

[2022-06-27 09:32] marandaneto commented on #2314
@ARIPRASATH4664 I meant a link to an issue on sentry.io that shows off the problem.
E.g. https://sentry.io/organizations/$org/issues/$issue/?project=$project

[2022-06-27 09:48] marandaneto commented on #2317
@wbinarytree thanks, I'll check this out.

[2022-06-27 09:52] marandaneto commented on #2314
Thanks, its a dup of https://github.com/getsentry/sentry-react-native/issues/2244 and https://github.com/facebook/react-native/issues/34043#issuecomment-1166281947
Let's wait for the Hermes team to help us out meanwhile.

[2022-06-27 09:52] #2314 closed

[2022-06-27 09:53] ARIPRASATH4664 commented on #2314
Thanks @marandaneto.

[2022-06-27 09:55] ARIPRASATH4664 commented on #2314
Is this applicable to ios source maps? @marandaneto

[2022-06-27 10:04] marandaneto commented on #2314
Yes, there's a workaround for Android, it's in my comment.
For iOS, I don't have a working solution yet.

[2022-06-27 10:06] ARIPRASATH4664 commented on #2314
@marandaneto
I have seen the comment but I am little confused about that, You mean to say like I need to skip the step 3  ?

[2022-06-27 12:26] hetmann commented on #2309
@marandaneto I just tried Sentry RN v4.0.2 and it seems is partial fixed but I got the same error:

[code]

If you notice there is `-` sign at the first versionCode but not on the second one after `_` => `@1.1.3+-1525168254_1525168254`

Does this make any sense?

[2022-06-27 15:04] jliuhtonen opened #2318 "Gradle plugin does not work with Gradle v7.3.3"
### Environment

Which SDK and version?

@sentry/react-native 4.0.2 & React Native 0.68.2

### Steps to Reproduce

1. [Upgrade React Native to 0.68.2 ](https://react-native-community.github.io/upgrade-helper/?from=0.66.4&to=0.68.2) and Gradle from 6.9 to 7.3.3 with it
2. ./gradlew bundleRelease

### Expected Result

The build would complete

### Actual Result

[code]

Task output:

[code]

Stack t

[2022-06-28 02:22] wbinarytree commented on #2317
@marandaneto Do you prefer I submit a PR for that?

[2022-06-28 06:17] jliuhtonen commented on #2318
This seems to have something to do with task dependencies and timing, because occasionally I am able to do a successful build. Most of the time the build will fail though.

[2022-06-28 07:34] marandaneto commented on #2317
Thanks, I've opened a PR already since I needed to investigate it.

[2022-06-28 07:40] marandaneto commented on #2318
@jliuhtonen I don't think it's an issue on our SDK.
The task `generateReleaseRFile` and `parseReleaseLocalResources` are created by the Android Gradle Plugin itself, we don't do anything about it.
I believe you'd experience the very same issue even if you comment out the code that imports the Sentry's Gradle file.
Can you try that? Thanks.

[2022-06-28 07:49] jliuhtonen commented on #2318
Hi @marandaneto! The build consistently passes if I remove the Sentry React Native Gradle plugin entirely.

[2022-06-28 09:18] jliuhtonen commented on #2318
This RN issue seems related: https://github.com/facebook/react-native/issues/33202

I get the same warning from some other tasks as well, but the Sentry tasks are the only ones that produce an error.

[2022-06-28 10:03] wbinarytree commented on #2317
@marandaneto Btw do we have a plan when we update the sentry cocoa to 7.8.1. It seems have a critical fix for frame tracking.

[2022-06-29 02:20] alexisloiselle opened #2322 "Version code doesn't handle all use cases in the gradle task"
### Environment

How do you use Sentry?
**Sentry SaaS (sentry.io)**

Which SDK and version?
**@sentry/react-native@4.0.2**

### Steps to Reproduce

1. Upgraded to latest version.
2. Started the same CI process using
    - Azure Devops
    - [Mobile App Tasks for iOS and Android](https://marketplace.visualstudio.com/items?itemName=vs-publisher-473885.motz-mobile-buildtasks&targetId=dbee4a37-ce2f-4f

[2022-06-29 02:29] dodomui commented on #920
I had using sentry capcitor for few months and it stop working last week.
Having the same error.
Uncaught SentryError: Native Client is not available, can't start on native.
    at new SentryError

[2022-06-29 06:56] Bartel-C8 commented on #794
I have the same issue in the @sentry/react project.
Console.logs are unusable to browse to sources.

But maybe the console.logs are caught by default there? (As actually it is quite useful, because the console.logs could help debugging). But it makes the source navigation impossible (without manually adding sentry to the ignore/filter list).

[2022-06-29 07:34] marandaneto commented on #2322
@alexisloiselle What's the version of your RN engine, Gradle and AGP? We run this task on CI and it's not an issue.
Also, `versionCode` is an `int` as well, wondering how I can repro this.

[2022-06-29 07:35] marandaneto commented on #2318
@jliuhtonen can you provide a minimal reproduction example? as I said, they are not Sentry's tasks and I can't reproduce them locally.

[2022-06-29 07:58] #2317 closed

[2022-06-29 08:06] marandaneto commented on #920
In case you're facing issues, please raise a new issue with more context, this issue is fixed and closed, upgrade your SDK and test it again as well, thanks.

[2022-06-29 08:07] marandaneto commented on #794
In case you're facing new issues, please raise a new issue with more context, the solution was already posted as a comment before, thanks.

[2022-06-29 09:16] jliuhtonen commented on #2318
Reproducing this consistently might be hard because as stated this seems to be a timing issue. On my computer and in our project the build fails almost always, but YMMV.

The root cause seems to be React Native project (issue linked above), but in our software it is always Sentry gradle tasks that fail the build.

I guess this will be fixed by RN at some point, but in the meantime we have decided

[2022-06-29 09:29] marandaneto commented on #2318
It's likely because Sentry is running at a specific time that's always that task, but we don't have control over it.
You can comment the Gradle integration to disable the plugin https://docs.sentry.io/platforms/react-native/manual-setup/manual-setup/#enable-gradle-integration
I'll close it since the fix isn't on our end, thanks.

[2022-06-29 09:29] #2318 closed

[2022-06-29 13:13] marandaneto opened #2327 "Convert `sentry.gradle` to Kotlin and add Matrix testing (AGP vs Gradle vs RN)"
[https://github.com/getsentry/sentry-react-native/blob/main/sentry.gradle](<https://github.com/getsentry/sentry-react-native/blob/main/sentry.gradle>)<br>Similar to [https://github.com/getsentry/sentry-android-gradle-plugin/blob/main/.github/workflows/test-publish-dry-run.yaml](<https://github.com/getsentry/sentry-android-gradle-plugin/blob/main/.github/workflows/test-publish-dry-run.yaml>)

[2022-06-29 13:38] kopax-polyconseil commented on #2244
Hello, I can see a bunch of PR and discussion regarding sourcemaps for code push when using hermes.

We are unable to have source maps displayed in Sentry for all our code push (iOS and Android), do you have a working documentation we can use to solve that problem ? What is your current configuraiton @witalobenicio ?

Thanks a lot for sharing !

[2022-06-29 19:51] Rutvik17 commented on #1611
I am getting the following error and using `sentry-expo` when running a sample test and has nothing to do with sentry. Any suggestions ? Thank you.
[code]

[2022-06-29 20:59] Rutvik17 commented on #1611
https://github.com/getsentry/sentry-react-native/issues/1611#issuecomment-862330959
This fixed it for me as well. Though would you please be able to explain what it does ? @svenlombaert @jennmueng

[2022-06-30 02:40] mysport12 commented on #2267
I was able to apply the patch for the react-native.config.js file as noted in the workaround.

However I simply added these two lines:

`export SENTRY_PROPERTIES=sentry.properties`
`export EXTRA_PACKAGER_ARGS=\"--sourcemap-output $DERIVED_FILE_DIR/main.jsbundle.map\"`

in the .xcode.env file and left the default shellScript in project.pbxproj

`shellScript = "set -e\n\nWITH_ENVIRONMENT=\"../node_m

[2022-06-30 08:00] marandaneto commented on #2267
@mysport12 That's fine but if you do that and skip the `sentry-cli` part, you've to upload the bundle and source maps manually to Sentry, in this case, you don't even need the `export SENTRY_PROPERTIES=sentry.properties` either.

[2022-06-30 08:31] marandaneto commented on #2295
I could not reproduce it on my end, we've filtered out app starts with more than 60s, let's wait for more feedback or repro cases, and let's watch the app start data from now on.

[2022-06-30 08:31] #2295 closed

[2022-06-30 08:33] marandaneto commented on #1477
Closed in favor of https://github.com/getsentry/sentry-javascript/issues/4777

[2022-06-30 08:33] #1477 closed

[2022-06-30 08:35] marandaneto commented on #1733
There were a few improvements related to bundle size on the JS SDK and Android SDK, the RN SDK got it for free, please upgrade to the latest version (4.x) and let us know if that helped, thanks.

[2022-06-30 08:35] #1733 closed

[2022-06-30 08:35] marandaneto commented on #759
There were a few improvements related to bundle size and integrations on the JS SDK, the RN SDK got it for free, please upgrade to the latest version (4.x) and let us know if that helped, thanks.

[2022-06-30 08:35] #759 closed

[2022-06-30 08:38] marandaneto commented on #2080
That's fixed by the JS SDK bump, https://github.com/getsentry/sentry-react-native/releases/tag/4.1.0

[2022-06-30 08:38] #2080 closed

[2022-06-30 08:49] marandaneto commented on #2087
This is blocked due to the linked issues above, the problem isn't with CodePush but rather with Hermes, so please be patient and follow the other issue to be on top of this.

[2022-06-30 12:38] philipphofmann commented on #2295
Most likely related to https://github.com/getsentry/sentry-cocoa/issues/1897 and https://github.com/getsentry/sentry-cocoa/issues/1849

[2022-06-30 13:50] tapz opened #2331 "v4: Unresolved reference: sentry"
### Environment

How do you use Sentry?
SaaS

Which SDK and version?

"@sentry/react-native": "4.1.0",

Worked just fine with version 3.4.3

RN: 0.69.1
com.android.tools.build:gradle:7.1.1
gradle-7.3.3-all.zip

openjdk 14.0.2 2020-07-14
OpenJDK Runtime Environment (build 14.0.2+12-46)
OpenJDK 64-Bit Server VM (build 14.0.2+12-46, mixed mode, sharing)

MacOS Monterey
12.4 (21F79)

### Steps to Repr

[2022-06-30 14:54] marandaneto commented on #2331
Dup https://github.com/getsentry/sentry-react-native/issues/2267
https://github.com/getsentry/sentry-react-native/issues/2267#issuecomment-1166231648

[2022-06-30 14:54] #2331 closed

[2022-06-30 19:14] ken0nek commented on #2267
It would be great if we can respect `.xcode.env`, keep `WITH_ENVIRONMENT` and also make sentry work. Will take a look.

[2022-07-01 06:03] marandaneto commented on #2267
That's already possible, See docs https://github.com/getsentry/sentry-docs/pull/5240

[2022-07-01 06:26] ken0nek commented on #2267
Thank you so much for the info!

[2022-07-01 08:18] marandaneto commented on #2244
So I've summarized the changes identified while debugging and pairing up with members of the RN community.
https://github.com/getsentry/sentry-docs/pull/5241
This was tested using RN 0.67 and 0.68.

Can one of you test it out @witalobenicio and @kopax-polyconseil ?
Thanks.

[2022-07-01 08:24] kopax-polyconseil commented on #2244
Hello, I have just warned my PO, it will be prioritized and I'll keep you
updated very soon for the test results.

Thanks again for your help !

On Fri, Jul 1, 2022, 10:19 AM Manoel Aranda Neto ***@***.***>
wrote:

[2022-07-01 11:21] marandaneto opened #2333 "Bump Script is throwing an error and failing CI"
Exception: /home/runner/work/_temp/ghwf/scripts/update-dependency.ps1:37
Line |
  37 |  …             throw "Script execution failed: $Path $action $value | ou …
     |                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     | Script execution failed: scripts/update-wizard.sh get-version
     | | output: Failed to find the plugin version in
     | /home/runner/work/sentry-rea

[2022-07-01 11:22] marandaneto commented on #2333
cc @vaind

[2022-07-01 14:03] vaind commented on #2333
The problem is in parsing the version, the script currently doesn't expect "^" at the beginning: https://github.com/getsentry/sentry-react-native/blob/6e37f6755b18f7e18436f69ac6ef32209a18f2b8/package.json#L52

Changing the script is not a problem, the question is whether we want the updater to bump to a specific version, i.e. without the "^", or preserve that declaration.

[2022-07-01 20:37] marandaneto commented on #2333
@vaind let's pin the version, we release our SDK often, so it's not an issue, we can remove the `^` if necessary.

[2022-07-02 17:21] MyloCarson opened #2335 "SentryError: Native Client is not available, can't start on native"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
"@sentry/react-native": "^4.1.0"
"react-native": "0.69.1"

### Steps to Reproduce

1. Upgrade to React Native 0.69
2. Install sentry
3. Run sentry setup wizard.

### Expected Result
I expected auto-linking. But it won't work for both ios and android.

I was able to Man

[2022-07-03 06:54] marandaneto commented on #2335
Dup https://github.com/getsentry/sentry-react-native/issues/2267#issuecomment-1166231648

[2022-07-03 06:54] #2335 closed

[2022-07-04 06:30] #2333 closed

[2022-07-04 09:54] renchap opened #2340 "App is crashing in Sentry init on Android 8 and lower (API 26 and lower) with JDK 18"
### Environment

How do you use Sentry?
Self-hosted, 22.6.0

Which SDK and version?
`@sentry/react-native`: 4.1.0
`react-native`: 0.68.2

### Steps to Reproduce

1. Create an Android emulator running Android 7 (API 24) , Android 7.1 (API 25) or Android 8 (API 26)
2. Build your RN app (which uses Sentry) and run it in the emulator

### Expected Result

The app launches properly.

### Actual Result

[2022-07-04 11:19] marandaneto commented on #2340
@renchap thanks, I'm checking it now.

[2022-07-04 13:23] marandaneto commented on #2340
@renchap I cannot reproduce it, I've tried on Android 5, 6, 7, and 8.
Can you share the SDK init code snippet? And if possible a minimal reproduction example as well, thanks.

[2022-07-04 13:32] marandaneto commented on #2340
@renchap yes please, meanwhile enable the `debug: true` and copy-paste the logs, maybe there are hints, thanks.

[2022-07-04 13:46] renchap commented on #2340
Here are the logs with `debug: true`, but I dont see anything really useful :(

<details>
<summary>Logs</summary>

[code]

</details>

[2022-07-04 13:56] marandaneto commented on #2340
@renchap it's likely something in your environment I guess, but I can't say what by the logs either.
A minimal reproduction example would help.

[2022-07-04 15:18] renchap commented on #2340
I am using Java 18 (`openjdk version "18.0.1.1" 2022-04-22`) to build the app, can this be related?

My build is configured as follows:

[code]

JDK 18 supports building the app on an M1 mac and everything works fine with it, but as the error is about a java language feature (`java.lang.String java.lang.Object.toString`) I am wondering if this could come from the JDK version.

[2022-07-04 15:43] marandaneto commented on #2340
Gotcha, this is likely not on our end since Android itself supports Android 7-11 only as of the first class.
Even Java 11 bytecode is in alpha https://developer.android.com/studio/preview/features#jvm-11-bytecode and https://developer.android.com/studio/releases/gradle-plugin#java-11
So I'd close it, thanks for checking it out.

[2022-07-04 15:43] #2340 closed

[2022-07-04 16:50] alexisloiselle commented on #2322
The versions are:
- RN engine: ^0.68.1
- Gradle: 6.9
- AGP: 4.2.2

Maybe the Gradle version that I use is too old?

[2022-07-04 19:06] marandaneto commented on #2322
The RN template uses Gradle 7.3.3 for RN 0.68.x
https://github.com/facebook/react-native/blob/v0.68.2/template/android/gradle/wrapper/gradle-wrapper.properties
and AGP 7.0.4 https://github.com/facebook/react-native/blob/v0.68.2/template/android/build.gradle#L25=
Please try to upgrade it.

Otherwise, provide a minimal reproduction example, I can't reproduce it on my end.

[2022-07-05 10:01] yahyamokaied opened #2343 "@sentry/react-native has been ignored because it contains invalid configuration. "dependency.platforms.ios.sharedLibraries""
### Environment
React Native 0.69.1

How do you use Sentry?
"@sentry/react-native": "^4.1.0"

Package @sentry/react-native has been ignored because it contains invalid configuration. Reason: "dependency.platforms.ios.sharedLibraries" is not allowed

[2022-07-05 10:41] marandaneto commented on #2343
https://github.com/getsentry/sentry-react-native/issues/2267#issuecomment-1166231648

[2022-07-05 10:41] #2343 closed

[2022-07-05 16:16] qamb110 commented on #578
Thanks its work

[2022-07-06 10:21] ambatisuman opened #2364 "Captured events are missing in sentry"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

1. We use `sentry.javascript.react-native` version `2.1.0`
2. If the app is restarted within 15secs, we capture an event with the
[code]

3. The request is success and we get the event id back, but when we look at the sentry.io, we don't find the event.

4. As said, if the app is restarted within 15secs

[2022-07-06 11:43] #2305 closed

[2022-07-06 15:28] rafaelmaeuer opened #2353 "'Sentry/SentryTraceContext.h' file not found"
Build of React Native App fails after upgrading sentry-react-native to v4.x.x.

react-native-firebase > v15 requires `use_frameworks!` in podfile:
https://github.com/invertase/react-native-firebase/blob/main/CHANGELOG.md#breaking-changes

Seems like sentry-react-native has problems handling dynamic libraries in v4.
There is an open PR on sentry-cocoa for this: https://github.com/getsentry/sentry-c

[2022-07-06 21:43] marandaneto commented on #2353
@rafaelmaeuer you've likely have an outdated pod, try to:

does it help?

[2022-07-07 08:06] marandaneto commented on #2244
Closing the issue, as it seems like the original issue has been resolved.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-07-07 08:06] #2244 closed

[2022-07-09 16:29] bruno-garcia opened #2362 "Attach screenshot"
Add option `attachScreenshot` that when opt in, attached a screenshot on error events.

[2022-07-11 12:39] #2322 closed

[2022-07-11 13:08] SpreadTriad commented on #2322
Thank you, @marandaneto and team! :thumbsup:

[2022-07-11 13:18] rafaelmaeuer commented on #2353
Nope I did this several times while figuring out this error...

[2022-07-11 13:32] marandaneto commented on #2353
@rafaelmaeuer I've created an empty project (template) and everything worked out, so I can't reproduce this issue, since this class was added in the latest versions of the iOS SDK, seems like a cached pod issue.
Try to remove the pod lock file and the `node_nodules` and `yarn/npn install` again, `pod install` as well, if that does not work.
Can you provide a minimal reproduction example?

[2022-07-11 15:07] rafaelmaeuer commented on #2353
Yes of course:

- Init new App with RN 0.68.2
[code]
- Add @sentry/react-native
[code]
- Modify ios/Podfile
  - Add use_frameworks!
[code]
  - Disable hermes and fabric
[code]
  - Disable flipper
[code]
- Install Pods
[code]
- Open `MyApp.xcworkspace` and build MyApp
<img width="549" alt="image" src="https://user-images.githubusercontent.com/6418459/178295928-c64b5bba-2a2c-47d6-9d09-375655170e4c.p

[2022-07-11 15:09] marandaneto commented on #2353
@brustolin or @philipphofmann can you take a look at this? I can't reproduce it but I've not tried with `use_frameworks`

[2022-07-12 04:01] wbinarytree opened #2367 "Add method to control native tracing"
Currently when set a `tracesSampleRate` or `tracesSampler`.
It's not sync into native during initNativeSdk.
However if I set `autoInitializeNativeSdk` to false. The frame data from `RNSentryModule` will be lost because of native sdk isn't initialized via RNSentryModule.
The only thing I can do for that is using patch-package to have a `tracesSampleRate` or `tracesSampler` to have both.
I'm not sur

[2022-07-12 12:01] philipphofmann commented on #2353
The RN SDK imports `SentryTraceContext`, which is not public
https://github.com/getsentry/sentry-react-native/blob/736eee2697e95315f1a76fc24e865c4564a5a9a8/ios/RNSentry.m#L11

see https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryTraceContext.h.

@brustolin, did you maybe recently change anything for the SentryTraceContext? Was it public before?

[2022-07-12 13:01] brustolin commented on #2353
So, a quick workaround in order for you to continue using the SDK before we fix it.

- Look for the RNSentry.m file in you Xcode project (Pods>Development Pods>RNSentry)
- Replace the line 11 (#import <Sentry/SentryTraceContext.h>) with:

[code]

[2022-07-12 15:02] philipphofmann commented on #2353
@brustolin, could you maybe open a PR to fix the code in `RNSentry.m`, please?

[2022-07-12 21:18] jmz527 commented on #2267
Hi there! Just checking on that status of this? Should I not wait and just go w/ the workaround?

[2022-07-13 15:55] kopax-polyconseil commented on #2244
So after some tests, I was able to get the proper source maps for iOS build hard :tada:

However code push doesn't work better, for example, on the same app after code push and new source map uploaded with the same technique :

## iOS

![image](https://user-images.githubusercontent.com/77674046/178776441-f3ae4149-e3b1-40b6-bff0-30385de23d46.png)
![image](https://user-images.githubusercontent.com/7

[2022-07-14 09:25] kopax-polyconseil commented on #874
Hello, we struggle to get proper sourcemap with a similar setup : react native ios and Android, hermes, appcenter.

Our sourcemaps use the same process as for our hard build and each codepush have a unique release and dist pair.

The manually generated sourcemaps works very well without codepush, but with codepush, it shows wrong line number.

We are using latest versions of sentry sdk7, and lates

[2022-07-14 19:42] #2353 closed

[2022-07-15 08:55] donni106 opened #2371 "Disable integration in production but have packaged installed?"
Is there a way to have @senty/react-native integrated but disabled for some production builds?
I am using expo and have tried some overrides in my projects react-native.config.js but without a result. Sentry is still part of the resulting bundle.
What else can I provide to be more useful/descriptive here?

[2022-07-15 09:58] kopax-polyconseil opened #2372 "CodePush iOS/Android with Hermes showing wrong line numbers RN0.68/Sentry SDK7/Self-Hosted 22.5.0"
**OS:**
- [ ]  Windows (not tested as we don't use Windows)
- [x]  MacOS
- [x]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)

[code]

**`react-native` version:** 0.68.2

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [ ]  sentry.io (SaaS)
- [x]  on-premise v22.5.0

**If you are using sentry.io, please

[2022-07-15 09:59] kopax-polyconseil commented on #2244
I have created a new issue [here](https://github.com/getsentry/sentry-react-native/issues/2372) regarding that matter.

[2022-07-17 12:09] jer-sen commented on #2268
Still an issue!

[2022-07-19 03:08] sunchanras commented on #2267
Any update on release fix ?

[2022-07-19 19:42] bruno-garcia commented on #2267
The patch from @marandaneto has been approved by @kamilogorek : https://github.com/getsentry/sentry-wizard/pull/173#pullrequestreview-1038889596

Manoel is back online tomorrow so we should see this patch merged, and a new release of sentry-wizard coming out soon. Sorry for the delay on this one folks.

[2022-07-19 20:08] bruno-garcia commented on #2372
Thanks for raising. There has been some changes recently in Hermes, that might be the cause. We'll need to look into this before we can get back to you.

[2022-07-19 20:10] bruno-garcia commented on #2371
I don't believe Sentry will not end up in the final app simply if you avoid calling `init`. Perhaps if there's no call to the SDK itself at all, in which case dead code elimination could do it's thing. Maybe something @marandaneto knows more details.

So in short: I don't think it's possible, but it's a more general React Native question rather than Sentry

[2022-07-19 22:57] connorpmullins opened #2379 "TypeError: Promise.allSettled is not a function"
### Environment
React Native / iOS

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
Sentry.io

Which SDK and version?
@sentry/react-native 4.1.3
react-native 0.64.3
typescript 4.3.5
node 16.6

### Steps to Reproduce
Not sure I can assist with reproducing this issue - I haven't seen it replicated elsewhere with this setup.

### Expected Result
No warnings a

[2022-07-20 04:20] wbinarytree commented on #2367
I can understand that `tracesSampleRate`/`tracesSampler` can not be transmit to native especially for  `tracesSampler`.
However when I disable `autoInitializeNativeSdk`. I would assume I can still have frame tracing enabled. Which is the case for iOS but not for Android.
Here is my work around by use patch-package

in RNSentryModule:
[code]

in my App.js:

[code]

[2022-07-20 08:04] kopax-polyconseil commented on #2372
Thanks for your reply, I though after closing my first issue and another that Code Push should now be fixed, I must have misunderstood.

Could you please share where can I find the information of when was introduced those Hermes change?

FYI, it never used to work with manual sourcemaps upload, perhaps because the iOS and Android build step for manual source maps upload where wrong until recently.

[2022-07-20 08:32] marandaneto commented on #2371
React Native does not do treeshaking, https://github.com/facebook/metro/issues/227#issuecomment-583358386

If you just want to disable the SDK, either don't call `Sentry.init` or set a DSN to empty `options.dsn = ''`, but the package will be installed anyway.

[2022-07-20 08:32] #2371 closed

[2022-07-20 08:39] marandaneto commented on #2367
If you want to enable performance on the Native SDKs, you can do with https://docs.sentry.io/platforms/react-native/manual-setup/native-init/
Maybe we should init the `frameMetricsAggregator` variable even if `autoInitializeNativeSdk` is disabled, but `enableAutoPerformanceTracking` is enabled, agreed, otherwise it's more boilerplate for the final user.

[2022-07-20 08:42] marandaneto commented on #2372
@kopax-polyconseil if you are using Hermes and manually uploading source maps, everything should work out.
The docs are up to date for that scenario.
About Code Push, can you share your code snippets on how you init the Sentry SDK, the CodePush SDK and the uploading scripts for Sentry and Code Push?

[2022-07-20 09:00] kopax-polyconseil commented on #2372
Could you please share what version did you tested ?

Where can I find the doc for code push **AND** hermes ?

I did share a working minimal reproduction that you can build, but I will add snippets below, if you need to clarify dont hesitate to ask for more details of any part, this as been a big pain for our team to debug without the sourcemaps and we are commited to participate to this problem r

[2022-07-20 12:34] marandaneto opened #2383 "Add CI step that builds Sentry as a dynamic library for iOS"
We'd like to avoid issues such as https://github.com/getsentry/sentry-react-native/issues/2353#issuecomment-1181732588
Ideally we'd compile a sample app with Sentry as a dynamic library.

[2022-07-20 14:54] marandaneto commented on #2379
@connorpmullins I'm not sure this is a bug, See https://github.com/getsentry/sentry-react-native/blob/cd190906d8962d4896251385bf7e4853ef9ccbc1/src/js/integrations/reactnativeerrorhandlers.ts#L123-L125
We don't call `Promise.allSettled` at all.
Your app likely has an unhandled promise and Sentry logs out if it's in the `__DEV__` mode, if that's not the issue, what's the bug? mind adding more contex

[2022-07-20 15:27] connorpmullins commented on #2379
Hey @marandaneto - I think you're right, sorry and thank you for the prompt response! I was confused by Sentry being part of the stack trace here and by us not calling `Promise.allSettled` anywhere in our code. I believe it's another third party library throwing this.

[2022-07-20 15:27] #2379 closed

[2022-07-21 06:44] marandaneto commented on #2372
@kopax-polyconseil there are no docs for Hermes and CodePush, they are different things that can be used together.
If you want to manually generate source maps for Hermes, Follow the [docs](https://docs.sentry.io/platforms/react-native/manual-setup/hermes/).
If you want to use CodePush, Follow the [docs](https://docs.sentry.io/platforms/react-native/manual-setup/codepush/).
The most important part

[2022-07-21 06:56] marandaneto commented on #2267
I'll release a new version once https://github.com/getsentry/sentry-wizard `2.0.0` gets released.

[2022-07-21 07:56] kopax-polyconseil commented on #2372
Ok

According to your first point, and that we already configured with your help and with success both iOS and Android sourcemaps, it shouldn't be necessary, we can re-use the same method.

We already use CodePush, bundle are created during CI, for example:

- CI: https://github.com/pass-culture/pass-culture-app-native/blob/master/.circleci/config.yml#L654-L678
- script : https://github.com/pass-c

[2022-07-21 10:11] kopax-polyconseil commented on #2372
I have tried to understand the CodePush documentation,

[code]

This command in our app seems to be equivalent to our deploy code push step:
 -  `bundle exec fastlane ios deploy --env "${APP_ENV}" --verbose` or
 -  `bundle exec fastlane android deploy --env "${APP_ENV}" --verbose`

It bundle, and upload a new release to code push appcenter.

I am not sure if I should run it it as I don't think I w

[2022-07-21 18:32] araymond11 commented on #480
I had the same issue with "sentry-expo", once i removed it, build pass on Fastlane

[2022-07-22 11:24] marandaneto commented on #2267
Going to be released as 5.0.0-alpha.0

[2022-07-22 11:24] #2267 closed

[2022-07-22 11:28] marandaneto commented on #2364
Closing the issue as a part of large repository cleanup, due to it being inactive and/or outdated.
Please do not hesitate to ping me if it is still relevant, and I will happily reopen and work on it.
Cheers!

[2022-07-22 11:28] #2364 closed

[2022-07-22 11:33] kopax-polyconseil opened #2387 "Failure Rate increased upgrading @sentry/react-native to v4.1.2"
**OS:**
- [ ]  Windows
- [x]  MacOS
- [x]  Linux

**Platform:**
- [x]  iOS
- [x]  Android

**SDK:**
- [x]  `@sentry/react-native` (>= 1.0.0)
- [ ]  `react-native-sentry` (<= 0.43.2)

**SDK version:** 4.1.2

**`react-native` version:** 0.68.2

**Are you using Expo?**
- [ ]  Yes
- [x]  No

**Are you using sentry.io or on-premise?**
- [x]  sentry.io (SaaS) v22.5.0
- [ ]  on-premise

**I have followin

[2022-07-22 11:45] marandaneto commented on #2387
@kopax-polyconseil what do you mean by SDK7? We RN SDK is in the range of 4.x

[2022-07-22 12:23] kopax-polyconseil commented on #2387
I thought it was the SDK7....

Have you checked the PR of the upgrade ? https://github.com/pass-culture/pass-culture-app-native/pull/3078/files

[2022-07-22 12:31] marandaneto commented on #2387
@kopax-polyconseil latest version is https://github.com/getsentry/sentry-react-native/releases/tag/4.2.0
Your PR upgrade just upgrades the dependencies so I don't see any issues with that.
Please investigate the new issues you are getting and check if they make sense, I can't tell it's an issue on the SDK if I don't have enough context.

[2022-07-22 12:32] marandaneto commented on #2387
@kopax-polyconseil Also please fix your title and PR description accordingly since you are not using the `SaaS` nor you are using SDK7.

[2022-07-22 12:42] kopax-polyconseil commented on #2387
What do you mean ? We have a failure_rate which means we do not receive new issue with status 'ok', from the doc:

`failure_rate()` indicates the percentage of unsuccessful transactions. Sentry treats transactions with a status other than “ok,” “canceled,” and “unknown” as failures. For more details, see a [list of possible status values](https://develop.sentry.dev/sdk/event-payloads/span/).

how

[2022-07-22 12:46] marandaneto commented on #2387
We are not aware of any `failure_rate` issue.
Unless you provide more context, we can't tell whats happening, if you are receiving a higher % of `failure_rate`, go check your transactions and see what's going on.

[2022-07-22 12:50] kopax-polyconseil commented on #2387
Can you please clarify and tell me how I can share more context. These are metrics reported by sentry after our users downloaded the latest app, we don't know why and when it happen and locally when we tested, we were able to see the error going to sentry but we didn't had those metrics.

I am sorry, I am a front-end developer, can I ask you how/where can I "check" the transaction? Is it in the se

[2022-07-22 12:57] marandaneto commented on #2387
@kopax-polyconseil That's a product question, https://docs.sentry.io/product/performance/metrics/
Sentry stands exactly for that, ask the person that is monitoring the data from your app on the Sentry dashboards and they will look into it, my goal here is to solve SDK issues, for learning how to use the Sentry product, I'd suggest asking on different Sentry channels, but first take a look at our [

[2022-07-22 12:57] #2387 closed

[2022-07-22 15:54] kopax-polyconseil commented on #2372
Hello, I am still trying to configure that in this branch:

I get the following error when I run `sentry-cli react-native appcenter ...`:

[code]

[2022-07-22 20:20] ajp8164 opened #2391 "@sentry/react-native contains invalid configuration"
### Environment

SaaS (https://sentry.io/)

### Version

4.2.0

### Steps to Reproduce

1. create a react native app
2. add @sentry/react-native
3. run app with metro

### Expected Result

No warnings on app start.

### Actual Result

Warning appears in console at app start.

[2022-07-24 19:01] marandaneto commented on #2391
@ajp8164 Are you using RN >= 0.69? Please try https://github.com/getsentry/sentry-react-native/releases/tag/5.0.0-alpha.1

[2022-07-24 19:03] marandaneto commented on #2372
@kopax-polyconseil You can ignore:

The error message is pretty clear:

Check the given parameters.

[2022-07-25 08:46] marandaneto commented on #2362
It's not just adding the `attachScreenshot` flag.

On iOS, native hard crashes would work, but the JS errors won't contain the screenshot, because we call `captureEnvelope` or `storeEnvelope` and those functions won't attach the screenshot before sending it over to Sentry.

On Android, We always store the envelope on the disk, and the file observer will pick it up and enrich the event with device

[2022-07-25 10:13] kopax-polyconseil commented on #2372
@marandaneto

It is not pretty clear ^^, I checked locally and it uploaded the sourcemaps, so I tried using my auth token in the CI, and it seems to be an issue with the auth token used by the CI... no clue why, I need to ask the ops how the CI token was generated.

Within the CI, using my auth token I get the following output:

[code]

It seems the upload succeed, but in the dashboard, I get no a

[2022-07-25 11:15] kopax-polyconseil commented on #2372
Meanwhile, I am trying to re-do the test for iOS code push, but I don't understand how to build from Linux the iOS sourcemaps.

It says I need to use two extra parameters when uploading the sourcemaps: ` --bundle-id {BUNDLE_ID} --version-name {VERSION_NAME}`.

The first one I know what it is, while `VERSION_NAME`, I don't know what it is, is it the app name in `app.json`? I presume it's not becaus

[2022-07-25 13:11] kopax-polyconseil commented on #2372
I presume it means it's `version` from our `package.json`, as we don't have the leading `{}@`

![image](https://user-images.githubusercontent.com/77674046/180784907-9629428c-e1ef-435d-8696-d6a1615a2fb1.png)

This should be added to the documentation, do you want me to open a PR for it? Also I believe we should open another PR to remove the last comment regarding code push, as manually generating a

[2022-07-25 15:49] kopax-polyconseil commented on #2372
I finally got it (codepush + sourcemaps) working on Android, thanks to the massive help of the Sentry team :

![image](https://user-images.githubusercontent.com/77674046/180820538-4223518f-57d3-4bda-9376-df64e3123c8e.png)

This will really help our team, I am grateful for the time spent trying to help us, and your reactivity, the product will be much better now that this is configured.

I am testi