[2017-09-05 22:53] tommeier commented on #158
Hi @HazAT - Can confirm it has fixed the issue for us in deployed versions 🎉 thanks!

[2017-09-06 18:38] zackify commented on #222
Same thing happening for me

[2017-09-06 20:03] antoinerousseau commented on #192
Same for me with `0.23` version (and RN 0.42.3):
[code]

[2017-09-06 20:24] antoinerousseau opened #224 "Invalid DSN, the following properties aren't set '[secret key]'"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && yarn version`

[code]

Config:

[code]

---
I have following issue:

I followed the auto install steps, the java files seem properly modified, but the app crashes.

**Steps to reproduce:**
- `yarn add react-native-sentry``
- `react-native link react-native-sentry` & answer questions
- My `sen

[2017-09-06 20:33] antoinerousseau commented on #224
OK found the cause, I was using a public DSN instead of the one including the secret key.
The error was quite clear in the end, thanks!
I was migrating from raven-js which was using the public DSN.

[2017-09-06 20:33] #224 closed

[2017-09-07 06:55] HazAT commented on #224
Hey, thanks for pointing this out. We will in some point in the future remove the secret part of the DSN so this should no longer happen.

[2017-09-07 06:57] HazAT commented on #222
Can you guys please send me the content of `sentry.properties` and strip the sensitive data?

[2017-09-07 12:50] OlivierNguyen opened #225 "Performance issues in production with react-native-sentry@0.15.0+"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

I have some performance issues (app very slow and freeze) using `react-native-sentry@0.15.0+`in release mode.

I tested each version of react-native-sentry on an `iPhone 7 iOS 10.3.3`.
- `react-native-sentry@0.15.0` until `0.23.0` => Performance issues
- `react-native-sentry@0.14.16` => Work well

It is weird beca

[2017-09-07 13:00] HazAT commented on #225
Are you using `react-navigation`?
Because this should be fixed with the latest release `0.23.0`
https://github.com/getsentry/react-native-sentry/issues/158
You can also try to do this:
https://github.com/getsentry/react-native-sentry/issues/158#issuecomment-316619835

[2017-09-07 13:18] zackify commented on #222
[code]

here you go!

[2017-09-07 14:08] OlivierNguyen commented on #225
Yes i'm using `react-navigation`.
I tried and it works by adding `deactivateStacktraceMerging: true` in `Sentry.config()`.

Thank you !

[2017-09-07 14:08] #225 closed

[2017-09-07 14:10] HazAT commented on #225
Ok, still the issue should be resolved with the latest version `0.23.0` many people also confirmed that.
Please make sure to delete your `node_modules` folder, make a clean build in Xcode and try it again.

[2017-09-07 14:17] OlivierNguyen commented on #225
My bad, i don't use `react-navigation` but the Navigator used by react-native (which is deprecated now). Everything seems ok now.

[2017-09-08 11:02] #194 closed

[2017-09-08 14:50] julienfouilhe opened #226 "Using react-native-sentry only for react native side?"
_Platform:_ iOS

I have a native app with some views in React native. I'm using Crashlytics right now to handle the native errors, but I don't like it for the react native errors since it doesn't handle the stack trace and doesn't map it with the source map, so I wanted to use Sentry for them, while still keeping Crashlytics for the native side.

So my question is: is it possible to use this clien

[2017-09-08 16:04] jasongonzales23 commented on #46
This crash is happening intermittently for us. It was discovered in prod unfortunately. Took us a long time to track down. We are using RN 0.47.2 and RNSentry ^0.22.0.

Here is the debug info from xcode

[code]

Let me know what other info I can provide.

[2017-09-09 17:09] Bernhard---H commented on #222
I have the same problem, but my `sentry.properties` file looks like that:
[code]

**I found a bug-fix:**
On Windows I have to change the last line to:
[code]
And on Linux:
[code]

Is there a way to make the same path work on both platforms without changing it?

[2017-09-09 23:43] JulianKingman opened #227 "this._lazyCallableModules[e] is not a function"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

This error prevents startup. I traced the error to the react-native-sentry package.

**Steps to reproduce:**
- Not exactly sure, but I used the latest Expo (v20) to create a react native app, and Sentry

[2017-09-10 00:07] aiham opened #228 "Crash: EXC_BAD_ACCESS +[RNSentryEventEmitter emitModuleTableUpdate:]"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

React native app crashes randomly while using iOS Simulator (haven't tried a real device) and it originates at `[RNSentryEventEmitter emitModuleTableUpdate:]`. Not sure how to troubleshoot this.

**Steps

[2017-09-10 07:20] aiham commented on #228
I can confirm disabling Sentry prevents the app from crashing.

[2017-09-11 06:15] HazAT commented on #226
Hey,
Yes you can disable the native tracking with `disableNativeIntegration: true`

But just keep in mind your experience may not be as good since for many features we rely on our native SDK (device information, more detailed breadcrumbs, mixed stack traces ...)

[2017-09-11 06:15] #226 closed

[2017-09-11 06:44] HazAT commented on #228
Hey, I will look into this.

In the mean time you can pass
`deactivateStacktraceMerging: true`
as an option to prevent the crash from happening.

[2017-09-11 09:10] HazAT commented on #228
Hey, I've released `0.23.1` which fixes this issue.

[2017-09-11 09:17] HazAT commented on #46
@jasongonzales23 Can link me to the events, I want to take a closer look what exactly is happening?
This should have been fixed long ago.

[2017-09-11 09:27] HazAT commented on #192
Just to clear things up, have you guys seen the proguard documentation: https://docs.sentry.io/clients/java/modules/android/#proguard

I just followed the documentation and had no problem I am not really sure if the is Sentry related.

[2017-09-11 09:34] HazAT commented on #222
@Bernhard---H You can install `sentry-cli` globally and remove the `cli.executable` line overall.
@zackify Make sure the path `/Users/zach/Projects/app/node_modules/sentry-cli-binary/bin/sentry-cli` exsits (if you build it not on your machine).
Also, the absolute path should be fixed in the latest version, so it should be a relative path.

There are 3 ways to install `sentry-cli` globally:
see: ht

[2017-09-11 09:34] #222 closed

[2017-09-11 09:45] AndrewJack opened #230 "Crash in Sentry after Code Push restart [iOS]"
OS:
- [ ]  Windows
- [x]  MacOS
- [x]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

We have seen the following crash in production. It occurs after a code push restart, we were thinking maybe Sentry is holding on to a reference?

[code]

Sorry we don't have any more useful information,

[2017-09-11 09:48] antoinerousseau commented on #192
Oh I didn't see that page, thanks.
Unfortunately Gradle can't compile it:

[code]

(this error appears when adding `classpath 'io.sentry:sentry-android-gradle-plugin:1.5.3'` to the dependencies)

Could this be because my RN version is 0.42.3 and this plugin is for a newer one?
But it looks like RN still relies on Gradle 2.14.1:
https://github.com/facebook/react-native/blob/master/local-cli/templat

[2017-09-11 09:55] AndrewJack commented on #230
Looks very similar to https://github.com/getsentry/react-native-sentry/issues/228

We will try the fix.

[2017-09-11 10:27] HazAT commented on #192
@antoinerousseau As far as I know it shouldn't be a problem updating gradle to 3.3, I've tried it before and it worked without any problems.

[2017-09-11 11:54] aiham commented on #228
@HazAT Thanks for that but it's still crashing, even after deleting `node_modules`, `ios` and `android` folders and the npm lock file.

`deactivateStacktraceMerging: true` does prevent the crashing.

Here's the latest one:

[code]

[code]

And I'm using iOS Simulator for iPhone 6 (iOS 10.3) with React Native DEBUG configuration.

[2017-09-11 12:13] HazAT commented on #213
I've tested it right now and had no problems either on linking or building.
Please consider re-installing `react-native-sentry`
don't forget to call `react-native unlink react-native-sentry` before removed the package.

[2017-09-11 12:13] #213 closed

[2017-09-11 13:11] HazAT commented on #228
@aiham, I am not able to reproduce the crash.
Can you add a exception breakpoint in Xcode
https://stackoverflow.com/questions/17802662/exception-breakpoint-in-xcode
and post the value of `moduleTable` when it crashes in `+ (void)emitModuleTableUpdate:(NSDictionary *)moduleTable`

[2017-09-11 13:31] aiham commented on #228
@HazAT

[code]

![image](https://user-images.githubusercontent.com/609164/30276776-3d88f4f8-9749-11e7-81c0-3167bbbb370a.png)

[2017-09-11 13:39] aiham commented on #228
Is it because `RCTGoogleAnalyticsBridge` is a mutable string? Just a guess.

[2017-09-11 13:44] HazAT commented on #228
@aiham Thx for helping out, I've tried a few combinations and I am really puzzled why it crashes (it's not because of mutable string)
Still looking into it ...

[2017-09-11 13:49] aiham commented on #228
@HazAT Let me know if there's anything else I can try.

[2017-09-11 13:57] HazAT commented on #228
@aiham
Can you try adding `mutableCopy` so the call looks like this:

[code]

I am mostly guessing though ...

[2017-09-11 14:13] aiham commented on #228
@HazAT It now failed at the `isValidJSONObjejct` call without reaching `mutableCopy`. `moduleTable` looked the same as before.

![image](https://user-images.githubusercontent.com/609164/30278961-26add05e-974f-11e7-96d7-3a7ad7f4d3be.png)

[2017-09-11 14:17] HazAT commented on #228
@aiham Can you modify the file `RNSentry.m` should be line 256
and change the call to
[code]

[2017-09-11 14:22] aiham commented on #228
@HazAT I can't get it to crash anymore.

[2017-09-11 14:39] HazAT commented on #228
@aiham Is it because of the change in `RNSentry.m` or it magically stopped crashing?

[2017-09-11 14:41] aiham commented on #228
@HazAT I'm pretty sure it's the change. After the change I used the app for a few minutes without crashing, when I undid the change it crashed very quickly after.

[2017-09-11 14:42] HazAT commented on #228
Ok, @aiham thank you for helping me out. I will release a fix for that in a few minutes `0.23.2`.
👍

[2017-09-11 14:46] #228 closed

[2017-09-11 14:50] hmatijevic commented on #141
@grigored thank you. This solved my issue.

[2017-09-11 15:05] aiham commented on #228
@HazAT Thanks! 🎉

[2017-09-11 15:43] fungilation commented on #228
I confirm I've seen this many times on iOS simulator only. Didn't attribute it to Sentry being the cause as it was somewhat random and goes away.

Thanks for the report and fix!

[2017-09-11 15:49] jasongonzales23 commented on #46
@HazAT is this what you're looking for: https://sentry.io/share/issue/3134363330342e333430383633353931/

I don't think that will help, but let me know if it does. If not, let me know and I will do more to track it down and/or repro.

[2017-09-11 16:41] antoinerousseau commented on #192
I tried but it needs the SDK build tools 25.0.0 instead of 23.0.1, and when I set `buildToolsVersion` to `25.0.0` in `app/build.gradle` I get:
[code]

[2017-09-11 17:46] zackify commented on #222
Ah thanks, didn't even realize I renamed my folder and that it wasn't relative. haha

[2017-09-12 06:50] Buthrakaur opened #231 "Breadcrumbs should display JSON representation of objects instead of "[object Object]""
Sentry Breadcrumbs display `object.toString()` representation for `console.log('message', {value: 1})`, which is quite useless. The console arguments should be sent to Sentry in JSON (`JSON.stringify()`) so as the values are displayed instead of `[object Object]`.

![image](https://user-images.githubusercontent.com/126757/30311827-60a804f8-9797-11e7-9b20-89252fdea733.png)

[2017-09-12 08:30] HazAT commented on #231
Hey,
I will look into this.

[2017-09-12 08:41] HazAT commented on #46
Hey, so this crash is whenever react-native has an error in javascript which is not handled, the app crashes with this. This was the case if you are not using the react-native SDK that just happens if you used sentry-swift/sentry-cocoa.
I am pretty sure Sentry isn't the cause of the crash, I also would recommend upgrading to the latest version `0.23.x`.

[2017-09-12 10:11] antoinerousseau commented on #51
Yeah but how do we clear the user context without other context infos?
With Raven it was `Raven.setUserContext()` but with Sentry it crashes because it takes an object. Should we call `Sentry.setUserContext({})`?

[2017-09-12 10:35] HazAT commented on #51
@antoinerousseau If it works like that, yes use `Sentry.setUserContext({})`

[2017-09-15 05:15] alizain-wal commented on #216
@HazAT I am experiencing the same problem, here is the content of the verbose log:

2017-09-15 10:11:25.383622+0500 <AppNAme>[592:143234] You've implemented -[<UIApplicationDelegate> application:didReceiveRemoteNotification:fetchCompletionHandler:], but you still need to add "remote-notification" to the list of your supported UIBackgroundModes in your Info.plist.
2017-09-15 10:11:25.817105+0500 <A

[2017-09-15 14:37] matt-casey opened #233 "Crash on startup on Android 4.4"
OS:
- [ ]  Windows
- [ ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I have Sentry set up on my iOS and Android react native project. It seems to work great, however causes a crash on Android version 4.4. The crash happens immediately on startup, before the JS app loads.

[2017-09-15 20:46] Onumis opened #234 "Option to disable or overwrite source maps uploads"
OS:
- [ ]  Windows
- [ ]  MacOS
- [x]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `$ ./gradlew assembleRelease --stacktrace`

[code]

Config:

[code]

---

I have following issue: Failing to build the apk.

Seems that no matter which `versionCode`/`versionName` I use in `./android/app/build.gradle`, it always fails.

Is there a way to disable source maps or release tracking?
It's not

[2017-09-15 20:50] Onumis commented on #234
Some numbers:

- sentry server version 8.9.0.
- sentry web api key permissions: `project:read, project:write, project:releases, event:read, event:write, org:read`
- `buildToolsVersion "23.0.1"`
- "react-native": "0.48.2",
- "react-native-sentry": "0.23.2",

[2017-09-18 07:43] HazAT commented on #216
Just to clear things up, if you are running the app in `DEBUG` the app will not crash, only if it's running without a debugger attached.
Also notice, whenever the app crashes, reports will be sent on the next startup.
I am not able to reproduce this, the app crashes when calling `Sentry.nativeCrash()` when there is no debugger attached.

[2017-09-18 07:43] #216 closed

[2017-09-18 07:50] HazAT commented on #230
@AndrewJack Are you sure that Sentry is the cause of the crash?
I fixed a bug in the latest version regarding a similar crash, but only if stack trace merging is active.

[2017-09-18 07:53] HazAT commented on #192
@antoinerousseau I am able to build the app with `23.0.1` and `25.0.0` so I am not really sure how to help, it must be something with your setup.

[2017-09-18 08:08] HazAT commented on #233
Hey, this crash seems to be unrelated to `Sentry`.
Also `url: 'main.jsbundle'`;
`url` is is no valid configuration parameter it shouldn't harm but it doesn't do anything.

[2017-09-18 08:08] #233 closed

[2017-09-18 08:19] HazAT commented on #234
@Onumis But when you change `versionCode`/`versionName`
the version code in the output changes, right?
`Uploading sourcemaps for release com.myApp-1.0.3 distribution 103`

We take the `versionCode`/`versionName` from the manifest and use them in conjunction with the `distribution` we create a unique build/release on the server which is necessary to have unique sourcemap mappings on the server.

So

[2017-09-18 10:46] antoinerousseau commented on #192
@HazAT with RN 0.42 ?

I tried with `compileSdkVersion` 22 and 23, the `buildToolsVersion` is 23.0.1, `minSdkVersion` is 16 and `targetSdkVersion` is 23...

my `proguard-rules.pro` is the same than [RN's one](https://github.com/facebook/react-native/blob/v0.42.3/local-cli/templates/HelloWorld/android/app/proguard-rules.pro)

[code]
...
[code]

[2017-09-18 10:52] HazAT commented on #192
Can you try to add `-dontwarn io.sentry.**`?

[2017-09-18 11:02] Onumis commented on #234
@HazAT It does change yes - As you can see from the logs, it is attempting to upload twice:

[code]

I've configured Android and iOS with the same sentry server - perhaps that's the problem?
(I hadn't changed the iOS version though, I am unable to compile that on my linux machine)

[2017-09-18 11:06] antoinerousseau commented on #192
I tried with `-dontwarn io.sentry.** { *; }` without luck, but just tried with `-dontwarn io.sentry.**` and it builds! And the app seems to work. Thanks!! :)

[2017-09-18 11:08] antoinerousseau commented on #192
wait no, I had switched `enableProguardInReleaseBuilds` back to `false`, sorry my mistake... no more luck then, it fails :/

[2017-09-18 12:48] HazAT commented on #234
So using the same project on the server shouldn't matter.
The problem is that it tries to upload it twice, I am not sure why though.
Are you using any kind of flavours or something?

[2017-09-18 15:10] doochik opened #235 "Sourcemap doesn't work"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Sentry doesn't expand error stacktrace and I see processing error "Source code was not found for app:///main.jsbundle".

At release tab I see that sourcemaps are uploaded with names `~/main.jsbundle` and

[2017-09-18 16:57] AndrewJack commented on #230
@HazAT This may be a code push issue. `Crashed: io.sentry.RNSentry` could just be a result of another issue. I still see this issue after disabling the sentry native library.

[2017-09-18 21:17] jasongonzales23 commented on #46
Hey @HazAT it looks like you may have addressed this: https://github.com/getsentry/react-native-sentry/issues/228. If so, thank you!

[2017-09-19 12:51] HazAT commented on #207
There must be something wrong with the integration of react-native-sentry into your android project. I will close this for now, if you are still having troubles feel free to post again.

[2017-09-19 12:51] #207 closed

[2017-09-19 13:15] HazAT commented on #235
That should be fine, `~/` will be matched to the `app:///` prefix.
Can you link to an event so I can take a look at it?

[2017-09-19 14:28] doochik commented on #235
Sorry, my Sentry installation is private.

May be I can provide some additional info?

[2017-09-19 14:42] HazAT commented on #235
The release/dist also have to match in order for Sentry to symbolicate the frames correctly.

[2017-09-19 17:02] Onumis commented on #234
Not sure what a flavour is, but the output of `react-native-config` in a `console.log` is:

[code]

[2017-09-19 17:02] JulianKingman commented on #227
If you have any ideas about what's causing this issue, I'd be happy to submit a PR

[2017-09-19 17:29] swl367 commented on #235
I'm having the same issue here, but when I build a release build via xcode, it looks like my sourcemap doesn't get uploaded to the version I want.

My Bundle React Native code and images build phase has the correct commands from running react-native link.

Any reason why my sourcemaps aren't uploading?

[2017-09-19 18:14] HazAT commented on #235
@swl367 https://docs.sentry.io/clients/react-native/codepush/
Also you have to upload source file + sourcemap by yourself with `sentry-cli`

[2017-09-19 18:19] swl367 commented on #235
That's where I'm having trouble. If I upload the sourcemap using rewrite, strip-common-prefix, and the other commands, I still see the "cannot find source for app:///mainbundle.js" error.

[2017-09-19 23:04] nenti opened #237 "Disable Sentry in Development mode fails in 0.23.2"
OS:
- [ x]  Windows

_Platform:_
- [ x]  iOS
- [x ]  Android
---
I have following issue:
In the new version 0.23.2 I can't disable Sentry in dev mode anymore without crashing my sentry implementation in my components.

I used to to the following:
if (!__DEV__) {
  Sentry.config(Config.SENTRY_ENDPOINT, {
    deactivateStacktraceMerging: true,
  }).install()
}

But calling something like: Sentry.set

[2017-09-20 03:12] KkkkKernc opened #238 "Upload debug symbol in development ?"
OS:
- [x]  MacOS

_Platform:_
- [x]  iOS

Hi there,
  i'm using this lib with version 0.21.1 && rn version is 0.44.0, and it works fine.
  but recently i found it upload debug symbol automatical when i using ios simulator in development.
  it makes me confused, i didn't change any code and it happened.
  is there a way to resolve this porblem? thx!

[2017-09-20 08:12] HazAT commented on #238
Uploading the debug symbols is not a real issue, sentry-cli runs in background and uploads the dSYMs.
I am not really sure though why it suddenly started.
To disable it you have to change the run script in Xcode to exclude DEBUG builds.

[2017-09-20 08:12] #238 closed

[2017-09-20 08:16] HazAT commented on #237
Hey, It should work if you just call or don't call `install()`.
[code]

[2017-09-20 08:16] #237 closed

[2017-09-20 12:31] HazAT commented on #235
@swl367 I've just updated our docs and fixed bunch of stuff.
https://docs.sentry.io/clients/react-native/codepush/

Also make sure to use the latest sentry-cli version `1.20` which soon will be released.

[2017-09-20 12:33] Tomatoo commented on #227
same error.

[2017-09-20 17:05] prithsharma commented on #206
I just did these two steps on codebase -
- `npm i --save react-native-sentry`
- `react-native link react-native-sentry`

and I am getting this 'undeclared identifier' error when building for iOS.

To confirm what @Tomatoo said, the link step doesn't add [these](//#import <React/RNSentry.h>) import statements to `AppDelegate`. Manually adding those lines leads to the errors that @KkkkKernc talks ab

[2017-09-20 20:22] tavriaforever opened #239 "Build iOS failed after follow official install instruction"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I use bitcode in my ios build. So I read about changing in this case into https://docs.sentry.io/clients/react-native/manual-setup/#build-steps

But I couldn`t archive build in iOS. I got an error

![sen

[2017-09-21 06:45] HazAT commented on #239
@tavriaforever Xcode cannot find you node installation, make sure it is exported correctly in your ENV.
Also if you are using nvm look at this: https://docs.sentry.io/clients/react-native/manual-setup/#using-node-with-nvm

[2017-09-21 06:45] #239 closed

[2017-09-21 06:48] HazAT commented on #206
@prithsharma Please run `react-native unlink react-native-sentry` twice and make sure there are no signs left of Sentry in your project (check Frameworks, libraries, AppDelegate).
After that link it again, these errors indicate that your project isn't set up correctly.

[2017-09-21 06:51] HazAT commented on #235
@doochik To clear things up, your upload looks fine but you have to make sure that your event version matches the release on the server where you uploaded the sourcemaps.

[2017-09-21 06:51] #235 closed

[2017-09-21 12:39] HazAT commented on #230
OK, I will close this now. I've also updated the docs about CodePush since it wasn't complete.
https://docs.sentry.io/clients/react-native/codepush/

[2017-09-21 12:39] #230 closed

[2017-09-21 12:50] HazAT commented on #132
So update on this, we probably not gonna implement it since in a future Sentry version we want to make the environment a first level dropdown for projects.
I am not really sure what other use cases there are, except for different environments.
So there will be a different mechanism to handle this.

[2017-09-21 12:50] #132 closed

[2017-09-21 12:57] HazAT commented on #192
I am not really sure how to help you from here.
To be honest I am not a Android pro myself, so if I am able to reproduce this locally it's hard to fix.
What you could try is setting it up in the example project
https://github.com/getsentry/examples/tree/master/react-native
and tell me the steps to reproduce it, otherwise, it must be something with your setup.

If tested it and following the progua

[2017-09-21 12:57] #192 closed

[2017-09-21 16:25] cinder92 commented on #222
im having same issue

sentry.properties

[code]

Error

![captura de pantalla 2017-09-21 a la s 11 23 48](https://user-images.githubusercontent.com/4725556/30706885-5fe489fe-9ebf-11e7-80e2-a109518be652.jpg)

any idea?

[2017-09-21 17:07] cinder92 commented on #234
@Onumis  did you find a solution? i have same issue

[2017-09-21 17:43] Onumis commented on #234
@cinder92 I unlinked this for now (note that you still get reports on Sentry, just without the extra info about the device / stack / etc)

[2017-09-21 18:02] crazy4groovy commented on #222
@cinder92 FWIW this seems to work better for me (on Windows):

`cli.executable=node_modules\\sentry-cli-binary\\bin\\sentry-cli`

[2017-09-21 18:08] cinder92 commented on #222
@crazy4groovy im on mac, but that file is not the error :/

[2017-09-22 13:26] hssrrw commented on #108
The problem stays but something changed. When I test my app in dev mode Sentry works fine. Exceptions successfully captured. When I try to assemble release build I get this `error: http error: Invalid token (401)`. Both on android and ios. So, setry.properties are definitely correct since they work in development.

`react-native-sentry@0.23.2`

[2017-09-22 13:41] HazAT commented on #108
@hssrrw That does not make sense, if you are on the same machine it has to work.
Changing the target from `debug` to `release` doesn't change anything in the env or `sentry-cli`.

[2017-09-25 13:03] fatinWasta commented on #107
any updates on this one? Having same issue.

[2017-09-25 14:21] HazAT commented on #107
@fatinWasta No, not really beside updating your node version.

[2017-09-25 15:12] esauter5 opened #241 "SyntaxError JSON Parse error: Expected '}'"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I'm receiving a bunch of errors in sentry that seem to point to `node_modules/react-native-sentry/lib/NativeClient.js`. Specifically, the error is:

[code]

There's also a similar native error that refer

[2017-09-25 21:16] fungilation commented on #241
I have seen this crash 3 times now. First 2 times before update to 0.23.2, and the last one when my iPhone was attached to Xcode 9 with CPU instrument on. Xcode logs up to app crashing:

[code]

Sentry in the mean time recorded this crash report, screenshots attached:
<img width="982" alt="screenshot 2017-09-25 13 58 26" src="https://user-images.githubusercontent.com/3803466/30831261-aea76392-a1fb

[2017-09-25 21:41] esauter5 commented on #241
I also use Code Push. I'll double check the stack trace to see if anything shows up there.

[2017-09-25 21:58] fungilation commented on #231
Would be great if it's similar to console improvement made in Chrome since 60 (or 61), which show collapsed snippets of elements inside the Object before expanding the object in console logs.

[2017-09-26 07:58] HazAT commented on #241
Hey, this bug should have been fixed with version > `0.24`.
Please upgrade and see if it still occurs.

[2017-09-26 09:33] fungilation commented on #241
My mistake, I'm already on `react-native-sentry@0.24.1`. I assumed 0.23.x based on releases logs here. My crash I showed above occured on `0.24.1`.

[2017-09-26 09:36] HazAT commented on #241
@fungilation I've also added a try catch just in case.
https://github.com/getsentry/react-native-sentry/pull/243

Still, it doesn't really make sense to me since I am checking for a valid JSON in Objective-C already before sending it over the bridge.

I will merge this as soon the tests pass.

[2017-09-26 09:40] fungilation commented on #241
Ya. Wish sentry records what the actual JSON is in my crash report? But obviously avoiding crashing apps is the priority, though fixing JSON at the source would be better.

[2017-09-26 11:12] #241 closed

[2017-09-26 12:00] HazAT commented on #241
@fungilation Please upgrade to `0.24.2` and see if the error is gone

[2017-09-26 12:59] esauter5 commented on #241
Thanks @HazAT. I will do the same and get back to you

[2017-09-26 13:05] HazAT commented on #215
I will close this for now since I didn't get a reply.
Please feel free to reopen it when you are able to add more information about the issue.

[2017-09-26 13:05] #215 closed

[2017-09-26 13:54] HazAT commented on #234
Quick update on this.
I found an issue where we upload assets twice when running gradle I will fix this.
Are you using sentry.io or your own installation?

[2017-09-26 13:59] Onumis commented on #234
Our own host. Version 8.9.0.

[2017-09-26 17:43] HazAT commented on #234
@Onumis Ok, so we are having an issue triggering the upload twice.
But at some point in the past we fixed something on the server preventing this error from happing.
So if it's possible for you to upgrade the server the error should be gone or stay tuned until I fix it :)

[2017-09-26 19:21] Onumis commented on #234
Great to know it! I don't think we can upgrade our server anytime soon as it's used for so many projects hehe, but I'll put it on the todo list :)

[2017-09-27 15:28] valeryq commented on #235
@HazAT Right now in Sentry I see full path to main.jsbundle (/Users/development/Library/Developer/CoreSimulator/Devices/2E07D1E4-2C5F-4B9C-844F-F05443C2D3E7/data/Containers/Bundle/Application/AEFD1C68-0E1C-4160-AD1A-39B9231E29B4/Application.app/main.jsbundle)
Artifacts for this release uploaded with names (*~/main.jsbundle* and *~/main.jsbundle.map*), but it not matched with full path and logs are

[2017-09-27 15:40] rquigley opened #244 "EXC_BAD_ACCESS Attempted to dereference garbage pointer"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
After applying a code-push update and restarting (using `codePush.restartApp()`), the app immediately crashes. CodePush rolls the app back to the previous build. `deactivateStacktraceMerging` is disabled

[2017-09-27 17:16] atarsha commented on #244
I have been experiencing the same behavior. I will try disableNativeIntegration to see if I can cut down on these production crashes. Below is just one example of my traces:

`OS Version: iOS 11.0.1 (15A402)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP
Crashed Thread: 7

Application Specific Information:
Attempted to dereference null pointer.
Originated at

[2017-09-28 07:34] HazAT commented on #235
@valeryq Which version of `react-native-sentry` are you using. It should not upload frames with the full path it should look like `app:///main.jsbundle`.
If release a fix for this in the latest version, make sure to upgrade.

[2017-09-28 07:37] HazAT commented on #244
Hey, thanks for reporting.
I will look into this.

[2017-09-28 07:43] valeryq commented on #235
@HazAT I'm using pure raven-js, but earlier it worked correctly :) Maybe you have some tips for me?

[2017-09-28 08:10] HazAT commented on #235
@valeryq I would use `react-native-sentry`, and if you are not comfortable with using the native integration you can just disable it (I do not recommend doing so)
[code]

There are so many things to consider when running a react-native app, we do no longer support using just `raven-js` without `react-native-sentry`

[2017-09-28 08:13] fabriziomoscon opened #245 "Android release build processes sourcemaps multiple times"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

[code]

[code]

---
I am using `react-native-sentry` `0.24.2` and on Android my release build process generates and uploads sourcemap files 4 times. I am using flavors. Is there any configuration flag or patch I can use to make the build process sourcemaps only once?

[code]

`./gradlew assembleStagingRelease` gen

[2017-09-28 08:22] HazAT commented on #244
OK, so I played around with it and I am not able to reproduce it.
I am running this demo with and just added `react-native-sentry`
https://github.com/Microsoft/react-native-code-push/tree/master/Examples/CodePushDemoApp

If I run the app in `Release` and download new packages from my CodePush release the app restarts and nothing crashes.

Is it possible for you to send me your code or the smallest

[2017-09-28 08:24] HazAT commented on #245
Hey, thank you for reporting this.
It's basically a dup of https://github.com/getsentry/react-native-sentry/issues/234 though this issue is more specific about it :)
I am on it 👍

[2017-09-28 08:41] fabriziomoscon commented on #245
Thanks @HazAT !
My goal is not to disable the submission of sourcemaps tough. I just want them to be submitted once. And I am using sentry.io not my own server.
If you want I can close this and move my comment on #234

[2017-09-28 09:31] 94cstyles opened #247 "Using node with nvm not working"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
react-native: `0.48.4`
xcode: `9.0`

**ios/build-phase-scripts/upload-dsym.sh**

[code]

**Bundle React Native code and images**

[code]
error: `env: node: No such file or directory`

or `NODE_BINARY="/Users/cstyles/.nvm/version

[2017-09-28 10:08] #234 closed

[2017-09-28 10:08] #245 closed

[2017-09-28 10:53] HazAT commented on #245
Hey, I've just released `0.25.0`, the error should be gone now :)

[2017-09-28 10:54] HazAT commented on #234
@Onumis Hey, I've just released `0.25.0`, the error should be gone now :)

[2017-09-28 11:23] fabriziomoscon commented on #245
👍
great now the build process only process sourcemaps for the active flavor!

Thanks a lot

[2017-09-28 11:25] valeryq commented on #235
@HazAT so, I switched to react-native-sentry, and after that I really see `app:///main.jsbundle` in logs, great. But can I specify release name manually from JS client? And can I disable automatic sourcemap handling?

[2017-09-28 11:31] HazAT commented on #235
@valeryq  There are:
[code]
try out which fits your needs.
What do mean with automatic source map handling? If you don't want to upload source maps you can remove the run script from Xcode or gradle plugin from your android project.

[2017-09-28 15:00] JulianKingman commented on #227
@HazAT is this fixed? I'm not seeing the error anymore, nor do I know what caused it.

[2017-09-28 22:27] miracle2k commented on #224
I was searching for this, because I had this exact question. Isn't it a bad thing to ship the secret key with the app? I'd essentially be exposing it publicly. Or is it not a big deal?

[2017-09-29 04:20] 94cstyles commented on #247
Temporary solution:
[code]

[2017-09-29 04:20] #247 closed

[2017-09-29 06:43] valeryq commented on #235
@HazAT super, it's working, but only need to upload sourcemaps via sentry-cli (it convert map file) and then it will be working as expected! Great!

[2017-09-29 07:15] HazAT commented on #224
It's not a big deal, the security implication is only that someone can send events on your behalf, which your only resolve is to revoke the API key and ship a new one. There's no other access given by default with client keys.
This is mostly the same for all analytics/error tracking apps out there.

[2017-09-29 07:17] HazAT commented on #227
@JulianKingman Sorry for not replying earlier.
I wasn't able to reproduce it, so I did nit intentionally fix it.
Did you upgrade one of your dependencies?

[2017-09-29 12:05] HazAT commented on #244
Quick update, not showing the crash thread was an error in sentry, I fixed it, should be deployed today.
https://github.com/getsentry/sentry/pull/6220

[2017-09-29 12:12] JulianKingman commented on #227
Nevermind, after testing, I saw that I had put my expo `hooks` in the wrong place
app.json was:
[code]

should be:
[code]

[2017-09-29 12:12] #227 closed

[2017-09-29 19:13] yudhisthira8fit commented on #192
I was able to make build successfully after adding following code in proguard setting

-keepattributes LineNumberTable,SourceFile
-dontwarn org.slf4j.**
-dontwarn javax.**

[2017-09-30 10:53] miracle2k commented on #224
Thanks. I found this discussion with more information about the difference: https://github.com/getsentry/sentry/issues/3696

[2017-09-30 18:18] JasonHenson opened #248 "ios uploading debug symbols"
OS:
- [ ]  Windows
- [/ ]  MacOS
- [ ]  Linux

_Platform:_
- [ /]  iOS
- [ ]  Android

I am able to upload my bundles fine to sentry.io during the build process, but one issue I am having is that for IOS build it always uploads as main.jsbundle instead of index.ios.bundle resulting in error "Source code was not found for app:///index.ios.bundle" when I a view an issue. For Android the proper bundl

[2017-09-30 19:43] JasonHenson commented on #248
was just an issue on my end -- closing.

[2017-09-30 19:43] #248 closed

[2017-10-02 14:16] hssrrw commented on #108
Sorry, we are simply lost in docs and can't find a descriptive example of using Sentry API with custom DSN. Looks like the error 401 was indeed caused by incorrect credentials. Now we get `error: http error: generic error (413)` which seemed to be due to source map size limit (or something like this). The limit was increased to 20Mb, but the error 413 is still there. Do we have to set even a highe

[2017-10-02 22:20] JAStanton opened #249 "Source code was not found for app:///index.android.bundle"
When uploading source maps, what are the rules in which sentry looks up the source maps by?

In the web ui for *additional data* I have `release: xxxxx` and in releases tab in the web ui I have a release with that exact version, then under artifacts with that release name I have a file uploaded entitled `~/index.android.bundle` and `~/index.android.map`, and if I look in the file for  `~/index.and

[2017-10-02 22:21] JAStanton opened #250 "Blacklist errors?"
Is there a way to blacklist which errors to upload? I am getting spammed heavily for one error type and I would like to not send it over the wire.

[2017-10-03 10:00] HazAT commented on #250
Hey, there are two options you can take.
First, you could use the `setShouldSendCallback` which I haven't exposed yet -> will do a release with today.
Secondly, you could go into your project settings, inbound filters, to the section called:
`Filter errors by error message:`
if you play around with that, errors filtered with this do not count against your quota.

[2017-10-03 11:00] HazAT commented on #249
Hey, I've recently updated the CodePush docs
https://docs.sentry.io/clients/react-native/codepush/
with these settings, I tried it with iOS and Android and it worked.

Note that also the dist has to match the release in sentry.

Also, can you link a few events here so I can check whats wrong?

[2017-10-03 11:54] #250 closed

[2017-10-03 12:24] HazAT commented on #250
I've released `0.26.0` where you can set `setShouldSendCallback` to check if you want to send the event.

[2017-10-03 15:20] JAStanton commented on #249
@HazAT can I PM / email you the links directly?

[2017-10-03 17:58] antoinerousseau commented on #192
@yudhisthira8fit worked for me, thanks a lot!!! how did you find this?!

[2017-10-04 10:47] HazAT commented on #192
It's also in our doc, I probably forgot to mention it specifically.
https://docs.sentry.io/clients/java/modules/android/#manual-integration

[2017-10-04 10:53] antoinerousseau commented on #192
OH I see! Sorry didn't see this!

[2017-10-04 11:15] antoinerousseau commented on #192
But I can't use the plugin to do this automatically (and then upload the mappings) because of:
[code]

and if I try to use Gradle 3.3 (and then the SDK build tools 25), I get:

[code]

[2017-10-04 11:16] antoinerousseau commented on #192
Also, there isn't any `sentry-debug-meta.properties` in `intermediates/assets/release/` after compiling so I can't upload manually

[2017-10-04 11:20] antoinerousseau commented on #192
Note that my outputs/apk/intermediates etc are in `~/Android/...`, not in my project folder

[2017-10-04 21:23] JAStanton opened #252 "Would Sentry catch crashes if we allocate too much memory?"
Would sentry catch crashes if we allocate too much memory? From what I can tell on Android and possible iOS If I allocate too much memory (dealing with large images for example), the OS doesn't tell the app it just stops it. On next boot would Sentry be able to understood we crashes because the app ran out of memory?

[2017-10-05 09:39] HazAT commented on #249
So we continued the conversion via email.
The gist of it is that the release and dist have to match in order to have the source map to match.

[2017-10-05 09:39] #249 closed

[2017-10-05 14:32] JAStanton opened #253 "(Re-Opening) setEventSentSuccessfully has bare data on Android"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

This is a reference to old issue I filed here https://github.com/getsentry/react-native-sentry/issues/220. Context: I use `setEventSentSuccessfully` to send up some analytic data to my servers, our data

[2017-10-07 01:53] ohtangza commented on #234
As the title says, is there any tips for temporarily disabling SourceMap uploading because our CI server uploads it anytime we make new commit on our repo.

[2017-10-08 07:19] hccoelho opened #254 "Xcode build fails due SentryReactNative"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

v7.9.0
4.2.0
xxx@0.0.1
├── apisauce@0.5.0
├── format-json@1.0.3
├── querystringify@0.0.4
├── ramda@0.22.1
├── UNMET PEER DEPENDENCY react@15.5.3
├── react-addons-perf@15.5.0-rc.2
├── react-addons-test-utils@15.5.1
├── react-dom@15.5.3
├── UNMET PEER DEPENDENCY react-native@0.42.3
├── react-native-animatable@1.2.0

[2017-10-08 22:29] Zycon42 opened #255 "Android: multiple sourcemap uploads"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Using build types which change applicationId and versionName sourcemap are uploaded 4 times instead of only once
[code]

**Steps to reproduce:**
- Add different build types that change versionName and ap

[2017-10-09 07:10] HazAT commented on #234
@ohtangza You can add conditions to the Xcode run script phase or to your gradle file.

I haven't tested this but it should work if you adjust it to your needs
`app.gradle`
[code]

`Xcode run script`
[code]

[2017-10-10 11:42] #255 closed

[2017-10-10 11:43] HazAT commented on #255
Thanks again, great contribution with superb bug report AND fix :)

[2017-10-10 11:49] HazAT commented on #253
Hey, since we handle events differently on Android and it's harder to get the full JSON representation of it, I had to add properties by hand.

I will check if I am able to add more context you are able to check for the message.

[2017-10-10 11:51] HazAT commented on #252
Sadly there is no way see: https://github.com/kstenerud/KSCrash/issues/10

[2017-10-10 11:51] #252 closed

[2017-10-10 14:58] shivawu opened #257 "Could not get unknown property 'flavorAware' for object of type io.sentry.android.gradle.SentryPluginExtension"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

---
I have following issue:

Enabling `io.sentry.android.gradle` would cause the following error:

[code]

It seems that enabling this plugin has overridden `project.sentry` property in gradle to point to something else.

https://github.com/getsentry/react-native-sentry/blob/master/sentry.gradle#L6

[2017-10-10 15:47] HazAT commented on #257
Can you post your gradle config and version of react-native-sentry please?

[2017-10-10 21:28] chefkefu opened #258 "Android Release Build stack showing wrong location (even in the sentry-test example project)"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

[code]

---
I have following issue:
Stacktrace line number off in Android release build. It's about ~20 lines off.

**Steps to reproduce:**
- Clone the sentry-test project (https://github.com/getsentry/examples/tree/71b60dd1a451ffa6b20c7959137608ba7

[2017-10-11 03:37] shivawu commented on #257
For sure.

[code]

And

[code]

[2017-10-11 05:37] fungilation opened #259 "[RN 0.49+] `requiresMainQueueSetup` needed for main queue setup, with constantsToExport"
OS:
- [ ]  MacOS

_Platform:_
- [ ]  iOS

### Console warning:
Module RNSentry requires main queue setup since it overrides `constantsToExport` but doesn't implement `requiresMainQueueSetup`. In a future release React Native will default to initializing all native modules on a background thread unless explicitly opted-out of.

Same for RNSentryEventEmitter

<img width="1170" alt="screenshot 2017-1

[2017-10-11 12:18] HazAT commented on #259
Thanks for reporting this, I will look into it.

[2017-10-11 12:21] HazAT commented on #257
can you change
[code]
TO
[code]
and see if the problem still exsists?

[2017-10-11 13:29] HazAT commented on #258
Hey, thank you for reporting.
We had this issue already a few times but it still seems to be a problem with react-native itself see:
https://github.com/facebook/react-native/issues/6946

I will keep this open to having a reference.

[2017-10-11 16:25] swl367 commented on #235
@HazAT How would the documentation work for android codepush?

$ code-push release-react YourApp ios --outputDir build
$ export SENTRY_PROPERTIES=./ios/sentry.properties
$ sentry-cli react-native codepush YourApp ios ./build

Would we replace all of the 'ios' with 'android'?

[2017-10-11 16:27] chefkefu commented on #258
Thank you! Are you aware of any work arounds? I am not sure if this is related to versioning or how often it repros but essentially it’s making the entire android error reporting to sentry obsolete..

[2017-10-11 16:57] HazAT commented on #235
@swl367 right, that should do it

[2017-10-11 20:41] pvinis commented on #135
it happens for me too, every time.
if i compile from inside xcode, its fine.
if i compile from fastlane, i get this error.

[2017-10-11 22:57] shivawu commented on #257
No that doesn't work.

[code]

[2017-10-11 23:01] chefkefu commented on #258
Also here is a min repro in a release android build:
[code]

The stack will show wrong line/column number in the bundle file.

[2017-10-12 19:19] chrismllr opened #260 "'React/RCTBridgeDelegate.h' file not found"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`
[code]

Config:
[code]

---
I have following issue:
`'React/RCTBridgeDelegate.h' file not found` when installing into project using cocapods

**Podfile**
[code]

**Steps to reproduce:**
- `yarn add react-native-sentry`
- `react-native link react-native-sentr

[2017-10-12 19:50] chrismllr commented on #260
Issue resolved:
1. Delete React native sentry from `Libraries` folder in workspace
2. Remove RNSentry.a from `Build Phases -> Link Binary With Libraries`

Could not find these steps in the docs anywhere - It may be more helpful to move `Setup with CocoaPods` into the `Manual Setup for iOS` docs, and outline that it must be done instead of react-native-link

[2017-10-12 19:50] #260 closed

[2017-10-13 02:10] ghsdh3409 opened #261 "Crash: EXC_BAD_ACCESS Attempted to dereference garbage pointer"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

[code]

**Steps to reproduce:**
- It is produced randomly.
- I guess that it is related with breadcrumbs. After disabling autoBreadcrumb, crashing is decreased.
- Breaking point is at line 280 in https:/

[2017-10-13 02:10] ghsdh3409 commented on #261
@ohtangza FYI

[2017-10-13 05:43] peteroid commented on #261
I encountered the same issue on iOS 11. This could be prevented by not installing sentry when the app started. But I dun have any specific step to produce this crash. However, it's quite easy to get crashed by just using the app for a while and sometimes the app would just crash after startup.

Error:
`Thread 1: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`

My crash log:
<img width="516

[2017-10-13 06:13] ohtangza commented on #261
@peteroid I'm a co-worker of @ghsdh3409 (the issue creator). You said, "This could be prevented by not installing sentry when the app started." then when would it be installed? Do you mean that we should disable Sentry for iOS 11 device to prevent this?

We used to use BugSnag before and it never resulted in library-related crashes anymore. After switching to Sentry, it seems that app becomes unst

[2017-10-13 06:51] peteroid commented on #261
@ohtangza  @ghsdh3409
I ended up skipping initializing Sentry on iOS 11 to stop crashing. I have something like this,
[code]

[2017-10-13 07:17] HazAT commented on #261
Guys, try to set:
[code]
This should resolve the bug.
We gonna make a new release where this stack trace merging is by default deactivated since it seems to do more harm than good.

[2017-10-13 07:48] HazAT commented on #261
I've just released `0.27.0`
https://github.com/getsentry/react-native-sentry/releases/tag/v0.27.0
which where stack trace merging is disabled by default.
I will close this for now since this can be fixed by deactivating stack trace merging.
We are looking into ways making this more stable, sadly react-native doesn't make it easy to do so.
Stay tuned and sorry for the inconvenience this may have ca

[2017-10-13 07:48] #261 closed

[2017-10-13 08:04] HazAT commented on #260
Hey, thanks for pointing this out, I will fix this.

[2017-10-13 08:11] ohtangza commented on #261
@HazAT Got it. Please let us know through release note so that we can catch up the stable version later. Anyways, thanks for your responsive services.

[2017-10-13 10:31] tomaskazatel commented on #259
+ 1 for me @HazAT in react-native navigation fix that warning via this edit https://github.com/wix/react-native-navigation/pull/1983/files

[2017-10-13 10:55] HazAT commented on #259
Hey, I will release an update for this today 👍
Thx for your help.

[2017-10-13 11:05] #257 closed

[2017-10-13 11:22] HazAT commented on #254
Hey, sorry for the late reply.
Maybe this helps: https://github.com/getsentry/react-native-sentry/issues/260

I will look into this and keep you posted.

[2017-10-13 11:47] #259 closed

[2017-10-13 15:25] HazAT commented on #257
I've just released `0.28.0` which fixes the issue.

[2017-10-13 15:25] HazAT commented on #259
I've just released `0.28.0` which fixes this issue.

[2017-10-13 15:27] HazAT commented on #244
@rquigley I've just released `0.28.0` which now uses the main thread instead of background threads. Also not that stack trace merging now by default is turned off (version 0.27.0).

[2017-10-13 16:12] shivawu commented on #257
Thanks so much for the fast response and fix!

[2017-10-14 12:41] fibbers commented on #206
I also experienced this issue and what worked for me was modifying `AppDelegate.m` as follows:

[code]

NB: this was on another project, however I had the same error and came here after searching for a solution 😃
NB2: I'm using RN 0.48

[2017-10-14 20:38] hccoelho commented on #254
Hi HazAT, thank you for the pointer. Unfortunately, it didn't. For me, the Libraries folder is empty and the RNSentry is not in the build phases. It seems something else.

[2017-10-15 09:10] r06921078 commented on #11
..

[2017-10-15 18:53] gHashTag opened #267 "error: http error: Invalid token (401)"
OS:
- [ ]  Windows
- [10.12.6 ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ +]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

After
`cd android && ./gradlew assembleRelease`

[code]

**Actual result:**
- Actual

[code]

Where is the mistake?

[2017-10-16 06:43] HazAT commented on #267
Can you check your `sentry.properties` file and see if you paste in the correct credentials?
See: https://github.com/getsentry/react-native-sentry/issues/195
https://github.com/getsentry/react-native-sentry/issues/181

[2017-10-16 07:29] fivepointseven opened #268 "Using Sentry.setShouldSendCallback causes Invariant Violation in AppRegistry"
OS:
- [ ]  Windows
- MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- Android

Config:

[code]

---
I have following issue:

When trying to disable reporting in dev mode the app crashes on startup.

**Steps to reproduce:**
Set the config
Set `Sentry.setShouldSendCallback(() => false);`
Run the app

**Actual result:**
`Invariant Violation: Module AppRegistry is not a registered callable module (calling

[2017-10-16 07:48] HazAT commented on #268
Hey, are you sure this is related to react-native-sentry?
If you don't want to report in dev just don't call `install()`
[code]

[2017-10-16 07:49] fivepointseven commented on #268
@HazAT thanks for the prompt reply! When I comment out Sentry stuff altogether it still sends the reports

[2017-10-16 07:51] HazAT commented on #268
hmm, this does not make sense, Sentry only sends stuff if you call install.
Can you paste the part of your code where you include and use Sentry?

[2017-10-16 07:53] HazAT commented on #254
Hey, I've just created an example project with CocoaPods and had no trouble setting in up like this.
https://github.com/getsentry/examples/tree/master/react-native/ios-swift-cocoapods

Compare this to your project and see if you find any differences.

[2017-10-16 07:54] fivepointseven commented on #268
[code]

[2017-10-16 08:02] HazAT commented on #268
I've just tried it if I comment out this line it does nothing.
Make sure you have this call nowhere else.

[2017-10-16 08:30] fivepointseven commented on #268
Somehow cleaning my android build and re-installing the app on the device fixed it.
Thanks for your help!

[2017-10-16 08:30] #268 closed

[2017-10-16 09:45] songxiaoliang opened #269 "Android : gradlew assembleRelease faild"
error: organization or project not found

Now I want to know where the organization and project are configured? Expect the author to reply as soon as possible

[2017-10-16 09:56] HazAT commented on #269
Hey, all the auth parameters are stored in a file called `sentry.properties`.
This file will be created when calling `react-native link react-native-sentry` see:
https://docs.sentry.io/clients/react-native/

[2017-10-16 09:56] #269 closed

[2017-10-16 10:02] songxiaoliang commented on #269
@HazAT origazation and project the two values where should I find it? Now I do not know where to copy

[2017-10-16 10:09] songxiaoliang commented on #269
@HazAT I now do not know origazation and project which two values from the URL copy? Looking forward to reply

[2017-10-16 10:13] songxiaoliang commented on #269
@HazAT yeah，I am dealing with this problem, thank you very much

[2017-10-16 10:23] songxiaoliang opened #270 "Android sentry.properties"
sentry.properties  file ：auth.token can be filled out? token random value, gradlew assembleRelease also can be successful。

[2017-10-16 11:22] mitsuhiko commented on #270
Please do not use this issue tracker as a support channel.

If you are a paying customer directly contract customer support, otherwise write to the community forums at http://forum.sentry.io/

[2017-10-16 11:22] #270 closed

[2017-10-16 12:03] songxiaoliang opened #271 "Android machine not get data"
android simulator can be replenished to the normal, in the real machine is not OK, why?

[2017-10-16 12:25] mitsuhiko commented on #271
Please do not use this issue tracker as a support channel.

If you are a paying customer directly contact customer support, otherwise write to the community forums at http://forum.sentry.io/

[2017-10-16 12:25] #271 closed

[2017-10-16 14:04] gHashTag commented on #267
@HazAT

Correctly?

[code]

[2017-10-16 14:10] HazAT commented on #267
Change
`@playra` to `playra`
:)

[2017-10-16 14:10] #267 closed

[2017-10-16 15:02] gHashTag commented on #267
But same error(
[code]

my `sentry.properties`

[code]

[2017-10-16 15:21] gHashTag commented on #267
Correctly my auth.token?

![2017-10-16 18 11 06](https://user-images.githubusercontent.com/6774813/31619996-bcb9610c-b29e-11e7-9239-ba5f5202f9ac.png)

[2017-10-16 15:49] HazAT commented on #267
oh sorry, your auth token is also wrong.
You can create one here:
https://sentry.io/api/
Also, I advise you to stop posting your secrets publicly on Github.

[2017-10-16 15:57] antoinerousseau opened #272 "Attempted to assign to readonly property"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have the following issue:

When adding the `ignoreErrors` key to the config, I get an error at startup:

<img width="566" alt="capture d ecran 2017-10-16 17 53 48" src="https://user-images.githubusercontent.com/160279/31621986

[2017-10-16 16:09] antoinerousseau commented on #272
Sorry I realize this is not listed at https://docs.sentry.io/clients/react-native/config/
Maybe it's just not an option in the RN version

[2017-10-16 16:49] chrismllr opened #273 "error: bad sentry url: not on URL root (Processing react-native sourcemaps for Sentry upload)"
OS:
- [ ]  Windows
- [ ]  MacOS
- [X]  Linux (CircleCI build container)

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`
[code]

Config:

[code]

---
I have following issue:
When `Processing react-native sourcemaps for Sentry upload.` for the Android project, getting the following error:
[code]
Which I found the error in this file:
https://github.com

[2017-10-16 16:59] chrismllr commented on #273
Looks like its trying to upload sourcemaps during a `test`, which I wouldnt want anyway - but the error looks like one I may run into doing a `production` build as well.

Side-question : Is there a way to disable uploading sourcemaps?

[2017-10-16 17:13] HazAT commented on #273
Hey, check you `sentry.properties` file, your `defaults.url` just should be `https://sentry.io`.
You can disable it in your gradle build by uncommenting the the sentry-react native gradle script.

[2017-10-16 18:14] chrismllr commented on #273
Ok, thank you! I must have mistaken it for the DSN when linking.

[2017-10-16 18:14] #273 closed

[2017-10-17 05:01] ChathuraP commented on #141
I also encountered the same issue and fixed and got help from this post.
**This is actually what happen.**
"react-native-xcode.sh" script is in two differant paths in two different react-native versions. and this script is referred in x-code build process. please take a look at the images. according to the react-native version, You has to find where is this script and update the path in Xcode then

[2017-10-17 13:54] entropitor opened #274 "captureException is level fatal on iOS and error on Android"
I have following issue:

The log level for Android and iOS is different when using captureException

**Steps to reproduce:**
- Log an exception using captureException

**Actual result:**
- iOS logs the exception with level 'fatal'

**Expected result:**
- iOS logs the exception with level 'error'

[2017-10-18 04:11] leethree opened #275 "Navigation breadcrumb not supported on Android"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

We use `captureBreadcrumb` to add navigation events to Sentry to better track down where crashes happen. It works well on iOS but it doesn't show up on Android. Besides, the network events are missing as

[2017-10-18 06:23] gowrojisunil opened #276 "Error: organization or project not found :app:bundleReleaseJsAndAssets"
OS:
- [ ]  MacOS
_Platform:_
- [ ]  Android

Output of `

react-native run-android --variant=release

error: organization or project not found
:app:bundleReleaseJsAndAssets FAILED

FAILURE: Build failed with an exception.

* Where:
Script '/TF_ReactNative_Projects/Projects/MobilityOne/node_modules/react-native-sentry/sentry.gradle' line: 126

* What went wrong:
Execution failed for task ':app:bund

[2017-10-18 07:48] HazAT commented on #276
Can you run it with `--stacktrace` `--info or --debug` please?

[2017-10-18 07:51] HazAT commented on #275
Thank you for reporting, I will look into this.

[2017-10-18 07:52] HazAT commented on #272
Hey, I will check whats going on here because this should work.

[2017-10-18 07:52] HazAT commented on #274
Thanks for reporting, I will check this.

[2017-10-18 08:39] gowrojisunil commented on #276
--stacktrace

* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:bundleReleaseJsAndAssetsreleaseSentryUpload'.
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:

[2017-10-18 10:00] entropitor commented on #274
@HazAT shouldn't it go to "error" for both? I think fatal should be for app crashes, no?

[2017-10-18 10:12] HazAT commented on #274
@entropitor You are absolutely right 💯

[2017-10-19 07:42] HazAT commented on #276
Can you paste your `sentry.properties` file?
You probably have something misconfigured there.

[2017-10-19 12:57] #253 closed

[2017-10-19 12:57] #272 closed

[2017-10-19 12:57] #274 closed

[2017-10-19 12:57] #275 closed

[2017-10-19 14:37] leethree commented on #275
Thanks!

[2017-10-19 15:42] Toub commented on #231
Related to https://github.com/getsentry/raven-js/issues/623

[2017-10-19 21:01] ricbermo opened #278 "Error:Execution failed for task ':app:transformClassesWithDexForDebug'"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`
`7.5.0`
`4.1.2`
<img width="510" alt="screen shot 2017-10-19 at 3 53 32 pm" src="https://user-images.githubusercontent.com/2601363/31793778-d3bca4ce-b4e5-11e7-9da1-06e624c26100.png">

Config:

[code]
---
I have following issue:

After installing and linking

[2017-10-20 04:58] leethree commented on #224
I don't think it's a good idea to ship secrets within the app. Client apps should be treated the same as browsers. If the secrets don't make a difference, Sentry SDK should allow using Public DSN instead of DSN with secrets.

[2017-10-20 05:30] HazAT commented on #224
@leerhree You are right and we are currently working on this.
Technically it‘s no secret, we will drop the „secret“ part in the future but nothing to announce yet.
For now please use the DSN with secret.

[2017-10-20 06:35] leethree commented on #224
@HazAT Glad to hear! Thanks a lot!

[2017-10-20 06:36] HazAT commented on #278
Hey, I am no Android guru but have you tried this also this?
https://stackoverflow.com/a/30660809/1139707
So I am pretty confident that Sentry isn't the culprit, probably only because it was added as the last plugin which causes the method overflow, so I will close this for now.
`multiDex` should solve this.

[2017-10-20 06:36] #278 closed

[2017-10-20 06:51] HazAT commented on #258
Just adding an older issue for documentation purposes:
https://github.com/facebook/react-native/issues/13685

[2017-10-20 15:02] edo1493 opened #280 "Performance issues on iOS native integration"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

If I use raven-js, I don't see any problem. Whenever I link sentry to start tracking native events, the performance of the app drops. I see frames being dropped for pretty much every action I dispatch (I

[2017-10-23 04:23] gowrojisunil commented on #276
defaults.url=https://sentry.io/
defaults.org=TestingCompany
defaults.project=MOBILITYONE
auth.token=c833b656155941a297135eae077fbd3eb5bcca07ae1542a4ba4623207bcbb02b
cli.executable=node_modules/sentry-cli-binary/bin/sentry-cli

[2017-10-23 06:53] leethree opened #281 "Feature request: Report promise rejections"
It would be greatly helpful if Sentry can report unhandled promise rejections from React Native. They are often caused by hard-to-find bugs.

`bugsnag-react-native` supports this feature. See documentation:
https://docs.bugsnag.com/platforms/react-native/configuration-options/#handlepromiserejections

And their code:
https://github.com/bugsnag/bugsnag-react-native/blob/660a2352113539f56e82b7cc14be

[2017-10-23 07:19] HazAT commented on #276
@gowrojisunil Please make sure you copy your org and project from your URL in your browser.
I guess it should probably be lowercase.

[2017-10-23 07:19] #276 closed

[2017-10-23 07:25] gowrojisunil commented on #276
Hi Hazat thanks for the above replies. This is how my URL looks like "https://sentry.io/testing-m5/mobilityone/" . so i need to change "TestingCompany" to "testing-m5" and project too ?

[2017-10-23 08:06] HazAT commented on #276
right
[code]

[2017-10-23 08:27] gowrojisunil commented on #276
yes resolved. Thank you so much !!!

[2017-10-23 08:43] HazAT commented on #280
Hey, are you running your app in `DEV`?
If so try running in in `RELEASE`, also if you have time can you maybe try this branch and see if it fixes your problem:
https://github.com/getsentry/react-native-sentry/pull/282

It's just changes in `RNSentry.m` so you could copy the content and replace it locally and try if the performance issues are still there.

[2017-10-23 08:45] HazAT commented on #281
Hey, thanks I will look into this.

[2017-10-23 20:36] swl367 commented on #235
@HazAT I'm having issues with pushing a code-push release. When my account shows 0 releases, I expect v1 to be the latest code push release.

However, when I run the commands in the documentation, I get the following output:

Source Map Upload Report
  Minified Scripts
    ~/main.jsbundle (sourcemap at main.jsbundle.map)
  Source Maps
    ~/main.jsbundle.map

Any ideas?

[2017-10-23 22:17] swl367 opened #283 "Incorrect code-push version created when using sentry cli"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I'm having issues with pushing a code-push release to prod. When my account shows 0 releases, I expect v1 to be the latest code push release.

However, when I run the commands in the documentation, I get

[2017-10-24 07:17] HazAT commented on #283
Have you tried running this command:
`sentry-cli react-native codepush YourApp ios ./build`

with
`sentry-cli react-native codepush YourApp ios ./build --deployment=Production`

?

[2017-10-24 11:52] swl367 commented on #283
Yes

On Tue, Oct 24, 2017 at 2:17 AM Daniel Griesser <notifications@github.com>
wrote:

[2017-10-24 18:59] #280 closed

[2017-10-24 18:59] #281 closed

[2017-10-24 23:41] binwilly commented on #111
Same issue like @feiyingx

Node: 6.10.3 (with nvm)
react-native-sentry: "^0.29.0"

I was able to fix it with:
`ln -s /Users/{user}/.nvm/versions/node/v6.10.3/bin/node /usr/local/bin/node`

Changing `export NODE_BINARY={path to node}` didn't work for me, I wondering if somewhere is /usr/local/bin hardcoded

[2017-10-25 13:31] SirNeuman opened #284 "Error on 'react-native link react-native-sentry'"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

---
I have following issue:

On running `react-native link react-native-sentry` after running `npm install react-native-sentry --save` I get an error. This is the output of my shell after running the command:

[code]

It appears to have updated some

[2017-10-25 13:43] edo1493 commented on #280
@HazAT I tried both Release and Dev. I will give the branch a go, thanks!

[2017-10-27 07:31] HazAT commented on #284
Hey, I am not able to reproduce this:
If I run:
[code]

I get this:
[code]

[2017-10-27 08:44] vincejah commented on #169
@HazAT The problem occurs again when switching from 0.21.2 to 0.29.0.

[2017-10-27 09:02] HazAT commented on #169
@vincejah can you upgrade to `0.30.0` please.

[2017-10-27 09:08] vincejah commented on #169
@HazAT 0.30.0 is not proposed by npm (latest available build on npm is 0.29.0)

[2017-10-27 09:16] HazAT commented on #169
@vincejah please try again

[2017-10-27 09:46] vincejah commented on #169
@HazAT It does not occur on 0.30.0. Thanks

[2017-10-27 09:53] vtoupet opened #285 "recursion limit hit"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

---
my sentry additional data is truncated like below (it did not happen in the past with same recursive level)

[code]

Is there a way to remove this limit or set it to a higher level?

[2017-10-27 10:32] Zycon42 opened #286 "NoSuchKeyException: couldn't find key stacktrace in dynamic object"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

We see folowing error in sentry:
com.facebook.react.bridge.NoSuchKeyException: couldn't find key stacktrace in dynamic object
    at com.facebook.react.bridge.ReadableNativeMap.getMap(ReadableNativeMap.j

[2017-10-27 10:40] HazAT commented on #285
Can you link to one of these event please?

[2017-10-27 12:08] vincejah commented on #285
@HazAT https://sentry.io/vincent-toupet/smartmixin-mobile/issues/393497081/events/8464743902/

[2017-10-27 12:13] HazAT commented on #286
Hey, can you upgrade to `0.30.0` an try again?

[2017-10-27 13:53] SirNeuman commented on #284
Hmmm... yeah I wasn't able to reproduce it either with a clean React-Native project and all of my package dependencies. I'm gonna keep trying to find out where the issue is within my specific configuration in my project. If I find it I'll post it here. Even if it's not an issue with react-native-sentry it could help anyone else who happens to run into this issue.

[2017-10-27 14:22] SirNeuman commented on #284
Ok. So I've tried copying over parts of my original project into a clean project one by one and trying the linking step to see when i get that error. It appears the issue is within the `ios` directory of my react-native project. Still not sure why thats happening though. I haven't been working with ios at all (been focusing solely on Android), and seeing as how i've been using the react-native-git

[2017-10-27 14:59] SirNeuman commented on #284
So I found a couple of other places in other libraries where people had a similar problem with react-native linking for iOS: https://github.com/BranchMetrics/react-native-branch-deep-linking/issues/239 and https://github.com/alwx/react-native-http-bridge/issues/1. I also found that i ran into the same issue when i tried to do `react-native unlink react-native-google-signin`. But didn't have the is

[2017-10-27 17:36] #284 closed

[2017-10-28 07:37] wellyshen commented on #247
I have the same issue

[2017-10-31 14:44] Zycon42 commented on #286
Okay, I'm unable to reproduce it myself, I see it only as crash events in production. I updated and waiting for release. I will let you know if the crashes continue showing up in production.

[2017-11-03 10:06] HazAT commented on #286
Ok, I will close this for now.
If you find out something new, feel free to reopen it.

[2017-11-03 10:06] #286 closed

[2017-11-03 10:09] HazAT commented on #254
I will close this for now.
If you are still having troubles feel free to reopen it.

[2017-11-03 10:09] #254 closed

[2017-11-03 10:10] HazAT commented on #283
@swl367 Do you have any update on this issue?

[2017-11-03 10:18] booker-laputa opened #290 "Yellow warning box in debug mode is missing"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Manually install sentry and use CocoPods to import it

**Steps to reproduce:**
- 1. npm i react-native-sentry --save
- 2. add pod to Podfile
- 3. pod install
- 4. react-native run-ios
- 5. Execute some m

[2017-11-03 10:43] HazAT commented on #290
Do you mean the unhandled rejected promises box?

[2017-11-03 15:50] swl367 commented on #283
@HazAT I have not tried it yet since I've just been promoting staging to production. I will give you an update once we release our next build.

[2017-11-03 16:49] jpshelley opened #291 "Question: react-native-windows support"
OS:
- [X]  Windows
- [ ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ ]  Android
- [X] Windows

More of a question then an issue:
Will react-native-sentry ever support react-native-windows for UWP apps? If not in the main repo, what about as a third party? Is there steps to take to support it?

From my understanding it will support it by falling back on the pure javascript solution as there is

[2017-11-03 19:41] jpshelley opened #292 "Question: Sourcemap Support"
OS:
- [X]  Windows
- [ ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ ]  Android
- [X] Windows

Question, not an issue: For whatever reason I cannot get the sourcemaps to upload correctly for my react-native-windows project. Is it a limitation of using react-native-windows?

Does the `upload-sourcemaps` command in the cli supposed to take a bundle and a map file? ie: `index.windows.bundle` and

[2017-11-03 19:42] jpshelley commented on #292
Using --validate shows `- Warning: missing sourcecode ...` too

[2017-11-06 21:33] jdzak opened #293 "iOS: NSString(s) are not getting deallocating"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have the following issue:

When I log anything, there are NSString(s) being allocated but not deallocated resulting in a memory leak. In my app, I'm logging redux state changes that are pretty large and this amplifies the memo

[2017-11-07 17:28] HazAT opened #294 "Sourcemap upload with allow fetch in debug does not work"
When uploading sourcemaps in debug with `--allow-fetch`
The filename matching does not work.

[2017-11-07 17:31] HazAT commented on #291
Hey, so currently we have no plans supporting native crashes for Windows.
But like you said, `react-native-sentry` should fallback to use `raven-js` and work out of the box (never tested it though).
In theory, we only need to include native windows crash handling and it should work.
Does this answer your question?

[2017-11-07 17:32] HazAT commented on #292
So there currently is a bug when uploading sourcemaps in debug mode see:
https://github.com/getsentry/react-native-sentry/issues/294
This might be related, I will take a look at this.

[2017-11-07 17:33] HazAT commented on #293
Thank you for reporting this, I will fix this.

[2017-11-07 21:20] jpshelley commented on #291
Definitely, follow up question. If I submitted a PR would Sentry support Windows UWP? I'm unsure if this repo does the native handling, or if thats in a separate private repo.

[2017-11-07 21:26] jpshelley commented on #292
I was finally able to get it working, the final command was something akin to:
[code]

and when I generated my sourcemap I needed to make sure the following was run:
[code]

the key part was the `sourcemap-sources-root ./` which might have been because of the way my project was setup with all of the source files/folders being at the root of the project

[2017-11-07 21:33] HazAT commented on #291
So we don't support UWP yet, but it shouldn't break anything.
I will discuss it internally what we could do here, I will keep you posted.

[2017-11-07 21:34] HazAT commented on #292
Thanks, so I will close this for now.

[2017-11-07 21:34] #292 closed

[2017-11-10 21:00] dmhood commented on #169
I'm encountering this on our Android app as well--several fixed issues are getting re-reported at startup even across different builds.  Would love a fix/workaround for this as it's eating a lot of our events!

[2017-11-18 20:33] Fuhrmann commented on #91
I was having the same problem in Windows 10. I managed to get it working by changing:

[code]

To this:

[code]

[2017-11-21 10:50] danieldelouya opened #299 "Disable Sentry reporting promise rejection as error?"
I'm using Redux with some middleware that handles request with promises. When the request fails (a promise rejection) i get the error registered in Sentry. Any way to disable that?

[2017-11-21 11:53] HazAT commented on #299
Hey, I've added a new option for this.
https://github.com/getsentry/react-native-sentry/pull/300

Will release this as soon as it's ready.

[2017-11-21 11:54] danieldelouya commented on #299
@HazAT Awesome!

[2017-11-21 13:02] HazAT commented on #290
Hey, I will close this for now.
There is an option now called `handlePromiseRejection` where you can disable unhandled promises.

[2017-11-21 13:02] #290 closed

[2017-11-21 13:03] HazAT commented on #291
I will close this for now since we can't do anything more with this issue.

[2017-11-21 13:03] #291 closed

[2017-11-21 13:04] HazAT commented on #283
I will close this for now.
If you are still having troubles with this let me know.

[2017-11-21 13:04] #283 closed

[2017-11-21 13:09] HazAT commented on #231
So, I guess we will not add this by default right now.
You could run `JSON.stringify(object)` yourself before adding a breadcrumb.

[2017-11-21 13:09] #231 closed

[2017-11-21 14:09] HazAT commented on #293
Hey, so I was trying to reproduce this.
I can confirm that the memory is slowly rising when triggering many logs, though I am not sure if Sentry is responsible for this.
I haven't found and memory leaks or anything, I suspect react-native itself is caching some stuff internally and may free memory if needed.
So I will close this for now, if you are able to point me to the code that "leaks" I will

[2017-11-21 14:09] #293 closed

[2017-11-21 14:17] HazAT commented on #293
For more context:
<img width="917" alt="screenshot 2017-11-21 15 16 30" src="https://user-images.githubusercontent.com/363802/33077073-0729c672-cecf-11e7-9d09-ddb1785ae5e4.png">

[2017-11-21 16:30] jdzak commented on #293
Sounds good, I'll see if I can narrow down the problem a little more. Thanks for investigating.

[2017-11-21 18:02] itchingpixels opened #301 "Can't load TypeScript definitions"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Typescript definitions won't load

**Steps to reproduce:**
- `yarn add react-native-sentry`
- `import Sentry from 'react-native-sentry'`

**Actual result:**
- `Could not find a declaration file for modul

[2017-11-22 10:56] albinekb commented on #155
I came here because I got the same error `Cannot read property 'logLevel' of undefined`, I was trying to set user context without having called Sentry.config, I think the lib should throw an error that it needs to be set up with `.config` before calling the other methods. Thoughts?

[2017-11-22 17:42] HazAT commented on #155
@albinekb have you tried this
[code]

[2017-11-23 11:02] inoche commented on #267
I am with the same issue. I read the forum and done some research before posting here. I have been trying to login without success for more than 2 days now.

This is my sentry.properties
defaults.url=https://sentry.io/
defaults.org=inoche
defaults.project=sentry-test
auth.token=[PUBLIC_KEY:PRIVATE_KEY]
cli.executable=node_modules/sentry-cli-binary/bin/sentry-cli

But I always get this. Running on

[2017-11-23 12:06] HazAT commented on #267
@inoche It seems like you copied the wrong auth token.
Create and copy one from here: https://sentry.io/api/

[2017-11-23 12:08] albinekb commented on #155
No, are you suggesting that the bundler is excluding important files for `react-native-sentry`, and those get imported by calling  `Sentry.config()`?

Because I fixed my problem by changing my code to always run `Sentry.config` (even for local dev builds) and that made it not throw the error.

That's why I'm suggesting that the lib should throw an error if you try to use setUserContext without hav

[2017-11-23 12:09] inoche commented on #267
Hi Daniel,

Hats off.
Thank you very much. I saw that option before but I didn’t understand why I should have to generate a new one.
After trying it I think I understand now; this token is for the Web API access, am I right?

Thank you very much again
Ismael Noche

[2017-11-23 12:12] HazAT commented on #267
Right, sentry-cli needs this to authenticate with the API to upload assets.

[2017-11-23 12:19] HazAT commented on #155
Oh, that's what you meant, sorry, got it.
Actually, that would mean a lot of internal code changes, I will think about an elegant solution for that thanks for pointing this out.

[2017-11-27 11:21] sam-vdp opened #304 "Upload gradle job fails on Windows, possibly missing backslash escape"
OS:
- [x]  Windows
- [ ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:
Not relevant

---
I have following issue:

gradle task :app:bundleReleaseJsAndAssetsreleaseSentryUpload fails with error `'node_modulessentry-cli-binarybinsentry-cli' is not recognized as an internal or external command, operable program or

[2017-11-27 11:33] sam-vdp commented on #304
Some more detail:
sentry.gradle loads the .properties file like this:
[code]
As noted for the .properties file format

(https://en.wikipedia.org/wiki/.properties)

The issue can fixed by simply removing the cli.executable property from the .properties file entirely, the default value then works.

[2017-11-28 22:29] jordanmkoncz commented on #75
@HazAT any chance you could also add to the documentation a list of the minimum scopes required for the auth token to allow the react-native-sentry configuration to work correctly?

[2017-11-29 07:42] HazAT commented on #75
Will do, we are currently refactoring the docs/react-native setup.
`project:releases` is enough just to clarify it now ;)

[2017-11-29 10:16] pietro909 opened #307 "Upload Debug Symbols - error: bad sentry url: not on URL root"
OS:
- [ ]  Windows
- [ x]  MacOS
- [ ]  Linux

_Platform:_
- [x ]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

Upload Debug Symbols to Sentry:

[code]

Where `helpers/load-node.sh` is a script which initializes NODE_BINARY as [described in the docs](https://docs.sentry.io/clients/react-native/manual-setup/#using-node-with-nvm)

---
I have

[2017-11-29 11:28] HazAT commented on #307
Hey, can you send me your `sentry.properties` file?
It looks like the url is wrong there, it should be `https://sentry.io/`

[2017-11-29 11:33] pietro909 commented on #307
Hi! I've already check it, and it says  `defaults.url=https://sentry.io/`

Here's the content (partially censored):

[code]

[2017-11-29 11:44] HazAT commented on #307
Can you call `sentry-cli info` in your `ios` and paste the output please?

[2017-11-29 11:49] pietro909 commented on #307
...I got:

[code]

...which I suppose qualifies me as an idiot. I don't have it installed globally -_-

[2017-11-29 15:18] skizzo commented on #79
On my end, @ndbroadbent's solution works for iOS but not for Android. I'm using the same auth token for two sentry projects (myproject-ios and myproject-android), can that be a problem?

[2017-11-29 16:28] skizzo commented on #79
I'm getting an error **`error: http error: generic error (400)`** when trying the same script for Android instead of iOS.

### Part 1
[code]
Output:
[code]

## Part 2:
[code]
Output:
[code]

## Part 3:
[code]
Output:
[code]

[2017-11-29 17:18] mitsuhiko commented on #79
Going to open this temporarily to track the change from #250

[2017-11-29 23:52] #79 closed

[2017-11-30 09:02] itchingpixels commented on #169
Hi! It seems like we're also affected by this. Unfortunately it makes it really confusing to check if a bug has been fixed or not. This almost renders Sentry useless for us...

[2017-11-30 09:07] HazAT commented on #169
Hey, sorry it was so quiet around this issue.
I will take a look at it again today.

[2017-11-30 12:15] HazAT commented on #169
Can you guys send me links to your events that got sent twice please?

[2017-12-01 03:04] KkkkKernc opened #308 "Some device is "iPhone10,x" or "iPhone9,x""
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]
---
I have following issue:

I found that some issue's device is "iPhone10,x" or "iPhone9,x", it's weird, as we known they don't have those devices. Screenshot:
![image](https://user-images.githubusercontent.com/6129982/33466199-5ccb

[2017-12-01 06:37] itchingpixels commented on #169
Sure! https://sentry.io/drops-t0/drops-react-native/issues/408265228/ << this was an exception we have thrown manually. It has been removed from the codebase at least 3 days ago - around version 3.11 - but it's still showing up in 3.15. We have disabled codepush in order to verify that this is not coming from there.

[2017-12-01 08:09] HazAT commented on #308
Hey, thank you for reporting!
We have to update our device -> name mapping library since there are new devices.
Will close this once it's done.

[2017-12-04 07:01] songxiaoliang opened #309 "Android : Sentry.nativeCrash"
Call sentry.nativeCrash method to crash the App, but can not receive error statistics, in the ios is normal

[2017-12-04 11:33] HazAT commented on #309
Is the native integration running on Android?
Can you link me to another android event so I can take a look it?

[2017-12-04 11:40] songxiaoliang commented on #309
@HazAT Solve the problem, can not be submitted to the error on the simulator, but in the real machine is ok.

[2017-12-04 11:41] #309 closed

[2017-12-04 12:59] HazAT commented on #307
Can you post a link to an event or to your org, it's strange that `Organization` and `Project` is empty?!
Is you project / org actually `myapp`, I suppose not?

[2017-12-04 13:59] #304 closed

[2017-12-04 14:02] HazAT commented on #304
Hey, thank you for pointing that out.
I've released a new version of react-native-sentry `0.31.0` where this should be resolved.

[2017-12-04 14:47] #308 closed

[2017-12-06 02:13] trubi commented on #141
Guys could you someone explain to me briefly what is that modification of "React Native Bundle" phase even necessary?
I am trying to separate sending sentry debug symbols from actual build because I don't need to upload these files to sentry during development, only on CI tool during production build.
So I removed sentry build phase from my project but then I still see after build that something i

[2017-12-06 08:51] HazAT commented on #141
So the step `Upload Debug Symbols to Sentry` uploads the dSYMs to Sentry, this one is optional but recommended for production builds.
We recommend using our https://github.com/getsentry/fastlane-plugin-sentry when you enable Bitcode so you download the debug symbols from iTunes Connect and upload them to Sentry.

The `Bundle React Native code and images` this step will change the react-native buil

[2017-12-06 15:14] itchingpixels commented on #169
@HazAT : I can see there's an open PR for this. any ETA for merging it in? we're going live soon (within 24 hours - although soft launching), and it'd be great to get accurate crash reports, otherwise we don't know where we're standing.

[2017-12-06 16:44] HazAT commented on #169
@itchingpixels So I am having a hard time reproducing this.
Are you able to test it easily?
If so you can try it by adding this to your `package.json`

`"react-native-sentry": "https://github.com/getsentry/react-native-sentry#bugfix/android-send-event-twice"`

and run `yarn install / npm install`

would love to get feedback

[2017-12-06 18:48] itchingpixels commented on #169
sure, happy to, will roll this out tonight

[2017-12-07 01:26] XHTeng opened #311 "How to configure it on our own Sentry server?"
OS:
- [ ]  Windows
-  MacOS
- [ ]  Linux

_Platform:_
- iOS
- [ ]  Android

When I execute the `npm link react-native-sentry` , just can only jump to sentry.io .If our own Sentry service address is http://123.287.234.548:9000/  , how to configure it ?

[2017-12-07 07:35] HazAT commented on #311
Hey,
you can call `SENTRY_WIZARD_URL=http://123.287.234.548:9000/ npm link react-native-sentry`
if your installation doesn't support this yet, we fall back to asking you stuff.

[2017-12-07 07:35] #311 closed

[2017-12-07 10:12] itchingpixels commented on #169
will be releasing this in a few hours. will report back later today if we can still reproduce this issue with the latest build! it'll be actually quite easy to verify, we'll have a result in 24 hours.

[2017-12-07 12:31] itchingpixels commented on #169
Hi @HazAT:
A release build fails on the CI & locally (so it's not connected to cached dependencies) with the following error:

FAILURE: Build failed with an exception.

* What went wrong:
Could not list contents of '/Users/mark/Dev/drops-react-native/node_modules/react-native-sentry/appium/example'. Couldn't follow symbolic link.

* Try:
Run with --stacktrace option to get the stack trace. Run wit

[2017-12-07 12:44] HazAT commented on #169
@itchingpixels Damn it, ok npm is not considering `.npmignore` when installing directly from a branch.
I will check if I can make a prerelease or something, give me a few minutes.

[2017-12-07 12:55] HazAT commented on #169
@itchingpixels
This is a local `npm pack` of the branch uploaded to my dropbox.
You can add this or download it and upload it somewhere else ...

`"react-native-sentry": "https://www.dropbox.com/s/edmziaethn160w9/react-native-sentry-0.31.0.tgz?dl=1"`

Please do not use this for a prod release.

[2017-12-07 13:07] itchingpixels commented on #169
You mean we should upload it to somewhere we control it before using it in prod?

[2017-12-07 13:23] HazAT commented on #169
First this yes,
and I mean you should try it before releasing it.

[2017-12-08 10:43] itchingpixels commented on #169
We've rolled it out to our beta country. will report back later when we have a meaningful amount of data! It'll take longer, since our beta country has a substantially smaller userbase.

[2017-12-08 19:50] itchingpixels commented on #169
I'm around 90% certain that this has helped. By Monday, we can say with 99.9%.

[2017-12-08 20:45] HazAT commented on #169
Ok, that's good news 👍
Let's wait until monday until I make a release

[2017-12-11 03:40] songxiaoliang opened #312 "> Checking for missing debug symbol files on server ---> error: http error: (404)"
Run the project on the iOS simulator with the following error：

----------------------------------------------------------------

error: http error:  (404)

** BUILD FAILED **

The following build commands failed:
        PhaseScriptExecution Upload\ Debug\ Symbols\ to\ Sentry build/Build/Intermediates.noindex/uniApp.build/Debug-iphonesimulator/uniApp.build/Script-1C46DC39377443AF91420C3A.sh
(1 fa

[2017-12-11 07:44] HazAT commented on #312
Hey,

Can you please post the content of your `sentry.properties` file?

[2017-12-11 12:01] itchingpixels commented on #169
I can confirm with 99% confidence that this works - none of the already fixed crashes appear with the latest version we've published!

[2017-12-12 04:38] songxiaoliang commented on #312
ok，this is my sentry.properties:

defaults.url=https://sentry.io/
defaults.org=uniqueway
defaults.project=rn-uniapp
auth.token=xxxxxxxxxxxxxxxxxxxxxxxxx
cli.executable=node_modules/sentry-cli-binary/bin/sentry-cli

Look forward to the author reply as soon as possible.

[2017-12-12 11:15] HazAT commented on #312
So you project is wrong as far as I can tell.
It should be just `uniapp`.

[2017-12-12 11:15] #312 closed

[2017-12-12 11:16] HazAT commented on #307
@pietro909 Did the issue resolve by itself?

[2017-12-12 15:17] songxiaoliang commented on #312
thank you !

[2017-12-12 15:44] pietro909 commented on #307
hi @HazAT sorry for the delay. I reviewed the whole toolchain and changed our approach to the problem (using schemes and pre-build scripts rather than the scripts in build phases) and the problem _resolved by itself_.

I still don't know what the exact problem was, but for me the issue is gone.
Thank you for your assistance!

[2017-12-12 15:44] #307 closed

[2017-12-13 07:43] #169 closed

[2017-12-13 08:50] #301 closed

[2017-12-13 08:50] HazAT commented on #301
Version `0.32.0` has been released which should fix this issue.

[2017-12-13 08:51] HazAT commented on #169
I've just released version `0.32.0` which includes the fix.
Please check the migration guide in the release section since we have a breaking change in there.

[2017-12-14 16:06] ou2s commented on #135
@vdolbilov thanks for proposing a way to fix this. But does this still send the DSYM to sentry?

[2017-12-14 22:21] birkir commented on #307
For anyone wondering, I had the exact same issue. Turned out I had a environment variable SENTRY_URL as my DSN url (whoops), stored in a dotenv file which was piped in on build time.

[2017-12-15 04:47] TGPSKI commented on #244
@HazAT
I want to report seeing this bug in production with over 100 users on prod. The bug shows itself in interactions between react-native-code-push and react-native-sentry, it is not clear to me what side the bug is located in.

![image](https://user-images.githubusercontent.com/12532803/34027100-5649ef64-e10f-11e7-9e2f-055d4ce53dc8.png)

Relevant Versions (App V 1.5.0-1.6.0):
-----------------

[2017-12-20 08:47] gaykov opened #314 "setUserContext doesn't work"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

`setUserContext` doesn't work for me. After user login event in the app I call the `setUserContext` function:
[code]

Then, in debug console I see
![image](https://user-images.githubusercontent.com/90680

[2017-12-20 08:52] HazAT commented on #314
Hey, so can you upgrade to the latest version.
I am pretty sure this bug has already been fixed, please be aware that in the latest version `0.32.0` uses the new @sentry/cli npm package, so you slightly have to adjust your build process.

But I think version `0.31.0` should also work.

[2017-12-20 09:00] gaykov commented on #314
@HazAT thank you for the prompt reply!

Just updated to the `0.31.0` version but it didn't help. Interesting thing that `setTagsContext` works and I see it in my Sentry dashboard's breadcrumbs log as
![image](https://user-images.githubusercontent.com/9068073/34198992-42fb38d8-e57d-11e7-8a41-988b4ee56e84.png)

But I don't see `setUserContext` there (but I still see it in my local Chrome console)

[2017-12-20 09:38] gaykov commented on #314
I've found that for some reasons it's losing the userContext after application reloading. If I do the following way:
1. Do user login and call setUserContext with user id (I see `setUserContext` in the logs)
2. Reload an application (with CMD+R in development mode)
3. Click some button to generate an exception

I don't get userId stored in the Sentry dashboard. Is it an expected behavior (I don't

[2017-12-20 10:02] HazAT commented on #314
@gaykov can you try to patch the `RNSentry.m` locally in you node_modules and see if it works:
https://github.com/getsentry/react-native-sentry/pull/315

[2017-12-20 10:24] gaykov commented on #314
@HazAT didn't help, I still see an ip address as a user identifier. And the error in Sentry dashboard looks different from others:
![image](https://user-images.githubusercontent.com/9068073/34202453-de0d5238-e588-11e7-91dd-27eb50c11bdf.png)

[2017-12-20 10:29] HazAT commented on #314
OK, there must is something weird going on in your setup.
I tried it locally and it works as expected in the example project we have
https://github.com/getsentry/examples/tree/master/react-native

Can you link me to your source somehow because I am not really able to reproduce it?!

[2017-12-22 14:56] edo1493 commented on #244
![screen shot 2017-12-22 at 15 58 01](https://user-images.githubusercontent.com/2309030/34302245-66a10fe2-e730-11e7-813b-0b26be1ab552.png)

I have the same on production. I keep seeing this both on Android and iOS and I removed code-push from prod thinking it was related. However, this keeps showing up. I am not even sure this is sentry related, but Google brings me here.

I am on RN 0.50.3 and RN

[2017-12-22 20:33] seque1990 opened #316 "cannot find symbol import com.facebook.react.ReactApplication"
OS:
- MacOS

_Platform:_
- Android

React Native Version: 0.41.2
React Native Sentry Version: 0.32.0

I have following issue when trying to run the Android App:

[code]

I don't know much Java, so I am hoping I am just doing something wrong.

[2017-12-25 10:24] mounlion opened #317 "Fatal error: 'React/RNSentry.h' file not found"
OS: MacOS
Platform:  iOS

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- create new project
- npm install react-native-sentry --save &&  react-native link react-native-sentry
- reatc-native run-ios

**Actual result:**
- fatal error: 'React/RNSentry.h' file not found
#import <React/

[2017-12-25 11:11] mounlion commented on #317
I solved problem. Manual link binary lib&

[2017-12-25 11:11] #317 closed

[2017-12-26 04:19] thphu opened #318 "Link without modify podfile and ignore sentry wizard."
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
Hi,

I'm trying to upgrade sentry from deprecated version. But I'm facing 3 problesm at this time.
 - Sentry Wizard keep asking me everytime when I run `yarn` and modify my my native code. Is there any way to avoid it?
 - you ad

[2017-12-26 10:46] Titozzz commented on #318
Same Problem

[2017-12-27 08:16] HazAT commented on #316
Hey, it looks like something wrong with you linking process.
Did you call `react-native link react-native-sentry`?
Also, you react-native version seems very old, consider upgrading it.

[2017-12-27 08:16] #316 closed

[2017-12-27 12:31] HazAT commented on #318
Hey, just to clear things up.

1. The wizard always asks you stuff even if you just do `yarn` and not `react-native link react-native-sentry`? If that's the case then it's a bug.

2. Not really sure if I fully understand the problem. `react-native-sentry` does not clone a version of yoga or react so I don't understand why it should be duplicate see:
https://facebook.github.io/react-native/docs/int

[2017-12-28 01:37] XHTeng opened #319 "Debug symbol upload failed"
OS:
- [ ]  Windows
- MacOS
- [ ]  Linux

_Platform:_
- iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

When I run Xcode , I get the warning
![image](https://user-images.githubusercontent.com/17663111/34397587-38bac2f4-ebb2-11e7-84af-92253f962e89.png)

I click the Show Details , I get the follow info :
![image](http

[2017-12-28 03:00] thphu commented on #318
Hi @HazAT

1. Please check attached file. How about if it's disabled by some flag or command?
2. I know the integration guide, but our project j 100% react-native and I linked library by manual (add in xcode), the problem if moving to pod (add project as a pod module) is a lot of things to do like moving react from node_module to pod and other project, I just want to link it like manual way (or re

[2017-12-28 03:55] thphu commented on #318
Update: about pod issue (no2 issue), I found a way to work around. Downgrade to 0.49 then add library then upgrade again to 0.51. It's not add podfile anymore.

[2017-12-28 07:53] HazAT commented on #318
@thphu There is a link step running in your `install` script ... do you see the first grey line starting with:
`RNFB_ANDROID_PERMISSION=true ....` ?
The command called in there is `.... index.js link`

So your build process is definitely special, check your package.json for the install/link command.
If you can't change it you can try to add
`SENTRY_WIZARD_QUIET=true` so the wizard will not ask any

[2017-12-28 07:55] HazAT commented on #319
Which version of Sentry are you running?

[2017-12-28 10:00] vincejah commented on #285
@HazAT  any news about that issue?

[2017-12-28 12:41] HazAT commented on #285
Hey, sorry it was so quiet around this.
We had a discussion over here https://github.com/getsentry/raven-js/issues/623
not sure where the `<recursion limit hit>` is coming from though.
So short answer there will not be a quick fix for this so I will close it for now.
I will post an answer here as soon as we support it.

[2017-12-29 21:51] confiks opened #320 "Possibility to disable Sentry after having configured it"
First of all, thanks for making a great open source error reporting tool!

In our app, we want to give users the possibility to disable all error reporting. Currently, this doesn't seem to be possible with `react-native-sentry`. For Javascript, `raven-js` does have the option to call `uninstall` to disable error reporting, and in the Go implementation I can set the DSN to an empty string to do the

[2017-12-30 09:20] HazAT commented on #320
Hey,

Thank you for using Sentry :)

So "uninstalling" is not an easy task, there are many things that hook into the process so it's rather complex.
I would still give your users the possibility to disable it but only take effect after they restart they app. You can store the value, check it on startup and just don't call `install()` then.

Hope that helps

[2017-12-30 09:20] #320 closed

[2017-12-30 16:47] confiks commented on #320
An easier option that might work for `react-native-sentry` is to support updating the DSN after having called `install`. In that way error reporting to a remote server is disabled, without having to unhook all that complicated stuff, and without having to restart the app.

[2018-01-02 02:38] thphu commented on #318
thanks @HazAT I add SENTRY_WIZARD_QUIET=true and seem eveything is ok now. I think it's not an issue anymore

[2018-01-02 02:38] #318 closed

[2018-01-02 11:21] thphu opened #321 "Get error when upload source map (ios) to sentry"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Hi,

I have a problem when upload source map to iOS (in Android everything is perfect), I followed config by the guideline (https://docs.sentry.io/clients/react-native/manual-setup/#build-steps)  but found a problem like this when I run from xcode.
![image](https://user-images.githubusercontent.com/7285771/3448226

[2018-01-03 00:14] monotkate opened #322 "Expose an API to check if there are pending crash reports"
If I'm missing somewhere it's already doing this, please let me know.  We would like to know when booting the app if there are any crashes that occurred on the previous run, and if there is a pending report to be sent.  This allows us to take action to wipe user data and prevent another crash.

- `setShouldSendCallback` runs before the crash, and there isn't enough time to record anything to stora

[2018-01-03 02:48] thphu commented on #321
I found problem, because of my custom react-native-xcode. Everything is ok now

[2018-01-03 02:48] #321 closed

[2018-01-03 08:27] HazAT commented on #322
Hey, so this is not easy to do in react-native since we currently only know on the native side if we crashed or not.
There is a native function called `crashedLastLaunch` which returns a boolean
but
I suppose it will not work because in order to get the value from it you have to call `install()` in react-native and communicate over the javascript bridge.
Meanwhile, any pending reports would have b

[2018-01-03 08:38] HazAT commented on #314
I will close this for now since I wasn't able to reproduce it.
Please feel free to reopen it whenever you are able to provide a reproducible case.

[2018-01-03 08:38] #314 closed

[2018-01-03 13:54] kdong007 opened #323 "error: failed to invoke sentry-cli"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

v8.9.3
5.5.1
ReactNativeApp@0.0.1 /Users/kdong/react-native-app
├── apollo-cache-inmemory@1.1.4
├── apollo-client@2.0.4
├── apollo-link@1.0.6
├── apollo-link-error@1.0.3
├── apollo-link-http@1.3.1
├── apollo-link-logger@1.1.0
├── appcenter@1.1.0
├── appcent

[2018-01-03 14:29] HazAT commented on #323
Hey, can you check your node_modules folder if there is are these folders?
[code]
Did you install `react-native-sentry` with `yarn` or with `npm`?

[2018-01-03 16:56] adbl opened #324 "Manually send stored events"
_Platform:_
- [x]  iOS
- [ ]  Android ?

Sorry for ignoring the rest of issue template but this is more of a question/feature request.

Before trying out Sentry, we had our own global js error handler (using `ErrorUtils`). This provided us with some clues as to what went wrong, but we also used this to present a user friendy error popup + reloading the JS. Maybe this is unusual, but actually an up

[2018-01-04 08:13] HazAT commented on #324
So about Sentry sending it only after the next app launch.
Actually, it would send it whenever the next event was successfully sent, so if you send a message with `captureMessage` you should see the crash afterward. Can you try this if that works?

I know it means one additional event you could inbound filter it or something to it will be ignored.

[2018-01-04 08:39] adbl commented on #324
Ok, interesting, will try that!

Right now though, I’m leaning towards overwrite sentry error handler and
use captureException. This should also make it possible to report two
errors which happen very close in time. Would we sacrifice anything by not
using Sentry error handler?
On Thu, 4 Jan 2018 at 09:13, Daniel Griesser <notifications@github.com>
wrote:

[2018-01-04 08:54] HazAT commented on #324
No not really we are basically just calling `captureException` ourselves.
Still, if it's an "exception" / fatal error we store it instead of sending it since the usual case is that react-native let the app crash, so you still would need to call something with `captureMessage` to get it instantly.

[2018-01-04 19:02] monotkate commented on #322
When are the pending reports sent then, during install?

[2018-01-04 20:14] HazAT commented on #322
Yes, basically.

[2018-01-05 18:08] JAStanton commented on #322
@HazAT  Will `crashedLastLaunch` return `false` if all pending reports are sent?

[2018-01-05 20:41] HazAT commented on #322
No, `crashedLastLaunch` will stay `true`.

[2018-01-05 20:46] JAStanton commented on #322
@HazAT why do you not recommend using `crashedLastLaunch` then to determine if crashed on last boot?

Our app workflow would be:
- Begin booting the app
- call `codepush#install`
- expose `crashesLastLaunch` to native bridge and call new `codepush#didCrashLastLaunch` to see if last launch did crash
- if true do A if false do B

[2018-01-05 21:01] monotkate commented on #322
Is `crashedLastLaunch` ios only, or does it exist for android as well?

[2018-01-05 23:36] ou2s opened #325 "[Android] NullPointerException - captureEvent"
Sentry is reporting an android crash within its Native Module.

[code]

I try to find this null reference in my code but I don't understand because I don't call `Sentry.captureEvent`. But maybe adding a safe guard or try catch in java code can help prevent this?

RN: 0.48.4
react-native-sentry: 0.32.0

Thanks for the help

[2018-01-05 23:46] mitsuhiko commented on #325
Seems to be happening here: https://github.com/getsentry/react-native-sentry/blob/bdb1802a0b8f8d56601e867670001612cf3089cc/android/src/main/java/io/sentry/RNSentryModule.java#L238

Kinda curious why this is null. We should probably figure that out before we just blindly special case the value being null here.

[2018-01-08 18:02] HazAT commented on #322
So this flag is not (yet) available on Android :/
@JAStanton Keep in mind, `crashedLastLaunch` is not blocking nor does it have a callback, you would need to call `install` and wait until it's ready, not sure if that would be a good practice to "delay" the app start.
I guess what you are trying to achieve is currently not possible at least in a convenient way.
I will discuss this issue with my col

[2018-01-08 18:17] JAStanton commented on #322
@HazAT thanks I'd love to know the outcome of that discussion!

The use case / context is that we are trying to get our users to be upgraded to the latest version of CodePush at all costs. So say they boot the app, there is a pending update, it tries to apply the update but then update explodes and crashes, on next boot it will rollback to previous version. Ideally on that boot we detect there was

[2018-01-08 18:37] monotkate commented on #322
Got this working locally by waiting for `install` to complete and it doesn't seem to delay the app's boot significantly.  Will need to test further to see what the actual delay may be.  Is it something you would want us to PR back to sentry, or just fork and use?

[2018-01-09 09:51] magrinj commented on #323
@HazAT I have the same problem, I install this package with yarn, this one doesn't rename "sentry-cli-binary" folder to "@sentry" in node_modules, it works with npm

[2018-01-09 10:18] HazAT commented on #323
Can you please completely remove the `node_modules` folder clear your npm cache and make a fresh clean install?

[2018-01-09 10:49] magrinj commented on #323
I already done it, this package works great when the installation is made from npm, but not when yarn is used, because as I say with yarn the directory "sentry-cli-binary" is not renamed in "@sentry"

[2018-01-09 11:06] HazAT commented on #323
what version of yarn are you running?
And did you remove the yarn lockfile and cleaned the yarn cache?

[2018-01-09 11:12] magrinj commented on #323
I use yarn v0.20.3
I just try to remove the cache, it works, it seams to be the problem :) Thanks!

[2018-01-09 11:33] HazAT commented on #323
OK, I suppose @kdong007 will have the same problem.
I am closing this for now.

[2018-01-09 11:33] #323 closed

[2018-01-10 09:17] ngandhy commented on #319
0.29 for me

[2018-01-10 15:35] SanderVerkuil opened #326 "Error when uploading sourcemaps to Sentry (Error 413, request entity too large)"
OS:
- [ ]  Windows
- [ ]  MacOS
- [X]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

The build fails for production when uploading the sourcemaps:

[code]

Output of `ls -lah android/app/build/intermediates/assets/release`:
[code]

**Steps to reproduce:**
- Step 1: Run `./gradlew assembl

[2018-01-14 11:59] XHTeng commented on #319
"react-native-sentry": "^0.32.0",

[2018-01-15 08:09] HazAT commented on #319
Are you running your own version of Sentry Server, not sentry-react-native.
If so please post the version.
cc @XHTeng @ngandhy

[2018-01-15 08:29] HazAT commented on #322
Hey,
Sorry for the late reply but we think for now your solution for iOS will work just fine 👍
If you don't mind submitting a PR to our repo, that would really help.

In regards to Android, the SDK itself doesn't provide a way to find out if a crash happened on the last startup.
I will find a way to add it there, e.g.: checking in `addShouldSendEventCallback` and set a var if it is a `JavascriptEx

[2018-01-15 09:03] edo1493 opened #328 "EXC_BAD_ACCESS folly::Expected<long long, folly::ConversionCode>"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---

I get this error in production, both on iOS and Android. I have seen people reporting this in the past. I don't have anyway to reproduce this, it just shows up from time to time. I am using 0.31.0.

[code]

[2018-01-15 19:33] monotkate commented on #322
Here's the PR: https://github.com/getsentry/react-native-sentry/pull/329

[2018-01-15 22:09] Asleepace commented on #141
For me I had to remove react-native-sentry by using `react-native unlink react-native-sentry` and following the uninstallation process. Then I also removed the dependency from my package.json and did `rm -rf node_modules && yarn`.

Next I had to remove references to Sentry in my `index.ios.js` and `app.js` files, as well as all the references in my `AppDelegate.m`.

In the build phases of my proje

[2018-01-16 08:55] merryejik commented on #244
I have the same issue, as @edo1493

[2018-01-16 10:35] kdong007 opened #330 "how do I change entry file for Android?"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`
v8.9.3
5.5.1

in MainApplication.java, these codes were generated

[code]

But jsBundleFile is defined in Sentry library's constants

[code]

Is there some way to override this?

[2018-01-16 15:51] Zycon42 opened #331 "[Android] custom release/version/dist is set to null after event is sent"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

On android (ios is fine) after first event is sent the custom values for release/version/dist are set null so next subsequent events have release and dist values null.

This is caused by function _stripI

[2018-01-16 17:00] Zycon42 commented on #331
My workaround around this is to reset new release variables after each event.
[code]

[2018-01-17 09:45] HazAT commented on #328
Hey, thank you for reporting.
If I remember correctly you posted this in another issue before, right?
Thank you for creating a separate issue.
Still, without a repro case it's hard for us to fix it.
I will still keep this issue open for some time to see if something changes.

[2018-01-17 10:02] kdong007 commented on #330
@HazAT oops.. posted on wrong repo... too many plugins, sorry.

[2018-01-17 10:03] #330 closed

[2018-01-17 18:01] edo1493 commented on #328
Thanks @HazAT, this has become a daily routine and I really don't have anyway to reproduce this.

[2018-01-18 16:00] futuun opened #333 "[iOS] Could not parse Info.plist file - invalid data"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---

I tried to update sentry from 0.31.0 to latest version (0.32.1) and I’m getting
[code]
From this script:
[code]
I made sure that I’m using `@sentry/cli` instead of `sentry-cli-binary` everywhere

I check my `Info.plist` with  `

[2018-01-19 08:38] HazAT commented on #333
Hey, thank you for your nice bug report 10/10.
So it is almost certain that the issue is in `sentry-cli` itself since another user was also reporting this.
https://github.com/getsentry/sentry-cli/issues/226
We are taking a look at it 👀

[2018-01-19 11:00] cem2ran commented on #244
We're having the same issue. We're going through the following steps to determine the cause:
- [ ] Disable Optimization: https://github.com/Hearst-DD/ObjectMapper/issues/734#issuecomment-279946600
- [ ] Disable code-push: https://github.com/Microsoft/react-native-code-push/issues/1044
- [ ] Check if any dependencies use react-native-fetch-blob or other fetch (maybe axios): https://github.com/wkh23

[2018-01-19 15:36] michael-gillett commented on #333
I agree that it is probably an issue with sentry-cli. It happens during the modified "Bundle React Native code and images" build phase

[2018-01-23 06:27] XHTeng commented on #319
Sentry 8.22.0
http://123.206.79.148:9000/lkker/
@HazAT

[2018-01-23 11:22] HazAT commented on #167
This has happened again, but need a reproduction case.

[2018-01-23 17:11] edo1493 commented on #333
I get this when I try to update to @sentry/cli.

[2018-01-23 18:48] zzorba opened #336 "Problem with Sentry.captureException"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
Project was brand new and setup using the wizard.  Seems to be configured correctly. I'm running locally on an android simulator.

When trying to manually capture the exception (using `Sentry.captureExcep

[2018-01-23 21:24] #336 closed

[2018-01-23 21:25] zzorba commented on #336
Turns out while the wizard ran successfully, it dropped the file into the default index (App.js) instead of what my project was using.

Moving Sentry.config.install to correct file fixed this.

[2018-01-23 21:54] chrisshiplet opened #337 "Release builds of app immediately crash at runtime"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

When I build an iOS or Android release build of my app, the app crashes immediately upon launch. Both the iOS simulator and Android emulator in debug mode work fine. When I remove Sentry from my project,

[2018-01-24 09:27] edo1493 commented on #244
I removed code push ages ago (nothing changed), now I am shipping a version without the native integration to see if I can slow this down.

[2018-01-24 09:52] dengwanc opened #338 "Source code was not found for app:///main.jsbundle"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

react native sentry source map JUST not working !!!

my upload script

[code]

I GOT THIS IN Senry UI ，I am SO confused NOW

[code]

[2018-01-24 10:04] edo1493 commented on #328
I had a look at the logs, I keep seeing more events like this. It seems to be iOS 11+ only.

`OS Version: iOS 11.2.2 (15C202)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP at 0x0000000c1707beb8
Crashed Thread: 0

Application Specific Information:
Attempted to dereference garbage pointer 0xc1707beb8.
Originated at or in a subcall of folly::Expected<long long

[2018-01-25 07:49] HazAT commented on #338
I guess you have to add `--url-prefix ~/` as an additional parameter.
Can you share a screenshot of your release artifacts in Sentry?

[2018-01-25 07:53] dengwanc commented on #338
This is My release list

[code]

[2018-01-25 08:04] dengwanc commented on #338
and this a demo

https://sentry.io/taou/react-native/issues/439897225/

why sourcemap look strangely like that ?

[2018-01-25 08:14] HazAT commented on #337
Hey, I am looking at this right now.

[2018-01-25 09:39] HazAT commented on #338
@dengwanc
A few things I've noticed.
First, it says reported with `raven-js` as SDK instead of `react-native-sentry` which indicates that something with your initial setup went wrong.
Did you call `react-native link react-native-sentry`?
Also, how are you building your app, in debug or release? Because the stacktrace looks more than strange, almost if you used not the facebook bundler.

[2018-01-25 13:32] edo1493 commented on #328
I am trying to figure out if this is related with AsyncStorage and has nothing to do with sentry. If you guys know more, please let me know. :)

[2018-01-25 17:28] chrisshiplet commented on #337
That is extremely weird, and maybe explains why the stack trace wasn't very helpful. Thanks for looking into this!

[2018-01-26 08:13] #322 closed

[2018-01-26 08:13] #331 closed

[2018-01-26 08:13] #333 closed

[2018-01-26 09:02] kesha-antonov commented on #199
Hello!
It's still happening even if I just run ```react-native run-android --variant=release```

[2018-01-26 15:02] ywongweb commented on #285
Encountered the same `<recursion limit hit>` message when sending in additional data with 3+ nested levels.

RN: 0.51.0
react-native-sentry: 0.33.0

[2018-01-26 16:39] JAStanton commented on #322
@HazAT should we file a separate issue to get this in Android?

[2018-01-26 17:25] fungilation commented on #337
Note that I've seen similar immediate crash on launch, but hard to reproduce. It also only happens on device in release mode, not in simulator. But not all the time, only seems to happen after app has been in background (iOS) for a while (days) and need to wake with cold restart.

As it only happens occasionally, it's been hard to nail down on what lib is the cause so I'm not even sure if it is Se

[2018-01-26 19:24] RickDT opened #339 "Support breadcrumbCallback in config"
OS:
- [ ]  Windows
- [x]  macOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I would like to filter some breadcrumbs that are automatically collected due to noise. Could the RN SDK support the breadcrumbCallback config setting from the JS SDK?

**Steps to reproduce:**
Attempt to

[2018-01-27 04:31] fungilation commented on #28
@oblador @HazAT  this is old issue but I'm looking for how to add custom breadcrumbs in the RN client (in JS). I'm looking at https://docs.sentry.io/clients/javascript/usage/#raven-js-recording-breadcrumbs, but no documentation on breadcrumbs in the React Native SDK.

Assuming it's been implemented, how is custom breadcrumbs done in RN? Would (occasional) console.log() statements (in production) b

[2018-01-27 05:17] fungilation commented on #28
Seeing https://github.com/getsentry/react-native-sentry/blob/master/typescript/Sentry-tests.ts. I assume I just do
[code]

This should be documented/linked still, on the React Native docs section.

[2018-01-29 07:12] dengwanc commented on #338
react-native how to point ios and android dir. like

`react-native link react-native-sentry --native-dir my_ios_dir my_android_dir`

[2018-01-29 07:32] HazAT commented on #322
@JAStanton That would be awesome.
I think though, it might be trickier there since I believe we don't provide an API if a crash occurred last start.

[2018-01-29 07:45] HazAT commented on #28
@fungilation
It is here on the bottom
https://docs.sentry.io/clients/react-native/config/

[2018-01-29 09:30] awinograd commented on #325
@mitsuhiko, we're seeing this same error and it seems to happen when we accidentally pass a null object instead of a string value for a tag.

Would be nice if sentry didn't crash in this case, but instead caused a non-fatal error / warning or passing a 'UNKNOWN' value for the tag

[2018-01-29 09:38] HazAT commented on #325
I will fix this!

[2018-01-29 17:17] fungilation commented on #28
Hidden under another link in a list of links I see. This should simply be on the same page as https://docs.sentry.io/clients/react-native/, imho

[2018-01-30 01:49] monotkate opened #341 "Expose an API to check if there are pending crash reports on Android"
`crashedLastLaunch` is exposed on iOS, but there is nothing equivalent to check to see if the app is launching after a crash for Android.

- `setShouldSendCallback` runs before the crash, and there isn't enough time to record anything to storage
- `setEventSentSuccessfully` runs after the report has been sent, which is after our boot workflow has completed

The workflow we would like to follow is

[2018-01-30 23:27] yaronlevi commented on #338
I followed the instructions carefully (including the code push part):
https://docs.sentry.io/clients/react-native/

And I still can't get the line numbers and source code to be shown at the dashboard. I get this error:

**Source code was not found for app:///index.bundle**

It looks like Sentry is looking for index.bundle, while the artifacts in the release (which was created by Sentry Cli with co

[2018-01-31 07:58] HazAT commented on #338
@yaronlevi Can you link an event here?
The version and dist of the release in Sentry must match the version and dist on the event itself.
But in general this looks correct, would need to link to give a better answer.

[2018-01-31 11:02] m-vdb opened #342 "Unhandled JS Exception: undefined is not an object (evaluating 'e.construct..."
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

When calling `Sentry.config()` with an undefined `dsn`, it will crash with the `Unhandled JS Exception: undefined is not an object (evaluating 'e.construct...`. It is not an issue in debug configuration,

[2018-01-31 12:18] anandprabhu commented on #338
@HazAT I'm facing a similar error when creating Android release builds. The `~/index.android.bundle` and the `~/index.android.bundle.map` are present in the Artifacts tab of Releases. But still for the javascript errors it shows `Source code was not found for app://index.android.bundle`. I am using the online hosted version of Sentry.

[2018-01-31 12:54] HazAT commented on #326
Hey, sorry for the late reply.
Currently, there is a limit in Sentry when uploading large artifacts.
We are working to fix this since it is not 100% deterministic when a request is too large.
https://github.com/getsentry/sentry/pull/7095

Please be patient and bare with us 🍪

[2018-01-31 12:58] HazAT commented on #338
If your android event it reported with `raven-js`
This is not correct, this indicates something went wrong with the native Android SDK setup.

Here is probably the fix for your problem:
https://github.com/getsentry/react-native-sentry/issues/167
https://github.com/getsentry/react-native-sentry/issues/213

What version of Android Studio and build tools are you running?
I still need a way to reprodu

[2018-01-31 13:11] anandprabhu commented on #338
@HazAT I have configure the `react-native-sentry` library for both the iOS and Android builds. I am not sure why the SDK is mentioned as `raven-js` in the dashboard. Below are the details of the libs used,

[code]
I am using the command line to build the app and not using the Android Studio. Although the version i have currently installed is Android Studio 3.0 and the Build Tools is `26.0.0`. Do l

[2018-01-31 13:26] HazAT commented on #338
@anandprabhu Can you look at the 2 issues I posted.
It looks like that `compile project(':react-native-sentry')` is missing in `build.gradle`.
The Android SDK is definitely not running and that's why it states `raven-js`.

[2018-01-31 13:38] anandprabhu commented on #338
@HazAT I have gone through both the issues but i do not find any issues with the `build.gradle` for my app. It ssems to contain the correct entry for the `compile project(':react-native-sentry')` and creating build also works fine without any issues. I have tried to unlink the library, remove the `node_modules` folder and then do everything from the start. Still facing the same issues.

[2018-01-31 13:45] HazAT commented on #338
@anandprabhu
Can you do the following:
Create a clean react-native project and see if you still having this issue.
[code]
I just did it and it worked.
Check the log output if you can find something like
[code]

[2018-01-31 14:15] anandprabhu commented on #338
@HazAT I tried the same steps but do not find the lines that you have mentioned at the end. Will it be printout out in the command-line during the `react-native run-android`?

[2018-01-31 14:20] HazAT commented on #338
If it is running on a device you have to start `logcat` to see the output.
Alternatively, you can start the project in Android Studio.

[2018-01-31 14:40] anandprabhu commented on #338
@HazAT Could if be that our project is mainly created in Typescript and then transpiled into JavaScript code. But we are able to see that the bundle file is being created from the JavaScript source only and uploaded correctly in Sentry. But really not sure why the dashboard mentions `raven-js` in the SDK.

I am able to see the above mentioned entries in the new project created using the steps you

[2018-01-31 15:05] HazAT commented on #338
It could be the `compileSdkVersion 26` and `buildToolsVersion '26.0.0'` I am not really sure.
The only thing I can say is that `sentry-android` is not running in your project, I have to take a look at your project to debug it otherwise you can only try to make Sentry run in your project.
The issue you are having cannot be Typescript, when your event is sent with `sentry-react-native` the stack tra

[2018-01-31 17:22] anandprabhu commented on #338
@HazAT Ok fine let me try downgrading the version of the Android SDK and Build Tools and check if it works and update you.

[2018-02-01 07:31] anandprabhu commented on #338
@HazAT Downgrading the `compileSdkVersion 26` and `buildToolsVersion '26.0.0'` breaks other libraries like `lottie-react-native` and `react-native-vector-icons`. I am unable to trigger a build from the command like or Android Studio. However if i increase the version directly in the Sentry SDK using Android Studio to 26 i am able to create the build but no information is present int he logcat.

[2018-02-01 07:43] HazAT commented on #338
@anandprabhu Sorry, with a reproducible case I can't do anything.
It must be something with your setup, all I can say is that the native android package isn't running in your project, why?
For that, I would need to see your project to help you debug it.

[2018-02-01 08:07] HazAT commented on #338
@anandprabhu Can you check if your MainApplication.java has these two lines:
[code]

[2018-02-01 08:33] anandprabhu commented on #338
@HazAT The `MainApplication.java` was missing the lines you had mentioned. Once i added the same it works fine now and able to see the mapping. But it seems to be showing it in a wrong line-number though.

[2018-02-01 08:49] HazAT commented on #338
@anandprabhu Your uploaded source map should do this correctly.
Keep in mind, old events will not get symbolicated only new ones.
Release and Dist have to match your artifacts.
Also, there is a bug in react-native itself facebook is aware of that line number may be wrong for android builds ref:
https://github.com/getsentry/react-native-sentry/issues/258
https://github.com/bugsnag/bugsnag-react-nat

[2018-02-01 08:49] #338 closed

[2018-02-01 16:00] Jflima92 opened #344 "'RCTEventEmitter.h' file not found while building iOS swift based | React Pod deprecated"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I'm trying to setup sentry in my react-native project without success.

I've already put up an issue in sentry-wizard regarding users that use swift instead of objC because the setup is not done properly

[2018-02-01 17:32] amsul commented on #344
I can confirm that I'm having this exact same issue. And I'm not using Swift, so I'm pretty sure it has nothing to do with that.

Not sure if downgrading with help - but gonna give it a shot

[2018-02-01 18:17] amsul commented on #344
Got it working!

For anyone reading this, these are the steps I took:

1. Do NOT use CocoaPods for `react-native-sentry`
2. Follow the standard install steps:
	a) `yarn react-native-sentry`
	b) `react-native link react-native-sentry`
3. If your Podfile was modified by the setup script, remove any reference of ReactNativeSentry
4. Open Xcode and drag `node_modules/react-native-sentry/ios/RNSentry.x

[2018-02-01 18:20] Jflima92 commented on #344
Hey @amsul thanks for the reply! I'll give it a shot and see it it works!

[2018-02-01 19:44] amsul commented on #344
@Jflima92 since you're using Swift, you likely have to add the import to your bridging header first.

[2018-02-02 08:21] Jflima92 commented on #344
@amsul I've done that after adding the react-native-sentry ios folder to the headers search path with recursive mode, but still no luck. I'm a missing something? 😞

[2018-02-02 13:06] #344 closed

[2018-02-05 18:40] amsul opened #345 "Installing Sentry significantly slows down loading remote images"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---

After setting up `react-native-sentry`, all images in our app are loading INCREDIBLY slowly. It takes anywhere between 6-30 seconds to load a ~20kb image.

**Steps to reproduce:**
- Set up the project as described here: https:/

[2018-02-06 07:48] HazAT commented on #345
That seems very strange, I will take a look whats happening.

[2018-02-06 07:58] dmitrika commented on #326
Got the same issue.

@HazAT Did I get it right, now we have to uninstall rn-sentry to be able to build an android app?

[2018-02-06 08:00] HazAT commented on #345
Hey,
So I've just tried it with a clean react-native project adding Sentry.
I am loading this picture
https://edmullen.net/test/rc.jpg
It doesn't take longer to load than in the Browser
[code]
Can you instrument what's going in your app? (Check CPU und calls to functions)

[2018-02-06 08:38] SanderVerkuil commented on #326
@dmitrika as far as I could tell removing the upload gradle task from the build.properties should do the trick. You just don't have the codemaps on sentry.

[2018-02-06 08:59] jeroenbourgois commented on #337
@fungilation we have similar behaviour, but probably not Sentry's fault. Nothing in Sentry reports either. How do you manage to get some sort of logs from the device when the app crashes? Running the app in debug mode while the device is connected through usb poses no problem, but when installing the (beta) app through the Play Store, it crashes instantly.

[2018-02-07 05:22] onreadystatechange opened #346 "ExceptionsManager.js:63 _document.attachEvent is not a function"
OS:
- [ ]  Windows
- [1 ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ 1]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- Step

**Actual result:**
- Actual

**Expected result:**
- Result

[2018-02-07 08:45] HazAT commented on #346
Hey, sorry I need an actual issue report, the title alone is not really helpful.
I would also need a reproduction case.
Feel free to post here again.

[2018-02-07 08:45] #346 closed

[2018-02-07 09:38] onreadystatechange commented on #346
react native version:0.43.4
react-native-sentry:0.33.0
when  i  npm start i got "RNSentry.startWithDsnString got 2 arguments,expected 1", browser debug
got "_document.attachEvent is not a function"

[2018-02-07 09:54] onreadystatechange commented on #346
![img20180207175137](https://user-images.githubusercontent.com/21106077/35909922-ece89880-0c2f-11e8-953e-302224908209.jpg)

[2018-02-07 11:57] trilopin opened #347 "throwOnImmutableMutation when using setUserContext"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

When I use `setUserContext`method and try to fill one textinput I get `You attempted to set the key 'field' with the value' content' on an object that is meant to be immutable and has been frozen` with `

[2018-02-07 13:47] HazAT commented on #342
So the problem here is that we need it to be a string and we actually want to crash if it's not a string.
Otherwise, it's hard to decide what `config` should return.

I recently fixed an issue with the Platform selector here:
https://github.com/getsentry/react-native-sentry/issues/337

So we probably not gonna fix this since passing in undefined should never be valid.
But I am all ears for alterna

[2018-02-07 13:47] #342 closed

[2018-02-07 14:10] m-vdb commented on #342
thanks!

[2018-02-07 15:05] HazAT commented on #319
Hey, so there "must" be an issue with your installation.
Either a proxy or some webserver setting is blocking this large request.
It's hard to debug, you can run the command with `SENTRY_LOG_LEVEL=info` to get more output.

[2018-02-07 15:05] #319 closed

[2018-02-08 19:54] Asleepace commented on #244
Still happening quite frequently for us, we have both code-push and sentry installed. It appears this problem started popping up after a code-push went out.

[2018-02-08 21:09] thenewt15 opened #349 "Errors with Installing React Native Sentry Cocoapod"
Installed for React Native with `npm install react-native-sentry --save`
Then ran `react-native link react-native-sentry`
This didn't add Sentry to my Pods folder, so I had to run `pod install`.

[I discovered the missing Pods when archiving failed for me].

During pods installation, a React folder was added, with a node_modules folder in it. This new node_modules folder is causing all kinds of er

[2018-02-09 04:57] kccheung opened #350 "Android: Process 'command 'node_modules/@sentry/cli/bin/sentry-cli'' finished with non-zero exit value 127"
OS:
- [ ]  Windows
- [ * ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ * ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I could not build release mode and with the following error:

[code]

What is the problem here? Is there a way to get more debug info?

[2018-02-09 07:48] HazAT commented on #324
I will close this issue for now since we not gonna change anything regarding this in the future.
Feel free to post again if you need further assistance.

[2018-02-09 07:48] #324 closed

[2018-02-09 07:49] HazAT commented on #294
We probably no gonna fix this since we want to have the dev "story" for release builds.

[2018-02-09 07:49] #294 closed

[2018-02-09 09:42] kccheung commented on #350
No, I am not using `nvm`. And this happens when I built it using Android Studio. I have tested that `node` could be called in terminal. Still figuring out what is causing this.

[2018-02-09 12:17] humphriest commented on #285
@HazAT Is there any progression on this issue? Is there a workaround with raven or something else?

[2018-02-09 22:13] thenewt15 commented on #349
Yes, I tried using that Podfile example. I finally got it working by removing the React subspecs in my Podfile that were already linked in XCode. I noticed in my 'Link Binary with Libraries' section that RCTImage, RCTText, RCTNetwork, and RCTWebSocket were already there. So I left them there and removed them from the Podfile. I think the double reference was causing issues.

[2018-02-10 15:09] edo1493 commented on #244
I see this daily and only have sentry.

[2018-02-12 10:45] HazAT commented on #349
OK good to know, I will close this or now.
Feel free to reopen it.

[2018-02-12 10:45] #349 closed

[2018-02-13 20:34] hecontreraso opened #352 "401 when building react-native app. My credentials are good"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Hello guys, I’m getting this error when I try to build the release of my react-native android app
https://imgur.com/a/poVU5

But my auth token is good, because when I put this on my terminal to login in

[2018-02-14 04:01] Jonovono commented on #113
@ndbroadbent did you have any luck?

[2018-02-14 06:51] mickamy opened #353 "Crash inside `RNSentryModule#captureEvent` on Android"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Some JS error causes NoSuchKeyException.
I don't know what is it like (sorry, I could not reproduce it).
Here's a [Java stacktrace we have on Sentry](https://sentry.io/app60283652herokucom/wa-rn/issues/4

[2018-02-14 08:02] #325 closed

[2018-02-14 16:07] trilopin commented on #347
any extra info is needed? Thanks

[2018-02-14 17:03] sonnyp opened #354 "build fails with react-native v0.54.0"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

---

react-native-sentry won't build for Android with react-native v0.54.0

[code]

builds correctly on iOS

[2018-02-15 08:11] HazAT commented on #352
@hecontreraso Can you send me your auth token to daniel@sentry.io so I can test it?

[2018-02-15 09:07] Almouro opened #356 "`react-native link` always runs the wizard"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
Hi,
Thanks for all the work on the Sentry wizard, I still remember when we had to configure all this manually, this is awesome! :)

I have the following issue with it though:
`react-native link` always runs the Sentry wizard

**

[2018-02-15 23:00] ctoppel commented on #344
@amsul Thanks so much for your post. Was struggling to get this Sentry installed and built without errors and NOT using CocoaPods was the way to go.

[2018-02-16 00:47] JAStanton opened #357 "Incompatible with RN 0.53.0?"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I just upgraded from 0.44 to 0.53, when I run with sentry disabled the entire app works great. When I turn on Sentry I am getting a lot of native crashes:

![image](https://user-images.githubusercontent.

[2018-02-16 08:32] HazAT commented on #345
OK, closing this for now.
Keep in mind that if you `disableNativeIntegration` you will not capture any crash that happens in ObjC or Java.

[2018-02-16 08:32] #345 closed

[2018-02-16 10:19] #347 closed

[2018-02-16 10:39] trilopin commented on #347
thank you @HazAT !

[2018-02-16 11:26] #353 closed

[2018-02-19 11:06] HazAT commented on #356
Thank you for reporting this, `sentry-wizard` `0.8.3` fixed this issue, please upgrade :)

[2018-02-19 11:06] #356 closed

[2018-02-19 23:26] diegocouto commented on #352
Hey, @hecontreraso! Were you able find a fix for this issue? I'm currently experiencing the same problem. 😔

[2018-02-20 20:23] mvanroon commented on #5
I just experienced this issue as well. I'm on:
[code]

What I did:
`npm install --save react-native-sentry` (strangely the sentry wizard wasn't firing up)
`react-native link react-native-sentry`
...
`🎉  Successfully set up Sentry for your project 🎉`

I found that there was not Sentry folder under `ios/Pods`. Is this normal behaviour?
When I manually run `pod install` inside the `ios` folder, I get

[2018-02-21 10:31] Almouro commented on #356
Thanks @HazAT that was fast! :)

[2018-02-21 17:56] btoueg commented on #352
Same here, I think iOs builds are not able to take advantage of `ios/sentry.properties` anymore

[2018-02-22 00:56] JAStanton commented on #357
Disabling stack trace merging fixes this. It appears for every native module call we get an extra argument....

![image](https://user-images.githubusercontent.com/645300/36514043-648fceba-1727-11e8-98b8-e05e39ebb75d.png)

For example this is calling `-[RCTNetInfo getCurrentConnectivity:reject:]` and it explodes because it's expecting 2 arguments but 3 are being called. Probably a bug around `swizz

[2018-02-22 07:38] HazAT commented on #357
@JAStanton hmm so I just tried it with a clean new react-native project and it worked.
Not really sure if Sentry is the problem here.

[2018-02-22 12:05] Frexuz opened #363 "KSCrashHandler not started"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- `yarn add react-native-sentry`
- `react-native link react-native-sentry`

**Actual result:**
[code]

**Expected result:**
- No build error :)

[2018-02-22 13:50] btoueg commented on #352
I fixed the issue by adding `export SENTRY_PROPERTIES=sentry.properties` in `Bundle React Native code and images` build phase, just before `../node_modules/sentry-cli-binary/bin/sentry-cli react-native xcode ../node_modules/react-native/scripts/react-native-xcode.sh`

I'm curious why it was working previously, any idea @HazAT ?

[2018-02-22 14:17] HazAT commented on #352
Hmm, that's really strange, so I've just tried it with a clean react-native project and `export SENTRY_PROPERTIES=sentry.properties` was correctly added.
Did you guys create a new project?
Upgraded dependencies?

[2018-02-22 14:58] HazAT commented on #363
This indicates that react-native wasn't able to correctly integrate sentry into your Xcode project.
<img width="872" alt="screenshot 2018-02-22 15 57 09" src="https://user-images.githubusercontent.com/363802/36545381-0f6ccb46-17e9-11e8-880a-a999fe8220d9.png">
Make sure `libRNSentry.a` and `libz.tbd`

[2018-02-22 16:52] JAStanton commented on #357
@HazAT are native modules calls supposed to have an extra argument attached to each call? Or only specific calls?

[2018-02-23 08:47] btoueg commented on #352
I updated from "0.14.16" to "0.33.0"

[2018-02-23 14:21] DCKT commented on #244
Same for me, I got the same problem any idea about how to fix this ?

[2018-02-25 05:49] robvolk commented on #141
I'm upgrading from a pretty old version of Sentry and got it working by changing the path to `/bin/sentry-cli`:

[code]

[2018-02-25 17:40] ctaintor opened #364 "Delete sourcemaps from bundle after successful upload"
This is a feature request. I love how simple it was to set all of this up and have it working!

I was surprised to see that the sourcemaps are being bundled in my release. While everyone can write something to remove the sourcemaps, I figure that if someone is using Sentry and Sentry is uploading the sourcemaps, then it stands to reason that they don't need to have the sourcemaps bundled. For me,

[2018-02-26 07:38] HazAT commented on #364
Hey, I suppose you mean Android right?
On iOS the source maps shouldn't be bundled at all.
And on Android this PR should do exactly that, if it's not working then it's a bug.
https://github.com/getsentry/react-native-sentry/pull/327

[2018-02-26 13:47] dht opened #365 "Stack trace line number"
OS:
- [X]  MacOS

_Platform:_
- [X]  iOS

[code]

Config:

[code]

---
We see no line number for JS file in stack trace on dashboard. In this example we expected to see app_thunks.js:147:8. Is it configurable?

**Actual result:**
<img width="838" alt="screen shot 2018-02-26 at 15 43 26" src="https://user-images.githubusercontent.com/137832/36673645-22f9e6aa-1b0c-11e8-86e3-7ed19701ae2c.png">

**Exp

[2018-02-26 13:51] dht opened #366 "additional json in captureException"
OS:
- [x]  MacOS

_Platform:_
- [x]  iOS

[code]

Config:

[code]

---
While sending extra json with:

[code]

**Actual result:**
In the dashboard, the extra data ({user: 'u123'}) cannot be found

**Expected result:**
{user: 'u123'} in the dashboard for this error

[2018-02-26 22:27] luizguilhermefr commented on #354
+1

[2018-02-27 06:55] samuelchvez commented on #6
@HazAT hello, thank you for the effort and work on this library.

I have a similar issue as the guys above:
- No errors are registered on the sentry.io site
- Only `captureMessage` gets registered
- Successfully linked and followed the installation wizard
- I have tried removing yarn.lock, node_modules, and runnig yarn cache clean
- I'm using the latest version of this library (0.34)
- I don't see

[2018-02-27 07:17] #354 closed

[2018-02-27 07:36] HazAT commented on #354
Version 0.34.1 is on the way!

[2018-02-27 07:55] HazAT commented on #6
@samuelchvez Is it only on Android?
Please make sure your `MainApplication.java` looks something like this:

[code]

[2018-02-27 08:07] samuelchvez commented on #6
@HazAT yes, it looks exactly like that. I have not tested it on iOS.

Thanks for your help

[2018-02-27 19:28] jeroenbourgois opened #367 "No such file or directory"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Inside XCode, while running, I get numerous warnings like this:

[code]

It is just a warning, but it is really annoying.

[2018-02-27 22:16] kcfgl commented on #323
@HazAT So I'm hitting this same issue after upgrading to 0.46.0, react-native-sentry@0.34.0.  Using yarn. I've tried all the steps mentioned above, clearing cache, etc.

I'm on RN 46.1

I have an @sentry folder in node_modules. IN my build phases I added this (from another thread)
[code]
I cant move forward until I get this solved.  Any additional thoughts on the issue?  Things to try?  Thanks!

[2018-02-28 02:12] almirfilho opened #368 "setShouldSendCallback() is suppressing errors when returns false"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Errors are being suppressed when `setShouldSendCallback()` method is set with a callback that returns `false`. This is useful to send events only when **not** in development mode, but I want to see the e

[2018-03-01 10:18] sercanov opened #369 "Question: Usage with AppCenter CI"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

---

When CI tries to build with Xcode Sentry Run Scripts, it fails. On AppCenter there is post-build scripts support, so I tried to move run scripts to post-build scripts like below;

[code]

Then I'm getting the following error ;
2018-03-01T10:06:50.3861460Z [command]/bin/bash /Users/vsts/agent/2.129.1/work/1/s/

[2018-03-01 19:56] diegocouto commented on #244
We're also affected by this issue. It happens every day and, interestingly enough, the `was active` flag on sentry is always marked as __no__.

[code]

[2018-03-01 19:58] diegocouto commented on #328
Hey, @edo1493! Unfortunately, we're also dealing with the same problem. Were you able to identify a fix for this?

[2018-03-01 21:04] AlexViapiano commented on #365
+1

[2018-03-02 07:58] HazAT commented on #328
So my guess is that this is a react-native crash and only with Sentry you are able to see it ¯\\\_(ツ)_/¯

[2018-03-02 07:59] HazAT commented on #244
Closing this in favor of https://github.com/getsentry/react-native-sentry/issues/328

[2018-03-02 07:59] #244 closed

[2018-03-02 08:04] HazAT commented on #365
It looks like you didn't upload the source maps.
There should be a `Run script` in your Xcode project uploading them.
You can also do it manually, make sure release/dist are the same as in the app
https://docs.sentry.io/clients/react-native/sourcemaps/

[2018-03-02 08:04] #365 closed

[2018-03-02 09:34] lig commented on #326
@HazAT Hello! I see several PRs merged in context of this one. Is there any roadmap for everything related? It will be handy to be able to keep track of this. Thank you!

[2018-03-02 11:47] diegocouto commented on #328
That's something that I'm also trying to figure out, @HazAT! The strange thing here is that these exceptions started to be thrown (not only on Sentry but also on iTunes Connect dashboard) after an update where we replaced `raven-js` by `react-native-sentry`.

I'll try to revert this change to check if we can get rid of new exceptions.

[2018-03-02 11:57] HazAT commented on #328
@diegocouto hmm well, this is a very strong indication that this crash comes from react-native itself because in `raven-js` we don't do anything on the native.
This crash is a native crash so it can't come from `raven-js`.

[2018-03-02 13:46] gre commented on #354
@HazAT can you publish it on NPM?

[2018-03-02 15:57] HazAT commented on #354
@gre Oh, something went wrong there 🤔
Now it's there

[2018-03-03 16:20] uriva opened #370 "Proguard UUIDs file not found"
_Platform:_
Android

node v9.4.0
npm 5.6.0

Sentry.config('🔑').install();

I have following issue:
After following installation instructions, upon exception, seeing this in android logcat: `io.sentry.android.event.helper.AndroidEventBuilderHelper: Proguard UUIDs file not found.`

[2018-03-04 16:18] edo1493 commented on #328
I am going to move to raven-js, cause I keep seeing this every day.

[2018-03-04 16:22] edo1493 commented on #328
I keep seeing this every day, so it might be something on my side, which I haven't still figured out.

[2018-03-04 16:24] edo1493 commented on #328
Are we saying that this is a bug on our side that only react-native-sentry can catch cause raven-js doesn't read native? Or that react-native-sentry introduces the bug. 😓

[2018-03-04 17:03] diegocouto commented on #328
Thanks, @HazAT! I think you're right and the error was on our side. An update with a fix on our app went out yesterday and so far, so good.

@edo1493, We were experiencing the exact same thing. The same exception, iOS11 only and we started noticing it after we've migrated to react-native-sentry. There weren't many issues on our iTunes connect before this change, so I was inclined to believe that i

[2018-03-05 22:16] CoreyAR commented on #6
"react-native": "0.51.0",
"react-native-sentry": "^0.34.1",

Working on troubleshooting this. iOS crashes don't seem to be getting reported. When I test `Sentry.nativeCrash()` does not report anything but
[code]
reports the message and the crash.

[2018-03-06 07:52] HazAT commented on #6
@CoreyAR
There is a fix on the way for this.
https://github.com/getsentry/react-native-sentry/pull/371

[2018-03-07 05:57] sahil290791 opened #372 "Sentry for android unable to show the code where the error occurs"
OS:
- [x ]  MacOS

_Platform:_
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]
---
I have following issue:
The sourcemaps get automatically uploaded during the build process for iOS and android as given in the sentry documentation.

When I do a release build for iOS from xcode, it uploads two files:
[code]

In case of android also I have this line in **app/build.gr

[2018-03-07 08:49] sahil290791 commented on #372
It was happening due to environment variables that I had exported day before related to sentry which was overriding the config.

[2018-03-08 16:32] LironErman commented on #364
The source maps still inside my .ipa file
I managed to delete the file by changing "Bundle React Native code and images" script
[code]

Am I doing something wrong? can I remove the map file in other way?

[2018-03-11 21:21] buckhx opened #374 "Gradle build error: Cannot invoke method size() on null object"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`
$ node -v && npm -v && npm ls --prod --depth=0
v9.8.0
5.6.0
Infatuation@0.0.1 /Users/buck/Workspace/github/the-infatuation/native-app
├── lunr@1.0.0
├── react@15.4.2
├── react-native@0.42.0
├── react-native-google-analytics-bridge@5.0.1
├── react-native-maps

[2018-03-12 09:11] HazAT commented on #374
This should be fixed with the latest version as of 0.35.2

[2018-03-12 09:11] #374 closed

[2018-03-12 17:52] cpetzel commented on #285
any update on this?

[2018-03-16 11:46] BaptisteT commented on #224
Hello @HazAT, is there any plan to drop the secret part soon?

[2018-03-16 12:05] HazAT commented on #224
@BaptisteT inofficially it has been merged today and will soon hit prod, but psst 🤐
https://github.com/getsentry/sentry/pull/6786

[2018-03-17 10:46] ctaintor commented on #364
@HazAT - thanks! I was actually looking at this code and was confused why we still had sourcemaps but then I remembered we're on an old version of react-native-sentry due to us not being able to update to Yarn 1.0+ due to it having bugs with resolving `file:` deps.

I think the iOS issue is there, but @LironErman's fix works for us.

[2018-03-18 06:59] wellyshen commented on #126
This issue occurs again.

react-native-sentry: v0.35.3
react-native: v0.54.2
xCode: 9.2

[2018-03-18 15:58] Alqasrawi opened #376 "Source code was not found for app:///index.bundle"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
I get the "Source code was not found for app:///index.bundle" error on sentry.io dashboard

I added sentry to my react native app inside an existing Android app, I used the react-native link react-native-

[2018-03-19 11:31] xutm opened #377 "Source code was not found for app:///main.ios.jsbundle in React Native"
- react-native 0.50.4
- react-native-sentry 0.32.1
- sentry 8.19.0
- while testing on a real IOS device in Debug config (prebundled source on the device)
- sourcemaps are uploaded correctly since they appear as "~/main.ios.jsbundle.map" on -
 release/artifacts page for the correct dist number
- the error is: **"Source code was not found for app:///main.ios.jsbundle"**

### init sentry
`Sentry.conf

[2018-03-19 12:11] HazAT commented on #377
Hey, thank you for your detailed bug report 👍
At first glance everything seems fine, are you using `sentry.io`?
If so can you post the link to this event?

[2018-03-20 05:51] xutm commented on #377
The sentry server is private, not sentry.io.
I suspect the sentry server don't parse the sourcemap?

[2018-03-20 08:11] HazAT commented on #377
OK so, can you post a screenshot of the tags of the event?
I suspect that a dist is set which doesn't match the release.

[2018-03-20 08:20] xutm commented on #377
{"id":"b3ee3af58b7347e88212a14a11f18eb4","project":35,"release":"0.0.32","dist":null,"platform":"cocoa","culprit":"refreshPage(app:///main.ios.jsbundle)","message":"Error Error: lplplp\n\nThis error is located at:\n    in t\n    in t\n    in t\n    in RCTView\n    in n\n    in t\n    in n\n    in RCTView\n    in RCTView\n    in t\n    in RCTView\n    in e\n    in r\n    in Unknown\n    in n\n    i

[2018-03-20 09:28] xutm commented on #377
Can you show me how to parse the map in sentry server and how to find the source map from the 'app:///main.ios.jsbundle'?

[2018-03-20 13:17] Bartlomiejsz commented on #233
@HazAT @matt-casey I have the same issue, and I think it is related to Sentry.
This is the report from Play Store Crash:
![image](https://user-images.githubusercontent.com/9566840/37656825-6cee6e04-2c49-11e8-8558-fa23c62b012c.png)

[2018-03-21 03:51] xutm commented on #377
**When I upgrade the sentry to 8.22.0**,  solve the problem.
@HazAT  But I don't acquire the relevant info from release CHANGELOG.
![sentry8 22 1](https://user-images.githubusercontent.com/11706751/37693904-bcb72a52-2cfd-11e8-8034-4729d6b697e3.jpeg)
![sentry8 22 2](https://user-images.githubusercontent.com/11706751/37693905-bceacd94-2cfd-11e8-8240-934ac97f5b5b.jpeg)
![sentry8 22 3](https://user-im

[2018-03-21 10:04] LironErman commented on #126
Make sure u added "RNSentry.xcodeproj" to Libraries And libRNSentry.a to "Linked Frameworks and Libraries", that fixed the issue for me

[2018-03-22 07:05] Alqasrawi commented on #376
Should I upload the bundle and the source map manually to sentry ? is there any other information I should provide with the ticket ?

I tried uploading the bundle and the source map manually and I got a "Invalid token (401)" error

Command used to generate the bundle and the source map:
[code]

Command used to upload the bundle and the source map to sentry:
[code]

[2018-03-22 07:48] HazAT commented on #376
Hey, so it seems like you are using the wrong Auth Token.
This is not your DSN, did you call `react-native link react-native-sentry`?
This command should start the wizard and help you with the setup.
You can find your auth token here:
https://sentry.io/settings/account/api/auth-tokens/

[2018-03-22 07:54] Alqasrawi commented on #376
Thanks for the reply, I managed to execute the upload command with the correct information, the files are uploaded now to sentry.io but I still get this error on sentry:
[code]

the build artifacts names are the following:
[code]

[2018-03-22 09:57] sercanov opened #378 "Source code was not found for app:///main.jsbundle"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I'm building with CI server then upload artifacts to sentry,

Upload script ;
[code]

I can see the artifacts as
- ~/index.ios.map
- ~/main.jsbundle

**Steps to reproduce:**
- Step

**Actual result:**
-

[2018-03-22 11:00] #369 closed

[2018-03-22 11:53] HazAT commented on #378
Hey,

You don't need to call both `setRelease` and `setVersion` on should be enough.
Can you link an event here so I can take a look at it?

[2018-03-22 11:54] HazAT commented on #377
Hey, thanks for the info, I will check what happened here.
I will still close this for now since it has been resolved.

[2018-03-22 11:54] #377 closed

[2018-03-22 11:55] sercanov commented on #378
Sure @HazAT
https://sentry.io/scotty/scotty/issues/500809542

Alright, I'll only call `setRelease` from now on 👍

[2018-03-22 11:56] HazAT commented on #376
Can you link an event here so I can take a look at it?

[2018-03-22 12:03] HazAT commented on #378
OK, so a few things I've noticed.

There is a dist set on the artifacts:
https://sentry.io/scotty/scotty/releases/com.usescotty.ios-3.0.0/artifacts/
But not on your event, so in order to make it work you have to call `setDist('144')` to be the same as the dist on the artifact.
In short, release/dist of the event have to match the artifact.

Also, there seems to be some inconsistency with your file

[2018-03-22 12:11] sercanov commented on #378
Alright, I'll use `setDist` on Sentry initialization and try again.

About filenames, I was experimenting with CI build output and was renaming to be consistent, that might be the cause, should be okay now.

Thanks for the quick support, will let you know soon.

[2018-03-22 13:02] sercanov commented on #378
Setting distribution worked @HazAT thanks !

[2018-03-22 13:02] #378 closed

[2018-03-23 12:19] sercanov opened #379 "Native crash on calling setDist method with integer value"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Calling `setDist` with integer value is crashing on native side with Android. Working as expected on iOS.

Here are some related logs
[code]

When I edited related line with below, it does not crash.
[co

[2018-03-23 15:19] zzorba opened #380 "react-native unlink runs the wizard"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [X]  Android

---
I have following issue:

When running `react-native unlink react-native-sentry` the unlink is correctly executed, but then the onboarding wizard is run.

[2018-03-25 06:39] riyazMuhammad commented on #372
Hey @sahil290791, Can you please share what had gone wrong?
I have come across the same thing! Please!

[2018-03-25 07:24] Alqasrawi commented on #376
As mentioned in [Issue 338](https://github.com/getsentry/react-native-sentry/issues/338) I forgot to add the RNSentryPackage:
[code]
P.S: I am integrating react native in an existing Android app, the react instance is managed inside a fragment, I didn't need to implement ReactApplication anywhere, I checked the source code for RNSentryPackage and the ReactApplication constructor argument is never

[2018-03-25 07:24] #376 closed

[2018-03-25 10:09] sahil290791 commented on #372
@riyazMuhammad sentry.properties was picking up my previously defined env variables which was causing a mismatch and hence the error was happening. I had just opened a new terminal tab and then again started the app generation process and everything worked fine after that.

[2018-03-25 12:18] flyingxu opened #381 ":app:bundleReleaseJsAndAssets FAILED"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:
default:
[code]

---
I have following issue:

The android release build failed at

[code]

**Steps to reproduce:**
- `./gradlew assembleRelease`

**Actual result:**
- Error above

**Expected result:**
- Should pass the building.

Some additi

[2018-03-25 16:00] flyingxu commented on #381
I run the iOS build at the same configuration and it seems to succeed.

[code]

[2018-03-26 08:27] riyazMuhammad commented on #372
Thank you @sahil290791.

[2018-03-26 10:45] HazAT commented on #380
Actually, it should run but not through the install process rather than the uninstall process which removes code we inject into your project.
Is this the case or does it really run the installation again?

[2018-03-26 12:29] zzorba commented on #380
Well, it asked for all the setup information (API key, dsn secret, project name), which seems like something it wouldn't need for uninstall.

it is possible it was going to end up uninstalling but I didn't feel like looking up all that information.

[2018-03-26 12:38] HazAT commented on #380
Ok, that seems strange, I will check what's going on.
Is it possible that you were using an old version (or upgrading from it)?

[2018-03-26 13:17] zzorba commented on #380
I was on version '0.35.3' before triggering the unlink.  I hadn't yet
removed it from my package.json, but the unlink command (even though I
aborted it after the 4th question) did remove dependencies from the
iOS/Android projects.  There were a couple stale dependencies left behind
in one of the projects that I had to clean out manually.

On Mon, Mar 26, 2018 at 7:38 AM Daniel Griesser <notificati

[2018-03-26 14:06] HazAT commented on #380
So that was the problem, the unlink was probably still triggered with the old "wizard".
This should no longer happen as of right now.

[2018-03-26 14:06] #380 closed

[2018-03-27 11:36] humphriest commented on #285
Has a solution been found yet for this?

[2018-03-27 13:25] kosiakMD opened #383 "Native fails when set any Extra Data for User"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
Tha app fails when tries to set extra data for a user inside user's context object (```setUserContext```) or directly extra context (```setUserContext```)
The App doesn't send JavaScript Exception to JS E

[2018-03-27 14:13] Alqasrawi opened #384 "'Source code was not found for app:///index.bundle' error when uploading sourcemaps too many times to the same release"
OS:
- [ ]  Windows
- [x ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [ x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

I added sentry to my react native app inside an existing Android app, I have 3 flavors each flavor has its own project on sentry.io account,  when uploading the sourcemaps too many times to the same re

[2018-03-28 20:05] wbyoung opened #385 "Missing setup instructions for Android"
It appears that the manual setup steps are missing the required Java code changes. Having previously added `react-native-navigation`, the `react-native link` step did not make these changes for me (and didn’t warn about that either… probably a separate issue). I had to end up [here](https://github.com/getsentry/react-native-sentry/issues/6#comment-368777938) before realizing what was missing & why

[2018-03-29 20:02] sfratini opened #386 "Upload sourcemaps for debug release"
OS:
- [X ]  Windows

_Platform:_
- [ ]  iOS
- [X ]  Android

v8.4.0
4.6.1
nebula-core@0.1.0-dynamic-builddir-and-versions.1 C:\VSTS\Nebula-Core
+-- assign-deep@0.4.6
+-- bcrypt@1.0.3
+-- clevertap-react-native@0.1.8
+-- d3-array@1.2.1
+-- d3-scale@1.0.6
+-- d3-shape@1.2.0
+-- fs@0.0.1-security
+-- lottie-react-native@2.2.7
+-- path@0.12.7
+-- prop-types@15.6.0
+-- UNMET PEER DEPENDENCY react@16.0.

[2018-03-30 09:17] xwartz commented on #184
Why it can't compatible with Android?

[2018-03-30 13:19] jessym commented on #248
Can you remember how you fixed this? I'm running into the same issue.

[2018-04-03 09:24] luongs3 commented on #235
@swl367 @HazAT I had the same issue, source map just not work

[2018-04-03 23:14] jamsch opened #387 "[iOS@RN 0.55.0) - RCTFatalException: Exception 'Attempt to insert non-property list object"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
## Issue

On release of React Native 0.55.0, `Sentry.setUserContext` seems to crash the app on iOS. Android untested.

**Steps to reproduce:**

Insert the code in your app somewhere:
[code]

**Actual result:**

Crash occurs:
[co

[2018-04-05 01:52] luongs3 commented on #147
@juhaelee @HazAT  still got this problem. any solutions please

[2018-04-05 08:09] wikka commented on #285
I'm having the same problem and it is affecting the debug of critical issues in an App we are developing.
Does anyone have a recommendation of how to deal with it while it is not fixed?

[2018-04-06 01:32] amazinmoe commented on #328
Same error here
EXC_BAD_ACCESS: Attempted to dereference garbage pointer 0x20.
Originated at or in a subcall of folly::Expected<long long, folly::ConversionCode> folly::detail::str_to_integral<long long>(folly::Range<char const*>*)

[2018-04-08 02:50] vladikoff commented on #224
@HazAT when would that be available in the open source release? I don't see any releases this year at https://github.com/getsentry/sentry/releases

[2018-04-09 04:46] Tomatoo commented on #381
same question.

[2018-04-09 06:46] Tomatoo opened #388 "why i need install sentry-cli-binary when execute yarn or npm install"
OS:
 MacOS

_Platform:_
iOS

react-native:0.44
react-native-sentry:0.30.2

I have install sentry-cli by homebrew, but i also need to install sentry-cli-binary when yarn or nom install?
![2018-04-09 2 40 20](https://user-images.githubusercontent.com/15502063/38483197-b342158e-3c04-11e8-87a8-f58998455c2d.png)

[2018-04-09 09:53] firatakandere opened #389 "Does not work with Jenkins"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0` (from Jenkins)

[code]

---
I have following issue:

I have Jenkins installed on my old Mac to automate the building process. I can successfully compile the project through its command line. But when I run the the compilation through Jenkins, I get the error

[2018-04-11 17:15] jpaas commented on #147
We've been having this issue since the beginning. Still happens with 0.35.3. It seems to be triggered by resetting my node_modules and cleaning my xcode project.

The only thing that seems to fix it is re-running `react-native link react-native-sentry`

[2018-04-11 17:18] jpaas commented on #147
This is the only thing that ever gets changes but somehow it fixes it...

project.pbxproj
[code]

[2018-04-12 13:01] mjmaix commented on #234
this is useful and should be documented

thanks @HazAT

[2018-04-13 03:05] jamsch commented on #387
Yeah you're probably correct. It should still at least parse in the object provided the object is defined.

[2018-04-15 03:42] abadillaml commented on #234
should be

[code]

[2018-04-16 06:14] HazAT commented on #387
Hey, thanks for reporting this.
Please use the workaround @yongdamsh provided this will be fixed in a future version.

[2018-04-16 06:16] HazAT commented on #389
Hey, can you test a simple Jenkins job that does
`npm install @sentry/cli`
and then calls `node node_modules/.bin/sentry-cli` to check if that works.
It seems very odd that it does not work.

[2018-04-16 07:17] HazAT commented on #224
@vladikoff We are currently in the process of releasing a major update (Sentry 9).
Sorry, for the inconvenience please stay tuned.

[2018-04-16 11:57] MaheshNandam commented on #260
removed 'BatchedBridge' from pod file,

after I got 'React/RCTNetworking.h' file not found,

did anyone get the same issue?

react - 16.0.0
react-native  - 0.54
XCode Version 9.3 (9E145)

[2018-04-16 19:37] ctoppel commented on #216
Not sure if this needs to be reopened, but I have run a release build of the app and still cannot get `Sentry.nativeCrash()` to crash the app. I do get a message when using
[code]

[2018-04-17 07:24] askielboe commented on #344
So am I correct to conclude that the official install instructions for react native on iOS are wrong?

Just trying to understand if this is a workaround for some rare issue, or if the documentation is outdated.

[2018-04-17 16:57] amsul commented on #344
@askielboe not sure if it's "wrong" per se..I've seen other RN packages suggest similar steps of adding a dependency to the Podfile that points to `node_modules`. But I've never been able to get my builds to fully work in those cases.

However, this setup seems to always work.

[2018-04-17 23:41] gilesvangruisen opened #390 "Source code was not found for index.android.bundle"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Now I know there's a handful of issues by a similar title but hear me out! haha. I've crawled through and confirmed things (I know of) which need to match are indeed matching. So now I'm a bit stumped.

[2018-04-18 07:42] askielboe commented on #344
Yep, that's also my experience. Even for packages that very explicitly demands that I use cocoapods, I can never get it to work properly. But manually linking, as in this case, always seems to work.

Guess I was just wondering what the reason was to add the podspec when it seems not to work in a lot of cases. I like cocoapods for native development, and it would indeed be nice if it worked for RN

[2018-04-18 18:55] vladikoff commented on #224
No worries, just checking!

On Mon, Apr 16, 2018, 03:17 Daniel Griesser <notifications@github.com>
wrote:

[2018-04-19 20:35] tc commented on #363
I'm having this issue as well, it doesn't crash the app. just a warning:

Possible Unhandled Promise Rejection (id: 0):
Error: KSCrashHandler not started - Make sure you added KSCrash as a dependency
Error: KSCrashHandler not started - Make sure you added KSCrash as a dependency
    at createErrorFromErrorData (blob:http://localhost:8081/ef3a2614-f52f-444a-8017-c4cfbd0ecb42:2031:17)

![screen shot

[2018-04-20 08:30] HazAT commented on #390
Sorry for the delay.
2 things I've noticed while looking at your events.

1. It seems something is wrong with the native integration, you can see this by checking the SDK section at the bottom, it says `raven-js` instead of `sentry-react-native`.
This indicates that somehow the native integration in android isn't running.
Check your entryfile for:
https://github.com/getsentry/react-native-sentry/i

[2018-04-20 08:57] MikePodgorniy commented on #6
@HazAT please add full manual instruction for iOS & Android it will be useful  ;)

[2018-04-20 14:05] gilesvangruisen commented on #390
@HazAT oh wow, I'm sorry!! #1 seems to have fixed it, we do have a handful of native packages but I'm not sure how I missed that.

I think fixing the native integration seemed to fix the stacktrace frames (now preceded by 3 `/`) and stack traces are now symbolicating properly.

Thanks for your help! Going to close this.

[2018-04-20 14:05] #390 closed

[2018-04-20 16:40] RSSfeed commented on #328
Exactly the same as @amazinmoe here..

[2018-04-20 19:16] techyrajeev opened #391 "Non-Error exception captured with keys: error"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

    "react": "16.2.0",
    "react-native": "0.53.0",
    "react-native-sentry": "^0.35.3",
---
I am getting lots of crashes with this error -
[code]

[2018-04-22 13:20] OrLevy23 opened #392 "Sentry.captureException does not send logs immediately but on the next launch"
OS:
- [ ]  Windows
- [ x]  MacOS
- [ ]  Linux

_Platform:_
- [ x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
We are working on a mobile app with kiosk mode (ipad) and the app does not open and closed regularly, I've encountered with an issue that Sentry.captureException pile the logs and only when we relaunch

[2018-04-23 08:54] HazAT commented on #392
Thx for reporting this.
This is indeed the current behavior, main reason for this is that if a real exception happens we don't want to wait until the to event is sent before the app crashes.
Will think of something to fix this.
As a workaround, if you call `captureMessage` from time to time or after `captureException` it should flush the queue.

[2018-04-23 09:43] devladinci commented on #391
👍 Same here

[2018-04-23 10:35] HazAT commented on #391
Can you link a Sentry event here please?

[2018-04-24 03:58] chialin opened #393 "Can we custom alert to handle js exceptions"
OS:
- [ ]  MacOS

_Platform:_
- [ ]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

We want to show some custom alert let user report or restart app before crash, whenever there is a uncaught exceptions in js

So we set global handler like `setJSExceptionHandler` before Sentry install to replace `defaultHandler` o

[2018-04-24 04:27] techyrajeev commented on #391
Attached a screen shot.

[2018-04-24 04:48] techyrajeev commented on #391
<img width="1248" alt="screen shot 2018-04-24 at 9 55 32 am" src="https://user-images.githubusercontent.com/4118032/39166721-cb6d773e-47a8-11e8-8544-ae72d3d2e635.png">

[2018-04-24 08:57] #391 closed

[2018-04-24 09:02] HazAT commented on #391
The next release (which is currently building) should fix this.
Stay tuned for `0.36.0`.

[2018-04-25 05:19] flyingxu opened #395 "Error building: 'React/RCTBridgeDelegate.h' file not found; 'React/RCTBridge.h' file not found"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:
During 'react-native run-ios', my project can't compile.
Description goes here ...

**Steps to reproduce:**
- Step

**Actual result:**

[code]

**Expected result:**
- Compiles ok

it's strange that even w

[2018-04-25 07:42] HazAT commented on #395
How did you install react native?
Via Cocoapods or `react-native init`?

[2018-04-25 11:04] cybersg commented on #395
I'm having the same issue. Project created with `react-native init`

[2018-04-25 11:27] sercanov commented on #395
Having the same issue with Archiving
Here are some build logs;

[code]

[2018-04-25 12:57] HazAT commented on #395
Can you all do a `rm -rf node_modules` `npm install` this should fix it.
Actually this seems to be an ongoing issue with react-native itself
https://github.com/facebook/react-native/issues/12042

[2018-04-25 16:31] macs03 commented on #395
Try this => https://github.com/getsentry/react-native-sentry/issues/344#issuecomment-362354851

[2018-04-25 21:36] aurnik commented on #260
@MaheshNandam Did you figure this out?

[2018-04-26 12:45] steverob opened #396 "app:bundleReleaseJsAndAssets FAILED when building Android"
_Platform:_
- [ ]  iOS
- [x]  Android

I'm trying to build our RN project on Microsoft AppCenter and facing this issue after integrating Sentry for Android.

When this command executes - `[command]/Users/vsts/agent/2.131.0/work/1/s/android/gradlew -DMOBILECENTER_KEYSTORE_PASSWORD=******** -DMOBILECENTER_KEY_ALIAS=******** -DMOBILECENTER_KEY_PASSWORD=******** -DMOBILECENTER_BUILD_VERSION=1524662574

[2018-04-26 14:10] JAStanton commented on #328
@amazinmoe @diegocouto @edo1493 have your issues been resolved? My app is throwing the same thing on react-native-sentry `0.33.0`. I am curious if you upgraded and found a fix, or if the fix was on your end?

Thanks

[2018-04-26 14:49] jkdrangel opened #397 "Error in android build TaskInternal.execute() deprecated"
OS:
- [ ]  Windows
- [ ]  MacOS
- [X]  Linux

_Platform:_
- [ ]  iOS
- [X]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- Step

gradlew assembleRelease

**Actual result:**
- Actual

The TaskInternal.execute() method has been deprecated and is scheduled to be removed in Gr

[2018-04-27 23:36] mmerickel opened #398 "crash report uploaded with wrong context"
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

We received a crash report containing tags and os information that does not match the context when the crash occurred. Specifically we call `Sentry.setTagsContext` and `Sentry.setUserContext` when our ap

[2018-04-29 17:08] girginsoft commented on #328
folly::Expected<long long, folly::ConversionCode> folly::detail::str_to_integral<long long>
same here

[2018-04-29 23:14] firatakandere commented on #389
Sorry that I forgot the close the issue. The real reason was that the path included white spaces and one of the tools (probably xcode) does not escape it by default.

[2018-04-29 23:14] #389 closed

[2018-04-30 02:52] sapjax commented on #328
react-native-sentry: 0.35.3

and

[2018-04-30 12:24] BatDroid opened #399 "invalid package error building project in android"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

when i want to build the project by `./gradlew build` it fails with exception

**Steps to reproduce:**
- `./gradlew build`

**Actual result:**

[code]

**Expected result:**
being built

[2018-04-30 20:54] zjullion commented on #341
In https://github.com/getsentry/react-native-sentry/issues/148, it is stated that sentry supports offline error logging.  Given this issues, does offline error logging work on Android?  We don't seem to be able to get it to work.

[2018-05-01 22:08] rawrmaan commented on #386
I'm also seeing the issue with duplicate releases with the same name. I think it's because the dev version creates a "seen" release once a crash is sent, and the release version explicitly creates a release, and somehow they're both able to have the same name. This is frustrating because only one of them has source maps uploaded and issues can be assigned to the one that doesn't have source maps.

[2018-05-02 02:59] amast09 opened #401 "xcodebuild fails with "/node_modules/@sentry/cli/sentry-cli: cannot execute binary file""
OS:
- [ ]  Windows
- [X]  MacOS
- [ ]  Linux

_Platform:_
- [X]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

xcodebuild fails during `Bundle React Native code and images` build phase. The build phase has the following content,

[code]

The error I get is the following,
[code]

I am using,
* Fastlane `2.78.0`
*

[2018-05-02 07:12] HazAT commented on #341
@zjullion
It should work.
Check your android events, if they say `sentry-react-native` at the bottom of the event detail page in the SDK section it should work.

[2018-05-02 07:33] HazAT commented on #401
Thanks for the detailed bug report 👍
This issue is basically about `sentry-cli`.
Still, this is a tough one, we've seen this error if you try to run `sentry-cli` on Alpine Linux but not on Mac.
What you could try is, install `sentry-cli` globally with homebrew or our script see: https://github.com/getsentry/sentry-cli

You have to change the path of `sentry-cli` in your `Run script` phase to call

[2018-05-02 21:30] amast09 commented on #401
Thank you for the quick reply. I had actually tried installing the CLI via brew earlier but forgot to update the build phase to use the brew installed version of it.

After updating the build phase to use the system installed CLI as opposed to the node_modules installed CLI it works! 🎉

Feel free to close this issue or if you want more info to try to address the wonkiness let me know.

Thanks for

[2018-05-03 07:05] HazAT commented on #401
@amast09 Great.
I will close this issue, debugging on a foreign CI isn't really feasible I would say 😅
But thanks nevertheless 😄

[2018-05-03 07:05] #401 closed

[2018-05-03 12:38] devladinci commented on #395
Issue was introduced with merging https://github.com/getsentry/react-native-sentry/pull/382 `React` dependency is not "obsolete". Re-add `s.dependency 'React'`

[2018-05-03 16:24] peacechen opened #402 "[iOS] native error not reported from "Got memory pressure notification (critical)""
OS:
- [x]  MacOS

_Platform:_
- [x]  iOS

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

Our production app has a corner case bug that causes a crash logged by Xcode:
`Got memory pressure notification (critical)`

This is a release build running on a physical device.  I'm pinpointing the cause, but this type of bug out in the field d

[2018-05-04 08:22] FredyC opened #404 "[Android] gradle release upload fails"
OS:
- [x]  Windows
- [ ]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
Release APK (`gradlew assembleRelease`) is successfully built, but subsequent upload to sentry fails.

**Actual result:**

[code]

Running that generated command was asking for `--org` and then `--project` which I added along wi

[2018-05-04 10:41] pranjaltech commented on #328
Any updates on this? I'm seeing a lot of these issues as well.

[2018-05-04 14:00] steverob commented on #404
I am getting the same error. :(

[2018-05-05 09:31] steverob commented on #396
So I was able to fix this issue by disabling the `flavorAware` option. When using this option, the build task was looking for a  `sentry.${flavor}.properties` (where `flavor` is `release` or `debug`) file which was not available in the project. I just had `sentry.properties`.

[2018-05-07 02:34] hccoelho commented on #395
Hi, ^^ this is unfortunate. I tried to upgrade react native and now I'm kind of stuck because of this. @HazAT is removing React from dependency really necessary?

[2018-05-07 07:43] HazAT commented on #396
Thanks for clearing this up, will close this issue. 👍

[2018-05-07 07:43] #396 closed

[2018-05-07 08:42] booker0108 opened #405 "API to get device infomation"
Is sentry exposed the API to retrieve device information including, device modal, OS version?

[2018-05-07 09:42] HazAT commented on #366
Hey, sorry for the late reply.
This will not work for all possible event keys and in general, we recommend using `setUserContext` for this kind of behavior.
We are working on an update though which should make all this way more transparent.

[2018-05-07 09:42] #366 closed

[2018-05-07 09:43] HazAT commented on #367
Hey, this should be fixed as of version > `0.35.1`

[2018-05-07 09:43] #367 closed

[2018-05-07 09:46] HazAT commented on #352
Please try to completely re-adding the plugin again, this should work.

I will close this issue for now since it has become stale.
Please feel free to post again if you are still having trouble with this.

[2018-05-07 09:46] #352 closed

[2018-05-07 09:46] HazAT commented on #357
I tried running it in the latest version of react-native and it works.

I will close this issue for now since it has become stale.
Please feel free to post again if you are still having trouble with this.

[2018-05-07 09:46] #357 closed

[2018-05-07 09:50] HazAT commented on #328
So I still expect that Sentry is not the reason for this to occur, Sentry only shows you the crash.
No one was able to reproduce this issue in a way so it can be fixed.

I will leave this issue open since this seems to be rather common.

[2018-05-07 09:51] HazAT commented on #405
No sorry, we do not expose any API for this.

[2018-05-07 09:51] #405 closed

[2018-05-07 09:56] HazAT commented on #402
We are using https://github.com/kstenerud/KSCrash for all our crash handling and I am not sure if KSCrash is able to "catch" those kinds of errors.

I will write this down and check if we somehow can catch this in sentry-cocoa.

[2018-05-07 09:56] #402 closed

[2018-05-07 09:58] HazAT commented on #368
We are planning a bigger rewrite for this SDK, for now, the preferred way of getting the errors in debug is not to Start Sentry in debug.
We will not change the callback now to rethrow the error.

[2018-05-07 09:58] #368 closed

[2018-05-07 10:02] HazAT commented on #383
Hey, sorry for the late reply.
Please make sure the data you pass in is JSON compatible containing only primitive types.
I am not able to reproduce this issue for me this is working fine:
[code]

Please feel free to reopen this issue if you are still having troubles.

[2018-05-07 10:02] #383 closed

[2018-05-07 10:04] HazAT commented on #381
I am not able to reproduce this.
Are you running this behind a proxy?
Are you using the latest version of `sentry-cli`?

[2018-05-07 10:06] HazAT commented on #395
How does your Podfile look like?

[2018-05-07 11:07] pranjaltech commented on #328
Oh. Thanks for the clarification, @HazAT :)

[2018-05-07 13:06] flyingxu commented on #381
Yes and I observed that this issued happens maybe 1 ~ 2 times out of 10 builds. I do have a VPN running and I would guess this is network related.

[2018-05-07 13:06] #381 closed

[2018-05-07 16:27] sheminusminus commented on #344
@amsul this is the only thing that finally fixed this header files issue both locally and on our CI. thank you!

[2018-05-09 19:42] maggialejandro opened #406 "Can't find bundle for base name sentry-build, locale es_US"
Platform: Android 7
Version: 0.35.4

Caused by java.util.MissingResourceException

Crashalytics stacktrace:
[code]

any ideas?

[2018-05-10 07:01] devladinci commented on #395
@hccoelho You can change the Podspec file in '../node_modules/react-native-onesignal' and add react, I will try if adding a subspec can fix the problem in the podfile btw.

Maybe something like that could work in this case.

[code]

[2018-05-10 16:16] pmadruga commented on #260
@MaheshNandam I have the same issue as you. Did you manage to solve it?

[2018-05-10 23:28] fungilation commented on #395
I'm hitting the same error, and that was after I upgraded cocoapods from 1.4.0 to 1.5.0. Solution: downgrade it: https://github.com/ocetnik/react-native-background-timer/issues/82#issuecomment-386583153

Not sure if the culprit falls more on cocoapods messing up (deleting) HEADER_SEARCH_PATHS in `Sentry*.xcconfig`, or react-native-sentry not being better at said paths.

Downgrading cocoapods works

[2018-05-11 19:11] gianpaj commented on #234
Thanks @HazAT. This worked for Android:

`app/build.gradle`
[code]

[code]

(in addition to all the other installation steps)

FYI: I use this for making release builds for internal or beta testing which are not necessary to be monitored by Sentry

[2018-05-13 08:54] ASerga commented on #395
I also have this issue after Cocoapods upgrade from 1.4.0 to 1.5.0 (so I downgraded it back to 1.4.0)

[2018-05-14 05:59] lachiet commented on #395
@macs03 that worked for me thanks! Was an issue from using Cocoapods and missing some steps.

Posting the comment here from @amsul:

---

Got it working!

For anyone reading this, these are the steps I took:

1. Do NOT use CocoaPods for react-native-sentry
2. Follow the standard install steps:
  a) yarn react-native-sentry
  b) react-native link react-native-sentry
3. If your Podfile was modified

[2018-05-15 07:18] HazAT opened #407 "Fingerprint is not set properly"
^ title

[2018-05-15 09:35] Kornflexx commented on #407
Hello,

An error appear this morning from nowhere:

`node_modules/react-native-sentry/android/src/main/java/io/sentry/RNSentryModule.java:251: error: incompatible types: ReadableArray cannot be converted to ReadableNativeArray
            addExceptionInterface(eventBuilder, exception.getString("type"), exception.getString("value"), stacktrace.getArray("frames"));`

Is this error related to the iss

[2018-05-15 10:33] gouxlord commented on #407
Hi @Kornflexx , its more linked to:

https://github.com/facebook/react-native/issues/19259

Juste use `compile ("com.facebook.react:react-native:0.51.0-rc.3") { force = true } // From node_modules` in your àpp/build.gradle`;)

[2018-05-15 12:20] erez-guesty opened #409 "Android build failed"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of node -v && npm -v && npm ls --prod --depth=0

v8.11.1
6.0.1
react@16.0.0
react-native@0.51.0
react-native-sentry@0.34.0

[code]
---
I have following issue:

Failed to build android apk

**Steps to reproduce:**
- run on termial ```react-native run-android```

**Actual result:**
node_modules/react-native-s

[2018-05-15 12:47] othorin commented on #344
For me, this commit was the cause of the error: https://github.com/getsentry/react-native-sentry/commit/320651c23144664fb193c34a484a9fbee492dee9#diff-d8cd0abcb714ce13da6a6f2645e214af

After reverting that, the build finishes without problems. As a workaround until it's fixed or explained, I've added an npm post install script that reverts the commit.

[code]

(no sed-expert, but it seems to work..

[2018-05-15 13:17] RobPando commented on #409
Was just about to open this very same issue. I am on `react-native@0.52` and  `react-native-sentry@0.32`, I thought it might have to do something wit the version so I updated the library to 0.36 and I get `React Native version mismatch` so it seems that the new version of this library is only compatible with RN 55? if so the readme needs to be updated.

[2018-05-15 15:42] m-vdb commented on #409
Updating to `0.36.0` fixed it for me:
[code]

[2018-05-15 18:19] arnsa commented on #397
Have this issue too, been trying to solve it for a few hours with no luck...

[2018-05-15 18:34] foxmicha commented on #409
It seems like it's trying to compile the react-native-sentry projects using a different version number than what is currently installed in the node_modules folder.

I am on RN v0.51 as well. I haven't done an npm install of react-native-sentry since December. The build worked fine yesterday and breaks today.

[2018-05-16 02:18] jcicale commented on #328
I'm seeing something that seems pretty similar to this. It can be reproduced consistently until Sentry is disabled (at which point no more error) - but it only happens on an iPhone X (real device, not simulator).

Relevant stacktrace in Sentry:
[code]

Relevant stacktrace in Crashlytics:
[code]

[2018-05-16 07:49] HazAT commented on #328
@jcicale Please try to disable stack trace merging:
[code]

[2018-05-16 09:38] askielboe commented on #285
Same issue when adding redux state to breadcrumbs. 3rd level values are all `recursion limit hit`.

Only seen this on Android so far.

[2018-05-16 10:57] HazAT commented on #344
@othorin Do you still have to error when using CocoaPods `1.4.0` as described here: https://github.com/getsentry/react-native-sentry/issues/395#issuecomment-388215879

TBH I don't really had time to wrap my head around this issue if the error lies on the CocoaPods or react-native side.
Both seem to have downsides but people seem to have more trouble now than before, I've asked the contributor to e

[2018-05-16 11:00] HazAT commented on #397
What gradle/build tool versions are you guys running?

[2018-05-16 14:10] paul-hart commented on #397
Having this issue now out of the blue too with Bitrise builds

[2018-05-17 07:00] HazAT commented on #395
Hey, so I reverted the change, `React` is back in the podspec.
Version `0.37.0` is on its way, sorry for the inconvenience this has caused.
I will close this issue now since this should solve it.

[2018-05-17 07:00] HazAT commented on #344
Hey, so I reverted the change, `React` is back in the podspec.
Version `0.37.0` is on its way, sorry for the inconvenience this has caused.

[2018-05-17 11:07] rusmichal commented on #406
Maybe I can help you. Please set break point for method `startWithDsnString ` in class `RNSentryModule` and go step by step. Check what are you getting in each line. I noticed that error what you send is more common and sentry doesn't tell about details. In my case I got something like that in line `sentryClient = Sentry.init(dsnString, new AndroidSentryClientFactory(this.getReactApplicationContex

[2018-05-17 12:53] lindroth opened #411 "Sentry silently fails to add task to gradle if bundleTask.name contains a "-""
OS:
- [x]  Windows
- [x]  MacOS
- [x]  Linux

_Platform:_
- [ ]  iOS
- [x]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]
---
I have following issue:
Sentry silently fails to add task to gradle if bundleTask.name contains a "-"
Description goes here ...
I noticed that get sentry stopped to upload mapping files during the bulid process. After some diggin

[2018-05-21 06:32] GargManish opened #412 "Source map file is getting automatically deleted"
OS:
- [ ]  MacOS

_Platform:
- [ ]  Android

Output of react-native run-android --variant=release is creating source map file inside android/app/build/intermediate folder but it's getting deleted. In apk there is no source file. On Sentry dashboard output is not providing proper information about the js file name.

ReferenceError
ReferenceError: Can't find variable: Button1

This error is located

[2018-05-22 07:52] HazAT commented on #395
I will close this for now, please post again if you are still having troubles.

[2018-05-22 07:52] #395 closed

[2018-05-22 12:18] HazAT commented on #409
So this issue is not really related to Sentry, more like react-native / gradle itself.
Please use a version `> 0.34.1` which should fix this issue.

[2018-05-22 12:18] #409 closed

[2018-05-22 13:02] xwartz opened #413 "SSL_ERROR_SYSCALL in connection to sentry.io:443"
OS:
- [ ]  Windows
- [x]  MacOS
- [ ]  Linux

_Platform:_
- [x]  iOS
- [ ]  Android

Output of `node -v && npm -v && npm ls --prod --depth=0`

[code]

Config:

[code]

---
I have following issue:

[20:54:39]: ▸ Processing react-native sourcemaps for Sentry upload.
[20:54:39]: ▸ > Analyzing 2 sources
[20:54:39]: ▸ > Rewriting sources
[20:54:39]: ▸ > Adding source map references
[20:54:39]: ▸ error: